[2020-08-17 07:20] prashantcsutar opened #1163 "Shared Pod Informer error: io.kubernetes.client.informer.cache.ProcessorListener.java- failed invoking ADD event handler: null"
Java client version: 6.0.1

Error:
io.kubernetes.client.informer.cache.ProcessorListener.java- failed invoking ADD event handler: null
io.kubernetes.client.informer.cache.ProcessorListener.java- failed invoking UPDATE event handler: null

We are getting this error on one of our system where AKS version is 1.16.7.

Need your help resolving this issue.

Our code:

    public void startPodInformer()

[2020-08-17 14:44] brendandburns commented on #1158
ugh, I figured out what happened! I already had a release-9.0.0 on my local machine and I didn't rebase to pick up the commits.

Sorry for the trouble, rebuilding 9.0.2 right now.

[2020-08-17 19:36] simingweng commented on #1132
@brendandburns do we want to have a single sub module `client-java-contrib` to house all of the models classes generated from different OSS projects? or would it be better to have dedicated sub modules under `client-java-contrib`, such as `./client-java-contrib/cert-manager/src/main/...` for `certificate manager` only, and `./client-java-contrib/prometheus-operator/src/main/...` for `prometheus op

[2020-08-18 05:18] brendandburns commented on #1158
`9.0.2` was pushed out to sonatype, should be in maven central in ~1 day. Again apologies for the issue.

[2020-08-18 11:19] yue9944882 commented on #1160
i can't see the cause of your issue from description. but can you try upgrade the version to `9.0.0`? there were couple of bugfixes after `6.0.1`

[2020-08-18 11:22] yue9944882 commented on #1163
io.kubernetes.client.informer.cache.ProcessorListener.java- failed invoking UPDATE event handler: null

i suppose your error message shows that the implementation of your event handler is throwing a null pointer exception

[2020-08-18 11:42] yue9944882 commented on #1154
thanks for reporting this. it was an oversight in the document, opened #1165 as the fix

[2020-08-18 13:15] tony-clarke-amdocs commented on #1158
I picked it up 9.0.2. Looks good. Thanks!

[2020-08-18 13:15] #1158 closed

[2020-08-18 15:17] #1154 closed

[2020-08-18 20:07] thiagoyeds opened #1168 "Bad Request when submitting job with resource specifications to K8s API"
In a job I performed using the java dependency of this project I got an error when sending the following Job:

[code]

The command executed was as follows:
[code]

I received the following error:
[code]

[2020-08-18 20:08] thiagoyeds commented on #1168
I developed a solution that solves this problem and I wanted to contribute to the project, if understand the issue and approve it

[2020-08-18 23:56] brendandburns commented on #1168
I'm not sure I understand the issue. I don't think that your JSON is correct Kubernetes JSON, specifically the resource quantities don't look right.

But regardless, we'd gladly take a PR that has a unit test to demonstrate the issue and a fix.

[2020-08-19 07:52] yue9944882 commented on #1168
@thiagoyeds are you using `ApiClient.getJSON` to do the serialization?

[2020-08-19 10:10] thiagoyeds commented on #1168
No, I just built V1Job with the data and passed it as a parameter to:
[code]

[2020-08-19 10:14] thiagoyeds commented on #1168
The problem I noticed was in the Quantity class, which is in the <String, Quantity> map which in the V1ResourceRequirements class on the limits and requests attributes, the K8s API expected a <String, String> map

[2020-08-19 23:44] brendandburns commented on #1168
Quantity is a special class that has a JSON formatter (https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/custom/QuantityFormatter.java) that knows how to do the String conversion.

Are you using a custom GSON for serialization? If you don't have the Formatter registered with the JSON serializer it won't handle it correctly.

[2020-08-20 04:13] goods4455 opened #1174 "Where is release note??"
i'm looking for release note but not found

[2020-08-20 08:00] zhamdoctor opened #1175 "how can i rollout using java-sdk,just simulating like `kubectl rollout`"
how can i simulate actions like `kubectl rollout history` or `kubectl rollout undo` etc.  I found neither  the right interfaces nor resources to simulate actions like above. I just find resources like `controllerrevision` `ExtensionsV1beta1DeploymentRollback`,but I do not know how to use them making them acting like `kubectl rollout`. also, ExtensionsV1beta1DeploymentRollback was marked deprecated

[2020-08-20 08:11] zhamdoctor commented on #1072
budy,what about `kubectl rollout`,was it worked out or had anthing alternative.

[2020-08-20 08:36] zhamdoctor commented on #599
this is like `kubectl rollout undo`,what about querying history revision like `kubectl rollout history,kubectl rollout status` and some  keywords like `revision`,not update,just query history for revision

[2020-08-20 08:39] yue9944882 commented on #1072
@zhamdoctor it's tracked in the list and i believe we will be seeing it published in the next major release

[2020-08-20 08:47] zhamdoctor commented on #1072
I saw someone said updating keyword `deploymentSpec.rollbackTo` and updating deployment can achieve this goal acting like `kubectl rollout undo` ,was it  practicable only for `undo` but not for `history,status`?

[2020-08-20 10:52] yue9944882 opened #1176 "[Umbrella Issue] Testing framework for Java SDK"
it's valuable to have a reusable testing framework that mocks out kubernetes apiserver behavior for Java SDK. This will not only improve our code quality but also provide reusable testing utilities for the developers.. i can think of two aspect to get start with:

- __Unit test__: we're really close at mocking out kubernetes apiserver by leveraging wiremock [for example](https://github.com/kuberne

[2020-08-21 05:36] zxyxz commented on #928
I had the same problem

[2020-08-21 05:36] zxyxz commented on #928
version 8.0.2

[2020-08-23 14:57] Capstan opened #1183 "Question: Is 6.0.1 the latest release or 9.0.2?"
Hey, @brendandburns, long time no see. *waves*

Did something change in the model for releasing this client last year so it reverted from [GitHub releases](https://github.com/kubernetes-client/java/releases) and now just relies on [git tagging](https://github.com/kubernetes-client/java/tags)? Right now, there's conflicting information:

* GitHub persists in showing on the RHS of the UI that [6.0.1

[2020-08-24 03:04] isliqian commented on #1064
Same here, I'm also waiting!

[2020-08-24 12:23] thiagoyeds commented on #1168
Do you have any example of how to do this Job submission for k8s API?
I set up a V1Job filling the resource as follows:

[code]
and I used GSON to send the resulting String in the HTTP request body, but it still resulted in the same bad request (code 400)
[code]

[2020-08-24 12:30] #899 closed

[2020-08-25 13:31] gholliday100 commented on #861
Seeing the above exception intermittently though, if it were a permissions issue would we not be seeing it all the time?

[2020-08-26 04:47] brendandburns commented on #1183
`9.0.2` is the latest version. Personally, I figure that everyone is going to be looking at the maven central page:

[2020-08-26 04:50] brendandburns commented on #1175
rollout is a pretty complicated command, it's not a simple API call.

#1072 is an umbrella issue covering kubectl equivalents and we'll eventually get to `rollout`

I'm going to close this issue since it's a duplicate of #1072

[2020-08-26 04:50] #1175 closed

[2020-08-26 04:50] brendandburns commented on #1174
Release notes have (sadly) been missing in action lately.

We'll work in getting them added/updated. In the meantime you can browse the closed PRs to see what has changed.

[2020-08-26 04:52] brendandburns commented on #1168
@thiagoyeds you want to make a call using the client library, e.g.

[code]

That will handle the serialization for you with the correct formatters.

[2020-08-26 15:41] brendandburns commented on #1183
Ahh, I saw the Github "latest release" UX. That didn't use to exist. I've added an official GitHub "release" so that things look right.

[2020-08-26 16:09] brendandburns commented on #1091
I'm closing this since #1107 merged.

[2020-08-26 16:09] #1091 closed

[2020-08-26 16:10] brendandburns commented on #1072
I'm going to start on `kubectl drain`

[2020-08-26 18:24] tony-clarke-amdocs opened #1195 "DefaultControllerBuilder does not allow configuration of the ready timeout"
I have noticed that my controller fails to start because the ready function can take longer than 30 seconds to run. But the controller builder does have a way to express the ready timeout. Can we add a method on the build to support this?

[2020-08-26 19:54] Bhashitha123 commented on #1195
goog

[2020-08-26 22:08] nareshadoni1 opened #1196 "Compilation errors in Sprint Tool Suite"
Facing a problem using Open JDK 11 (latest openjdk-11+28_windows-x64_bin.zip) and Spring Tool Suite.  Cleared local maven repo and built clean and updated project but cannot seem to work around the following error with latest code checked in as of today. From commandline with Mvn it seemed to not encounter this and has compiled.
Description	Resource	Path	Location	Type
The method submit(Callable<Ob

[2020-08-27 11:51] edrevo opened #1200 "Lower logger levels"
Would this project be open to a PR that lowers the log level of several messages? In general, I find that this library logs a lot of messages in the error level for transient issues that are retryable. For example, https://github.com/kubernetes-client/java/blob/31fbb3a52c6ca7a6ad6d71cd154b387191705adc/extended/src/main/java/io/kubernetes/client/extended/leaderelection/resourcelock/ConfigMapLock.ja

[2020-08-27 16:54] tony-clarke-amdocs commented on #1195
Forgive me, what does "goog" mean :) ?

[2020-08-27 23:34] brendandburns commented on #1195
A current work-around is to cast the `Controller` that you get to a `DefaultController` and then you can set the ready timeout.

But I think that a PR to add support for setting this timeout in the builder makes sense. @tony-clarke-amdocs can you send a PR?

If not we'll get to it eventually.

[2020-08-27 23:37] tony-clarke-amdocs commented on #1195
That's exactly what I am doing now. But prefer it was in the builder. I am working on my employer to work on signing the CNA...will submit PR then. Thanks.

[2020-08-27 23:37] brendandburns commented on #1196
Given that it builds on your command line using `mvn` this seems like a problem in the spring tool suite rather than in the project. The supported/tested way to build is `maven`

I'm not sure any of the current developers use that toolchain, but if you figure out the problem, we'd be happy to take a PR with the fix.

[2020-08-27 23:39] brendandburns commented on #1200
We should definitely do a more fine-grained logging.

Some fixes I would suggest for the PR:

1) Don't catch `Throwable` catch specific exceptions.

2) If the exception is `ApiException` with an error code of `409` then this exception is expected. log to debug or info

3) If it's another type of ApiException or IOException then it's unexpected, log to error

We'd gladly take a PR with those fixes

[2020-08-28 01:58] jerry-sc opened #1202 "how Exec get stdout and stderr together ?"
I want use Exec to execute a command, like `ls fileA fileB`. When fileA is exist, fileB is not exist. So I use proc.getInputStream() and proc.getErrorStream() to receive the result. But it failed with `java.lang.IllegalStateException`.  Can anyone show me an example how to get stdout and stderr correctly ?

[2020-08-28 15:29] habibali95 opened #1203 "Failed to create a Service from yml file"
when loading an object of type Service from yml file i get this exception :
Caused by: java.lang.ClassCastException: class java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader 'bootstrap')
        at io.kubernetes.client.util.Yaml.load(Yaml.java:185) ~[client-java-8.0.2.jar:?]

this the content of the yml file :
apiVersion: v1

[2020-08-28 16:33] #1203 closed

[2020-08-28 18:18] shankar95raju opened #1204 "Support for networking.k8s.io/v1 Ingress"
Hi Guys,

I'm using the latest version of Java Kubernetes client (9.0.0) and I ran into `java.io.IOException: Unknown apiVersion Kind: networking.k8s.io/v1` when I tried to load the following Yaml file.
[code]
It seems like the Kubernetes yaml parser is not able to find the class.
It would great if there is support for `networking.k8s.io/v1` Api and Ingress

[2020-08-31 02:54] cwchoe opened #1206 "return value json parsing error : CoreV1Api.deleteNamespacedPersistentVolumeClaim"
I got an error when i call CoreV1Api.deleteNamespacedPersistentVolumeClaim.

- kubernetes java client version: 9.0.2
- Gson version: gson-2.8.6.jar
- Details:

[ERROR] [31] 2020-08-31 11:47:25.893 |http-nio-8080-exec-2|ContainerBase.[Tomcat].[localhost].[/].[dispatcherServlet]|[dispatcherServlet] - Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request p

[2020-08-31 03:03] lkxsoul commented on #923
Hello, I met the same problem as you, have you solved it

[2020-08-31 08:22] yue9944882 commented on #1204
ingress is promoted to `networking/v1` after 1.19 but for now our latest client supports 1.18. we will publish a new release soon

[2020-08-31 08:24] yue9944882 commented on #1206
this is a duplicate of https://github.com/kubernetes-client/java/issues/86

[2020-08-31 10:10] starofys opened #1207 "flush stream after WebSocket handleMessage"
https://github.com/kubernetes-client/java/blob/09a9410d099913dfd42c23249029e848ffa9cf38/util/src/main/java/io/kubernetes/client/util/WebSocketStreamHandler.java#L96

There has a little delay when I use "Exec" to exec a shell

[2020-08-31 13:55] brendandburns commented on #1202
That exception is likely occurring because you're trying to get the stream before the web socket is fully connected.

What does your code look like? have you looked at the `ExecExample` here:

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/ExecExample.java

[2020-08-31 13:56] brendandburns commented on #1206
Closing since this is a duplicate. tl;dr; the way that Kubernetes deletes objects can return multiple types, but the Swagger spec for the API only defines one.

[2020-08-31 13:56] #1206 closed

[2020-08-31 13:58] brendandburns commented on #1207
I don't think that flushing here will help (but I'm open to being wrong). Where are you seeing a delay?

[2020-08-31 14:57] starofys commented on #1207
hi  @brendandburns
this is my test code
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)

[code]

![isuse](https://user-images.githubusercontent.com/8189933/91734149-1f152280-ebdd-11ea-96f4-c53d346d6544.jpg)

[2020-09-01 04:29] brendandburns commented on #1207
Ok, thanks for the example, and I also read up on this some more. It seems like a flush is worthwhile and relatively low cost.

I'd be happy to take a PR to add this or we will get around to it eventually.

Thanks!

[2020-09-02 00:39] lgnashold opened #1213 "IOException when Watching a Resource"
**This is not because I have misconfigured the timeout for the OkHTTP3 client**

I am setting up a Kubernetes watch (on an ingress resource specifically).
I initialize my OkHTTP3 client as follows:
[code]
I run the watch like this:
[code]
After a relatively small amount of time (~5 minutes), I get the following IOException inside Watch.java:184, which eventually is thrown as a RuntimeException.
[c

[2020-09-02 00:49] lgnashold commented on #1213
Actually, if the server does have a maximum timeout after five minutes like implied here (https://github.com/kubernetes/kubernetes/issues/6513), then how do I distinguish between a server timeout, a client timeout, and an actual client error (since they're all surfaced as a RuntimeException)? If I want to have a watch that runs for lets say an hour, how do I take into account this timeout with the

[2020-09-02 04:34] brendandburns opened #1218 "LeaderElectionTest is flaky"
[code]

[2020-09-02 05:47] #1207 closed

[2020-09-02 13:55] brendandburns commented on #1213
@lgnashold you should always assume that watches can break for arbitrary reasons.

For this reason, you are probably better off using the higher level Informer class (https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java) rather than watching directly.

The Informer will handle all of the watch + list re-initiating for you.

[2020-09-02 18:45] lgnashold commented on #1213
Thank you for your help!

[2020-09-02 18:45] #1213 closed

[2020-09-03 04:56] brendandburns opened #1223 "[Umbrella Issue] Many tests use Thread.sleep instead of synchronization primitives"
Many of our tests simply have a `Thread.sleep(duration)` when testing multi-threaded code. This is inherently flaky.

Instead we should use synchronization classes (generally `Semaphore`) to synchronized the tests which is both faster in the general case and not flaky in the extreme case.

See for instance #1218 and #1219

[2020-09-03 05:01] brendandburns commented on #1223
- [ ] util/src/test/java/io/kubernetes/client/informer/cache/ReflectorRunnableTest.java
- [ ] extended/src/test/java/io/kubernetes/client/extended/workqueue/DefaultDelayingQueueTest.java
- [ ] util/src/test/java/io/kubernetes/client/informer/cache/ProcessorListenerTest.java
- [ ] util/src/test/java/io/kubernetes/client/informer/cache/SharedProcessorTest.java
- [ ] util/src/test/java/io/kubernetes/

[2020-09-03 07:30] yue9944882 commented on #1223
@brendandburns thanks for sorting out these potentially flaking tests.. will fix them later!

/assign

[2020-09-03 07:45] sarveshkaushal commented on #1223
I would like to help :-)

[2020-09-03 08:55] GiottoLee commented on #1204
Hello，i wanna know how you create ingress, `V1beta1Extensions.Ingress` or load yaml ? I have no idea to create it. Thank you very much .

[2020-09-03 15:48] brendandburns commented on #1223
@sarveshkaushal we'd welcome the help. In most cases the Thread.sleep(foo) is to wait for some other thread to complete it's work. Instead, we should create a `Semaphore`, then `acquire()` one or more permits for the executions we're waiting for, and then `release()` them in the Thread, then attempt to `acquire()` in the test thread to implement the wait.

See an example PR #1219

[2020-09-03 16:44] shankar95raju commented on #1204
@GiottoLee you can create a v1beta1 Ingress in the following way:

[code]

You can either load the yaml file that contains the ingress definition or you can populate the `V1beta1Ingress` object programmatically

[2020-09-04 03:02] #941 closed

[2020-09-04 08:12] #912 closed

[2020-09-04 10:56] GiottoLee commented on #1204
thank you very much, it really helps me a lot.

[2020-09-04 16:23] brendandburns opened #1229 "[Umbrella Issue] Many tests use static ports for WireMockRule"
WireMock is not thread safe, we generally use different instances per test (`WireMockRule`) but we often use a static port number. We should switch to dynamic ports.

[2020-09-05 04:48] brendandburns opened #1230 "CopyTest is still flaky"
*sigh*

[2020-09-06 04:27] #906 closed

[2020-09-06 08:21] GiottoLee opened #1232 "GenericKubernetesApi how to throw exception"
When i use java-client:9.0, sometimes i can't create pod, deployment or service, but it didn't work and throw exception. But in the previous version, CoreV1Api can throw ApiException so that i can find the reason of failing.
**So in the version of 9.0, how can i find the bug of failling.**

[2020-09-06 09:32] #865 closed

[2020-09-06 15:09] brendandburns commented on #1232
You don't need to use GenericKubernetesApi if you don't want to, you can use `CoreV1API` in version `9.0.x` also.

[2020-09-07 02:11] GiottoLee commented on #1232
So maybe it has not been completed ?

[2020-09-07 03:30] yue9944882 commented on #1232
@GiottoLee can you show me a minimal sample of your code? and yes, you can always use the `CoreV1API` to achieve the goal.

[2020-09-07 04:07] brendandburns commented on #1230
I hope this is closed by #1228

[2020-09-07 04:07] #1230 closed

[2020-09-07 06:18] GiottoLee commented on #1232
@yue9944882
This doesn't work.
[code]

This does work well.

[code]

[2020-09-07 08:28] zzl-code opened #1234 "resourceVersion has not change，but Informer onUpdate function executed"
I have write a informer to watch deployment，but deployment has not change，resourceVersion has not change，but  Informer onUpdate function executed。
          ` ApiClient apiClient=kubeClientManager.formatJavaSDKClient(cluster.getK8sId());

                ExtensionsV1beta1Api appsV1Api=new ExtensionsV1beta1Api(apiClient);

                SharedInformerFactory factory = new SharedInformerFactory();

[2020-09-07 14:05] hodur opened #1236 "Maven artifacts for client-java-contrib submodules."
I do realize this is work in progress according to this issue https://github.com/kubernetes-client/java/issues/1132, but I'm hoping to use this library to create ServiceMonitors for Prometheus operator. It seems that both
[code]
and
[code]
are not available from a public maven repository yet. Is that intentional while they are still in development? Should I figure out how to deploy ServiceMonitor

[2020-09-07 15:31] #1200 closed

[2020-09-07 15:33] brendandburns commented on #1236
We haven't (yet) figured out how we're going to release these packages. For now you will need to build them yourself.

[2020-09-07 15:39] brendandburns commented on #1232
This is by design:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/generic/GenericKubernetesApi.java#L731

You can check if a `V1Status` is returned and check that for errors.

[2020-09-07 16:55] hodur commented on #1236
Roger, I'll go ahead and do that.

[2020-09-07 16:55] #1236 closed

[2020-09-08 01:16] GiottoLee commented on #1232
@brendandburns Thank you, i get it. 👌

[2020-09-08 03:40] sarveshkaushal commented on #1176
@yue9944882 - Can you please add more details on how to proceed on this?

[2020-09-08 08:22] yue9944882 commented on #1234
@zzl-code i think that's the expected behavior and aligns w/ the golang library, underneath the informer there's a daemon thread doing list-watch periodically and everytime it re-lists the objects, it sends UPDATE notification to the handlers

[2020-09-08 08:25] yue9944882 commented on #1232
new GenericKubernetesApi<>(
                        V1Deployment.class,
                        V1DeploymentList.class,
                        "",
                        deploy.getApiVersion(),
                        "deployments",
                        apiClient
                );

@GiottoLee and it should be:

[code]

[2020-09-09 16:51] brendandburns commented on #1120
@yue9944882 do you think we're ready for a release? Most of the kubectl stuff is in.

[2020-09-09 20:53] austinwheelock opened #1248 "Question about CVE-2018-5382 bouncycastle: BKS-V1 keystore files vulnerable to trivial hash collisions"
We use kube-client/java and have CVE-2018-5382 popping on us (specifically the "bcprov-jdk15on" v1.66 component that is pulled in by kube-client/java).

Does this project use bcprov-jdk15on for its keystore? If so, do you know if you leverage the vulnerable BKS file (BKS-V1) or the newer, fixed, BKS file (BKS-V2) which is default in the versions after 1.49.

[2020-09-10 01:05] GiottoLee commented on #1232
@yue9944882 Thank you~ But what's "apps" means?

[2020-09-10 06:42] dengyongfu opened #1249 "What is the API for the 'kubectl Cordon Nodename' command?"
excuse me ,What is the API for the 'kubectl Cordon Nodename' command?

[2020-09-10 12:22] yue9944882 commented on #1120
i think we're getting really close, how about we get `kubectl get` (#1251) and `kubectl delete` and `kubectl replace` before we cut a new release?

[2020-09-10 14:16] yue9944882 commented on #1176
@sagarbhavsar4328 sure, in our test codes, we're mostly using wiremock to setup a local http server to mock out kubernetes endpoints e.g. https://github.com/kubernetes-client/java/blob/6c0e2507fac4f89c9b7578213d979975c46907b2/extended/src/test/java/io/kubernetes/client/extended/kubectl/KubectlDrainTest.java#L64-L67.

but i don't think starting a local server is necessary for a unit-test if we can

[2020-09-10 14:37] kinderyj opened #1253 "Faild to generate code from crd"
Steps to reproduce:
1.  git clone https://github.com/kubernetes-client/java.git
2. cd java/client-java-contrib
3. docker build .
4.
docker run \
  --rm \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v "$(pwd)":"$(pwd)" \
  -it \
  --network host \
  2f1a4715f0e7 \
  /generate.sh \
  -u $the-url-of-my-crd \
  -n io.cert-manager \
  -p io.cert.manager \
  -o "$(pwd)"

$the-url-of-my-crd is ht

[2020-09-10 14:45] kinderyj opened #1254 "Failed to generate spec from crd"
Steps to reproduce:

git clone https://github.com/kubernetes-client/java.git
cd java/client-java-contrib
docker build .
docker run
--rm
-v /var/run/docker.sock:/var/run/docker.sock
-v "$(pwd)":"$(pwd)"
-it
--network host
2f1a4715f0e7
/generate.sh
-u https://github.com/kinderyj/presto-operator/releases/download/0.1/crd.yaml \
  -n io.prestosql \
  -p io.prestosql \
  -o "$(pwd)"

When I generated t

[2020-09-10 15:21] brendandburns commented on #1248
This project doesn't use a keystore. We just use bouncy castle for in-memory client certificate loading. The certificates themselves are managed by the user in PEM format.

[2020-09-10 15:22] yue9944882 commented on #1254
can you follow our latest document https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md? there was a few updated content recently.

at a glance, i think you didn't enable the CRD pruning in this CRD's spec by setting `.spec.preserveUnknownFields` to false. can you retry?

[2020-09-10 15:23] #1253 closed

[2020-09-10 15:24] brendandburns commented on #1120
ok, works for me. There are a number of bug fixes that we've accumulated so I'd like to get it done soon.

I'll take on delete and replace.

[2020-09-10 16:27] austinwheelock commented on #1248
Perfect - Thanks Brendan!

[2020-09-10 16:27] #1248 closed

[2020-09-11 09:53] fishautumn commented on #912
I met this issue recently. the reason is each time connection timeout, it reconnects and calls list method, then a new copy is added to every cached objects. memory won't get freed until object deleted from k8s.

this is my proposed fix: https://github.com/kubernetes-client/java/pull/1259

[2020-09-12 07:52] bugzyz opened #1260 "We would like to have the doc about the configuration of server, insecure access and specific username accessing"
Hi! Great project!

We are trying to use this java client to read, exec outside of our k8s cluster, from a totally separated VM.
To avoid those troublesome TLS connection, username authorization, we already grant the role we need in our k8s cluster and test the connection from our separated VM to the k8s cluster by the below curl command.

[code]

And already got some response like

[code]

So now

[2020-09-12 19:56] brendandburns commented on #1260
This client knows how to read configuration data from a standard kubeconfig file:

https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

You can either place that in `$HOME/.config/kubeconfig` for the user that runs the Java program, or you can set the file path in the `$KUBECONFIG` environment variable.

if the `kubectl` command line tool works on the machine, thi

[2020-09-14 01:25] johnyannj opened #1261 "sdk depends too many jars, it looks like not good^_^"
Maven: com.google.code.findbugs:jsr305:3.0.2
Maven: com.google.code.gson:gson:2.8.6
Maven: com.google.errorprone:error_prone_annotations:2.3.4
Maven: com.google.guava:failureaccess:1.0.1
Maven: com.google.guava:guava:29.0-jre
Maven: com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava
Maven: com.google.j2objc:j2objc-annotations:1.3
Maven: com.google.protobuf:protobuf-java:3.

[2020-09-15 02:19] bugzyz commented on #1260
Great! That's very helpful! Thanks for your suggestion!

[2020-09-15 03:57] brendandburns commented on #1261
All of the dependencies are necessary for various pieces of the client library. The client itself is a fairly complicated piece of code covering a number of different ways to interact with Kubernetes.

I'm going to close this issue because I don't think we plan on reducing any of these dependencies. Please re-open if there are specific dependencies that you'd like to discuss or you think we can ma

[2020-09-15 03:58] brendandburns commented on #1260
Closing the issue as I believe the question is answered.

[2020-09-15 03:58] #1260 closed

[2020-09-15 03:59] brendandburns commented on #1260
Oops, I realized I said `$HOME/.config/kubeconfig` when I should have said `$HOME/.kube/config` apologies for any confusion. I've corrected the earlier comment.

[2020-09-15 15:01] avmohan opened #1268 "How to create dynamic informers"
Do we have support for something like this in the java client?
https://firehydrant.io/blog/dynamic-kubernetes-informers/

Instead of explicitly watching for specific resources, need to watch on arbitrary runtime type.

[2020-09-15 15:04] srinivasev opened #1269 "Is there a possibilty to lock the Config Map before updating it to avoid race conditions"
I have a scenario where multiple threads try to read and update the file contents exist as an entry for one of the key as mentioned below.

apiVersion: v1
kind: ConfigMap
data:
    configFile : yaml file

The YAML file content in this configFile key can be read by any thread and do necessary modifications and patch it back based on requirment. How to avoid the race conditions when multiple paralle

[2020-09-15 20:14] brendandburns commented on #1269
You need to use the 'resourceVersion' field to do this, see the discussion here:

https://github.com/kubernetes/kubernetes/issues/2115#issuecomment-61498890

It's not a traditional Java lock, it's optimistic concurrency on the server.

[2020-09-15 20:19] brendandburns commented on #1268
The existing Informer in the client should work for this. You pass the type in as a generic parameter to the Informer as well as using the GenericAPI to create a `Call`

There's an example here:
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java

It uses a built-in type, but there's no reason that you have to do that. Let

[2020-09-16 03:26] yue9944882 commented on #1268
@avmohan recently we extracted a new abstraction [ModelMapper](https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ModelMapper.java) to deal w/ API discovery and the dynamic informer should be working based on that. i can imagine a daemon thread reloading API discovery periodically and add/remove informers from the factory dynamically.

yes i think th

[2020-09-16 08:18] srinivasev commented on #1269
Hi @brendanburns  ,
Does it hold good for patching configmap using below API's. Because I can see the patch invocation is working fine when multiple threads try to patch the same configmap key with different values.

How I Tested ?
I created main classes, T1 and T2.
T1 reads the configmap and sleeps for 60s before updating.
T2 reads the configmap same as T1 resourceVersion field and sleeps for 120

[2020-09-16 09:11] yue9944882 commented on #1269
@srinivasev

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency

IIUC update will be safer than patch if you're looking for literally locking the configmap. the patch is actually doing a "get->apply->update" at the server-side and only conflicts when the patch content cannot be applied to the latest state o

[2020-09-16 09:58] tmella opened #1273 "NoClassDefFoundError using .kube/config"
I am trying to list all Namespaces in my cluster from outside, however whenever try to do so I am encountered with the following error:

`ERROR i.m.h.s.netty.RoutingInBoundHandler - Unexpected error occurred: com/microsoft/aad/adal4j/AuthenticationContext
java.lang.NoClassDefFoundError: com/microsoft/aad/adal4j/AuthenticationContext
        at io.kubernetes.client.util.authenticators.AzureActiveDi

[2020-09-16 10:09] srinivasev commented on #1269
Hi @yue9944882 ,

If I see the link shared by you, it clearly states as below -

When a record is about to be updated, it's version is checked against a pre-saved value, and if it doesn't match, the update fails with a StatusConflict (HTTP status code 409).

So, In my scenario too, this should hold good right? Every PATCH call `(patchNamespacedConfigMap)` should be cross-checking the 'resourceVers

[2020-09-16 10:47] habibali95 opened #1274 "NullPointerException when getting Hostname from ingress"
I'm trying to get the hostname from a newly created ingress, it seems like we have to wait until ingress is ready to be used (until the address from load balancer is affected) but using the java client I didn't a way to check if ingress is ready. this is how we get the hostname : ingress.get().getStatus().getLoadBalancer().getIngress().get(0).getHostname()
the first attempts throw NPE, after waiti

[2020-09-16 16:29] yue9944882 commented on #1120
@brendandburns how you do think about cutting a new release this week?

[2020-09-16 18:58] fabiokung commented on #1149
Fixed in `9.0.0`

[2020-09-16 18:58] #1149 closed

[2020-09-16 19:02] brendandburns commented on #1273
The `adal` libraries are marked as `optional` for this library because they are Azure specific (and large)

You need to add the following dependency to the `pom.xml` for your project:

[code]

Then the adal library will be pulled in as a dependency.

My guess is either a) you were previously getting this dependency from some other source or b) you never had to refresh tokens before recently.

[2020-09-16 19:04] brendandburns commented on #1274
Any of the get methods can return null, so you need to check null for all of the gets (e.g. `getStatus() != null && .getStatus().getLoadBalancer() != null && ...`)

[2020-09-16 19:04] #1274 closed

[2020-09-16 19:22] srinivasev commented on #1269
Hi @brendandburns ,

If I need to make use of resourceVersion for conflict control, the only option is to use the `replaceNamespacedConfigMap(...)`.  I think this method needs the complete content of Configmap data to be read (all the key:value pairs) by the client and manipulate whatever required for a particular key and replace the configmap with the latest data.

So,
Client A reads the ConfigMa

[2020-09-16 22:15] brendandburns commented on #1120
I will do it!

[2020-09-16 22:18] brendandburns commented on #1269
Your understanding is correct.

You should be able to just replace the `byte[]` in the String -> byte[] map:

https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/openapi/models/V1ConfigMap.java#L41

So get a `V1ConfigMap` then update via `V1ConfigMap.putDataItem(key, newByteData)`

Then use `replaceNamespacedConfigMap(...)` to replace the value on th

[2020-09-17 02:53] yue9944882 commented on #1273
https://github.com/kubernetes-client/java/blob/338411901836fbb8001e04c6cc420cc2010843e4/pom.xml#L130

i agree it's the optionality issue..

[2020-09-17 06:13] #1273 closed

[2020-09-17 15:47] avmohan commented on #1268
Thanks guys.

[2020-09-17 15:47] #1268 closed

[2020-09-18 09:14] #1120 closed

[2020-09-18 13:13] rjeberhard commented on #1183
Similarly, I now see something that looks like a 10.0 release on the same releases page. Is 10.0 out or coming out soon? Thanks for all of the hard work. I really appreciate it.

[2020-09-18 18:31] brendandburns commented on #1249
Closing since the question was answered and there were no follow ups. Please open a new issue if you need additional assistance.

[2020-09-18 18:32] brendandburns commented on #1232
Sorry for the delay. The `"apps"` is the Kubernetes API Group (https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups)

[2020-09-18 18:33] brendandburns commented on #1234
Closing this issue since the question is answered. Please open a new issue if you need further assistance.

[2020-09-18 18:33] #1234 closed

[2020-09-18 18:34] brendandburns commented on #1202
Closing this issue due to lack of additional information. Please use the `/reopen` command if you need further assistance.

[2020-09-18 18:34] #1202 closed

[2020-09-18 18:35] brendandburns commented on #1196
Closing this issue since no further action seems possible.

[2020-09-18 18:35] #1196 closed

[2020-09-18 18:37] brendandburns commented on #1174
Release notes have been added for the `10.0.0` release and `CHANGELOG.md` has been updated.

[2020-09-18 18:37] #1174 closed

[2020-09-18 18:39] brendandburns commented on #1183
Just updated the release page, and an updated `CHANGELOG.md` file has been merged.

`10.0.0` was pushed out to Sonatype yesterday, should be visible in maven central soon (I hope)

Closing this issue, since I believe it has been resolved. (we do need better automation to ensure that this keeps happening going forward)

[2020-09-18 18:39] #1183 closed

[2020-09-18 18:40] brendandburns commented on #1168
Closing this issue since it appears to be resolved. Please use `/reopen` if you need further assistance.

[2020-09-18 18:40] #1168 closed

[2020-09-18 18:41] brendandburns commented on #1160
Closing this issue as obsolete due to using `6.0.1`

[2020-09-18 18:41] #1160 closed

[2020-09-18 18:41] brendandburns commented on #1163
Closing since #1164 merged.

[2020-09-18 18:41] #1163 closed

[2020-09-18 18:42] brendandburns commented on #1064
Closing this as both `9.0.x` and `10.0.0` have been released.

[2020-09-18 18:42] #1064 closed

[2020-09-18 18:43] brendandburns commented on #984
Closing this since apparently it's possible (and `KubectlVersion` was also added)

[2020-09-18 18:43] #984 closed

[2020-09-18 18:43] brendandburns commented on #985
Closing this due to no response.

[2020-09-18 18:43] #985 closed

[2020-09-18 18:44] brendandburns commented on #976
Closing this since we're now on 10.0.0 and I finally added the changelog back in. Apologies for not having good release notes for release 8.0.0.

[2020-09-18 18:44] #976 closed

[2020-09-18 18:44] brendandburns commented on #1002
Closing since it seems resolved.

[2020-09-18 18:45] brendandburns commented on #101
Closing this since we now have this support with `KubernetesObject` and `KubernetesListObject`

[2020-09-18 18:45] #101 closed

[2020-09-18 18:48] brendandburns commented on #609
This is working now, closing this issue.

[2020-09-18 18:48] #609 closed

[2020-09-18 18:49] brendandburns commented on #795
We now have integration tests for Java 8 -> 13 and they are all passing. Closing this issue.

[2020-09-18 18:49] #795 closed

[2020-09-18 18:50] brendandburns commented on #801
Closing this.

[2020-09-18 18:50] #801 closed

[2020-09-18 18:51] brendandburns commented on #861
This is expected if the server closes the connection.

[2020-09-18 18:51] #861 closed

[2020-09-18 18:52] brendandburns commented on #892
The metrics APIs are now part of this, see `KubectlTop.java` (https://github.com/kubernetes-client/java/blob/master/extended/src/main/java/io/kubernetes/client/extended/kubectl/KubectlTop.java)

[2020-09-18 18:52] #892 closed

[2020-09-18 18:53] brendandburns commented on #918
Closing this issue

[2020-09-18 18:53] #918 closed

[2020-09-18 18:54] brendandburns commented on #928
This is expected, especially if the server terminates the connection. You need to catch and handle this exception.

[2020-09-18 18:54] #928 closed

[2020-09-19 03:35] cxz0804 opened #1281 "service"
The version I used was 8.0.2, so I need to write a method to change the service and I called the method "replaceNamespacedService",

code:

 public void createServicea() throws ApiException {
        Map<String, String> message = new HashMap<>();
//        String nameStr = ;
        ApiClient client = k8sInit.getConnection();
        CoreV1Api apiInstance = new CoreV1Api(client);

        V1Servic

[2020-09-19 04:52] brendandburns commented on #1281
I'm not certain of your question. What do you need help with?

Thanks!

[2020-09-19 05:02] cxz0804 commented on #1281
Now I do not know where my code is wrong, how to debug can not debug

[2020-09-19 05:08] cxz0804 commented on #1281
"replaceNamespacedService"This method call what to pay attention to you, I now how to call it, is not very clear, the way I call the method call "replaceNamespacedDeployment" and "replaceNamespacedService", however, calls the different

[2020-09-20 17:15] brendandburns commented on #1281
I'm sorry, I still don't fully understand your question, but it seems like you are wondering how to use the library.

There are a number of examples here:
https://github.com/kubernetes-client/java/tree/master/examples/src/main/java/io/kubernetes/client/examples

And there is documentation about the semantics of `replace` here:
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#updating-resou

[2020-09-21 09:42] srinivasev commented on #1269
Hi @brendandburns ,

Is the same support of conflict error 409 available at python client? In the case of python, I am modifying binary_data of the ConfigMap for a business use case whenever a request is received. Hope the `replace_namespaced_config_map ` method in the python client serves the same functionality of optimistic concurrency control.

[2020-09-22 04:12] brendandburns commented on #1269
Yes, the `409` comes from the server, so any client library should work if you use the `replace*` methods.

Just make sure you set the `resourceVersion` in the object that you are sending to `replace*`

[2020-09-23 10:52] lyind opened #1289 "IPv6 Service Address TLS Hostname Verification Fails"
Kubernetes 1.19.1 (for example when setup using `kubeadm`) does not - by default - sign the IPv6 short-form of the api-server address.

Unfortunately kubernetes-client/java (version 10.0.0) uses the short-form string representation of the `kubernetes` service ClusterIp in the URL, which leads to the following exception:

[code]

Valid alternatives could be to either use the full (un-shortened) IPv

[2020-09-23 15:20] lyind commented on #1289
I may share my workaround (many implementations possible, but this should be a drop-in):
[code]

[2020-09-23 18:22] brendandburns commented on #1289
Thanks for reporting. We'd be happy to take a PR to address this.

[2020-09-23 21:27] lyind commented on #1289
OkHttps `HttpUrl.canonicalizeHost()` method always "canonicalizes" IPv6 addresses in request URLs into the compressed/short representation (ie. `0:0:0:0:0:0:0:1` -> `::1`).

`OkHostnameVerifier.verifyIpAddress()` checks for matching SANs using `String.equalsIgnoreCase()`.

Unfortunately IPv6 addresses in TLS certificate SAN fields are stored in uncompressed format (ie. `0:0:0:0:0:0:0:1`), which is

[2020-09-23 23:07] brendandburns commented on #1289
We'll look into updating. 3.x to 4.x is a big jump in versioning, so we'll need to validate that it works and/or do it across a major version update. (which fortunately we're about to do)

[2020-09-27 07:29] Rui-Tang opened #1294 "Yaml.dump could not recognize hostNetWork fiels"
This is my pod with HostNetWork set to true

![image](https://user-images.githubusercontent.com/14860802/94358800-f007a900-00d5-11eb-89e1-be3741cb8720.png)

Yaml.dump() could not recognize hostNetWork field

![image](https://user-images.githubusercontent.com/14860802/94358822-3a892580-00d6-11eb-84e3-737e5bd6379b.png)

[2020-09-27 14:31] brendandburns commented on #1294
This looks like the same issue as #592

[2020-09-28 03:49] bjrara commented on #964
For anyone who meets the same issue, try `mvn clean` first.

In my case, after removing all the generated files, intellij threw me error: `internal java compiler error`. I solved the second issue by increasing the build heap size.

[2020-09-28 13:33] lyind commented on #1289
@brendanburns I updated to 4.9.0 for testing purposes. The method to make the kubernetes CA certificate known to the HTTP client doesn't work anymore. The CA certificate from the crafted TrustManager is not accepted and one gets a "No certification path" exception:

[code]

[2020-09-29 12:08] yue9944882 opened #1296 "Why the published images are noted as deprecated?"
<img width="1065" alt="Screen Shot 2020-09-29 at 8 04 29 PM" src="https://user-images.githubusercontent.com/12049380/94556162-3a805580-028f-11eb-8922-c5481f7be926.png">

@brendandburns it's the images we published to do the CRD model generation. but what does the deprecation mean, or is the github registry shutting downing in the future?

[2020-09-29 12:47] anshulsri12 opened #1297 "dryRun parameter not working"
Kubernetes Java client version: "8.0.2"
Kubernetes server version:
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.13-eks-2ba888", GitCommit:"2ba888155c7f8093a1bc06e3336333fbdb27b3da", GitTreeState:"clean", BuildDate:"2020-07-17T18:48:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

I have tested dry-run feature on my server using kubectl and it works as e

[2020-09-29 14:16] anshulsri12 commented on #1297
This is caused by https://github.com/aws/amazon-eks-pod-identity-webhook/issues/46
Hence closing this.

[2020-09-29 14:16] #1297 closed

[2020-09-29 15:50] brendandburns commented on #1296
I think we need to migrate to `ghcr.io`

https://docs.github.com/en/free-pro-team@latest/packages/getting-started-with-github-container-registry/about-github-container-registry

[2020-09-30 15:10] SameeraGrandhi commented on #1072
I would like to take up some other equivalent commands , can I work on  `kubectl api-resources`

[2020-10-01 04:01] brendandburns commented on #1072
@SameeraGrandhi sounds great, we'd love to have the help. The only thing we're currently missing from the list above is KubectlRollout. That command is semi-complicated, but the go source to start from is here:

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/rollout/rollout.go

Let us know if you need assistance.

If there are other Kubectl commands that you would rather add, that we do

[2020-10-01 05:10] SameeraGrandhi commented on #1072
Thanks @brendanburns , will work on `kubectl rollout` first and take others once this is completed.

[2020-10-01 08:07] lyind commented on #1289
After some debugging I found that my dependency injection framework injected a No-Arg constructor created ApiClient instance in my SharedInformerFactory instances.

Sorry for the inconvenience.

I wish the No-Arg constructors for ApiClient, CoreV1Api, SharedInformerFactory and similar could be replaced by static factory methods like `ApiClient.defaultClient()` or similar. All the No-Arg constructo

[2020-10-01 08:11] lyind commented on #1289
Seems like the original issue is still valid, though.

[2020-10-01 15:31] srinivasev opened #1301 "What is the error thrown from the java api when the size of ConfigMap crossed its limit"
Hi Team,
I am storing certificate's/.pem files of an end-point in the config map. The contents will be as below in the form of key:value pairs.

Certificate1 of end-point 1 : .pem content as the value
Certificate2 of end-point 2 : .pem content as the value

This list grows as and when there is a new end-point added for our system and surely we reach the 1MB limit as each certificate size(.pem file

[2020-10-01 21:14] mvaal opened #1303 "GenericKubernetesApi not returning httpStatusCode on calls that return objects"
The requests are always returning -1 httpStatusCodes for successful calls.

https://github.com/kubernetes-client/java/blob/e5e646851b0608b4a0f6b43a08e61aab776f20a0/util/src/main/java/io/kubernetes/client/util/generic/GenericKubernetesApi.java#L721

https://github.com/kubernetes-client/java/pull/1302

[2020-10-01 21:40] mvaal commented on #1303
I figured it out, you get either a V1Status, or a response, but not both. Ignore this.

[2020-10-01 21:40] #1303 closed

[2020-10-02 04:53] brendandburns commented on #1301
The client doesn't enforce any limits, the error would come from the server. I would assume that it is HTTP 400 Bad Request. But it might be HTTP 429.  Either way it will cause the client to throw `ApiException`

[2020-10-02 04:53] #1301 closed

[2020-10-02 11:35] SameeraGrandhi commented on #1072
@brendanburns , rollout undo is making multiple get calls to each of the apigroup from the list
`GET https://xx.xx.xx.xx/apis?timeout=32s`

Why does it have to call all apigroups when we are dealing only with few resource set [daemonsets,deployments,statefulsets] ?
Is there anything I'm missing here ? Can you give me some leads on this ?

[2020-10-02 16:34] brendandburns commented on #1072
Is this from `kubectl`? Kubectl loads all of the APIs from the API discovery endpoint when it starts. It caches these locally, so this should only happen on a clean kubectl.

Regardless, I don't think that's part of implementing rollout for this library, you can focus on the changes that it makes to the `Deployment` object.

[2020-10-04 15:02] srinivasev opened #1306 "Is there a java/python api client api for knowing the size of configmap data"
Hi Team,

Is there any API which returns the data size in ConfigMap under kubernetes-client/java. I referred the CoreV1Api class, didn't find anything similar.

[2020-10-04 17:35] #944 closed

[2020-10-04 19:57] brendandburns commented on #1306
There's no specific API to do this. As far as I know, the only way to do this would be to load the ConfigMap object (`V1ConfigMap`) and then compute the size from the Byte arrays that are in that object. (and then pad it a little bit to include the `apiVersion` etc.)

[2020-10-06 05:08] srinivasev commented on #1301
Thanks, Hope this error is thrown during the invocation of patch_namespaced_config_map call too.

[2020-10-06 05:49] srinivasev commented on #1301
Hi @brendandburns

I can see below exception when I tried to insert more than allowed limit -

kubernetes.client.rest.ApiException: (422)
Reason: Unprocessable Entity
HTTP response headers: HTTPHeaderDict({'Audit-Id': '25d2990b-2f3e-4c03-b966-66d61c8eccea', 'Content-Type': 'application/json', 'Date': 'Tue, 06 Oct 2020 05:11:26 GMT', 'Content-Length': '422'})
HTTP response body: {"kind":"Status","a

[2020-10-06 05:55] SameeraGrandhi commented on #1072
@brendanburns Can I first push the outline of this command framework and then add the business logic of them ?

[2020-10-06 14:42] brendandburns commented on #1072
@SameeraGrandhi feel free to send a work-in-progress PR (put "WIP" in the title and it will get automatically labelled as such) and we can review and iterate in the PR.

Thanks!

[2020-10-07 07:40] vtaranenko opened #1309 "Wrong Iterator interface implementation"
https://github.com/kubernetes-client/java/blob/31fbb3a52c6ca7a6ad6d71cd154b387191705adc/extended/src/main/java/io/kubernetes/client/extended/pager/Pager.java#L119

Two subsequent calls of `hasNext()`return two different values when no items were found.

First call always returns `true` so foreach loop fails with:
[code]
Which goes against Iterator's contract:
https://docs.oracle.com/javase/7/docs/

[2020-10-07 08:36] netikras opened #1310 "websocket writes -- no feedback when the write is complete"
Whenever a WRITE is issued to the attached container (e.g. file upload, long command, etc.), the data-to-be-written is added to the write queue, which is drained asynchronously by OKHttp3. And there is no way to get feedback when the write is complete. If I'm writing an integration with k8s, I'd like to know when my file has been uploaded, so that I could go to the next step and use it in the cont

[2020-10-07 08:47] netikras opened #1311 "Websocket writes - 16MiB limit"
According to `okhttp3.internal.ws.RealWebSocket.send(bytes: ByteString): boolean` javadocs, if the payload is larger than 16MiB, the write will be terminated as soon as 16MiB has been uploaded and the connection will be closed.

1. I did not find a single word about this limitation in the kubernetes-client/java/README.md documentation.

2. If the limitation is present, kubernetes-client could buff

[2020-10-07 09:26] netikras commented on #1310
Related: https://github.com/kubernetes-client/java/issues/1127

[2020-10-07 09:27] netikras commented on #1127
Related: https://github.com/kubernetes-client/java/issues/1310 (the reason both your and mine implementations were failing, i.e. not copying all the data to the pod)

[2020-10-07 17:11] brendandburns commented on #1309
Yep, we should check to make sure that items is non-empty.

Thanks for reporting, we will fix.

[2020-10-07 17:13] brendandburns commented on #1310
Yep, this is fair. I assume that you are using the `Copy` helper class?

[2020-10-07 17:14] brendandburns commented on #1311
Thanks for raising this, I was unaware of this limit, I'll see about fixing the Exec/Copy implementation as you suggest.

[2020-10-07 17:14] brendandburns commented on #1311
(or we would gladly take a PR)

[2020-10-07 19:50] netikras commented on #1310
@brendanburns I was using a custom Copy implementation, based on Exec and `dd if=/dev/stdin` (just like `Copy` does), because
- I cannot guarantee all the pods will have base64 installed
- I need to upload files from the working memory - NOT from the filesystem, and `Copy` only accepts a `Path` as a source (Why not InputStream though?)
- If the pod is unable to accept data with `dd` - I can swap t

[2020-10-07 19:50] netikras commented on #1310
BTW, what's with the base64 in the `Copy` util? Why compress the data and then explode it with b64? WebSockets' should be perfectly capable to deal with binary streams AFAIK?

[2020-10-07 23:59] brendandburns commented on #1310
In general, I agree with your feedback that we need to have a `Future` to represent the completion of an Exec. You should be able to wait on the `Process` to complete though which should indicate that it's done.

Regarding base64, I agree it is probably unnecessary, it was used for single file cases since it's easier than tarballing a single file, but for multiple files it's probably not needed.

[2020-10-08 07:38] netikras commented on #1310
Yepp, waiting for the process to exit is actually what I'm doing. Too bad the utilities ( `Copy`, `PortForward`, etc.) do not have a mechanism to monitor this event.

This is the wrapper for Kube's Exec I've come up with. I didn't find much use for the `Process` - it's only the `Process` events and streams that actually matter. So I've hidden the Process as an implementation detail and only expose

[2020-10-08 15:54] ryanjbaxter opened #1313 "Get Namespace When Running In Pod"
By default there is a file called `namespace` located at `/var/run/secrets/kubernetes.io/serviceaccount` when running in a pod.  Is there a way of reading that files value in the client library?  I poked around but couldnt find anything.

[2020-10-08 16:12] brendandburns commented on #1313
We have no method, but you can just read the file yourself right?

Can you describe your use-case? Unlike `kubectl` this client doesn't have a notion of a "current" or "default" namespace, so I'm not sure what client experience you're looking for.

[2020-10-08 16:25] rohanKanojia commented on #1313
@ryanjbaxter: If you use [Fabric8 Kubernetes Client](https://github.com/fabric8io/kubernetes-client), namespace specified should be available in `KubernetesClient`'s configuration:
[code]

[2020-10-08 16:41] ryanjbaxter commented on #1313
@brendanburns yes I can read it myself, I was just hoping the library could do it for me ;)

When using the k8s client from within an application running on k8s it would be nice to get the namespace in which the application is running.  Many of the APIs require the namespace name, and since the namespace will be dynamic depending on where the application is deployed, I want to get it from the file

[2020-10-08 16:58] rohanKanojia commented on #1313
@ryanjbaxter :  I replied because I noticed earlier you're already using Fabric8 in [Spring Cloud Kubernetes](https://github.com/spring-cloud/spring-cloud-kubernetes). It's the same client which is used by projects like [Apache Spark](https://spark.apache.org/), [Strimzi](https://strimzi.io/), [Dekorate](https://github.com/dekorateio/dekorate) and [Eclipse JKube](https://github.com/eclipse/jkube)

[2020-10-08 17:05] ryanjbaxter commented on #1313
@rohanKanojia understood but in this case I don't want to use fabric8 😀

[2020-10-08 17:09] rohanKanojia commented on #1313
ohk, :broken_heart: . Sorry for the noise.

[2020-10-08 21:08] brendandburns commented on #1313
@ryanjbaxter makes sense, I'll see where it makes sense to add this. It's not a hard thing to add.

Thanks!

[2020-10-09 02:49] #1309 closed

[2020-10-09 02:51] #1311 closed

[2020-10-09 07:45] zhamdoctor opened #1317 "bro,how to imitate like `kubectl create secret tls xxx --key xxx.key --cert xxx.cert`"
I read api doc finding there only exists `data,stringdata,type`,I know how to imitate tls,just specify `type` ,but when i specify type,how to imitate `--key,--cert`? setting data field that data`s key field as `--key` and `--cert` or there are any other method to achieve to specify xxx.key?

[2020-10-09 08:02] zhamdoctor commented on #1317
sorry,i found the solution,just `data: xx.key: what in xx.key \n xx.cert: what in xx.cert` is okay!!!

[2020-10-09 08:02] #1317 closed

[2020-10-10 03:51] liuming-dev opened #1318 "deserialize configmap failed when binaryData field is set"
I got this deserialization exception as the following, and this exception will happen if `binaryData` is set.

![image](https://user-images.githubusercontent.com/11614773/95645091-71a40180-0aee-11eb-9d18-25a83df35fe0.png)
![image](https://user-images.githubusercontent.com/11614773/95645099-7c5e9680-0aee-11eb-9790-7cfe7a6fbdde.png)

https://github.com/kubernetes-client/java/blob/fbf46529894c7f189cc

[2020-10-10 05:58] kumars17 opened #1319 "java-model-gen doesn't work on latest RHEL 7.4 and debian 10.x distro.. always throws npm not found error"
I followed all instructions mentioned @ https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md to generate Java client for CRD. It successfully provisions the k8s cluster and imports all the CRD but then it fails later with the error while installing npm..

Unpacking nodejs (4.8.2~dfsg-1) ...
Setting up libuv1:amd64 (1.9.1-3) ...
Processing triggers

[2020-10-10 16:09] brendandburns commented on #1319
This looks like the npm install failed. Given that this is all running inside a Docker container, I don't think that RHEL or Debian should affect things?

Can you clarify the command(s) that you are running?

Thanks!

[2020-10-10 16:10] brendandburns commented on #1318
Are you trying to deserialize your own JSON file? Or is it coming from the Kubernetes API server.

I think your JSON is malformed.

[2020-10-10 18:48] brendandburns commented on #1310
That's fair, I think we probably thought some encoding was better than raw binary, but it's not clear that's a good rationale.

[2020-10-10 18:49] brendandburns commented on #1310
I think we'd be happy to accept a PR adding that `Future<int> exec(...)` method to the `Exec` class.

[2020-10-12 02:42] #1313 closed

[2020-10-12 03:17] yue9944882 commented on #1319
@kumars17 ah i hit exactly the same issue before. i cant recalled the detail but i remember it's failing b/c some dependency library were not properly installed. can you clear the build cache ` docker builder prune` then retry?

[2020-10-12 03:40] kumars17 commented on #1319
@yue9944882 tried docker builder prune , not much of a help. Also, this is a brand new debian setup which I created only for this.

WARNING! This will remove all dangling build cache. Are you sure you want to continue? [y/N] y
Total reclaimed space: 0B

@brendandburns Below is list of command I executed.. followed exactly like  https://github.com/kubernetes-client/java/blob/master/docs/generate-mo

[2020-10-12 03:40] yue9944882 commented on #1318
@liuming-dev i cant reproduce it in the test https://github.com/kubernetes-client/java/pull/1325. the `binaryData` is a string-byte[] map and all the byte[] are required to be base64 encoded to be properly shown in json format. can you send us a sample for reproducing the error?

[2020-10-12 04:06] kumars17 commented on #1319
Here is output of above command:

Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.18.2) 🖼
 ✓ Preparing nodes 📦
 ✓ Writing configuration 📜
 ✓ Starting control-plane 🕹️
 ✓ Installing CNI 🔌
 ✓ Installing StorageClass 💾
Set kubectl context to "kind-kind"
You can now use your cluster with:

kubectl cluster-info --context kind-kind

Thanks for using kind! 😊
customresourcedefinition.a

[2020-10-12 06:30] yue9944882 commented on #1319
@kumars17 can you show us the output detail of this step (invalidating the cache)?

[2020-10-12 07:02] kumars17 commented on #1319
Executed that command.. it literally generate no output

root@host:~# curl -sL https://deb.nodesource.com/setup_10.x
root@host:~#

[2020-10-12 07:18] kumars17 commented on #1319
seems like -s is for silent in above command. I removed -s to check what could be issue and it gave error below

 curl -L https://deb.nodesource.com/setup_10.x
curl: (60) SSL certificate problem: self signed certificate in certificate chain
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure conne

[2020-10-12 07:20] kumars17 commented on #1319
On further execution got error below

root@host:~# curl -k -L https://deb.nodesource.com/setup_10.x |bash -
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 13084  100 13084    0     0  87226      0 --:--:-- --:--:-- --:--:-- 87226

## Installing the NodeSource Node.js 10.x repo...

##

[2020-10-12 07:43] kumars17 commented on #1319
Thanks. Does that mean I need a new crd-model-gen:v1.x ?? which include this fix

[2020-10-12 08:15] yue9944882 commented on #1319
@kumars17 thanks for providing the clue! and i sent a fix at the code-generator repo https://github.com/kubernetes-client/gen/pull/171. given that i can't reproduce locally, can you verify if this is working by replacing `docker.pkg.github.com/kubernetes-client/java/crd-model-gen:v1.0.2` with `yue9944882/gen:fix-npm-install-on-buster` (view the source at https://github.com/yue9944882/java/tree/con

[2020-10-12 09:01] kumars17 commented on #1319
Note yet resolved...  See output below

/tmp/java# docker run --rm -v "$LOCAL_MANIFEST_FILE":"$LOCAL_MANIFEST_FILE" -v /var/run/docker.sock:/var/run/docker.sock -v "$(pwd)":"$(pwd)" -ti --network host yue9944882/gen:fix-npm-install-on-buster /generate.sh -u $LOCAL_MANIFEST_FILE -n com.example.stable -p com.example.stable -o "$(pwd)"
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:

[2020-10-12 09:20] kumars17 commented on #1319
seems like dockerfile is always picking up the latest debian as the image... is there any way to let it pick some older version of debian?

[2020-10-12 10:15] yue9944882 commented on #1319
but the base image is fixed, isn't it?

[2020-10-12 10:25] kumars17 commented on #1319
You are right... from the above output, what do you see the issue could be?  It always reproducible in my setup, on both Redhat(RHEL7.3) as well Debian 10.6

[2020-10-12 12:22] yue9944882 commented on #1319
@kumars17 can you verify if `yue9944882/gen:npm-fix-2` works for you? i just updated the the fix PR

[2020-10-12 13:55] kumars17 commented on #1319
No Success yet... if you want to capture any debug info, would be happy to do that. Output below...

java]# docker run   --rm   -v "$LOCAL_MANIFEST_FILE":"$LOCAL_MANIFEST_FILE"   -v /var/run/docker.sock:/var/run/docker.sock   -v "$(pwd)":"$(pwd)"   -ti   --network host   yue9944882/gen:npm-fix-2   /generate.sh   -u $LOCAL_MANIFEST_FILE   -n com.example.stable   -p com.example.stable   -o "$(pwd)"

[2020-10-12 14:45] kumars17 commented on #1319
Also.. may I know which distro and version you are building this and you are not finding this issue?? Also send me a note about your docker version too.  I tried it on debain 9.x also and hitting the same issue.

[2020-10-12 16:07] spencergibb commented on #1261
@brendanburns the one that has caused problems before is `com.google.guava:guava`. Could that one be re-evaluated?

[2020-10-12 17:19] brendandburns commented on #1261
what specific issues are you seeing?

[2020-10-13 02:55] yue9944882 commented on #1319
Engine:
  Version:          19.03.12
  API version:      1.40 (minimum version 1.12)

@kumars17 and i'm building on my MacOS

[2020-10-13 03:01] kumars17 commented on #1319
Thanks. Is there any other way to fix this issue.. unfortunately I don't have MacOS.  Is there a way to generate the model classed for new CRD's without provisioning new container.. any other tool??

[2020-10-13 03:12] #1296 closed

[2020-10-13 03:14] yue9944882 commented on #1319
@kumars17 i will provide a pre-built base image so that we can skip the apt installations upon code-generation

[2020-10-13 03:31] kumars17 commented on #1319
Thanks

[2020-10-13 04:33] brendandburns commented on #1281
Closing this issue due to lack of response. Please use `/reopen` if you need to reopen.

[2020-10-13 04:33] #1281 closed

[2020-10-13 06:49] kumars17 commented on #1319
@yue9944882 please update once the pre-built base image is ready

[2020-10-13 07:39] yue9944882 commented on #1319
@kumars17 can you test if `yue9944882/gen:v1.0.3` works for you? if so, i will publish it to this repo..

[2020-10-13 08:20] kumars17 commented on #1319
hitting some other issue with this.

java# docker run   --rm   -v "$LOCAL_MANIFEST_FILE":"$LOCAL_MANIFEST_FILE"   -v /var/run/docker.sock:/var/run/docker.sock   -v "$(pwd)":"$(pwd)"   -ti   --network host   yue9944882/gen:v1.0.3  /generate.sh   -u $LOCAL_MANIFEST_FILE   -n com.example.stable   -p com.example.stable   -o "$(pwd)"
Creating cluster "kind" ...
 ✓ Ensuring node image (kindest/node:v1.1

[2020-10-13 08:31] kumars17 commented on #1319
Thanks. I tried with the newer one but this one is failing somewhere else. Refer output below...

java# docker run   --rm   -v "$LOCAL_MANIFEST_FILE":"$LOCAL_MANIFEST_FILE"   -v /var/run/docker.sock:/var/run/docker.sock   -v "$(pwd)":"$(pwd)"   -ti   --network host   yue9944882/gen:v1.0.3  /generate.sh   -u $LOCAL_MANIFEST_FILE   -n com.example.stable   -p com.example.stable   -o "$(pwd)"
Creating

[2020-10-13 14:49] ryanjbaxter opened #1326 "Unknown apiVersionKind apps/v1/Deployment"
Hi, I all of a sudden started getting this error when trying to load some Yaml via `Yaml.load`.  I am not sure why it suddenly started happening.  Unfortunately there is not much in the way of a useful error message to go on.

[code]

I saw this issue, and tried the suggested solution regarding unpacking the jar, but that did not work for me.  Plus I believe the issue that caused this problem was

[2020-10-13 15:33] kumars17 commented on #1319
Any help with the error above?

[2020-10-13 15:44] ryanjbaxter commented on #1326
I am going to close this, I figured out the problem was a conflict with a version of guava I was using.

[2020-10-13 15:44] #1326 closed

[2020-10-14 02:21] yue9944882 commented on #1319
do you login?

[2020-10-14 03:25] kumars17 commented on #1319
yes.

[2020-10-14 03:50] yue9944882 commented on #1319
how about `yue9944882/gen:1.0.4`? it seems that github's registry doesn't automatically support `latest` tag..

[2020-10-14 04:10] kumars17 commented on #1319
Same issue even with this one too...(output below)

[2020-10-14 04:10] kumars17 commented on #1319
/tmp# docker run --rm -v "$LOCAL_MANIFEST_FILE":"$LOCAL_MANIFEST_FILE" -v /var/run/docker.sock:/var/run/docker.sock -v "$(pwd)":"$(pwd)" -ti --network host yue9944882/gen:1.0.4 /generate.sh -u $LOCAL_MANIFEST_FILE -n com.example.stable -p com.example.stable -o "$(pwd)"
Unable to find image 'yue9944882/gen:1.0.4' locally
1.0.4: Pulling from yue9944882/gen
df20fa9351a1: Already exists
25ad7478873d:

[2020-10-14 05:55] kumars17 commented on #1319
After doing manual pull i.e.  docker pull docker.pkg.github.com/kubernetes-client/java/crd-model-gen-base:v1.0.0

I am able to proceed further

[2020-10-14 06:19] #931 closed

[2020-10-14 11:26] #1319 closed

[2020-10-14 11:27] kumars17 commented on #1319
Closing this as I am able to proceed further

[2020-10-14 15:39] guptamahcl opened #1327 "Certificate data not found"
When calling this from java

`ApiClient apiClient = ClientBuilder.kubeconfig(kubeConfig).build();`

Actual Kubeconfig file:

[code]

I am getting below exception:

[code]

The same code works on Windows 10. But does not work on docker image of tomcat `tomcat:9.0.37-jdk11-openjdk`

[2020-10-14 15:50] brendandburns commented on #1327
My guess is that something about your certificate authority is different in your docker image.

However, given that it works for you on Windows, I don't think it is a problem with this library, but rather with the JDK setup in the Tomcat image.

Perhaps try a different image (is the tomcat one Alpine based?) I would try something like Ubuntu + JDK11 just to eliminate any potential issues in your t

[2020-10-14 15:51] brendandburns commented on #1327
Also, if you are running inside a Pod you probably want to use the built in service account (ClientBuilder.cluster().build()) instead of loading from a kubeconfig file.

[2020-10-14 17:35] guptamahcl commented on #1327
This code is referring to another Cluster so not using the built in account.

One observation is that this issue appears only once, i.e on the first execution. Upon retry this issue does not occur again ever, unless the pod is recreated.

[2020-10-14 18:55] mvaal opened #1328 "Bad error message returned when trying to hit an endpoint that doesn't exist"
When hitting a cluster for a type that isn't installed yet, it is returning a 404 error with the message `404 page not found`.

Unfortunately this attempts to deserialize to a V1Status object here:
https://github.com/kubernetes-client/java/blob/b0ea48e144083706f1bac9942e4d209d4282d5ff/util/src/main/java/io/kubernetes/client/util/generic/GenericKubernetesApi.java#L737

And throws the following erro

[2020-10-14 23:04] iyashu opened #1329 "Reflector doesn't shutdown gracefully on thread interruption"
I'm trying to build an informer using `DefaultSharedIndexInformer` watching for ConfigMap resources and noticed that on stopping the informer (using `DefaultSharedIndexInformer::stop`) `main` function doesn't exits. After taking thread dump using jstack, I've found that reflector thread is not terminated. Below is the complete example to reproduce with java version 1.8.0_191 and client version 9.0

[2020-10-15 03:02] yue9944882 commented on #1319
@kumars17 https://github.com/kubernetes-client/java/pull/1330 plz use either `docker.pkg.github.com/kubernetes-client/java/crd-model-gen-base:v1.0.3` or `ghcr.io/yue9944882/crd-model-gen:v1.0.3` to do the code-generation. the latter repository allows anonymous access

[2020-10-15 03:15] yue9944882 commented on #1328
@mvaal thanks for reporting this, i filed a fix at #1331

[2020-10-15 03:47] kumars17 commented on #1319
Unfortunately I am not able to pull docker.pkg.github.com/kubernetes-client/java/crd-model-gen-base:v1.0.3  ---> gives error "Error response from daemon: manifest for docker.pkg.github.com/kubernetes-client/java/crd-model-gen-base:v1.0.3 not found: manifest unknown: Docker image reference crd-model-gen-base:v1.0.3 not found under repo "kubernetes-client"

Neither ghcr.io/yue9944882/crd-model-gen:v

[2020-10-15 04:01] yue9944882 commented on #1319
sry, it's a typo, it should be `docker.pkg.github.com/kubernetes-client/java/crd-model-gen:v1.0.3`

mmm this is the github official registry.. not sure what's wrong w/ it..

[2020-10-15 04:14] kumars17 commented on #1319
Also.. seems like the image which you last built i.e.  yue9944882/gen:1.0.4  is referring to crd-model-gen-base:v1.0.0.  Can you check,

Snippet from log file after running ":/tmp/java# docker run --rm -v "$LOCAL_MANIFEST_FILE":"$LOCAL_MANIFEST_FILE" -v /var/run/docker.sock:/var/run/docker.sock -v "$(pwd)":"$(pwd)" -ti --network host yue9944882/gen:1.0.4 /generate.sh -u $LOCAL_MANIFEST_FILE -n  io

[2020-10-15 05:43] kumars17 commented on #1319
I am able to pull

[2020-10-15 17:56] #1328 closed

[2020-10-16 05:25] yue9944882 commented on #1329
this approach sounds good to me. can you send a PR so that we can merge?

[2020-10-19 09:41] kumars17 commented on #1202
Not sure if you managed to get a fix for this. I am hitting same issue. Example https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/ExecExample.java doesn't read stderr. Is there any example where both stdout and stderr output is collected by the client?

[2020-10-19 09:52] kumars17 opened #1334 "How to execute a script(not a single command) inside pod?"
I am trying to execute a script inside the pod from my client. Please note, script exist on my client machine and not inside pod. So I am reading the script content and copying it to the output stream of exec process and then reading the output of the exec process by reading the input stream. Observing hang issue both while reading the output as well as .waitFor() method(if I don't read the output

[2020-10-19 09:54] kumars17 commented on #1334
Here si the sample script file

a.sh
------------
#!/bin/sh
echo "Script starts"
ls -al /
hostname

[2020-10-19 17:26] #866 closed

[2020-10-19 20:30] brendandburns commented on #1318
Closing this since we can't repro and there was no response from the reporter.

Please use `/reopen` or open a new issue if you need further assistance.

[2020-10-19 20:30] #1318 closed

[2020-10-19 20:42] brendandburns commented on #1334
You probably need to send `ctrl-d` after you send the script, because otherwise the remote shell process doesn't know to stop reading from the input stream.

If your script is small it might be easier to use:

`[ "sh", "-c", "echo \"Script Starts\"; ls -al /; hostname"]`

as the command that you are executing, rather than trying to pass it through `stdin`

[2020-10-20 05:08] kumars17 commented on #1334
I was looking for more like ..

  where my input script server as input for the /bin/sh via pipe and as input stream is finished shell should treat it as input completed.

[2020-10-20 09:42] #896 closed

[2020-10-20 13:43] jerryhu1234 opened #1336 "Support for app.k8s.io/v1beta1 application"
ERROR: ERROR: java.io.IOException: ERROR: YAML file deployment-dev.yaml is invalid, please check it. Details: java.io.IOException: Unknown apiVersionKind: app.k8s.io/v1beta1/Application known kinds are: {v1/ServerAddressByClientCIDRBuilder=class io.kubernetes.client.openapi.models.V1ServerAddressByClientCIDRBuilder, v1/ReplicaSetConditionFluentImpl=class io.kubernetes.client.openapi.models.V1Repli

[2020-10-20 19:03] brendandburns commented on #1334
In that case, you need to explicitly send the `ctrl-d` character to indicate to the shell that the stdin has terminated, otherwise the remote process won't terminate.

[2020-10-20 19:04] #1329 closed

[2020-10-20 19:06] brendandburns commented on #1336
This is a CRD (custom resource definition) you can use the instructions here:
https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

to generate the code for this, and then you will need to register it with the YAML processor.

[2020-10-20 19:07] brendandburns commented on #1306
Closing this since I believe the question is answered. Please use `/reopen` or open a new issue if you need further assistance.

[2020-10-20 19:07] #1306 closed

[2020-10-21 06:01] #868 closed

[2020-10-21 06:33] yuanbaodong commented on #1127
Are you solve this  problem ?

[2020-10-21 06:33] yuanbaodong commented on #1127
Are you solve this?

[2020-10-21 09:51] netikras commented on #1127
@yuanbaodong yes, I have solved it.
Either wait for the PR to be merged and a new version released, or implement the same mechanism in your own code.

See the code snippet in my issue.

[2020-10-21 10:00] yuanbaodong opened #1338 "@yuanbaodong yes, I have solved it."
@yuanbaodong yes, I have solved it.
Either wait for the PR to be merged and a new version released, or implement the same mechanism in your own code.

See the code snippet in my issue.

P.S. you will have to reimplement your own Copy utility with this customized exec(), as current Copy does not care for any task completion events and it is NOT covered by my PR.

_Originally posted by @netikras in

[2020-10-21 10:00] #1338 closed

[2020-10-21 10:02] yuanbaodong commented on #1127
@netikras   thanks ,  I have solved it too

[2020-10-21 10:04] yuanbaodong commented on #1127
https://github.com/kubernetes-client/java/issues/1311

[2020-10-22 05:58] yue9944882 commented on #1336
@jerryhu1234 are you referring to https://github.com/kubernetes-sigs/application?

[2020-10-23 01:32] Rick-yi opened #1340 "V1Deployment Bean Deserialization error"
Not an integer (through reference chain: org.snebpaas.core.tool.api.R["data"]->io.kubernetes.client.openapi.models.V1Deployment["spec"]->io.kubernetes.client.openapi.models.V1DeploymentSpec["strategy"]->io.kubernetes.client.openapi.models.V1DeploymentStrategy["rollingUpdate"]->io.kubernetes.client.openapi.models.V1RollingUpdateDeployment["maxSurge"]->io.kubernetes.client.custom.IntOrString["intVal

[2020-10-23 15:20] brendandburns commented on #1340
I'm not sure I understand the issue that you are facing? `maxSurge` can either be an int or a String in the YAML and thus it is represented by an `IntOrString` object in the Deployment. Can you provide more details about the problem you are facing and how to reproduce it?

Thanks!

[2020-10-25 15:45] #870 closed

[2020-10-26 06:05] mxtsuper opened #1342 "Run KubeConfigFileClientExample.java，get Exception"
Hello
I run the KubeConfigFileClientExample.java on my PC outsides a  K8s cluster.
I copied the config file on the PC. I did not copy the certificates and keys on the PC.

I got the exception as followings.
Please give me some hints on deal with them.
Do I need to load the certificates and keys on the PC ? But they will be in different path.
Thanks a lot
Exception in thread "main" io.kubernetes.cl

[2020-10-26 06:14] yue9944882 commented on #1342
@mxtsuper can you double check whether the file path is correct or do you have the permission to the file?

[2020-10-26 07:05] mxtsuper commented on #1342
Hello yue9944882 .
I checked the config file, and debug the codes.
It read the config file, get the config data, such as basefile etc.
It has the same errors.

![image](https://user-images.githubusercontent.com/24969526/97142934-a5dd1a80-179c-11eb-814d-cc4413f82a1f.png)

[2020-10-26 12:07] panashka commented on #861
Hi,
If this is expected why statusCode is updated to -1975219. If actual command complete with status 0, eventually its code will be overwritten with -1975219.
`    @Override
            public void failure(Throwable ex) {
              super.failure(ex);
              // TODO, it's possible we should suppress this error message, but
              // currently there's
              // no good plac

[2020-10-26 15:15] brendandburns commented on #1342
My guess is that your kubeconfig file is malformed somehow and the CA cert is invalid. Does `kubectl` work with the same `kubeconfig` file?

[2020-10-26 15:20] brendandburns commented on #1261
Closing again due to no response, please create a new issue if there are specific issues with `guava`

[2020-10-26 15:20] #1261 closed

[2020-10-26 15:23] spencergibb commented on #1261
Sorry for the delay. Nothing specific, just typical conflict with guava in a user project and there being incompatibility between the versions

[2020-10-27 02:29] jerryhu1234 commented on #1336
Not yet, l will deal with it.

[2020-10-27 02:29] #1336 closed

[2020-10-27 08:03] mxtsuper commented on #1342
kubectl works

[2020-10-27 12:56] panashka opened #1346 "Incorrect exit code in current Exec implementation"
Hi,
I stumbled upon https://github.com/kubernetes-client/java/issues/861. I'm experiencing the same issue.
But it's already closed so I decided to raise new one.
In the previous bug it was mentioned that exceptions like "java.net.SocketException: Connection closed by remote host" are expected on connection termination. The thing is:
If actual command complete with status 0, eventually its code wil

[2020-10-28 13:37] johnyannj commented on #477
why ApiException contains a "String" type responseBody,  not use  Object type??

[2020-10-28 16:37] brendandburns commented on #1342
Just to be clear `kubectl --kubeconfig <path-to-kubeconfig> get nodes` works correctly?

Do any of the other examples work correctly?

Can you attach your kubeconfig file? (please remove all secret info first)

It very much looks like the code is unable to load the CA root certificate, so we need to understand more about that certificate and how it is being passed into the client code.

[2020-10-29 03:51] Bryce-huang opened #1350 "GenericKubernetesApi return errors ` Expected BEGIN_OBJECT but was NUMBER at line 1 column 4 path $`"
I use the latest code generator to generate crd code and use GenericKubernetesApi to call k8s api, but it returns an error，like：
[code]

the java code :

[code]
the k8s info
[code]

client version : 9.0.2

[2020-10-29 06:21] Bryce-huang commented on #1350
After I configured all the information correctly and set the namespace parameter for the get method, I found that the crd object can be successfully obtained, but the crd object still cannot be created. I will continue to troubleshoot errors
`api.get("default","processservice-sample"); `

[2020-10-29 06:27] yue9944882 commented on #1350
is this a duplicate of https://github.com/kubernetes-client/java/issues/1328? if so, the fix has landed on master.

[2020-10-29 08:14] Bryce-huang commented on #1350
Thanks, it may be that the crd object I constructed is incorrect.

[2020-10-29 08:14] #1350 closed

[2020-10-29 22:17] mingjie-li opened #1351 "unable to use autowired in the reconciler"
as the @org.springframework.beans.factory.annotation.Autowired is not supported in BeanPostProcessor or BeanFactoryPostProcessor ([link](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/beans/factory/annotation/Autowired.html)),

The reconcilers created for KubernetesReconcilerProcessor (base on BeanFactoryPostProcessor) will be autowired either.
@Value won't wo

[2020-10-30 16:36] #1351 closed

[2020-11-02 06:19] ssvvnn opened #1357 "When can use kubernetes-client/java implement the command of kubectl drain，I saw that the code was merged"

[2020-11-02 06:23] yue9944882 commented on #1357
@ssvvnn this is already released at version 10.0.0

[2020-11-02 06:47] ssvvnn commented on #1357
is it in the package named entended ?  but I can not find it， and my version is 10.0.0

[2020-11-02 06:48] ssvvnn commented on #1357
is it in the package named entended ? but I can not find it， and my version is 10.0.0

[2020-11-02 07:36] yue9944882 commented on #1357
it's `io.kubernetes.client.extended.kubectl.Kubectl.drain(..)`. am sure it's published in 10.0.0.

[2020-11-02 08:23] ssvvnn commented on #1357
Sorry， I indeed can find it，io.kubernetes.client.extended has not exits at version 10.0.0，was you sure published in maven repository?

[2020-11-02 09:26] Sherlock-Harden opened #1358 "Creating a pod based on the example never succeeded"
When I use
[code]
to create a pod, it always fails
Found in the source code CustomObjectsApi.class The restful URL starts with / apis,

but the URL given by the official website is /api/v1/namespaces/{namespace}/pods

<img width="1427" alt="截屏2020-11-02 17 22 09" src="https://user-images.githubusercontent.com/55943281/97851612-8c097d80-1d30-11eb-93d9-36245c418271.png">

[2020-11-02 09:36] yue9944882 commented on #1358
the generic api will use the corev1api if the passing apiGroup is empty string (""), which is correct in your source code.
https://github.com/kubernetes-client/java/blob/2ebac6dd9aece8509ee39b6aa30f2ce5e871fc1e/util/src/main/java/io/kubernetes/client/util/generic/GenericKubernetesApi.java#L762-L771

can you add `.throwsApiException().getObject()` to ur create call so that expcetion or failure can

[2020-11-02 09:36] yue9944882 commented on #1357
yes, the badge on the README page will show you the latest version in the central repo

[2020-11-03 00:12] brendandburns commented on #1357
In particular:
https://search.maven.org/search?q=a:client-java-extended

[2020-11-03 00:14] brendandburns commented on #1357
I downloaded and examined that jar:

[code]

Closing this issue because I think the issue is resolved. Please use `/reopen` if you need more assistance.

[2020-11-03 00:14] #1357 closed

[2020-11-03 00:16] brendandburns commented on #1358
fwiw, you probably don't want to use the GenericAPI for creating Pods anyway, you should use the CoreV1Api

[2020-11-03 07:40] ssvvnn commented on #1357
Thanks

[2020-11-04 03:07] #1358 closed

[2020-11-05 09:54] ssvvnn opened #1362 "When I use ‘（(KubectlDrain) Kubectl.drain().apiClient(apiClient).name(name).execute()， as follow exception"
When I use ‘（(KubectlDrain) Kubectl.drain().apiClient(apiClient).name(name).execute()，  as follow exception
java.lang.NullPointerException: null
	at io.kubernetes.client.extended.kubectl.Kubectl$ApiClientBuilder.getGenericApi(Kubectl.java:259)
	at io.kubernetes.client.extended.kubectl.Kubectl$ResourceBuilder.getGenericApi(Kubectl.java:293)
	at io.kubernetes.client.extended.kubectl.KubectlCordon.pe

[2020-11-05 17:08] brendandburns commented on #995
@mattsanta sorry, I missed this from a long time ago! There is the GenericAPI which can use for this.

[2020-11-05 18:09] brendandburns commented on #1362
The ModelMap isn't loading correctly (it appears)

Do you see any other errors before this?

Can you try adding `ModelMap.refresh(...)` before your `Kubectl.drain().(...)` call?

[2020-11-05 19:05] brendandburns commented on #1334
Closing this issue because I believe it is answered. Please use `/reopen` if further assistance is required.

[2020-11-05 19:05] #1334 closed

[2020-11-05 19:06] brendandburns commented on #1327
Do you have an init container or some other sort of initialization/download in the container? This sounds like a race condition.

Regardless, I don't think that this seems like a problem in this library.

[2020-11-06 05:58] cwchoe opened #1364 "Expected a string but was BEGIN_OBJECT when V1Status deleteResult = api.deleteNamespacedResourceQuota(....)"
The error message is..

[ERROR] [42] 2020-11-06 14:52:59.347 |http-nio-8080-exec-2|ContainerBase.[Tomcat].[localhost].[/].[dispatcherServlet]|[dispatcherServlet] - Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a string but was BE

[2020-11-06 06:21] cwchoe commented on #1364
Java Client Version is 9.0.2

[2020-11-06 06:38] ssvvnn commented on #1362
I  have resolved this problem by adding ‘ModelMapper.refresh(new Discovery(apiClient))’，is it a bug ?

[2020-11-06 09:35] ssvvnn commented on #1362
And I have a another problem, this method  KubectlDrain.gracePeriod(...)  is seems like that a timeout seconds, not as offical shows:
grace-period |   | -1 | Period of time in seconds given to each pod to terminate gracefully. If negative, the default value specified in the pod will be used.

[2020-11-06 15:26] brendandburns commented on #1364
This is a duplicate of #86 please see the detail in that issue. tl; dr; Delete can return multiple types, Swagger can only handle one.

You have two choices, you can catch the exception and handle it, or you can use the GenericAPI to delete objects. There's more details in the issue.

[2020-11-06 15:26] #1364 closed

[2020-11-06 15:29] brendandburns commented on #1362
I'm glad the first issue is resolved.

Two requests:
* Can you give me details of how you were calling the code? The model map should be created by a static initializer when the class is loaded, so I want to understand what is going wrong in case there is a deeper issue.

* Can you open a separate issue for the second problem (the grace period one) so that we can track it separately? Also, please

[2020-11-06 15:30] brendandburns commented on #1049
I'm closing this issue as I believe that the question has been resolved. Please use `/reopen` if you need further assistance on this issue.

[2020-11-06 15:30] #1049 closed

[2020-11-06 21:44] frrivero commented on #570
Hi, adding io.kubernetes:java-client:10.0.0 dependency is including sundr-cogeden:commons-lang:2.4 and is overwriting my StringUtils class, which is causing some methods to disappear, I have a direct dependency on commons-lang:2.6 and still gets overwritten.
kube-client:10.0.0

[2020-11-08 12:58] ssvvnn commented on #1362
ok，that was how called to the code:
maven dependency:
  <dependency>
            <groupId>io.kubernetes</groupId>
            <artifactId>client-java-extended</artifactId>
            <version>10.0.0</version>
        </dependency>
        <dependency>
            <groupId>io.kubernetes</groupId>
            <artifactId>client-java</artifactId>
            <version>10.0.0</version>
            <ex

[2020-11-08 13:12] ssvvnn opened #1366 "The method KubectlDrain.gracePeriod(...) is seems like that a timeout seconds"
The method KubectlDrain.gracePeriod(...) is seems like that a timeout seconds, not as offical shows: kubectl drain node --grace-period=-1, the parameter ' grace-period' means the Period of time in seconds given to each pod to terminate gracefully. If negative, the default value specified in the pod will be used,.But I called KubectlDrain.gracePeriod(...) , it throws new KubectlException("Timed out

[2020-11-09 05:42] iyashu opened #1367 "ReflectorRunnable Increasing etcd Read Load"
Currently, ReflectorRunnable class uses etcd quorum reads for listing resources(by [passing null for resource version](https://github.com/kubernetes-client/java/blob/1c0f0c879da933046d0587c0bee4a9139f05bf44/util/src/main/java/io/kubernetes/client/informer/cache/ReflectorRunnable.java#L75)) under typical lister-watcher logic. In case of many informers( say~1000s) running across multiple pods, etcd

[2020-11-09 16:04] #1362 closed

[2020-11-09 16:04] #1366 closed

[2020-11-09 17:18] sameer2800 opened #1370 "kubernetes watch API is behaving oddly"
I am running a kubernetes watch on configmaps list. I am running watch in a background thread and looking for watch events continously and updating my cache if there is any event added/modifed. What i am observing is that sometimes the watch events are not coming at all.

[code]
This entire piece of code runs in a background thread. The moment code misses a event, i dont see any more watch events

[2020-11-10 05:22] brendandburns commented on #1370
You should not expect a watch to run forever, you need to list/watch in a loop.

The code is actually semi-thorny to get right, you are probably better off using the `Informer` class in this library that handles much of this logic for you.

[2020-11-10 06:24] sameer2800 commented on #1370
thanks @brendandburns. I  will try out Informer and will let you know.

[2020-11-10 13:15] sameer2800 commented on #1370
@brendandburns  I am seeing similar behavior even with Informer class. Let me know if i have configured something wrong here. It worked for couple of minutes and then suddenly it stopped receiving changelog events.
[code]

[2020-11-10 16:26] #1367 closed

[2020-11-10 16:31] brendandburns commented on #1370
Is it possible that your thread is throwing an exception? If you throw an uncaught exception inside the thread, the thread will terminate.

I would try:

[code]

And see if any exceptions occur. Your code for using the informer looks correct.

[2020-11-10 16:47] yue9944882 commented on #1370
i think so

[2020-11-11 05:02] sameer2800 commented on #1370
@brendandburns  @yue9944882 I am not running in this a seperate thread because `factory.startAllRegisteredInformers(); ` starts the informers in the background thread.  I am running this in main method itself.  Which part do u want me to put in try catch block ,because initilazing infomer and adding a event handler is one time task and i dont see errors there. And startAllRegisteredInfromers runs

[2020-11-11 16:50] btleedev opened #1374 "Add ability to set OkHttpClient in ApiClient and ClientBuilder"
One of our services monitors multiple Kubernetes clusters that can be added and removed by our users. Because of this, we're continuously creating instances of the ApiClient. The problem is that this in turn creates an OkHttpClient with a new connection pool and dispatcher.

As far as I can tell there's no way to avoid creating a new connection pool and dispatcher when we create the OkHttpClient.

[2020-11-12 07:34] sameer2800 commented on #1370
@brendandburns  I have not changed any timeout variables. i see default for listNamespacedConfigMapCall is set to 5 mins.
[code]

[2020-11-12 09:48] yue9944882 commented on #1374
@btleedev SGTM, plz feel free to send a pull for the purposing change

[2020-11-12 10:46] yue9944882 commented on #1370
you code looks good, the informer will retry reconnecting the kube-apiserver every 1 second if the server goes unavailable. and watch connection will be re-established once the server is up.

https://github.com/kubernetes-client/java/blob/a43fa935ec86b4b29b58b7973c54faba406fd144/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java#L38-L39

did you set the read-timeout to infin

[2020-11-12 16:53] sameer2800 commented on #1370
@yue9944882 yes.
[code]

I tried changing the timeouts too. dint help. in my last run, I could see it working for hours. then it stopped receiving the events. I started with debug mode on. I neither see exceptions nor errors.

[2020-11-12 18:56] brendandburns commented on #1370
I'm actually not sure if you want infinite timeout? In a flaky network, is it possible that the something is not sending a TCP reset on the severing of a network connection? I've seen situations where a TCP reset isn't sent and the system holds a TCP connection open, but there's no traffic flowing.

I would actually set a non-infinite timeout (5 minutes?) and see if that fixes things.

[2020-11-13 05:32] tlawrie opened #1377 "Retrieving secret returns bad malformed data"
When using the listNamespacedSecret() method to retrieve a secret along with the getData() method, the data in the secret is malformed i.e.

[code]

Where as `data: {authenticated-emails-list=[B@85e4898}` should be base64 encoding string.

This is SDK version 10.0.0

[2020-11-13 06:43] yue9944882 commented on #1377
@tlawrie the values under `data` are the base64 decoded byte arrays. you dont need to do the manual encoding.

[2020-11-13 07:02] tlawrie commented on #1377
Hi @yue9944882 that is correct.

The output above is the toString() of the V1Secret object returned by listNamespacedSecret().

I am trying to do secret.getData().getKey("authenticated-emails-list") and decode the data.

However its returning "Illegal base64 character". and the data returned of `[B@85e4898` does not match what I see when I do kubectl get secret -o yaml.

[2020-11-13 07:42] sameer2800 commented on #1370
@brendandburns thanks for the suggestion and i will try and let you know

[2020-11-13 16:23] brendandburns commented on #1377
`"[B@85e4898"` looks like the Java representation of a byte array, not the byte array itself, I suspect that you are doing the following:

`decodeBase64(secret.getData().getKey(...).toString())`

That's not going to work, since the `byte[]` toString doesn't provide the data in the byte array.

If that is what you are doing, you should pass the raw byte array to `Base64.Decode.decode(...)` instead

[2020-11-14 16:54] brendandburns opened #1383 "Examples can be out of sync with the released library."
When we re-generate the code, the APIs can change (e.g. the number of parameters) so the checked in examples are compatible with HEAD rather than with the latest release of the library.

We need to figure out a way to both have the examples work at HEAD but also have examples that work with the most recently released library. Perhaps a separate directory?

cc @yue9944882 wdyt?

[2020-11-16 07:17] yue9944882 commented on #1377
no, the other way round. the `byte[]` under key `"authenticated-emails-list"` is already decoded. if it's originally a `String` then just cast to `String` will work.

^^^ you're supposed to do base64 encoding instead of decoding to compare the values.

[2020-11-16 11:44] yue9944882 commented on #1383
@brendandburns i think so. in #1386, i separated examples into two sub-module for release-10 and release-11 (the yet coming release) and meanwhile there's a symlink file named release-last that points at release-10 which is used by the README page. so next time when we start a release-12, we just need to switch release-last to release-11 and remove release-10. wdyt?

[2020-11-16 16:26] brendandburns commented on #1377
But just to be super clear: `"[B@85e4898"` is `byte[].toString()` not the content of the byte array. (https://stackoverflow.com/questions/1040868/java-syntax-and-meaning-behind-b1ef9157-binary-address)

[2020-11-16 20:32] ldayton opened #1387 "getting a continue token to run CRD watch in a loop"
Hi, following the advice in other issues I'm trying to run `watch()` in a loop. I'm watching for a CRD using the custom objects API. I've looked through the objects returned in the debugger and I can't find a continue token to use, or a resource version to use, so that after a timeout I can resume the watch from where I left off. Is there a way to do this?

Here's an minimal example:

[code]

[2020-11-16 21:39] brendandburns commented on #1387
Your object should have a `metadata.resourceVersion` field which contains the resource version.

That said, it's likely that an [Informer](https://github.com/kubernetes-client/java/blob/master/examples/examples-release-10/src/main/java/io/kubernetes/client/examples/InformerExample.java) is easier to use than doing watches directly yourself.

[2020-11-16 22:38] tlawrie commented on #1377
Thank you everyone for your help.

The code that ended up working is below for future people searching.

[code]

[2020-11-16 22:38] #1377 closed

[2020-11-17 01:21] ldayton commented on #1387
Indeed there is a `metadata.resourceVersion`. I must have missed it. Thanks. I'll check out `Informer` too.

[2020-11-17 01:21] #1387 closed

[2020-11-17 02:52] Sherlock-Harden opened #1390 "How can I update ConfigMap"
[code]

Prompt modification unsuccessful, return Error codes 422
Where did I make a mistake?
Please help me to check it.
thank you.

[2020-11-17 16:46] brendandburns commented on #1390
422 indicates that your patch is malformed. It looks like you are using JSON patch, so you need to explicitly tell the system that you are doing that. We have utilities to make this easier.

Please have a look at the example here:
https://github.com/kubernetes-client/java/blob/master/examples/examples-release-10/src/main/java/io/kubernetes/client/examples/PatchExample.java

[2020-11-17 16:47] brendandburns commented on #1383
Makes sense to me. I'm going to close this issue since #1386 merged.

We may want to add this symlink stuff as a maven task in the pom.

[2020-11-18 00:54] #1390 closed

[2020-11-18 00:57] Sherlock-Harden commented on #1390
Thanks a lot

[2020-11-18 02:44] dengyongfu commented on #938
404  了

[2020-11-19 02:47] Logan-Gong opened #1393 "Access Service-Catalog in k8s"
How to use java interface for access service-catalog api just like ''/apis/servicecatalog.k8s.io/v1beta1/serviceinstances" ?

[2020-11-19 03:39] brendandburns commented on #1393
That API is a custom resource (CRD) there are details about how to generate CRD code here:

https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

[2020-11-19 03:39] #1393 closed

[2020-11-19 10:09] nusguoqi opened #1394 "When I use KubectlCordon, appears NullPointerException. After adding ModelMapper.refresh, resolved with local environment, but appears NullPointerException again when I run it in Linux by java -jar"
Exception as follows
ERROR c.icbc.ydjr.paas.kube.impl.KubeClientApiHelperImpl - kubectlOperate Error
java.lang.NullPointerException: null
        at io.kubernetes.client.extended.kubectl.Kubectl$ApiClientBuilder.getGenericApi(Kubectl.java:259)
        at io.kubernetes.client.extended.kubectl.Kubectl$ResourceBuilder.getGenericApi(Kubectl.java:293)
        at io.kubernetes.client.extended.kubectl.Ku

[2020-11-20 19:20] brendandburns commented on #1394
API discovery isn't working properly. My guess is that it is because your linux environment doesn't have the right credentials for your Kubernetes cluster, but I'm not certain.

The basic problem is that the ModelMapper doesn't have an entry for the `V1Node` class.

You could manually add the mapping (eg. `ModelMapper.addModelMap("", "v1", "node", "nodes", V1Node.class)`

which should resolve the

[2020-11-21 15:17] #1000 closed

[2020-11-24 00:11] #1394 closed

[2020-11-24 13:27] d47853 opened #1398 "UpdateWatchEventFilter and DeleteWatchEventFilter's javadoc are mixed up"
The Javadoc on the two event filters seems to clash with what is implemented in the KubernetesControllerFactory, specifically in the in the [UpdateFilterAdapter](https://github.com/kubernetes-client/java/blob/e28c5c03af8f1bc5ce9e4c2a48cfb1baea8a10f8/spring/src/main/java/io/kubernetes/client/spring/extended/controller/factory/KubernetesControllerFactory.java#L253) and [DeleteFilterAdapter](https://

[2020-11-24 17:14] brendandburns commented on #1398
Feel free to send a PR with the fix. Thanks!

[2020-11-24 17:45] synox opened #1399 "PatchExample.java: String "applyYamlStr" contains json"
While the variable mentions yaml, the content is JSON. It still seems to work.

https://github.com/kubernetes-client/java/blob/7f6107250891fd953c47d1a025efa893867cd319/examples/examples-release-11/src/main/java/io/kubernetes/client/examples/PatchExample.java#L50-L51

[2020-11-24 19:39] tony-clarke-amdocs commented on #1370
@sameer2800 where you able to resolve this?

We are starting to see the same symptoms on AKS (Azure Kubernetes Service, K8S 1.18.8) for CR instance. After about 5 minutes the informer stops seeing any updates (new/update/delete). We are running with the 9.0.1 release. We updated to 10.0.1 but no difference.

@brendanburns you suggested to run with a read timeout that is not zero, but the 10.0.0 re

[2020-11-25 06:42] #965 closed

[2020-11-25 08:17] liavyona opened #1400 "Why does deleteNamespacedServiceAccount return V1ServiceAccount while other resources delete methods return V1Status?"
I have a list of resources which I work generic with (using reflection). I have a list of future tasks to delete them all. All resources delete methods return `V1Status` while `deleteNamespacedServiceAccount` returns `V1ServiceAccount` why is that?

[2020-11-25 09:16] liavyona commented on #1400
I tried to convert it myself by:
[code]
It returns successfully but the details and status attributes are null.

[2020-11-25 09:55] liavyona commented on #1400
I found that [this](https://github.com/kubernetes-client/java/commit/957492b92540aa6378d9045874b58e18507e937a#diff-a9fb373489afead3256afc6495ab90ee20f3a0ae0b44aa1f65342c8016b8bb8c) commit changed the return type of `deleteNamespacedServiceAccount` alongside other kubernetes resources which have been changed too (PersistVolume, Pod etc.). On the other hand, Service, Secret, ConfigMap and others rem

[2020-11-25 16:10] brendandburns commented on #1400
All of this is generated from the Kubernetes OpenAPI specification here:

https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json

The truth is that delete can either return a V1Status or the object itself (see #86 for more discussion) but this isn't well represented in the OpenAPI specification.

If we wanted to correct this, we need to update the OpenAPI spec

[2020-11-25 16:11] brendandburns commented on #1399
As of YAML 1.2, YAML is a super-set of JSON, so all JSON is valid YAML.

[2020-11-25 16:32] brendandburns commented on #1370
cc @yue9944882

See some related discussion here:
https://github.com/kubernetes/kubernetes/issues/65012

@tony-clarke-amdocs for AKS specifically see the discussion here:
https://github.com/Azure/AKS/issues/1755

I think we should:
a) re-enable non-zero timeouts
b) make sure we're sending TCP Keep-Alive

eventually:

c) switch from Web Sockets to HTTP/2 and add health checks.

[2020-11-25 18:38] tony-clarke-amdocs commented on #1370
@brendandburns I noticed that the watch call sets the timeout to 5 minutes. See [here](https://github.com/kubernetes-client/java/blob/client-java-parent-9.0.1/util/src/main/java/io/kubernetes/client/informer/cache/ReflectorRunnable.java#L107). Given that we no longer see watch events after 5 minutes...I tend to think this is not a coincidence?
Any idea how we make sure to send TCP keep-alive? We a

[2020-11-26 00:02] tony-clarke-amdocs commented on #1195
/remove-lifecycle stale

[2020-11-26 05:04] #921 closed

[2020-11-26 09:27] anupreet5 commented on #1002
It seems like this issue is still not resolved.
I'm facing the same problem when my service is running inside the kubernetes environment and the pod automatically gets killed after some time (OOMKilled) with the usage of "listNamespacedPod". This is with version 10.0.0.

However as advised by Francesco, I moved to version 5.0.0 and the issue is no more seen.
I think some resolution should be done

[2020-11-26 11:39] yue9944882 commented on #1002
/reopen

[2020-11-26 11:43] yue9944882 commented on #1002
@fvigotti @anupreet5 can you share me how to reproduce the leakage? alternatively you can move to the informer to watch the changes.. it's proven in our production at least..

[2020-11-27 05:28] #964 closed

[2020-11-27 05:35] anupreet5 commented on #1002
For recreating the issue you can create a simple spring boot scheduler with a high frequency and call the api mentioned in 1st comment (or alternatively you can also put it in for loop).
Run this application in a kubernetes cluster, do analyze the memory while running this, after some time OOM!

Sample code:

`
  @PostConstruct
  private void init() throws IOException {
    ApiClient client = Clie

[2020-11-28 10:40] fomin-zhu opened #1403 "Why is the value of containerPort in V1ControllerRevision float?"
![image](https://user-images.githubusercontent.com/15045711/100508553-aeb07a00-31a8-11eb-8240-24a0c1e41a74.png)

[2020-11-28 21:33] brendandburns commented on #1403
The `data` field in `V1ControllerRevision` is unstructured data (it's `Object` in the class). That means that it has the default JSON object representation and in JSON/Javascript all numbers are floats.

Closing this issue, since the question is answered. Please use `/reopen` if you need further assistance.

[2020-11-28 21:33] #1403 closed

[2020-11-29 10:20] #1011 closed

[2020-11-30 05:39] #1030 closed

[2020-11-30 10:37] dsyer opened #1406 "Source jars not generated for snapshots locally"
I can see there is some confusion about source jars (#598 #597), but there are no source jars available locally when I build this project from source. I am confused because I see source jars in Maven Central (for releases), but no sign of how they got there. I also don't know if there is a snapshot repository (I see no sign of it in the poms) where I can get them if I don't want to build locally.

[2020-11-30 15:25] dsyer commented on #1196
I'm pretty sure the problem is nothing to do with the IDE. If you build this project with Java 11 and then run an app that uses it with Java 8 you will see the same result (the fix is to use Java 8 for both). Hope that helps someone.

[2020-11-30 17:23] brendandburns commented on #1406
How are you building locally? I believe that if you `mvn package` you should get source jars included.

[2020-11-30 17:23] brendandburns commented on #1406
(there's no snapshot repo, unfortunately, it would be nice to add)

[2020-11-30 17:29] afahmy11 commented on #716
hi pattyphonemany691
what was the exact fix you applied?

[2020-11-30 17:59] dsyer commented on #1406
I think you mean `mvn install`. But, no, that isn’t working (no source jars).

[2020-11-30 18:09] anupreet5 commented on #1002
Just an update, I saw the issue even in 5.0.0
I analyzed the heap dump and I suspect it is caused by "com/squareup/okhttp/ConnectionPool".

@yue9944882 Can you please check?

[2020-11-30 18:26] pattyphonemany691 commented on #716
@afahmy11 atthe time, we found that the `NodeRestriction` admission controller preveneted `system:node`s from creating PVCs. https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/noderestriction/admission.go#L156

[2020-12-01 10:57] dsyer commented on #1406
You have snapshot deployment distribution configured in the top level pom. Have you tried using it?

[2020-12-01 12:24] d47853 commented on #1398
I'll probably get a bit of time next week if that's alright

[2020-12-02 18:26] #1406 closed

[2020-12-02 18:33] brendandburns commented on #1002
I think it is because you are creating a new HTTP Client every time your "refreshKubernetes()" function is called, since you are instantiating `CoreV1Api` in that function. You should instantiate that once outside of the function and just use it in your function.

[2020-12-02 21:04] synox commented on #1399
Thanks, great to know 👍🏻

[2020-12-02 21:04] #1399 closed

[2020-12-03 12:53] anupreet5 commented on #1002
I did verify that as well, however still the same behavior.
Also I checked the CoreV1Api constructor and felt like it doesnt do any big work, so kept it inside.

Anyway I had a chance to debug more on this.
It seems like there's isnt any memory leak from the code perspective, however for some reason the garbage collection is not happening. I observed the memory consumption through VisualVM, manual

[2020-12-03 14:11] dsyer opened #1411 "Use JDK for date time not Joda"
Joda is not a good choice for a modern library. I doubt if anyone who uses the Kubernetes SDK needs it. Unfortunately it's not easy to get rid of because some of the generated code uses it. You can change the options in the code generator (https://openapi-generator.tech/docs/generators/java/) so that's what we should do I believe, but that involves changes to the "gen" project in kubernetes-client

[2020-12-03 14:13] dsyer opened #1412 "Use JDK instead of Guava"
Guava is a poor choice of a dependency for a library jar because it changes a lot and binary incompatibilities arise frequently downstream. It isn't used all that much in this project so it should be easy to get rid of. There was a comment in #1261 to this effect, but perhaps not enough focus for anyone to take any action.

Example: `io.kubernetes.client.util.ModelMapper` uses a mixture of utiliti

[2020-12-03 17:16] brendandburns commented on #1412
I don't feel strongly about this. I've never had any problems with Guava that you describe, but I don't think we're wedded to it either. If you want to send PRs to go towards other libs, we'd be happy to review, but I don't think it is a high priority.

[2020-12-03 17:17] brendandburns commented on #1411
You can definitely file PRs on the gen repo and then they'll get picked up the next time we regenerate the code. We do that all the time.

[2020-12-03 17:34] dsyer commented on #1412
I think we can get pretty close without too much impact. But there are some harder to fix parts as well, that might indicate other issues (e.g. `ModelMapper` as mentioned above does a classpath scan using Guava's `ClassPath` which won't work in a native image binary, so I would prefer to replace with something else anyway, like a properties file). I'll see what I can do.

[2020-12-03 17:36] dsyer commented on #1411
It's not that simple unfortunately. The change required in "gen" is trivial, but it would break the build here because of the `JSON` utility class (mostly). I don't understand that code well enough to see how you could fix it. Is it originally auto-generated but now somehow manually maintained?

[2020-12-04 02:45] ellocano commented on #86
Hi, is this issue resoved? or is there any way to avoid this error?

[2020-12-04 10:33] dsyer commented on #1411
Also, this is a binary incompatible change, not only for the generated API objects, but also e.g. methods like `ProcessorListener.shouldResync()`. So I think we should do it, but it would have to be version 11 and the change would have to be documented and socialized properly. Would that work?

[2020-12-04 12:42] yue9944882 commented on #1411
am not sure why we picked joda time in the past, but given that it's been there for a period of time, migrating to the standard date library will be incompatible and costy. e.g. switching the type for all the utility classes @dsyer can you elaborate why we need to this specifically? i'm leaning on the remaining the current state if it's just for looking good aesthetically.

besides, we uses a cust

[2020-12-04 13:03] dsyer commented on #1411
From the Joda README:

and

Since Kubernetes client only supports Java 8 and above I think it's harmful to expose users to a legacy library that has been superseded by the core runtime. I struggle to conceive how joda-time was ever chosen as a date time library for this SDK.

For sure it is a big change (as I already said, and demonstrated), but I really think it's worth it.

I'm pretty sure that

[2020-12-04 14:25] tony-clarke-amdocs commented on #1370
@brendandburns @yue9944882 I think I have figured this out. The `standard` client doesn't include http2 protocol.
[code]
We need to add the following to add http2 and a pinginterval.
[code]
With the above change the watch doesn't hang and it all is good.

Does it make sense that the `standard` build includes something like this by default? I think it should at least include HTTP_2 protocol.

[2020-12-04 15:49] dsyer commented on #1254
Adding `.spec.preserveUnknownFields=false` in the YAML seems to work. The canonical example from the docs _doesn't_ have that flag though (https://gist.githubusercontent.com/yue9944882/266fee8e95c2f15a93778263633e72ed/raw/be12c13379eeed13d2532cb65da61fffb19ee3e7/crontab-crd.yaml). Maybe something needs to be added to the documentation?

[2020-12-05 16:39] #1195 closed

[2020-12-06 16:25] brendandburns commented on #1370
That change seems fine to me.
@yue9944882 wdyt?

[2020-12-07 05:26] yue9944882 commented on #1002
@fvigotti @anupreet5 are you constructing multiple `ApiClient` instances in your code? one significant difference between 5.0.0 and 6.0.1 is that it bumps okhttp dependency from 2.x.x -> 3.x.x. i noticed thread leakage when we landed 6.0.1 in the first, and i believe that's caused by the following code from okhttp library where the [clean-up thread-pool](https://github.com/square/okhttp/blob/06644

[2020-12-07 09:36] anupreet5 commented on #1002
No no, I'm instantiating it just once.

As stated in my previous comment, I am no more seeing the issue (with 5.0.0 as well as 10.0.0) by using those vm args.
Those will make sure that GC happens if the memory reaches near the limit.
Ideally without those args, GC should be done when it is going OOM, but for some reason it doesn't.

Anyone facing this issue can try setting those flags according to

[2020-12-07 09:38] LoganKung commented on #1393
It will generate "pretty","dryRun","fieldManager" parameters in the url of POST request when I use "createNamespacedCustomObject" function. This is not supposed to be. I found it by tracking the "localVarpath" and other variables related to the request during the debug process. Then  program will throw ”Unprocessable Entity“ Exception. But it will succeed when I call svc-catalog's api directly wit

[2020-12-07 14:43] dsyer commented on #1196
Another possibility is that it is a JDT bug/quirk (so it affects all Eclipse and VSCode users). The fix is trivial in that case - just cast the method reference to `Runnable`.

[2020-12-07 14:50] dsyer opened #1421 "Spring PrometheusScrapeEndpoint duplicates features in Spring Boot"
The `PrometheusScrapeEndpoint` bears a very close resemblance to the class of the same name in Spring Boot. I don't see any issues discussing why it is there, but maybe there's some background I'm not aware of. In any case I think it would be better to simply use the "standard" Spring Boot endpoint, unless anyone knows better. (N.B. because of https://github.com/spring-projects/spring-boot/issues/

[2020-12-07 15:34] dsyer opened #1422 "Dependecy hygiene: sundr-codegen should be optional"
As was noted here, the sundr code generation processor pollutes the classpath of downstream projects (including, ironically, the "extended" jar in this project, which is using commons-lang classes from the sundr jar): https://github.com/sundrio/sundrio/issues/153. Sundr really shouldn't be shading 3rd party libraries without repackaging, but it's kind of a nightmare for users of the k8s client jar

[2020-12-08 02:05] brendandburns commented on #1422
I'm fine with this being an optional dependency.

[2020-12-08 02:05] brendandburns commented on #1422
I'm also ok moving to a different builder generation library if there is a better option, but I haven't seen one.

[2020-12-08 20:43] sarveshkaushal commented on #1129
@brendandburns - does this still require work?

[2020-12-09 15:56] #1422 closed

[2020-12-10 12:38] yue9944882 commented on #1421
@dsyer the prometheus endpoint from this project will not be activated unless `"kubernetes.actuator.prometheus.enabled"` property is set. as for the compatibility w/ spring-boot's standard actuator endpoint, i opened https://github.com/kubernetes-client/java/pull/1429 to allow the existing metrics registering onto a custom registry.

the gap is that spring-boot uses micrometer as the default SDK i

[2020-12-10 14:09] dsyer commented on #1421
#1429 would be a good addition as we could then wire in the `CollectorRegistry` provided by Spring Boot. I also think we should immediately remove the `PrometheusScrapeEndpoint` from this project and replace it with a `@Bean` that exposes the default `CollectorRegistry` - that way the user can see k8s metrics on `/actuator/prometheus` with the "standard" Spring Boot configuration flag (e.g. `manag

[2020-12-10 17:40] #1089 closed

[2020-12-10 18:34] #1412 closed

[2020-12-11 03:46] yue9944882 commented on #1421
added another commit removing the actuator endpoints w/ the same name. plz feel free to review. thanks.

[2020-12-11 07:30] dsyer commented on #1421
That was what I had in mind. I'm not really sure why we have a `LazySingletonCollectorRegistry`. I was thinking it would just be

[code]

I'll add some more review comments to the PR if you like.

[2020-12-11 08:11] yue9944882 commented on #1421
conventionally, we're supposed to register the metrics as static final fields, right? `LazySingletonCollectorRegistry` accepts collector-registry injection from spring bean context and provides static getter so that the static metrics registration can work. wdyt?

for sure

[2020-12-11 09:08] dsyer commented on #1421
I don't know about that convention. It seems inconsistent with the idea that you can inject a `CollectorRegistry` into a constructor (which is most of the point of #1429 if I'm not mistaken). Anyway, that's not the point, the point is to persuade Spring Boot to use the same `CollectorRegistry` and you can do that just by re-using the global `CollectorRegistry.defaultRegistry`. That will lead to pr

[2020-12-11 10:49] yue9944882 commented on #1421
that's one of the reasons why i added `LazySingletonCollectorRegistry`. while we can work-around integration tests failure but passing a CollectorRegistry doesn't work for a few other classes in the Kubernetes Client, e.g. non-singleton classes such as Controller. if we're registering the metrics as a part of the constructor, the registration will abort complaining on the duplicated metrics name.

[2020-12-11 13:16] dsyer commented on #1421
Then we have to stop using global statics, right? Or stick to `CollectorRegistry.defaultRegistry` (which was my first suggestion as it's easier).

[2020-12-12 13:27] #1074 closed

[2020-12-12 22:36] #1073 closed

[2020-12-13 02:40] #1069 closed

[2020-12-14 01:16] topjung3 commented on #1340
I guess it relates to https://github.com/kubernetes-client/java/issues/177. Should be used Gson or this (https://stackoverflow.com/questions/35359430/how-to-make-jackson-ignore-properties-if-the-getters-throw-exceptions/35416682)

@brendanburns
Could be supported ObjectMapper using POJO?

[2020-12-14 09:45] yue9944882 commented on #1421
/close

closing solved issue

[2020-12-14 09:45] #1421 closed

[2020-12-14 10:04] cheungjingyu opened #1439 "nested exception is io.kubernetes.client.openapi.ApiException: Forbidden"
kubernetes cluster was reloaded.
------------------
ApiClient client = ClientBuilder.cluster().build();
Configuration.setDefaultApiClient(client);
CoreV1Api coreV1Api = new CoreV1Api();
V1PodList aDefault = coreV1Api.listNamespacedPod("default", null, null, null, null, null, null, null, null, null);
log.info(JSONUtil.toJsonStr(aDefault));
----------------------------
nested exception is io.kuberne

[2020-12-14 22:18] brendandburns commented on #1439
It is very likely that your Pod doesn't have RBAC permissions to list pods.

See: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#service-account-permissions

For more details

[2020-12-15 04:24] yue9944882 opened #1441 "Cutting 11.0.x releases"
@brendandburns as a new release of k/k is out last month, let's cut a new major release wdyt?

[2020-12-15 09:27] dsyer opened #1442 "Implement StatusWriter so you can patch just the status field in an API object"
In the Java client is there an equivalent of StatusWriter in Go (where you can update just the status of an API object)? I don't see it anywhere so I guess this is a feature request.

[2020-12-15 09:29] dsyer opened #1443 "Implement FieldIndexer for efficient querying of owned objects"
Glolang has a `client.FieldIndexer` (in `sigs.k8s.io/controller-runtime/pkg/client`) that enables (I believe) efficient querying of objects owned by a controller. I don't see anything like that here, so I guess it's a feature request.

[2020-12-15 17:25] dsyer commented on #1442
I managed to patch a status using code a bit like this. I hope I did it wrong and there's a better way (`object` is a `KubernetesObject`):

[code]

where `ParentPatch` is:

[code]

If that really is the best way to do it then `StatusWriter` would be very helpful.

[2020-12-15 17:35] brendandburns commented on #1441
Sounds good to me.

[2020-12-15 17:39] brendandburns commented on #1442
I think that this is the best way to do it. There are methods for updating status for concrete objects (e.g. patchNamespacedPodStatus) but it's not any easier to use.

Probably worth adding the the existing patch utilities, rather than adding a new 'StatusWriter' but I think adding utility methods is a good idea.

[2020-12-15 17:42] brendandburns commented on #1443
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/informer/impl/DefaultSharedIndexInformer.java#L253

But we don't have an implementation of that interface for Fields afaik. It would be a good addition.

[2020-12-15 17:47] dsyer commented on #1442
OK, so that's useful to know. Can you explain why there is this logic in `ApiClient` with no obvious way to change it:

[code]

where `contentTypes` is a hard-coded array (here from `patchNamespacedCustomObjectStatusCall()`):

[code]

so it always responds with the same value (the first one).

It's actually easier to create the patch using `application/merge-patch+json`, but I don't see a way to m

[2020-12-16 00:20] brendandburns commented on #1442
Yeah, this code is generated, and it is  not awesome™

We have hacked around it in the `PatchUtils` class:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/PatchUtils.java#L34

Which uses a custom RequestBody:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ProxyContentTypeRequestBody.java

To over

[2020-12-16 13:22] noelmcloughlin opened #1446 "feat(checksums): please provide checksums.txt"
Can you provide a checksums.txt with releases?

[2020-12-16 22:06] brendandburns commented on #1446
The releases are all done through Maven which as far as I know already includes checksums.

Can you clarify what you are looking for?

[2020-12-16 23:59] noelmcloughlin commented on #1446
GitHub releases often provide checksums Assets - either "checksums.txt" or ".sha256" files for each asset depending on how the release assets are generated here: https://github.com/kubernetes-client/java/releases/tag/client-java-parent-10.0.0

[2020-12-17 02:00] brendandburns commented on #1446
We don't provide any assets there except the ones that Github automatically creates (the zipfile of the source at a specific commit)

I don't know if there is a way to remove those, but I will see, because I don't think that is the way we want to distribute the library.

Our recommended way of consuming the library is via maven.

[2020-12-17 02:01] brendandburns commented on #1446
Update: I looked at the 'edit the release' and there's no way to remove those zipfiles.

I'm going to close this issue, since I don't think that us providing checksums for zip files that GitHub creates adds much value or trust (and we'd prefer we could opt out of those zipfiles anyway)

[2020-12-17 02:01] #1446 closed

[2020-12-17 09:03] noelmcloughlin commented on #1446
Please don't remove the GitHub assets. Stay compliant with license.  It is a convention in cloud-native CNCF projects and Apache 2.0 license to deliver the source and I'm consuming those assets as the end-user.

[2020-12-17 17:41] #86 closed

[2020-12-18 00:07] ryanjbaxter commented on #1441
@brendanburns @yue9944882 do you think that we could get a release by December 21st?

[2020-12-18 11:09] kalyan123i commented on #1342
HI, +1
I face similar issue when connecting it AKS

[2020-12-18 11:56] kalyan123i commented on #1342
Fixed it by disabling the ssl over the proxy, this is not preferred for prod and pre-prod clusters. Only for testing and debugging lower environments :)
ref : https://stackoverflow.com/questions/42288868/okhttp3-accept-all-certificates-and-use-a-certificatepinner/43120474

@mxtsuper

[2020-12-18 17:03] brendandburns commented on #1342
Can you send the Java version (and OS) that you are using?

And when you say "over a proxy" what do you mean? is there an HTTP proxy between you and AKS?

[2020-12-18 17:04] brendandburns commented on #1232
Closing this issue, please file a new issue if you need further assistance.

[2020-12-18 17:04] #1232 closed

[2020-12-18 19:04] ryanjbaxter opened #1449 "V1ServiceSpec Not Deserialized"
When I retrieve services from K8S it appears the spec data is not deserialized.  I cannot understand why.  Any insights or if there is a way to customize the `Excluder` so that it can be deserialized?

[2020-12-19 00:32] brendandburns commented on #1449
It should be deserialized.  What version of k8s? and what version of the client?

Can you dump the YAML using kubeclt and attach it to this issue? (anonymize as needed obviously)

[2020-12-19 01:41] ryanjbaxter commented on #1449
Thanks @brendanburns, it is something specifically about this service

[code]

If I fetch the `kubernetes` service I get the `spec` data.

I don't see a difference between the two.

I am using k8s 1.17 and the client is 10.0.0.

[2020-12-19 01:51] ryanjbaxter commented on #1449
Here is the YAML I applied to create the service

[code]

[2020-12-19 03:03] ryanjbaxter commented on #1449
I figured out the problem.  We had some Gson configuration that was excluding the spec that I was not aware of.  Sorry for the noise.

[2020-12-19 03:03] #1449 closed

[2020-12-19 03:11] WywTed opened #1451 "Is there an example for webhook. Such as MutatingWebhook"
/question

[2020-12-19 16:11] brendandburns commented on #1451
No there's no example for that, but you should be able to use the docs here:

https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

To create one.

The relevant class is here:
https://github.com/kubernetes-client/java/blob/517ddc592d0a2347016bbb4e5f4122d38c4c1e66/kubernetes/src/main/java/io/kubernetes/client/openapi/models/V1MutatingWebhook.java

If you do crea

[2020-12-19 16:11] #1451 closed

[2020-12-21 03:27] brendandburns commented on #1441
There seems to be something odd going on with pushing a release. I will work on it, but I'm not positive that I can get it done by end of day on the 21st.

[2020-12-21 05:02] yue9944882 commented on #1443
@dsyer custom indexer is supported, the unit-test shows how to do the customization:

https://github.com/kubernetes-client/java/blob/36184250027a162a038ad9a855faf4a5bf93df49/util/src/test/java/io/kubernetes/client/informer/cache/CacheTest.java#L165

[2020-12-21 06:17] brendandburns commented on #1441
Ok, I figured it out, things are pushed out to sonatype:

https://oss.sonatype.org/service/local/repositories/releases/content/io/kubernetes/client-java/11.0.0/client-java-11.0.0.jar

They should be in Maven Central in ~24hrs

[2020-12-21 19:16] ryanjbaxter commented on #1441
Thanks I see it there now.

On Mon, Dec 21, 2020 at 1:17 AM Brendan Burns <notifications@github.com>
wrote:

[2020-12-22 16:20] monoj commented on #1269
@brendandburns

I think i am missing something, but i am unable to get the current `resourceVersion` when i make a below call. The `resourceVersion` is null. What is the correct way to read a secret that also gives me `resourceVersion`, so that i can use it for optimistic concurrency writes ?

`new CoreV1Api().readNamespacedSecret(secretName, namespace, DEFAULT_PRETTY, true,
          true)`

[2020-12-23 02:42] brendandburns commented on #1269
@monoj the resource version should be in `V1Secret.getMetadata().getResourceVersion()` or similarly for ConfigMaps.

[2020-12-24 20:49] Ghatage opened #1458 "Use of SecureRandom() in APIClient is non-FIPS compliant"
In the APIClient.java, on [Line 1365](https://github.com/kubernetes-client/java/blob/a3e5a3234e9f96adb3de10c1770191b6831acf8e/kubernetes/src/main/java/io/kubernetes/client/openapi/ApiClient.java#L1365) in the function applySslSettings() we are initializing the `sslContext` object with `new SecureRandom()`
This is incorrect as when we run any application using this API in FIPS mode, the application

[2020-12-25 02:24] xwx606986 opened #1459 "io.kubernetes.client.openapi.ApiException: Forbidden"
hello, I have a problem with io.kubernetes.client.openapi.ApiException: Forbidden，When my client use conf like this
![image](https://user-images.githubusercontent.com/54342359/103114743-dce78380-469a-11eb-9f9c-3f597867d7e3.png), it's normal and correct,  but When I change the way to get the client like this:
![image](https://user-images.githubusercontent.com/54342359/103114811-1cae6b00-469b-11eb-9

[2020-12-25 02:25] xwx606986 commented on #1459
way 1:client = ClientBuilder.kubeconfig(KubeConfig.loadKubeConfig(new FileReader(filePath))).build();-------normal
way 2: client = ClientBuilder.cluster().build();  ------- forbbiden

[2020-12-27 16:45] brendandburns commented on #1441
Closing this since the release is out and the `11.0.0` PR is merged.

[2020-12-27 16:45] #1441 closed

[2020-12-27 16:50] brendandburns commented on #1458
This code is generated. If we want to make this change it needs to be made here:

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache#L1525

I think the right thing to do is to add a `setRandom(...)` method to the ApiClient to allow people to insert their own implementation of `Random` if they want

[2020-12-27 16:52] brendandburns commented on #1459
this is a duplicate of #1439. specifically  the service account associated with your Pod probably doesn't have the right RBAC permissions.

(this is assuming this code is running in a Pod, if it is not running in a Pod, then this code isn't expected to work anyway)

Closing this b/c this is covered in #1439

[2020-12-27 16:52] #1459 closed

[2020-12-27 16:53] brendandburns commented on #1439
We should perhaps add this as a FAQ entry in the docs because this is the second time this question has been asked in ~2 weeks.

[2020-12-28 17:42] kalyan123i commented on #1342
@brendanburns
I am using java version 8 and Os is via windows. I am using the AKS cluster at microsoft. We have proxy in organization to talk to internet. So, we have to offload the proxy there , to make the current client version (10.1) work.

I am no issue till version 6.X from 7.X and above i see this issue...
For any k8's version i see same issue

Sample code what i have done.

`SSLContext ssl

[2020-12-29 08:36] qiankunli opened #1462 "can not watch object"
client-java version: 9.0.1
Environment：
![image](https://user-images.githubusercontent.com/8024725/103278611-dba1b800-4a06-11eb-9762-fabaef2ba1d3.png)

watcher/informer can not trigger add/update/delete handler logic after ip=2.2 host restart.

watch code
[code]

haproxy config
[code]
I guess that  client-java connect to 3.3 and connect to 2.2, when 2.2 restart, client-java connect to 2.1 , but ca

[2020-12-30 06:37] yue9944882 commented on #1462
@qiankunli it seems to be connected w/ improper settings on ha-proxy. does ha-proxy do backend connection management? e.g. the ha-proxy instance may keep the long connections to the backend instances even if no request is being served by ha-proxy. the connection management can be conflicting w/ such long-running requests as WATCH.

[2020-12-30 06:57] yue9944882 commented on #1458
https://github.com/kubernetes-client/java/blob/eb94f2bbb8671a1f2c81efa353796803b2f7a82a/kubernetes/src/main/java/io/kubernetes/client/openapi/ApiClient.java#L1369

@Ghatage as far as i can see you can work-around by overriding socket-factory after the `ApiClient` instance is created. you can use the custom `Random` by re'newing an socket-factory instance, amiright?

[2020-12-30 20:14] monoj commented on #1269
@brendandburns thank you.

I am doing that `V1Secret.getMetadata().getResourceVersion()`. But the `resourceVersion` value is `null` if i get the `V1Secret` object via `CoreV1Api().readNamespacedSecret()` method. Interestingly, when i get the `V1Secret` object via the `CoreV1Api().listNamespacedSecret()` method, i am getting back the correct `resourceVersion`.

[2020-12-31 02:22] qiankunli commented on #1462
I set `timeout server 20m`  to prevent connection close when running `kubectl exec xx bash`, is that the problem?
[code]

[2021-01-03 16:19] #1398 closed

[2021-01-04 17:23] #1442 closed

[2021-01-04 18:33] #995 closed

[2021-01-05 09:29] #1439 closed

[2021-01-05 10:26] #1411 closed

[2021-01-06 12:16] dsyer opened #1479 "Version 11.0.0 is not marked as "released" in Github"
The artifacts are in Maven Central. Same for 10.0.1. But Github still thinks 10.0.0 is the "latest" release. Some people and tools rely on the Github release process (e.g. dependabot).

[2021-01-06 18:24] brendandburns commented on #1479
Done. We need to improve the automation for `mvn release` so that this happens automatically

[2021-01-06 18:24] #1479 closed

[2021-01-06 18:25] brendandburns opened #1480 "LeaderElectorTest is flaky in GitHub Actions"
It looks like requests to the Kubernetes API server are timing out, here is a detailed log:

[code]

[2021-01-06 18:26] brendandburns commented on #1480
We should consider disabling this test until this is fixed.

[2021-01-06 18:59] hfgbarrigas opened #1482 "Custom authenticator - Forbidden"
Trying to use a gcp service account to make requests. When running within a cluster, although I implemented a custom Authenticator, I'm getting Forbidden.

Here's the authenticator implementation:

[code]

The client is instantiated as follow:

[code]

Any pointers? I'm sure the service account in question has permissions to create namespaced jobs.

[2021-01-07 04:03] elvinfucom opened #1483 "High - CVE-2020-25649 - jackson-databind-2.10.3.jar"
**CVE-2020-25649 - jackson-databind-2.10.3.jar**
A flaw was found in FasterXML Jackson Databind, where it did not have entity expansion secured properly. This flaw allows vulnerability to XML external entity (XXE) attacks. The highest threat from this vulnerability is data integrity.

**Where to reproduce**
[code]
**Expected Behavior**
Upgrade to version com.fasterxml.jackson.core:jackson-databind

[2021-01-07 05:08] brendandburns commented on #1483
Thanks for the note. Since we don't actually use any XML parsing in this library, I don't think we're vulnerable.

Also, we need the flipkart folks to rev their dependency then we can inherit that new dependency.

[2021-01-07 05:10] brendandburns commented on #1482
Are you using a Kubernetes service account? If so, you should just use the standard client, no authenticator is needed.

If you are using a `$KUBECONFIG` file, you need to send us the contents of the file (anonymized of course) so that we can debug further.

In particular, the name needs to match the name of the authenticator in the kubeconfig file.

[2021-01-07 05:30] elvinfucom commented on #1483
Sure, make sense to me. Thanks.

[2021-01-07 06:05] yue9944882 commented on #1480
@brendandburns #1477 will be fixing the failing e2e test

[2021-01-07 11:14] hfgbarrigas commented on #1482
The available `GCPAuthenticator` doesn't support refresh as [#290](https://github.com/kubernetes-client/java/issues/290) seems to indicate.

I'm using a specific service account in a pod running within the cluster. Not keen on using the cluster default svc acc and workload identity is not used in that particular cluster.
Given this, I ended up creating that refreshable authenticator with a svc acc

[2021-01-07 14:22] alextarasov-spot opened #1484 "deleteNamespacedJob throws 'com.google.gson.JsonSyntaxException' exception."
I'm using `BatchV1Api.deleteNamespacedJob` method. This method returns `V1Status` object, the K8s OpenApi specifications says the same - the DELETE method of the `/apis/batch/v1/namespaces/{namespace}/jobs/{name}`  API route returns `io.k8s.apimachinery.pkg.apis.meta.v1.Status` ([K8s OpenAPI swagger](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json))

Wh

[2021-01-07 16:35] brendandburns commented on #1484
Please see the discussion in #86

This should be fixed at HEAD and will be part of the next (12.0.0) release.

[2021-01-07 16:35] brendandburns commented on #1484
Closing since this is a duplicate of #86

[2021-01-07 16:35] #1484 closed

[2021-01-07 20:45] #1129 closed

[2021-01-07 23:35] brendandburns opened #1486 "GraalVM tests are flaky"
[code]

cc @yue9944882

[2021-01-08 17:03] brendandburns commented on #1482
I think you'll need to create a synthetic Kubeconfig file with the authProvider set to 'gcp'

What is missing in your current code is the link between the client and your custom authenticator.

Right now without a kubeconfig file your client detects that it's in a Pod and it uses the Kubernetes Service Account.

fwiw, using the Kubernetes Service Account is definitely a more common approach (and p

[2021-01-08 17:07] brendandburns commented on #1482
You could also consider implementing the `Authentication` interface and use `ClientBuilder.setAuthentication(...)` instead

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ClientBuilder.java#L351

[2021-01-08 22:26] cyrusv opened #1488 "Critical CVE BouncyCastle CVE-2020-28052"
@brendanburns, I see this is already updated in `master` branch. Hoping we can backport to 10.0.x and 11.0.x? Any timeline on when we can have this out, given criticality?

[2021-01-09 20:14] brendandburns commented on #1488
@cyrusv this vulnerability doesn't impact us (afaik) since we don't do password checking via bouncy castle, we just load certificates.

Given this, I'm not sure it's worth a backport.

[2021-01-09 20:15] brendandburns commented on #1223
/lifecycle frozen

[2021-01-09 20:16] brendandburns commented on #1480
I think this is fixed, closing.

[2021-01-09 20:16] #1480 closed

[2021-01-11 07:04] yue9944882 commented on #1486
@brendandburns can you share me a pointer to the actual failing test?

[2021-01-11 07:05] yue9944882 commented on #1488
@brendandburns i agree so

[2021-01-11 12:21] miguelruizdev opened #1489 "copyFileToPod method not working in 11.0.0"
Hello team!
I found a problem with the Kubernetes java client while updating from `10.0.0` to `11.0.0`
This call does not work anymore copy.copyFileToPod(namespace, pod, container, src, destPath) here: https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/Copy.java#L381
the file is not copied and I see this error in the logs:
[code]
Environment and Kubernete

[2021-01-11 14:23] hfgbarrigas commented on #1482
Ended up using k8s service accounts. Though I'm not 100% pleased managing  permissions in two different places, cloud services through iam and k8s workloads through native service accounts, works for now.

Pondered on your suggestion, creating a synthetic kubeconfig or providing a custom authentication. However, felt a bit hacky and decided against it. Closing this since no further action is neede

[2021-01-11 14:23] #1482 closed

[2021-01-11 23:09] brendandburns opened #1491 "CVE-2020-8570: Path Traversal bug in the Java Kubernetes Client"
There is a defect in the copy implementation in `Copy.java` that was fixed in #1450

The summary of the issue is that you copy a file from a malicious pod with a specially crafted tarball, it may extract to any file that your user has permission to write.

This issue was fixed in release `9.0.2`, `10.0.1` and `11.0.0` users are strongly encouraged to upgrade to those versions.

[2021-01-11 23:18] brendandburns commented on #1489
I don't think there are many changes to this code between 10.0.x and 11.0.0

This error looks like the socket was closed somewhere in the stream (e.g. the tar command failing inside your container)

[2021-01-12 01:33] saparaj opened #1492 "Error from server: failed to create typed patch object"
Hi K8s Team,

I am getting below error when I am trying to execute:
kubectl apply --server-side=true --field-manager=kubectl -f nginx.yml

Cluster Version: 1.18.10
Error from server: failed to create typed patch object: .spec.template.spec.containers[name="nginx"].ports: element 0: associative list with keys has an element that omits key field "protocol"

I am getting same error if I use method fr

[2021-01-12 12:43] miguelruizdev commented on #1489
I can see all the async methods added in `11.0.0`.

After trying several times, the error comes up with the change of the version of the library.
I can even add a workaround to my project, but the socket error consistently happens when upgrading from `10.0.0` to `11.0.0`

[2021-01-12 17:12] brendandburns commented on #1492
Your Port in the container resource needs to have a protocol (TCP or UDP)

[2021-01-12 17:13] brendandburns commented on #1492
[code]

[2021-01-12 18:46] brendandburns commented on #1489
I'll see if I can repro.

[2021-01-12 20:46] saparaj commented on #1492
Thank you. Same file works in kubectl apply though.

[2021-01-14 16:24] brendandburns commented on #1492
`kubectl apply ...` has a lot of fairly complicated logic in the `kubectl` client which merges the config with the existing object.

The Java client doesn't have any of that.

`kubectl replace` or `kubectl create` are more equivalent to what the Java client is doing.

[2021-01-14 16:24] brendandburns commented on #1492
Closing this issue since the question is resolved.

[2021-01-14 16:24] #1492 closed

[2021-01-15 04:35] dzhi-lyft commented on #641
@rjeberhard Your comment above explained why kubectl exec works but not Java client. Thanks!

[2021-01-15 04:52] dzhi-lyft commented on #1346
Related to the issue, I am interested in how to avoid the exception or suppress it in console output.

[code]

[2021-01-15 08:44] sunnoy opened #1495 "how to make proxy in java client ?"
client -> proxy(client java) ->  kube-api

proxy can help client authentication to kube-api

is java client give something like clien-go's

[code]

[2021-01-15 10:44] niaomingjian opened #1496 "cp: can't stat '/xxxxxx/gen/src/main/java/io/k8s/xxxxxx': No such file or directory`"
Following the latest document https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md#example-commands-for-local-crd-manifests to generate java class models with my custom CRD encountered the error "cp: can't stat '/xxxxxx/gen/src/main/java/io/k8s/xxxxxx': No such file or directory`" which was similar to https://github.com/kubernetes-client/java/issu

[2021-01-15 11:06] niaomingjian opened #1497 "IOError: [Errno 2] No such file or directory: '/output_dir/swagger.json.unprocessed' in Docker Desktop for Windows"
Following the latest document https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md#example-commands-for-local-crd-manifests in Windows10 with **Docker Desktop for Windows** encountered  this IOError.

E:\ws>`docker run -v "/e/ws/tmp/crds/":/tmp/crds/ -v /var/run/docker.sock:/var/run/docker.sock -v "/e/ws/tmp/java":"/output_dir" -ti --network host

[2021-01-17 19:57] Rajpratik71 opened #1499 "feat request : load a yaml for undefiled model type"
As far as i am able to find that , client library needs and only support predefined "models" for loading a yaml into that

e.g.

`Yaml yaml = new Yaml();
ExtensionsV1beta1Deployment body = yaml.loadAs(new FileReader("deployment.yaml"), ExtensionsV1beta1Deployment.class);
ExtensionsV1beta1Api api = new ExtensionsV1beta1Api();
api.createNamespacedDeployment("default", body, "");
`

So , here my ques

[2021-01-19 19:45] brendandburns commented on #1495
This isn't something that the client does out of the box.

You will need to create an HTTP server and then forward each request using raw requests.

You can look at the code in Watch.java to see how to perform raw requests.

[2021-01-19 19:46] brendandburns commented on #1496
cc @yue9944882

In general, I don't think you want to be defining CRDs in the k8s.io namespace.

[2021-01-19 19:47] brendandburns commented on #1497
Right now, only Linux is really tested for this use case. I would use WSL2 if you want to run on Windows.

[2021-01-19 19:49] brendandburns commented on #1499
You need to define your own class to represent the CRD object, then yaml.loadAs should work as expected.

Alternately, you can use the instructions here:
https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

To generate classes for your CRDs.

[2021-01-20 08:13] Rajpratik71 commented on #1499
Hi @brendandburns , I tried this approach , but it failed with following log

customresourcedefinition.apiextensions.k8s.io/taspolicies.telemetry.intel.com created
Verifying CRD installation..
customresourcedefinition.apiextensions.k8s.io/taspolicies.telemetry.intel.com failed publishing openapi schema because it's attached non-structral-schema condition.

[2021-01-20 09:52] sunnoy commented on #1495
ok thks

[2021-01-20 09:52] #1495 closed

[2021-01-20 16:53] brendandburns commented on #1499
It looks like the intel CRD doesn't have a corresponding Swagger/OpenAPI specification. Without a definition of the API structure, we can't generate the code.

Looks like your only option is to hand-code an equivalent Java object for the intel CRD.

[2021-01-20 17:06] #1370 closed

[2021-01-20 17:23] Rajpratik71 commented on #1499
ok. Will try on work arounds.

[2021-01-20 17:23] #1499 closed

[2021-01-20 17:59] Priya103 commented on #1223
If still available I would like to contribute

[2021-01-21 08:51] dsyer opened #1505 "Rewrite support for k8s loadbalancer in spring module"
I don't like any of the annotations in the spring module much (can we review them all at some point?), but `@KubernetesEndpointsLoadBalanced` is by far the most egregious. The fact that it only works with field injection (a notorious antipattern) is the worst part, but I have other questions. Could we maybe re-implement it as a `@Qualifier` or just a plain factory?

[2021-01-21 11:07] SockenSalat opened #1506 "getClassNamesFromPackage prints jarFile to stdout"
in Version `11.0.0` in the class `io.kubernetes.client.util.ModelMapper` in line 415 the name of the containing jar file is printed to stdout:

`System.out.println(">" + jarFileName);`

That is a bit annoying ;-)

[2021-01-21 16:43] brendandburns commented on #1506
oops, that's almost certainly some stray debugging code that got left in. Happy to have a PR to remove that and I can push a patch version (or we'll get a PR done sometime soon)

[2021-01-24 04:52] mahichachra opened #1507 "Server Error and nullpointerException for backgroundFunctionExecutor"
The same code snippet is giving output in my local but when i have deployed the same as a cloud function which is using kubernetes client library which is using listNode method present in the CoreApi class i am getting nullpointerexception in BackgroundFunctionExecutor class and server error as well. In the below snippet i am able to print "Entered fetch" but after that i am getting error;

1. i a

[2021-01-24 08:10] #1132 closed

[2021-01-26 01:26] brendandburns commented on #1507
ServerErrror indicates your server is returning a 500. Not sure why. If you print the response body from the ApiException you may get more details to help you debug.

[2021-01-26 16:38] SunithaR commented on #656
@yue9944882 I'm still seeing this issue, when using latest version 5.0.0. Is there a different version that has this fix?
        <dependency>
          <groupId>io.fabric8</groupId>
          <artifactId>kubernetes-client</artifactId>
          <version>5.0.0</version>
        </dependency>

[2021-01-26 19:31] asavov opened #1511 "KubernetesReconcilerProcessor incorrectly instantiate beans"
`KubernetesReconcilerProcessor` is `BeanFactoryPostProcessor`. And `BeanFactoryPostProcessor` doc explicitly states that:

_A BeanFactoryPostProcessor may interact with and modify **bean definitions**, but **never** bean instances._

Still `KubernetesReconcilerProcessor` does not honour that:

[code]
This results in error while instantiating my Reconciler.

[code]
Error:
`Caused by: org.springfram

[2021-01-27 08:04] thamidurm opened #1513 "Are two concurrent updates of two keys in a configmap using JSON patch, free from race conditions?"
I'm sorry if this isn't the place to ask this question.  Say, I have a config map with keys, "key1" and "key2". If I have one thread per key and these threads replace the value corresponding to the key using JSON patch, is there a possibility of one update being affected by the other?

[2021-01-27 15:01] SunithaR commented on #656
@Hendrik-H  I facing this same issue with the latest version. Has your issue been resoved, if so how?

2021-01-27 09:40:13.217 ERROR 1 --- [pool-3-thread-1] i.f.k.c.i.cache.ProcessorListener : Processor thread interrupted: null
2021-01-27 09:40:13.218 ERROR 1 --- [-controller-Job] i.f.k.client.informers.cache.Controller : DefaultController#processLoop got interrupted null
java.lang.InterruptedExce

[2021-01-27 15:03] Hendrik-H commented on #656
@SunithaR sorry, not working on the project anymore where I had this issue

[2021-01-27 16:20] SunithaR commented on #656
ok thanks for the response @Hendrik-H

[2021-01-27 16:55] brendandburns commented on #1513
Short answer "maybe" each patch is independent, and the patching itself doesn't involve locking in the api server, so it's definitely possible.

If you want to detect potential conflicts you should include a `resourceVersion` in your patch and you will get a 409 if there is a conflict (which you can then catch the exception and retry)

See discussion of resourceVersions here:
https://stackoverflow

[2021-01-27 17:12] thamidurm commented on #1513
@brendanburns Thanks you for taking time to reply. Appreciate it.

[2021-01-27 17:12] #1513 closed

[2021-01-28 00:57] brendandburns commented on #1511
cc @yue9944882 @dsyer for Spring.

[2021-01-28 00:58] brendandburns commented on #1505
cc @yue9944882 I'm definitely not enough of a Spring expert to comment too deeply. Can you provide more details of what you would change?

[2021-01-28 04:41] #923 closed

[2021-01-28 07:22] asavov commented on #1511
@yue9944882 @dsyer I'm really open to work on that If you share some guidelines/hints/recommendation what's the **right** approach (the Spring way) to configure and instantiate k8s Controllers/Reconcilers. We might discuss this over zoom.

[2021-01-28 08:45] dsyer commented on #1511
`KubernetesReconcilerProcessor` should be able to create and register `BeanDefinitions` without actually instantiating anything (no need to call `getBean()` or `registerSingleton()`). It only uses the reconciler to find out its type, and that information should be available in the `BeanDefinition`. It's a pretty simple class, so that change ought to be easy. There is one integration test.

OTOH I

[2021-01-28 16:36] brendandburns commented on #1511
fwiw, all of the Spring stuff is pretty experimental/early. I don't think there is a "right" way yet, just some early exploration.

@asavov do you have thoughts about what you as a Spring user would expect?

[2021-01-29 00:31] asavov commented on #1511
To have core Spring capabilities (such as @Autowire, @Component, etc) for `MyController implements Reconciler` which with current impl is not functional at all.

[2021-01-29 06:26] dsyer commented on #1511
So do you think you might have time to fix it? As I said above I don’t think it’s a big job.

[2021-01-29 07:46] KevinWang15 commented on #1003
I can confirm that this method [mentioned here](https://github.com/kubernetes-client/java/issues/1149#issuecomment-672562854) works
[code]

---

The easiest way to reproduce this is to use docker [8u252-jre](https://hub.docker.com/layers/openjdk/library/openjdk/8u252-jre/images/sha256-197a54007d2645dccb3e32533b37e175a0b4eed1a681ec2d0c5a239fbfbfa987?context=explore) image, and use the okhttp client

[2021-01-30 20:10] asavov commented on #1511
@dsyer I spent some time on providing a fix: https://github.com/kubernetes-client/java/pull/1516

This is my first contribution so need to clear all the steps. Still the code is reviewable.

[2021-02-01 11:04] yue9944882 commented on #1507
@mahichachra 500 is usually connected w/ the bugs inside the kube-apiserver. can you paste detailed messages from the server's response?

[2021-02-01 11:06] yue9944882 commented on #1505
@dsyer the load-balancer support is yet experimental. am always open to the changes, plz feel free to submit pull requests to the codebase

[2021-02-01 13:24] #1204 closed

[2021-02-01 16:51] #1506 closed

[2021-02-01 18:29] #1229 closed

[2021-02-01 23:29] saparaj opened #1519 "NullPointer Exception using Kubectl.apply from client-java-extended"
Hello @brendanburns and @yue9944882,

I am trying to create an ingress using Kubectl.apply as per this: https://github.com/kubernetes-client/java/blob/b0c91798c63203f20dc8f2674197e772b2c187ee/docs/kubectl-equivalence-in-java.md#kubectl-apply
My Kubernetes cluster version: 1.18.10 and java-client version: 10.0.0
[code]
I am getting below error:
Exception in thread "main" java.lang.NullPointerExcept

[2021-02-02 08:23] mahichachra commented on #1507
but how can i print the body of Exception, it is getting generated in client library and i am only using it as dependency in pom, adding try catch and printing also wont make a difference i think

[2021-02-02 08:44] sarveshkaushal commented on #1489
I can repro this too. After adding ProcessFuture to Copy class, we are trying to return future object with already used process object.

[2021-02-02 20:19] sarveshkaushal commented on #1489
Looked at it a bit more. get() method of ProcessFuture inner class has some statements that are creating problems. `proc.waitFor()` puts the current thread in indefinite waiting state as the underlying socket stream never closes/ends(I think). Skipping the waitFor() should fix this but it might break other methods.

[2021-02-02 21:54] ichekrygin commented on #896
This issue is impacting us as well. Can this be reopened?

[2021-02-03 02:39] saparaj opened #1520 "How to set namespace in Kubectl.Apply method from client-java-extended library"
Hello,

If I do kubectl apply by specifying particular resource type I am able to specify namespace
[code]
but if I do generic way as below: I am loading all resources using Yaml.loadAll method and iterating over each to call kubectl apply.
[code]
I am not able to set namespace. How should we set the namespace in this case?

Thanks,
Swarda

[2021-02-03 03:21] nknkgithub opened #1521 "Connect to remote cluster with ca-authority-data and other contents of kubeconfig file"
Hi, I am using https://github.com/kubernetes-client/java and I want to connect to remote kubernetes cluster.

As a input I will be getting server address, client-certificate-data, client-certificate-key, ca-authority-data(base 64 encoded certificate contents) and whether insecure-skip-tls-verify is true or not.

a) I am converting all the certificate contents to bytes and i.e.

[code]

b) I want t

[2021-02-03 15:28] nknkgithub commented on #1521
Help is required

[2021-02-03 16:43] brendandburns commented on #1520
What does "not able to set namespace" mean? Does it mean that the code doesn't compile? The call doesn't work?

What error are you seeing?

As far as I know that code should compile, though not all resources are namespaced, and so if you try to set a namespace for a non-namespaced resource it will probably throw an error.

[2021-02-03 16:47] brendandburns commented on #1521
This client library loads things in the same way as `kubectl` (at least it should)

Your best bet is to load the `KubeConfig` object from a `java.io.Reader`
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/KubeConfig.java#L82

And then build the client from the KubeConfig:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/

[2021-02-03 17:33] fabiobrz opened #1523 ""generate-model-from-third-party-resources.md" fails with Infinispan CRDs"
Hi all, more a question here than an issue, maybe.
I went through https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md and it worked with the provided example YAML.

Then I switched to some real third party CRDs and I always get the following error:
[code]
No matter what we have at line 89, either a description string, a property or even a comment

[2021-02-03 17:44] saparaj commented on #1520
I am getting compile error if I try to do it as below:
[code]
Compilation Error:
Error:(81, 75) java: cannot find symbol
  symbol:   method fieldManager(java.lang.String)
  location: class io.kubernetes.client.extended.kubectl.Kubectl.NamespacedApiClientBuilder

[2021-02-03 18:07] nknkgithub commented on #1521
I will not be getting kubeconfig file, instead will be getting some contents of kubeconfig file. i.e. contents of ca-authority-data, contents of client-certificate-data, contents of client-certificate-key and whether insecure skip tls verify is true or not.  So

`byte [] caCertValue = Base64.getDecoder().decode(<CA-certificate-data-instrings>.getBytes("UTF-8"));

//Same done for client certificate

[2021-02-04 00:42] saparaj commented on #1520
This worked
[code]

[2021-02-04 13:54] nknkgithub commented on #1521
Help required. In case any other api or function available

[2021-02-04 22:59] rjeberhard opened #1524 "SSLException during Copy.copyFileToPod"
We have a large number of tests written in Java and using this Kubernetes Client that exercise our operator and other workloads in, this case, a Kind cluster.

I'm trying to uptake the 11.0.0 client release; however, I'm seeing the exception below while using Copy.

These tests are passing when using the 10.0.1 client.

If there is any way to turn on additional debugging or logging to identify the

[2021-02-04 23:59] brendandburns commented on #1524
The Kubernetes server is returning a 500:

[code]

Can you pull the API server logs and see if there's more detail on why the 500 occurred?

We regenerated the Kubernetes API code between 10.0.1 and 11.0.0 and my guess is some parameter changed in some way and the api server can't handle it.

[2021-02-05 10:35] zhangzerui20 opened #1526 "crd-model-gen 1.0.3 error"
when I run

`
docker run \
  --rm \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v "$(pwd)":"$(pwd)" \
  -ti \
  --network host \
  talltangrui/crd-model-gen:v1.0.3 \
  /generate.sh \
  -u /Users/trecool/Documents/work_temp/generate_crd/tsf.cloud.tencent.com_buildtasks.yaml \
  -n tsf.cloud.tencent.com \
  -p com.example.stable \
  -o "$(pwd)"
`

I get
`
[INFO] -----------------------------

[2021-02-05 18:20] rjeberhard commented on #1524
Thanks for the quick response, @brendandburns.

I've pulled the logs and don't see any entry regarding the 500. Note: the calls to the Kubernetes master are working correctly. This call is trying to upgrade a connection to a web socket as part of an exec call under the Copy class.

I do notice that Copy, Exec, and several of the WebSocket related classes have changed substantially between 10.0.1 a

[2021-02-07 11:31] #1505 closed

[2021-02-07 11:34] yue9944882 commented on #1526
is it mounted into the code-gen runner container?

[2021-02-07 11:35] yue9944882 commented on #1523
it means that your CRD manifests is not a valid yaml document, can you verify if `kubectl apply -f <yaml file>` works against any cluster?

[2021-02-07 15:48] #1176 closed

[2021-02-08 05:14] libin0811 opened #1531 "Get the response on command execution in container"
my code like this

` int retCode = Kubectl.exec().namespace("default")
                .name("helloworld-7959bf49bb-c8j7c")
                .container("helloworld-container")
                .command(new String[]{"ls"})
                .execute();`

for example: i want to get the reponse by command "ls" ,but the method return a type "int",not the file list ,how can i get the command return, thank

[2021-02-08 07:52] sarveshkaushal commented on #1524
@brendandburns - Could this be same as #1489 ? Check my comment there.

[2021-02-08 13:56] rjeberhard commented on #1489
This does look like the same issue as #1524. I'm going to try and create a smaller reproducer for this today, but I did notice that the client is trying to write a close message when it finds that the connection is already closed. This may be something like a timing issue in that the client fails to parse a close message already received from the server before it tries to send its own close messag

[2021-02-08 17:38] rjeberhard commented on #1489
I'm also able to reproduce this with a very simple CopyToPod main class, but where `kubectl cp` succeeds. @sarveshkaushal  or @brendandburns, are you aware of any one already working on a fix? If not, I can work on a proposal.

[2021-02-08 18:34] sarveshkaushal commented on #1489
@rjeberhard - I put a temporary fix by commenting the part `proc.destroy()` inside `get()` method of `ProcessFuture` class to make this work. But there even after this fix, The exit code received from the process is -1 even though the actual file gets copied to the pod. Also this might fail other async methods which need to be tested or we can just put `proc.waitFor()` conditionally there. Need @b

[2021-02-08 19:31] rjeberhard commented on #1489
Okay, we'll see what Brendan says. Based on this last stack, I'm adjusting my hypothesis... The destroy() call is closing all streams, but the data has not yet been flushed even though the waitFor() indicates that the client has received the process exit code from the server.

[2021-02-08 23:27] rjeberhard commented on #1489
In the current flow, the stdin stream is closed after the file data is written; however, the web socket session hangs because the client never sends a CLOSE message. I believe this is why Sarvesh was suggested possibly removing the waitFor() and moving on to the destory(), which does close the WebSocketStreamHandler instance triggering the CLOSE message.

However, I agree that it is incorrect to c

[2021-02-09 00:08] brendandburns commented on #1531
Have a look at the Exec example here:
https://github.com/kubernetes-client/java/blob/master/examples/examples-release-12/src/main/java/io/kubernetes/client/examples/ExecExample.java

[2021-02-09 00:08] #1531 closed

[2021-02-09 00:45] tony-clarke-amdocs commented on #1158
@brendandburns I think the same think has happened for the 10.0.1 release. It's still has the old definition of LeaderElectionConfig.

[2021-02-09 13:47] tony-clarke-amdocs opened #1533 "getRelistResourceVersion() is too old and causes infinite errors"
I tried updating to client 11.0.0. However, the logs get filled with the following errors:

[code]

This error repeats forever. Looking into the actual exception I can see it is like this:
[code]
I think this is a bug introduced with [this](https://github.com/kubernetes-client/java/commit/c8a47c91eacdef1ba4d03513786cb3d46c822464) commit. The last synced resource can become too old and we will alwa

[2021-02-09 13:53] tony-clarke-amdocs opened #1534 "10.0.1 release is not synced correct."
@brendandburns I think the same think has happened with the 10.0.1 release that happened with the 9.0.1 release.

To see this take a look at the definition of LeaderElectionConfig in the jar. It doesn't match the source code.

[2021-02-09 18:50] rjeberhard commented on #1489
My experiments so far have not been successful. I think I need someone access to someone with some more web sockets expertise. When I have the client send the standard web sockets graceful termination message following the close of the input stream, then I never see the channel 3 message with the exit code.

I created a similar reproducer with that other popular Java client for Kubernetes and was

[2021-02-09 19:00] brendandburns commented on #1533
Agreed. We should catch the exception and retry without a resource version.

cc @yue9944882

[2021-02-09 19:01] brendandburns commented on #1534
Hrmph, I will take a look. I did have some challenges getting the 10.0.1 done :(

[2021-02-09 19:34] rjeberhard commented on #1489
Okay, so 🤦 ... That client just doesn't bother to check the exit status. In their pattern, they have a custom WebSocketListener for each use case: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/dsl/internal/uploadable/PodUploadWebSocketListener.java.

This is similar to @sarveshkaushal's proposal to remove the waitFor(), but

[2021-02-10 02:30] chris-chambers opened #1536 "EventLogger produces unacceptable JSON Patches when updating events"
The event patch creation code (for updating events whose count will be > 1) produces a JSON patch that the API server doesn't accept (returns HTTP 422).

https://github.com/kubernetes-client/java/blob/46607021cf4a0d5dfc6ef3414eb0ce7b3d1c1210/extended/src/main/java/io/kubernetes/client/extended/event/legacy/EventLogger.java#L44-L49

It looks like this was originally ported from Go client, which has

[2021-02-10 02:36] chris-chambers commented on #1536
As an aside, I see that these classes are marked `legacy`.  Are there other classes I should prefer to use for emitting events?

[2021-02-10 17:27] brendandburns commented on #1536
cc @yue9944882

[2021-02-12 21:55] rjeberhard commented on #1489
I have copyFileToPod() working and I can confirm that, as @sarveshkaushal suggested, the basic fix is not waiting for the peer to send the close message as it is the client side that signals that the copy is done in this use case.

One annoyance is that JVM doesn't exit after the main class exits because there are several non-daemon threads. Do either of you know a way to configure this or is it e

[2021-02-13 07:19] srinivasev commented on #1269
Hi @brendandburns ,
Is there any Kubernetes resource that can be used only for achieving the locking mechanism / Kubernetes provides the locking mechanism similar to DB locking where the user is not required to handle it explicitly?

We have a scenario where multiple threads try to update the same resource/ConfigMap. This is increasing our retries logic.

Scenario :

- I have 1000 names to be upda

[2021-02-15 16:18] agr-priyanshu opened #1539 "java.security.UnrecoverableKeyException when using password protected keystore"
The client connection to target K8S cluster fails with java.security.UnrecoverableKeyException error when JVM is using password protected keystore. When tried removing the password protection from keystore; it worked like a charm.

Is this option not supported or I am missing something in configuration?

Error Message :
`java.security.UnrecoverableKeyException: Get Key failed: Given final block no

[2021-02-16 22:22] sarveshkaushal commented on #1539
Looks like a problem with your key that you are supplying to keystore. But could you provide more information on how to repro this with code snippet? Please redact any sensitive information.

[2021-02-16 22:26] sarveshkaushal commented on #1489
@rjeberhard As far as I know even in the old implementation the JVM doesn't exit. It might have been intentional. I am not sure.

[2021-02-17 05:02] agr-priyanshu commented on #1539
I am using the example mentioned here;
[KubeConfigFileClientExample.java](https://github.com/kubernetes-client/java/blob/master/examples/examples-release-12/src/main/java/io/kubernetes/client/examples/KubeConfigFileClientExample.java)

Here is my Kubeconfig file
[code]
The only difference I have in the setup is that in my JVM; I am not using the default keystore. I have a custom keystore which is

[2021-02-17 15:59] brendandburns commented on #1539
I don't think that this is an issue in the client. I think there must be some problem with your custom key store since the client works correctly if that keystore is removed.

If you investigate further and you do determine that it is a problem with this client, please use the `/reopen` command to reopen the issue and add more details.

[2021-02-17 23:01] himanshug commented on #1534
I am also waiting for that to get fixed or maybe release 10.0.2 ( see https://github.com/kubernetes-client/java/pull/1463#issuecomment-774596002 )

[2021-02-18 16:08] #1533 closed

[2021-02-18 16:14] ryanjbaxter commented on #1533
When can we expect an updated 11.0.x release?

[2021-02-18 16:43] agr-priyanshu commented on #1539
/reopen

[2021-02-18 17:10] agr-priyanshu commented on #1539
Hi,

I have narrowed down the issue to [SSLUtils](https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/SSLUtils.java).

It seems when a connection is being initiated the passphrase is hardcoded to "" in https://github.com/kubernetes-client/java/blob/199954520d9c13ed71116d31d98bbc33fa96cdcb/util/src/main/java/io/kubernetes/client/util/credentials/Client

[2021-02-19 08:44] tingweiwu opened #1547 "is the stream not closed when use exec with v8.0.0?"
when I use 8.0.0 version and v1.15.11 version on the server side, I find that the exec don't  disconnect util timeout.
is this a bug?

[code]

is this solved on 8.0.1 and 8.0.2 by this commit?
https://github.com/kubernetes-client/java/commit/df2dbb40371ebb2a5386975097775f0bfd17546b

[2021-02-19 16:20] brendandburns commented on #1539
Thanks for exploring and providing the details. I agree that we should provide a way to set the password. We'd be happy to take a PR to support this.

[2021-02-19 16:22] brendandburns commented on #1547
If your program in the container is exiting, but the stream is staying open, then yes, I think it is fixed by that commit.

[2021-02-21 10:49] agr-priyanshu commented on #1539
Looked in to possible implementation and realized that providing password option will take away the abstraction provided at KubeConfig level where consumer is pretty much agnostic to the mechanism being used behind the scene.

One thing is not clear on why there was an integration to user-defined KeyStore, the target JVM may have? In essence for this SSL handshake (Mutual), the client presents cli

[2021-02-21 20:51] brendandburns commented on #1539
I don't think that this was done on purpose. I think it is fine to have a dedicated SSL context and I'd be happy to have a PR for that.

@yue9944882 wdyt?

Another option would be to supply the password via environment variable, that would preserve the abstraction (I think)

[2021-02-21 21:03] zvmzaretsky commented on #854
use this when building your app -Djdk.tls.client.protocols=TLSv1.2

[2021-02-22 08:58] yue9944882 commented on #1533
@ryanjbaxter i just had https://github.com/kubernetes-client/java/pull/1552 picked to 11.0.x. @brendandburns how do you think about publishing a new release after merging the picked fix?

[2021-02-23 05:55] arunpmohan opened #1555 "Watch API always gives event type as modified and not added"
Kubernetes watch API always provides the event type as modified and we never get "added" event type response even though the pod is really added.

we are using listNamespacePodCall Api for a particular label of pods. This used to work in 1.17 and the version we are using is 8.0.0.1

This is happening from k8 1.20 for us. Any pointers..

{"host":"arcsm-centralmanagement-0.mysps","level":"INFO","log

[2021-02-23 08:15] yue9944882 commented on #1555
@arunpmohan the `listNamespacePodCall` wont be intercepting/tweaking any watch responses from the apiserver i believe.

is the added pods in the same namespace you're watching?

[2021-02-23 12:49] brian-singer opened #1556 "Watch API v11.0.0"
okhttp3 versions X and newer you need to always set the 1_1 for Kubernetes APIs like is done in the ClientBuilder:
[code]

however, there is a problem in SharedInformerFactory. You have to be sure you set the static default client or else you get an SSL Handshake problem when calling the watch API.

This is a known problem with newer openjdk versions and the default okhttp3 client using HTTP2.

In

[2021-02-23 15:07] arunpmohan commented on #1555
Yes it is in the same namespace.

[2021-02-23 17:43] brendandburns commented on #1555
Can you update to 11.0.0? 8.0.0 isn't supported with Kubernetes 1.20.x

[2021-02-23 17:43] brendandburns commented on #1556
Sounds good to me, we'd be glad to take the PR.

[2021-02-24 01:24] ryanjbaxter commented on #1533
@yue9944882 I see that the fix was merged.  @brendanburns can we do another release of 11.0.x?

[2021-02-24 07:20] yue9944882 commented on #1556
@brian-singer the informer-factory can also use a specified ApiClient, i dont think you have to explicitly pin the static ApiClient instance if the proper constructor was used.

https://github.com/kubernetes-client/java/blob/6a4b5fe0b659beb6bfbacfd8ebaa816d0a3b7f8d/util/src/main/java/io/kubernetes/client/informer/SharedInformerFactory.java#L55

[2021-02-24 07:29] yue9944882 commented on #1536
@chris-chambers thank you for reporting this, i just opened a fix for this issue.

a newer event API was recently introduced which basically uses `events.k8s.io/events` api instead of `v1/events` (i.e. legacy events api). as far as i can see, even if the older api now goes "legacy" but it will keep working for a long period of time. in a word, we dont have to land on the new api and the legacy sho

[2021-02-24 09:28] fabiobrz commented on #1523
HI @yue9944882 and thanks for your reply.
I followed your hint and yes it gets created. And that helped me to understand that the issue is probably due to some unconventional content, which was returned by the URL that I used in the commands above.
As soon as I replaced it with with the `https://raw.githubusercontent.com/...` URL it started working.

Thanks again.

[2021-02-24 10:21] #1523 closed

[2021-02-24 10:54] fabiobrz commented on #1523
BTW @yue9944882 - one more question. Does a codegen Maven plugin exist or is planned at all. I am aware that Docker execution is behind it so could be difficult but I'd like to have your feedback on this.

[2021-02-24 16:27] #1294 closed

[2021-02-25 02:06] saparaj opened #1561 "NullPointer Exception using Kubectl.apply from client-java-extended"
Hello @brendanburns and @yue9944882,

I am trying to create an ingress using Kubectl.apply as per this: https://github.com/kubernetes-client/java/blob/b0c91798c63203f20dc8f2674197e772b2c187ee/docs/kubectl-equivalence-in-java.md#kubectl-apply
My Kubernetes cluster version: 1.18.10 and java-client version: 10.0.0

Kubectl.apply(NetworkingV1beta1Ingress.class).resource(resource).execute();
I am getti

[2021-02-25 05:25] brendandburns commented on #1561
The Group/Version/Kind for this object are unknown to the client.

The fact that this returns an NPE is a bug and was fixed in 11.0.0:

https://github.com/kubernetes-client/java/blob/master/extended/src/main/java/io/kubernetes/client/extended/kubectl/Kubectl.java#L255

But it will still throw an exception.

The reason for this is that Ingress is an extension API, not packaged as part of the core K

[2021-02-25 05:27] #1536 closed

[2021-02-25 06:49] yue9944882 commented on #1561
@saparaj did you set the global ApiClient via `Configuration.setDefaultApiClient(..)` or choosing ApiClient explicitly after Kubectl.apply()? e.g.

https://github.com/kubernetes-client/java/blob/6990dc38fc8015e00920306a8f2f31e73e066efc/e2e/src/test/groovy/io/kubernetes/client/e2e/kubectl/KubectlNamespaceTest.groovy#L45

[2021-02-25 07:47] saparaj commented on #1561
I tried both ways..Setting global client like Configuration.setDefaultApiClient(..) as well as explicit api client on method call.
Below file works with the same code. Just updated networking.k8s.io to extensions.
[code]

[2021-02-25 08:57] yue9944882 commented on #1561
@saparaj i wasn't able to reproduce that by https://github.com/kubernetes-client/java/pull/1562. can you set `ApiClient#setDebugging` to true and share us more logging?

[2021-02-25 16:14] ichengchang opened #1563 "Is Impersonator supported in Kubernetes client library?"
I have set up an in-cluster impersonator in GKE so that the API can assume the identity of the impersonator after authenticating via GCP. I can't seem to find an example on how I can include the impersonator when making an API request. Could someone tell me how this can be done with the Java client?

[2021-02-25 19:41] brian-singer commented on #1556
@yue9944882 good call! I did exactly that and is a perfect solution for the problem in my case :)

`final SharedInformerFactory informerFactory = new SharedInformerFactory(ClientBuilder.cluster().build());`

[2021-02-25 19:41] #1556 closed

[2021-02-25 23:52] saparaj commented on #1561
I have attached debugging file:

[debugging.txt](https://github.com/kubernetes-client/java/files/6046366/debugging.txt)

[2021-02-26 04:44] henrymollman opened #1565 "Unexpected unknown resource type exception when calling KubectlDrain"
Hello, I recently updated to version 11 after experiencing a NullPointerException on version 10 when calling the KubectlDrain method, `Kubectl.drain().ignoreDaemonSets().apiClient(apiClient).name(name).execute();`, but now I am seeing another error:

[code]

I experience this error on a container built from an Ubuntu base image with Java openjdk version 1.8.0_252, but not on a Mac development mach

[2021-02-26 05:13] brendandburns commented on #1563
If you have a kubeconfig file that works with `kubectl`, this library should be able to load it. If it doesn't please file a bug.

If you don't have a working kubeconfig file, then I think your question is out of scope for this library.

[2021-02-26 05:15] brendandburns commented on #1561
fwiw, I think she using the 10.0.x library, not sure when we started generating Ingress resources.

[2021-02-26 05:17] brendandburns commented on #1565
The ModelMapper isn't loading correctly. Specifically this code here:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ModelMapper.java#L74

Is not running, or it is running in a different context.

You can always initialize it yourself with ModelMapper.initModelMap() but it would be interesting to understand why this is happening, can you supply

[2021-02-26 06:20] saparaj commented on #1561
Which is the latest version? I tried 11.0.0 library as well, Not seeing NPE but unknown resource exception.

Exception in thread "main" io.kubernetes.client.extended.kubectl.exception.KubectlException: Unexpected unknown resource type: class io.kubernetes.client.openapi.models.NetworkingV1beta1Ingress
	at io.kubernetes.client.extended.kubectl.Kubectl$ApiClientBuilder.getGenericApi(Kubectl.java:256

[2021-02-26 11:15] yue9944882 commented on #1561
@saparaj ur apiserver doesn't enable networking.k8s.io/ingress api, using the extension api will be fine.

[code]

[2021-02-26 11:17] yue9944882 commented on #1565
this should be fixed by https://github.com/kubernetes-client/java/pull/1369, published in 10.0.1,9.0.2,11.0.0

[2021-02-26 16:43] theAkito opened #1566 "Unprocessable Entity is not a helpful error message"
As explained [here](https://github.com/kubernetes-client/java/issues/385#issuecomment-428423594) and experienced, for example, [here](https://github.com/jenkinsci/kubernetes-cd-plugin/issues/102) the message one is getting for providing an invalid spec is not helpful, at all.

It would be nice to see the exact location where the config is wrong in what way exactly without needing to turn on any de

[2021-02-26 18:41] henrymollman commented on #1565
The application is a spring boot application, running with embedded Tomcat. Under version 10.0.0 I experienced the NullPointerException in [#1362](https://github.com/kubernetes-client/java/issues/1362) so the update to 11.0.0 fixed that but I only experience the KubectlException. Other kubectl calls using the client work with no issues.

[2021-02-26 19:44] saparaj commented on #1561
Oh Yes, I tried ```kubectl explain ingress``` and it shows extensions/v1beta1. Thank you so much both of you for your help.

[2021-02-26 19:44] #1561 closed

[2021-02-26 19:46] saparaj commented on #1519
Duplicate of https://github.com/kubernetes-client/java/issues/1561

[2021-02-26 19:46] #1519 closed

[2021-02-26 22:24] brendandburns commented on #1566
As is mentioned in the previous issue, if you look at the body of the response (available in the ApiException object `ApiException.getBody()`) you should get a more detailed error string.

We just reflect what the server returns, there's not much more that we can do here. Closing this issue. Please use `/reopen` if you need further assistance.

[2021-02-26 22:24] #1566 closed

[2021-02-26 22:28] brendandburns commented on #1565
Since @yue9944882 pointed out above that `refreshDiscovery()` is being called, I'm surprised that you see this. Can you make sure that somehow `skipDiscovery` isn't being set to true?

Calling `ModelMapper.initModelMap()` before you do the drain should cause the right things to happen, but it's a little weird that it is necessary.

[2021-02-28 09:54] #1289 closed

[2021-02-28 23:17] theAkito commented on #600
That's an extremely tiny and not very helpful example. Is there documentation on how to properly use strategic merge patches? The documentation on this operation is almost non-existent. Trying to figure out how to make this work as intended, for hours.

[2021-03-01 15:36] ryanjbaxter commented on #1533
bump @brendanburns can we get a release of the 11.0.x branch?

[2021-03-02 08:57] yue9944882 opened #1571 "Cutting a 11.0.1 release"
majorly for #1570 #1552

ref: https://github.com/kubernetes-client/java/issues/1533#issuecomment-788041724

cc @brendandburns @ryanjbaxter

[2021-03-02 20:19] brendandburns commented on #1571
Yep, will do once the cherry-picks are merged.

[2021-03-02 20:20] ryanjbaxter commented on #1571
@brendanburns When do we expect that to happen?  The Spring Cloud team is planning a release next week and we would like this release

[2021-03-02 20:44] brendandburns commented on #1571
@ryanjbaxter the merges should go in shortly (~1pm Pacific)

I should have time @ 2pm pacific to try to cut the release.

Assuming that all goes well (which based on previous releases is a pretty big assumption) then it will be in maven central tomorrow, but sadly this is all best effort and our release machinery is creaky at best.

I'll update this issue by 3pm today with the status.

[2021-03-02 20:44] brendandburns commented on #1571
Quick update: the picks merged:
https://github.com/kubernetes-client/java/pull/1570

[2021-03-02 20:45] brendandburns commented on #1571
Side-note: if anyone is a maven/release expert, suggestions on improving our flow (it's documented here: https://github.com/kubernetes-client/java/blob/master/RELEASES.md) are very welcome. Frankly it's a pain these days.

[2021-03-02 22:40] brendandburns commented on #1571
So it turns out the cherry-pick isn't clean and the branch was broken (side note, we need to fix out automation to build on the release branch before merge)

I sent https://github.com/kubernetes-client/java/pull/1572 to fix things, but I'll need @yue9944882 to review the PR before it can merge and then we can try again w/ the release.

So we are delayed for now.

[2021-03-03 06:08] brendandburns commented on #1571
Update #2, fix is merged. I tried to push a release but it looks like it didn't show up on sonatype. I feel like this happened last time too, though I can't remember what I fixed to make it work. I will try again tomorrow.

[2021-03-03 06:36] brendandburns commented on #1571
Update 3. Fixed things (https://github.com/kubernetes-client/java/pull/1573) 11.0.1 is staged to sonatype. You should see it in Maven central in ~24 hours.

(definitely still looking for people to help improve our release flow b/c it is _not_ fun)

[2021-03-03 14:48] ryanjbaxter commented on #1571
Wahoo!  Thanks @brendanburns I see it in maven central now!

[2021-03-03 15:33] brendandburns commented on #1571
@ryanjbaxter please do validate that you see the expected patches in the release, we've had some problems in the past and I'd like to validate that it's working correctly.

[2021-03-03 20:45] ryanjbaxter commented on #1571
All of our tests pass using that build

[2021-03-04 08:38] ZLEternity opened #1575 "11.0.0 patchNamespacedCustomObject exception “PatchOptions.meta.k8s.io...”"
client version : 11.0.0
k8s server version : 1.19
customObjectsApi.patchNamespacedCustomObject(group, "v1", "uat-es", "elasticsearches"
          , cluster_name, body, null, null, false);
![image](https://user-images.githubusercontent.com/39403809/109934087-11b13000-7d07-11eb-87b0-9d1b0f7b682a.png)

then , throw exception

 {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","messa

[2021-03-04 17:13] dsyer commented on #1254
/remove-lifecycle stale

Please

[2021-03-04 18:25] #1571 closed

[2021-03-04 18:27] brendandburns commented on #1575
These errors are coming from the server. I would recommend starting with `kubectl patch ...` and get to a patch that works. You should then be able to convert that to a patch that works with this client library.

Given that I don't think this is an error in the library, I'm closing this issue. If you determine that it is a problem with this library, please use the `/reopen` command to reopen the i

[2021-03-04 18:27] #1575 closed

[2021-03-05 17:00] #1072 closed

[2021-03-06 01:24] karunasagark opened #1578 "ReflectorRunnable.watchHandler seems to be stuck after about 5min of inactivity"
I'm working on custom controller where I noticed this issue. After about 5min of inactivity i.e. no updates in the api server, the controller stops receiving watch events from the api server. So any add/delete on the custom resource after the 5min of inactivity on api server, is not reconciled by the controller .

On further debugging, what I've seen is that ReflectorRunnable.watchHandler which sh

[2021-03-06 21:38] brendandburns commented on #1578
What version of the client are you using?

Have a look at the discussion starting here:

https://github.com/kubernetes-client/java/issues/1370#issuecomment-733814868

You should try setting the read timeout to < 5 minutes and things should work.

Basically, something in the network somewhere is disconnected, but it takes a long time for the socket to timeout.

[2021-03-07 19:28] karunasagark commented on #1578
Thanks for the information. Looks like similar issue has been faced by others and by other clients (js, c#, go); I should search under closed issues too.

I'm using 10.0.0 java client. And from the discussion in #1370, it seems the fix was made in #1498. However, don't see this fix #1498 in the latest release 11.0.1.

It seems releases are cherry picks from master branch. Is there a way to list th

[2021-03-08 10:59] FlorianBuchegger opened #1580 "Error Logs of ReflectorRunnable caused by too 'old resource version'"
We are using the SharedIndexInformer and notice error logs appearing from time to time, f.e.:
[code]
As it seems this is to be expected when there are no changes for some time (see https://github.com/kubernetes/kubernetes/issues/22024) we wonder if there is a way to reduce the log level for this messages to info, as the watch will be fixed automatically. We could exempt this class from our log ana

[2021-03-08 15:42] brendandburns commented on #1578
We can see about cherry-picking that in. Rather than opening an issue, if you wanted to send a PR with the cherry-pick that's the fastest way to get it done.

Personally, I would set a short timeout, because I don't trust the network, but either one should work.

[2021-03-08 15:45] brendandburns commented on #1580
This was fixed in client `11.0.1` please update to that.

Ref: https://github.com/kubernetes-client/java/pull/1543

[2021-03-08 15:45] #1580 closed

[2021-03-08 22:07] henrymollman commented on #1565
skipDiscovery is definitely not set to true, but calling `ModelMapper.initModelMap()` did solve the problem.

[2021-03-08 23:18] weiqingy opened #1581 "[QUERY] Features of Official Java Client"
Hi team

Besides the release notes https://github.com/kubernetes-client/java/releases, I'm wondering if there is any other docs/wikis  introducing the details about the fixes and new features added in the past months (since July 2020)?

We are trying to build an operator, and I have some questions on the official Java client, and would like your confirmation & suggestions.
- Is the Spring Framewor

[2021-03-09 20:38] #1310 closed

[2021-03-09 23:37] brendandburns commented on #1581
Answers:
1) Spring is not a hard dependency, it's entirely optional.
2) There's no built in framework (e.g. mocks) but it will work with JUnit and WireMock (there are lots of examples of such tests in the repo)
3) It's plain HTTP for now, but it does support HTTP/2
4) There are some extensions generated, and there are [instructions](https://github.com/kubernetes-client/java/blob/master/docs/genera

[2021-03-10 06:40] weiqingy commented on #1581
Thanks for the reply, @brendandburns . Its helpful!

[2021-03-10 14:03] srinivasev opened #1584 "Missing classes when jar version is updated from 8.0.2 to 11.0.0"
Hi, I upgraded the client-java version from 8.0.2 to 11.0.0 .

I am unable to see the below classes,

V1beta2Deployment
AppsV1beta1Deployment
ExtensionsV1beta1Deployment
V1beta2DeploymentCondition
AppsV1beta2Api
etc..

What is the reason ?. The client jar should be always backward compatible i feel.

By referrring the compatibility matrix, https://github.com/kubernetes-client/java/wiki/2.-Versioni

[2021-03-10 19:41] brendandburns commented on #1581
Closing the issue. Please use `/reopen` if there is more info needed.

[2021-03-10 19:41] #1581 closed

[2021-03-10 19:46] brendandburns commented on #1584
To set context, this library is generated directly from the Kubernetes API descriptions (OpenAPI Schema) so we follow Kubernetes versions in terms of APIs that are supported.

And yes, that blog explains the things that are removed. The good news is that there are drop-in replacements for all of those objects (e.g. AppsV1Deployment)

Closing this issue since this is working as intended.

[2021-03-10 19:46] #1584 closed

[2021-03-11 10:57] FlorianBuchegger commented on #1580
We updated to `11.0.1`, however, this did not fix our problem. We still see this logs occasionally.

[code]

As we do not want to dissable log output for the whole SharedIndexInformer class, we wonder if the log level for this particular problem could be reduced to info?

[2021-03-11 16:25] brendandburns opened #1586 "12.0.0 release?"
@yue9944882 shall we do a 12.0.0 release? Kubernetes 1.20.x is out in the wild and the 1.21 release is coming soon.

[2021-03-12 06:12] yue9944882 commented on #1586
@brendandburns SGTM!

[2021-03-12 15:03] ThemGo opened #1591 "Cannot connect to Amazon EKS"
Hi,
I am trying to connect to kubernetes service on aws (Amazon EKS).
My first simple task is to list all pods. On command line this works flawlessly (“kubectl get pods -A”), but unfortunately not with official Java client library for kubernetes v11.0.1.
My code is like example class https://github.com/kubernetes-client/java/blob/master/examples/examples-release-11/src/main/java/io/kubernetes/clie

[2021-03-12 23:24] brendandburns commented on #1591
This looks like a network error, in particular it looks like the client can't talk to your server. Do you have an HTTP proxy in the mix?

[2021-03-13 00:19] brendandburns commented on #1586
Fixed by #1592

[2021-03-13 05:00] shazinahmed opened #1593 "listNamespace gives forbidden exception"
Hi,

I am trying to list namespace using the Java client and I get forbidden exception. Below is the relevant section of the code

[code]

[code]

[code]

[2021-03-13 05:06] #1593 closed

[2021-03-13 05:06] shazinahmed commented on #1593
Created by mistake

[2021-03-14 00:46] brendandburns commented on #1586
This is pushed to Maven central now.

[2021-03-15 00:09] karunasagark commented on #1578
Setting the read timeout to < 5 minutes but > 0 i.e. solution 1, didn't help. I thought this will lead to a io timed out exception but it didn't. I'll investigate this.

Solution 2 does work.

[2021-03-15 01:18] brendandburns commented on #1563
Closing this issue due to lack of response. Please use `/reopen` if necessary to re-activate the issue.

[2021-03-15 01:18] #1563 closed

[2021-03-15 01:19] brendandburns commented on #1555
Closing this issue due to lack of response, please `/reopen` if further assistance is needed

[2021-03-15 01:19] #1555 closed

[2021-03-15 01:19] brendandburns commented on #1547
Closing this issue because I believe the question is answered. Please use `/reopen` if further assistance is required.

[2021-03-15 01:19] #1547 closed

[2021-03-15 01:21] brendandburns commented on #1521
It is possible to load everything through the builder, but helping you with the specific code is beyond the scope of this library. If you run into a bug, please file it via the issues queue.

[2021-03-15 01:21] #1521 closed

[2021-03-15 01:22] brendandburns commented on #1507
Sorry for the slow response.

You should be able to catch `ApiException` and then you should be able to use `ApiException.getResponseBody()` to print the details.

[2021-03-15 01:23] brendandburns commented on #1497
Closing this since generating on Windows + Docker is currently out of scope.

[2021-03-15 01:23] #1497 closed

[2021-03-15 01:23] brendandburns commented on #1491
Closing this issue since patch releases are out there.

[2021-03-15 01:23] #1491 closed

[2021-03-15 01:23] brendandburns commented on #1488
Closing this issue.

[2021-03-15 01:23] #1488 closed

[2021-03-15 01:24] brendandburns commented on #1486
Closing this as obsolete. Will re-open if we see new flakes.

[2021-03-15 01:24] #1486 closed

[2021-03-15 06:29] yue9944882 commented on #1586
@brendandburns the branch `release-12` is not present in the repo, am i missing anything?

[2021-03-15 07:47] #1269 closed

[2021-03-15 08:07] karunasagark commented on #1578
Oh I see this [commit](https://github.com/kubernetes-client/java/commit/11a4833a156e95f0bbe3c80e2200fe0452c6140a) overwrites the read timeout I set.

Once I hacked in to remove the overwrite of read timeout to zero, it does work fine. So next, trying to figure out why the above commit was made.

[2021-03-15 08:28] ThemGo commented on #1591
Yes indeed, there is a proxy in the mix.
On command line (where it works) it is set like this: `set https_proxy=proxyserver:8080`

For Java it is set by VM arguments: `-Dhttps.proxyHost=proxyserver -Dhttps.proxyPort=8080`
Without these VM arguments there would be a timeout instead of “forbidden”, this is the output:

[code]

And, in difference to the first try, there is no "handleResponse" in the

[2021-03-15 17:57] brendandburns commented on #1591
So I think that the issue is that the client is trying to talk to the amazon token server to get an authentication token and that isn't working.

The relevant code is here:
https://github.com/kubernetes-client/java/blob/fbf46529894c7f189cc5a604716aae50769d2caf/util/src/main/java/io/kubernetes/client/util/KubeConfig.java#L258

My guess is that this is happening because somehow the HTTP proxy settin

[2021-03-15 18:00] brendandburns commented on #1586
Ah, yes, we need to create a release branch at the relevant commit. I'll see what I can do.

[2021-03-15 18:01] brendandburns commented on #1586
Ok, I created the `release-12` branch at the same commit as the release.

[2021-03-16 02:50] AudiVehicle opened #1598 "missing V1Patch.md for client java"
V1Patch.md should be found https://github.com/kubernetes-client/java/tree/master/kubernetes/docs/V1Patch.md, but i do not see anything.

please fix this,3Q.

[2021-03-16 04:29] brendandburns commented on #1598
Those docs are generated, but V1Patch is a hand-written object. I don't think we will be adding it to the generated docs, but there's a good example of how to use it here:

https://github.com/kubernetes-client/java/blob/master/examples/examples-release-12/src/main/java/io/kubernetes/client/examples/PatchExample.java

[2021-03-16 04:29] #1598 closed

[2021-03-16 15:46] ThemGo commented on #1591
This is the whole kube config file (without personal data):

[config_blurred.txt](https://github.com/kubernetes-client/java/files/6150341/config_blurred.txt)