[2022-01-28 05:58] yue9944882 commented on #2114
let me try reproduce this in my local environment

[2022-01-28 06:01] yue9944882 commented on #2113
thanks for reporting, now its fixed

[2022-01-28 06:01] yue9944882 commented on #2113
/close

[2022-01-28 06:01] #2113 closed

[2022-01-28 07:05] #1859 closed

[2022-01-28 10:19] acasian-harness commented on #2102
hey @brendandburns, did you managed to find any differences? This is blocking us upgrading to 11.0.2 version. Thanks!

[2022-01-28 11:04] yue9944882 commented on #2102
@ketankr9 @acasian-harness @brendandburns  a work-around is to instantiate the informer-factory with apiClient explicitly pinned

[code]

i will file a fix to the master branch and pick to the releases

[2022-01-28 16:05] #1754 closed

[2022-01-28 23:36] apex256 commented on #2114
For what it's worth I get the same thing trying to create v1/PersistentVolume objects through the DynamicKubernetesApi, the commonality is that they are both not namespaced objects, is there a way to use a generic API such as the DynamicKubernetesApi to create non namespaced objects? Assuming that's what is causing these 404s.

[2022-01-31 20:01] #2102 closed

[2022-02-02 15:41] thecrazzymouse opened #2122 "Support setting the terminal size"
**Describe the bug**
The current exec API does not allow to set the size of the terminal or update the size of the terminal at a later time. When Kubectl command line is used it sends a message to update the size of the terminal. The Java API does not have this functionality.

**Client Version**
13.0.0

[2022-02-02 16:38] thecrazzymouse commented on #2122
It should be possible to access the resize stream through this API

[code]

[2022-02-02 19:55] MissakaI commented on #2066
As you suggested `ApiException.getMessage()` function worked. It printed the returned message field in the previously attached response body.

[2022-02-02 22:56] brendandburns commented on #2122
We'd be happy to take a PR to add this functionality.

[2022-02-03 14:30] apex256 commented on #2114
Seems like I've been trying to call the method signature (Namespace, DynamicKubernetesObject, CreateOptions) with a null/empty string namespace thinking that would do the job. That method signature is only for Namespaced objects, using (DynamicKubernetesObject, CreateOptions) did the trick for me.

Closing this, thanks all.

[2022-02-03 14:30] #2114 closed

[2022-02-05 23:56] #1869 closed

[2022-02-07 01:34] sharath-sri-chellappa commented on #2042
@yue9944882 Hi. I am able to reproduce the error even on the following configurations -

Client Version
12.0.0

Kubernetes Version
[code]

Java Version
[code]

Can you please help out here again wrt the issue being faced.

[2022-02-07 04:01] yue9944882 commented on #2042
@sharath-sri-chellappa i wonder if you are hitting this problem, can you try the work-around here?

https://github.com/kubernetes-client/java/issues/2102#issuecomment-1024107973

[2022-02-10 18:22] mg183964 opened #2128 "io.kubernetes.client.custom.Quantity isn't serializable/deserializable back and forth"
**Describe the bug**
I have a requirement to get Pod in json format from kube api in a kotlin project, and deserialize it into V1Pod object. After doing some processing, V1Pod obj will again be serialized and sent as an update to kube api. But when try to deserialize it second time into V1Pod object, the io.kubernetes.client.custom.Quantity is unable to be decoded.

**Client Version**
`14.0.0`

**

[2022-02-10 19:10] brendandburns opened #2130 "leaderElectingControllerTest is flaky"
[code]

[2022-02-10 23:35] mg183964 commented on #2128
It works with Gson mapper but not with jackson

[2022-02-11 11:15] yue9944882 commented on #2128
yea the round-tripping of the models in this repo only works for gson serializer, am not sure if there's a way to convert gson custom codec to jackson's.

[2022-02-11 18:53] brendandburns commented on #2128
I'm going to close this as out of scope/will not fix. If someone wants to add a deserialization handler for Jackson + Quantity, we'd take the PR, but it's not currently a requirement for this library. If you want to deserialize correctly for now you need to use Gson.

The quantity formatter for Gson is here:

https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kuberne

[2022-02-11 18:53] #2128 closed

[2022-02-11 18:55] brendandburns commented on #1218
Reopening this with a new failure:

Error:  Tests run: 6, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 8.087 s <<< FAILURE! - in io.kubernetes.client.extended.leaderelection.LeaderElectionTest
Error:  testLeaderElectionWithRenewDeadline(io.kubernetes.client.extended.leaderelection.LeaderElectionTest)  Time elapsed: 1.402 s  <<< FAILURE!
java.lang.AssertionError: expected:<9> but was:<8>
	at o

[2022-02-11 19:59] #1883 closed

[2022-02-14 06:09] #2130 closed

[2022-02-15 17:24] SledgeHammer01 commented on #2086
My company also requires BouncyCastle FIPs (as do most companies now). Java Client 14.0.0 is incompatible with it. Please upgrade to BouncyCastle FIPs, its not a major change. It's a drop in replacement.

[2022-02-15 18:33] p01K opened #2137 "Cannot write Pod logs to String"
**Describe the bug**
Hello,

When I tried the following code
[code]

The pod logs are printed correctly in stdout,
however when I try to user another OutputStream to
write the logs stream to a string, like
[code]
the program blocks.

Any ideas ?

**Client Version**
`14.0.0`

**Kubernetes Version**
`v1.22.6`

**Java Version**
`Java 17`

**Server (please complete the following information):**
 - OS:

[2022-02-15 18:57] SledgeHammer01 commented on #2086
@brendandburns Any update on this issue? The "standard" BouncyCastle (bcprov) is considered insecure and not allowed at most companies. You should be using bc-fips and bcpkix-fips. They are mostly drop in replacements. A few minor namespace differences and a few classes were renamed to xxxFips, etc.

[2022-02-15 19:30] gfvirga commented on #2137
I ran into the same error. I believe there is a bug in `Streams.copy()` that hangs the connection when the buffer isn't full.
I fixed it by copying the function and adding `out.flush()` inside the while loop.

PS: this is in kotlin
[code]

[2022-02-16 17:44] p01K commented on #2137
I tried the following
[code]

and after it reads some bytes (they seemed to be all the pod logs up to that time), the final read just blocks

[2022-02-16 18:42] gfvirga commented on #2137
Is it blocking the final log lines of a running pod?

Did you try `buffer.flush()` after the while loop too? I don't know why, but that way worked for me.
This is where I copycat the code from.
https://github.com/kubernetes-client/java/blob/9360c35afa65a4cc79624eaac7dc1d6f540ff235/util/src/main/java/io/kubernetes/client/util/Streams.java#L24

[2022-02-17 02:53] aespinosa commented on #1972
If you look at https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/generic/dynamic/DynamicKubernetesApi.java#L22-L25 the javadoc has it written there.

it's purpose is for when there is no Java POJO for let's say a CRD object.  But this can be used with vanilla Kubernetes resources too

[2022-02-17 02:54] aespinosa commented on #1972
Samples in https://github.com/kubernetes-client/java/wiki/3.-Code-Examples shows passing the `ApiClient` object in various `*Api` constructors.

[2022-02-17 10:48] abelsromero commented on #2066
We are struggling with similar scenario but we cannot call methods since errors occur during startup via Spring configuration for example.
We end up with simple `io.kubernetes.client.openapi.ApiException: ` with no info, for example could be for lack of permissions for the service account or API not available in some cloud provider/k8s version, but it's not possible to know. Would it make sense (e

[2022-02-17 18:51] brendandburns commented on #2137
I'm going to close this issue, because I don't believe this is a problem with this client.

In my experience you do need to flush many streams (especially buffered streams) to ensure all bytes get written to disk/file.

[2022-02-17 18:51] #2137 closed

[2022-02-18 02:22] momomobinx opened #2142 "How to get pod info like use "kubectl describe pod xxxxx" and get Events info"
`
Events:
  Type     Reason   Age                     From     Message
  ----     ------   ----                    ----     -------
  Normal   BackOff  6m19s (x586 over 141m)  kubelet  Back-off pulling image "busybox:v1.0"
  Warning  Failed   87s (x32 over 141m)     kubelet  Failed to pull image "busybox:v1.0": rpc error: code = NotFound desc = failed to pull and unpack image "docker.io/library/bu

[2022-02-18 03:09] momomobinx commented on #2142
Use this ? Has other way?
`
CoreV1EventList events = coreV1Api.listNamespacedEvent("namespace",null,null,null,null,null,null,null,null,null,null);

        System.out.println("  Type     Reason   Age                   From     Message");
        System.out.println("  ####     ####   ####                  ####     #######");
        for(CoreV1Event event : events.getItems()) {

            if(event

[2022-02-18 08:56] augustshen opened #2143 "exec java seems not work."
when I start a pod, I want to start some web service in it. so I wirte a function
	private void kunExec(String ns, String podname, String[] cmd) {
		try {
			Exec exec = new Exec();
			Process proc = exec.exec(ns, podname, cmd, null, false, false);
		} catch (IOException e) {
			// TODO Auto-generated catch block
			System.out.println(e.getMessage());
			e.printStackTrace();
		} catch (ApiExceptio

[2022-02-20 22:30] brendandburns commented on #2142
`kubectl describe ...` is a pretty complicated piece of client side code. It integrates a bunch of different API calls. If you are interested in the events, then yes, that code is the best way to get the events.

I'm closing this issue since it is currently out of scope for the library. If you want to implement it, we have some kubectl equivalent commands here:

https://github.com/kubernetes-clien

[2022-02-20 22:30] #2142 closed

[2022-02-20 22:32] brendandburns commented on #2143
My guess is that using a shell is setting up a bunch of things like `$PATH` variables and the like, but I'm not certain.

I'm going to close this issue because I believe the client is working as expected, since several other commands work. I believe there's an issue inside your container.

Please use the `/reopen` command if you determine that there is a problem with the client.

[2022-02-20 22:32] #2143 closed

[2022-02-21 09:43] stefanbethke commented on #1710
I'm running in to this very issue, on macOS, Docker Desktop:
[code]

[2022-02-22 03:16] dddddai opened #2146 "Support for transforming objects in shared informers"
Recently k8s client-go has introduced a transform func that allows users to customize objects in informers, I think we should follow it as it can be really beneficial (e.g. reducing memory usage)

For more info please refer to:
https://github.com/kubernetes/kubernetes/pull/104300
https://github.com/kubernetes/kubernetes/pull/107507

[2022-02-22 03:45] dddddai commented on #2146
/assign

[2022-02-22 03:50] #1897 closed

[2022-02-24 09:05] #2146 closed

[2022-02-24 20:12] rjeberhard commented on #2112
It turned out to be pretty easy to do this.

[2022-02-24 20:12] #2112 closed

[2022-02-25 21:03] stevenschlansker commented on #2066
We are running into this problem as well - `ApiException` is thrown with a `null` message, and the inherited `Exception.toString` method does not know about the `responseBody`, so it does not get printed and all you see is `ApiException: null` which is extremely unhelpful.

[2022-02-27 23:57] sharath-sri-chellappa commented on #2042
@yue9944882 Sorry for the delay. According to the workaround, I changed the code to the following -
[code]

The output still remains to be the same -
[code]

I believe it would be best for me to provide you with the repository link to the file -

https://github.com/sharath-sri-chellappa/kubevirt-java-client/blob/main/examples/VMIInformerExample.java#L306

This contains the entire code that I am tr

[2022-02-28 02:12] ming0804 commented on #2122
stty cols 190 rows  50  可以先用这个临时解决下

[2022-02-28 02:51] GitHub-Yann opened #2151 "SharedIndexInformer does not work while watching the kubernetes event"
**Describe the bug**
The SharedIndexInformer does not work while watching the kubernetes event.

**Client Version**
[code]

**Kubernetes Version**
[code]

**Java Version**
[code]

**To Reproduce**
See below "Additional context"

**Expected behavior**
The informer should always work and watch the event of kubernetes.

**KubeConfig**
[code]

**Server (please complete the following information):**
 -

[2022-02-28 02:55] akaxb commented on #2151
we have the same problem, no error, seems sometimes it will stop watch.
maybe this issue https://github.com/kubernetes-client/java/issues/896  need to reopen.

[2022-02-28 06:05] wangcanfengxs opened #2152 "Error decode for generated OffsetDateTime filed in CRD"
**Describe the bug**
When I generate a CRD model and use a `timestamp` filed like `.metadata.creationTimestamp`. But the `timestamp` filed type is `OffSetDateTime`, it cause error when I use k8s api to get an object.

**Client Version**
`10.0.1`

**Kubernetes Version**
`1.18.19`

**Java Version**
e.g. Java 8

**To Reproduce**
1. Definition a CustomResourceDefinitioin
2. Generate a model
3. Use thi

[2022-02-28 06:35] Delovelyeleven opened #2153 "io.kubernetes.client-java:14.0.0 missing V1PodBuilder"
**Describe the bug**
io.kubernetes.client-java:14.0.0 missing V1PodBuilder

**Client Version**
`14.0.0`

**Kubernetes Version**
`1.21`

**Java Version**
Java 8

[2022-02-28 12:35] H1manshu-Soni commented on #2105
Hey @wideocean I am a beginner trying to fnid some issues to fix and I think this wil be a good issue to start with, can you point me to the website and the resources required.
-Himanshu

[2022-02-28 13:40] eversC opened #2154 "Patch release of version 14"
Please could a patch version of client-java 14 be released? I'm specifically after the fix in protobuf-java for [CVE-2021-22569](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22569) (fixed in version `3.19.2`)

[2022-02-28 18:05] brendandburns commented on #2152
How are you instantiating the Gson object? If you use the one in the client library, I believe it should work. What is the exception trace you are seeing?

[2022-02-28 19:38] wideocean commented on #2105
@H1manshu-Soni
The wiki can be found here: https://github.com/kubernetes-client/java/wiki

Code examples are already fixed it seems.
Installation sub page is still outdated (minor issue): https://github.com/kubernetes-client/java/wiki/1.-Installation

If you think you can fix and update the page, go for it.

[2022-02-28 19:41] wideocean commented on #2153
V1PodBuilder is located here:
https://github.com/kubernetes-client/java/blob/client-java-parent-14.0.0/fluent/src/main/java/io/kubernetes/client/openapi/models/V1PodBuilder.java

[2022-02-28 19:45] brendandburns commented on #2154
If you send a cherrypick of https://github.com/kubernetes-client/java/pull/2061 onto the release-14 branch we can see about doing a patch release.

[2022-02-28 19:48] H1manshu-Soni commented on #2105
Hey @wideocean I am not sure if I understand you correctly but what exactly do you want to me to fix this might be a dumb question but i just dont know what to do there I am sorry for the trouble.

[2022-02-28 19:49] brendandburns commented on #2151
Have a look at this here:

https://github.com/kubernetes-client/java/issues/1370

And see if that fixes it for you? If so we should add that to client initialization.

[2022-02-28 19:50] brendandburns commented on #2151
Hrm, looks like this is fixed in the 14.0.0 release:

https://github.com/kubernetes-client/java/pull/1498/files#diff-05af68ab89a99b7dd1b192fb42e908803b22fd66bb12263e5cd88710dd4cca4aR382

Can you try updating to 14.0.0?

[2022-02-28 20:06] wideocean commented on #2105
@H1manshu-Soni
The installation sub page states version 10 while the latest published release is version 14.

[2022-03-01 00:16] #1901 closed

[2022-03-01 00:16] tina-root commented on #1901
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-03-01 05:01] yue9944882 commented on #2042
@sharath-sri-chellappa thx, will try reproduce this issue from the repo u linked

[2022-03-01 07:39] H1manshu-Soni commented on #2105
How can I edit the wiki page I am really sorry but I am very new to this stuff.

[2022-03-01 07:59] H1manshu-Soni commented on #2105
Hey @wideocean I have fixed the version problem is there anything else you want me to do?
Thanks at first it felt hard but with your help it made this much easier!

[2022-03-01 16:27] th0masb commented on #290
I observe this issue too. Seems like a bug if the authenticator throws an exception if the "expiry" key is missing from the config when it sometimes is missing.

[2022-03-02 01:51] umeshthakre commented on #2101
Hello, I am new to opensource and would like to contribute to this project. Can you please guide me on this issue?

[2022-03-02 12:53] momomobinx opened #2156 "A connection to xxx was leaked. Did you forget to close a response body?"
**Describe the bug**
[code]

**Client Version**
 `14.0.0`

**Kubernetes Version**
 `1.21.1`

**Java Version**
 Java 8

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**KubeConfig**
If applicable, add a KubeConfig file with secrets redacted.

**Server (please complete the following information):**
 - OS: [e.g

[2022-03-02 17:04] pgalache opened #2157 "Implement support to client certificate auth using a exec command in KubeConfig"
Currently the library does not support authentication using client certificate when that certificate is the output of an exec command. The exec command always expects a token.

There is a comment in [code](https://github.com/kubernetes-client/java/blob/f9f02728a2b72a1ac7eb014ecb45b6d2a44f4d48/util/src/main/java/io/kubernetes/client/util/KubeConfig.java#L284) indicating that KubeconfigAuthenticatio

[2022-03-04 09:40] Wiguwbe commented on #2154
Hey there, @eversC this should be done,

And, sorry to ask, but I'm not _used_ to this, @brendandburns when can we expect an hypothetical 14.0.1 release?

[2022-03-04 18:33] brendandburns commented on #2157
We would gladly take PRs for this, but currently no plans to implement it.

[2022-03-04 23:58] brendandburns commented on #2156
We need more details on what you were doing here.

Did you close the `InputStream` that you got back from the streamNamespacedPodLog() call?

[2022-03-05 00:15] brendandburns commented on #2154
@Wiguwbe

I have kicked off a 14.0.1 release in github actions. I'll update this issue when it completes.

[2022-03-05 00:30] brendandburns commented on #2154
Ok, this has completed successfully. It should be in Maven Central in 24hrs

[2022-03-05 00:30] #2154 closed

[2022-03-08 03:49] brendandburns commented on #2151
@GitHub-Yann did this fix things for you?

[2022-03-08 04:22] GitHub-Yann commented on #2151
It's running successfully for 6 days .
We will keep monitoring this.

For this issue, I think we can close it right now.
I will post futher monitor info on this issue.

Thanks.

[2022-03-08 16:48] brendandburns commented on #2151
Great to hear it's working for you!

[2022-03-10 02:07] nuclearwu opened #2164 "Is there any API for creating yaml in batches？"
Is there any API for creating yaml in batches (similar to kunectl create -f xxxx.yaml), without considering splitting a yaml (including one or more ConfigMap, Service, Deployment) containing different types and multiple resources into a single resource create? Does java-client-extended have such a function? Are there any relevant examples?

**Describe the bug**
A clear and concise description of w

[2022-03-10 03:11] brendandburns commented on #2164
Look at `Yaml.loadAll(...)` https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/Yaml.java#L159

That should do what you want.

[2022-03-10 03:11] #2164 closed

[2022-03-10 03:12] brendandburns commented on #2164
I realized that you might have been asking about creating, not just loading. And the answer to that is 'no' you will need to iterate across the list created by `loadAll(...)` and create each object individually.

fwiw, this is what `kubectl` does under the hood also.

[2022-03-10 03:15] brendandburns commented on #2101
@umeshthakre thanks for your interest. This was actually fixed by:

https://github.com/kubernetes-client/java/pull/2124

However there are a number of tests that still use `sleep(...)` in them and are therefore flaky. If you wanted to fix one of those tests it would be much appreciated!

[2022-03-10 03:15] #2101 closed

[2022-03-10 03:15] brendandburns commented on #2101
See this umbrella issue:

https://github.com/kubernetes-client/java/issues/1223

[2022-03-10 05:34] nuclearwu commented on #2164
I got it, thanks

[2022-03-10 06:21] #1218 closed

[2022-03-10 20:07] sharath-sri-chellappa commented on #2042
@yue9944882 Any updates here ?

[2022-03-11 09:09] mamachanko opened #2166 "Informer health monitoring and error callback"
When creating and starting informers with the `SharedIndexInformerFactory` I would like to get insight on the health of the informers. As far as I can tell, once started, it's a black box.

Ideally, I would be able to register code to act on error conditions.

[2022-03-11 15:34] brendandburns commented on #2166
One of the constructors for SharedIndexInformerFactory takes an exception handler

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/informer/SharedInformerFactory.java#L155

That should enable you to handle errors.

[2022-03-11 15:52] mamachanko commented on #2166
I missed that. Thanks @brendandburns 🙇🏻

[2022-03-11 15:52] #2166 closed

[2022-03-13 08:42] mamachanko opened #2167 "What's the resync behaviour of a `SharedIndexInformer` with a 0 ms resync period?"
The `SharedIndexInformerFactory.sharedIndexInformer(callGen, apiType, apiListType)` defaults to a _0 ms_ resync period.

https://github.com/kubernetes-client/java/blob/5cd447eac861de53b902cd85b2fcd8dc3fa83789/util/src/main/java/io/kubernetes/client/informer/SharedInformerFactory.java#L104

Does that mean it never resyncs or does it assume the _default_ resync period? If it's the latter, I struggle

[2022-03-13 11:39] roman-zadvornov commented on #2059
I'm facing same problem here. The reason it is not working it creates a Process, but doesn't destroy it. I've copied a two methods from Copy class but have to manually destroy the created process. And it worked for me.

public void copyFileToPod(String namespace, String pod, Path srcPath, Path destPath) throws ApiException, IOException {
        Process process = execCopyToPod(namespace, pod, dest

[2022-03-14 12:32] GitHub-Yann commented on #2151
Hi @brendandburns ,
At March 12, Our IT upgraded the confiuration of the kubernetes master node.

Today, March 14, I found my watch project was stopped.

In this project, It has 2 jobs:
(1) watch the kubernetes event ;
(2) pull the server list from eureka server every 30 seconds.

from below image, we can see the kubernetes watch log was stopped at march 12 , 22PM , but the eureka pull log is alwa

[2022-03-14 15:08] amahfouz1 opened #2168 "bcprov-jdk15on and bcprov-ext-jdk15on 1.69 sonatype-2019-0673 vulnerability"
Describe the bug
Based on SONATYPE-2019-0673, there is no upgrade path for this dependency. Is there any alternative option or a workaround to address this vulnerability? Thanks!

[code]
https://cwe.mitre.org/data/definitions/400.html

Client Version
14.0.1

[2022-03-15 00:31] dddddai commented on #2167
It means the former

[2022-03-15 03:49] brendandburns commented on #2168
That link appears to be salesforce-only? Do you have an external link to that vulnerability report?

Also this appears to be referencing bouncy-castle 1.69, but we have already updated to 1.70:
https://github.com/kubernetes-client/java/pull/2021

[2022-03-15 07:02] yue9944882 commented on #2167
yes 0 means never resync, which is aligning to the client-go informer's behavoir

[2022-03-15 07:41] mamachanko commented on #2167
Thank you @dddddai @yue9944882 !

[2022-03-15 07:41] #2167 closed

[2022-03-15 07:46] #2156 closed

[2022-03-16 02:45] I-want-to-knowledge opened #2169 "Caused by: org.apache.http.conn.ConnectTimeoutException: Connect to service-name:80 [service-name/10.96.116.239] failed: connect timed out"
# **Describe the bug**
Service discovery error

# **Client Version**
e.g. `13.0.2`

# **Kubernetes Version**
e.g. `1.20.+`

# **Java Version**
e.g. Java 11.0.5

# **To Reproduce**
## 1---------------
spring-boot-starter-parent:2.6.4
spring-cloud-dependencies:2021.0.1
    spring-boot-starter-web
    spring-cloud-starter-openfeign
    spring-boot-starter-actuator
    feign-httpclient (io.github.open

[2022-03-16 02:49] I-want-to-knowledge commented on #2169
e.g. Java 11.0.11 is normal

[2022-03-16 06:27] I-want-to-knowledge commented on #2169
使用discoveryClient.getInstances("caas-core-svc")得到如下结果；
-------------------------------------------------
[KubernetesServiceInstance{instanceId='9f120881-4176-48b4-bcfc-678ae8f4a64d', serviceId='caas-core-svc', host='100.64.196.216', port=8080, uri=http://100.64.196.216:8080, secure=false, namespace=caas-system, cluster=null, metadata={null=8080, adp.aliyuncs.com/component-version=1.5.3-0, adp.aliy

[2022-03-16 10:17] pgalache commented on #2157
/assign

[2022-03-16 20:56] brendandburns commented on #2169
I don't think this is a client error. But more importantly this looks like it is running in a unit test?

We need much more detail on the environment and the stacktraces to see if there is a problem here in the client, but I suspect that there's a problem with your server.

[2022-03-17 06:08] yue9944882 opened #2172 "Flakiness observed: testLeaderElectingController(io.kubernetes.client.extended.controller.LeaderElectingControllerTest)"
[code]

[2022-03-17 15:39] sharath-sri-chellappa commented on #2042
@yue9944882 Any updates here ?

Anyone can help here please ?

[2022-03-17 21:42] brendandburns commented on #2172
Is it possible that this test actually takes > 90 seconds? It seems unlikely... I will introspect the code also.

[2022-03-18 08:33] pgalache commented on #2157
Close as it's implemented in #2170

[2022-03-18 08:33] #2157 closed

[2022-03-20 18:00] brendandburns commented on #2172
Fixed by #2174

[2022-03-20 18:00] #2172 closed

[2022-03-21 03:20] yue9944882 commented on #2042
@sharath-sri-chellappa it's still in my list, will try reproduce this in this week, thanks!

[2022-03-22 06:36] yue9944882 commented on #2172
@brendandburns good news it looks that the flakiness have been settled by the latest fix. i guess it's probably b/c mac-os has a different behavior in inter-process/thread signal'ing. so we need an additional catch block handling new unknown exceptions from the platform.

[2022-03-22 07:51] Afei14138 opened #2177 "connect to"

[2022-03-22 07:51] #2177 closed

[2022-03-22 08:01] Afei14138 opened #2178 "connect to k8s cluster using java client with kubeconfig file report “Path does not chain with any of the trust anchors”"
As title says，Here is my code
[code]

My config file is copied from my own k8s cluster master node , the path is /root/.kube/config
Here is the exception stack:
[code]

Thanks for a lot :)

[2022-03-22 09:39] mlauke commented on #1273
mhm... i think if the adal library is optional, then the _ io.kubernetes.client.util.KubeConfig.getAccessToken()_ should be aware of this. in terms of "adal4j" acts as a k8s driver and it's not available then this should result in a warning, but not in a runtime error here. i've mixed kube configs for aws, azure at the same time and no idea how to tackle this.

[2022-03-22 11:33] jawad846 commented on #716
@pattyphonemany691, could you pls help what to do here. I'm using AWS EKS. I'm getting the same error

`Error from server (Forbidden): error when creating "claim.yml": persistentvolumeclaims "efs-claim-ro" is forbidden: may only update PVC status`

[2022-03-22 13:16] benor1470 commented on #2086
I also need this update as part of fips migration, can I do it myself?
the new version will also fix https://github.com/kubernetes-client/java/issues/2168

[2022-03-22 14:23] gladhiola opened #2179 "java api for kubernetes 1.23"
Hi Team,
I couldn't find any related information about kubernetes-client for kubernetes 1.23 (https://kubernetes.io/blog/2021/12/07/kubernetes-1-23-release-announcement/)
Could you give some information related to this topic? Will there be a java client for 1.23 and when will it be available?
Thanks,
BR,
Melinda

[2022-03-23 04:36] yue9944882 commented on #2179
@gladhiola we will schedule a new release for 1.23 soon, hopefully this week or next, thanks

[2022-03-23 06:13] jawad846 commented on #716
I installed the EFS CSI driver to mount EFS on EKS, I followed [Amazon EFS CSI driver](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html).

I've faced the below error while deploying PersistentVolumeClaim.

[code]

StorageClass.yaml -->

[code]

pv.yaml -->

[code]

pvclaim.yaml -->

[code]

Kindly help me to resolve this

[2022-03-23 06:14] jawad846 opened #2180 "Forbidden: may only update PVC status"
I installed the EFS CSI driver to mount EFS on EKS, I followed [Amazon EFS CSI driver](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html).

I've faced the below error while deploying PersistentVolumeClaim.

[code]

StorageClass.yaml -->

[code]

pv.yaml -->

[code]

pvclaim.yaml -->

[code]

Kindly help me to resolve this

[2022-03-23 17:45] abelsromero commented on #2066
I run into the same thing today, and resorted to making a custom build of the client adding this to `ApiException` (btw, kudos for how easy it was, mvn package and done!).

[code]

With that I went from
[code]

to

[code]

I am not argueing this is trivial and should be done based on code lines count, we should probably sanitize the output and account for many more things. But I hope this exemplif

[2022-03-23 23:13] brendandburns commented on #2180
Are you using this Java client? It appears that you are using `kubectl`?

Regardless, the error is caused by the persistent volume claim already existing. Only the `status` sub-resource in the `PersistentVolumeClaim` resource can be modified once it is created.

[2022-03-24 05:59] haoming-db commented on #2151
@GitHub-Yann Did you find a solution?
We hit a similar issue after API server overwhelmed and restarted: some informers are still working while one of them stop getting updates.

[2022-03-24 06:51] GitHub-Yann commented on #2151
@haoming-db
No.
After restart the project, we are still monitoring it and waiting the response.
If you can tolerate the delay , I think you can pull the k8s service-pod list every fixed time like eureka。

[2022-03-24 16:03] brendandburns commented on #2179
@yue9944882 do you want me to cut the release?

[2022-03-25 12:10] jawad846 commented on #2180
I fixed the issue with aws support.

Posting the resolution might help someone.

We removed the `system:nodes` ands `system:bootstrappers` permission of the controller server from the aws-auth configmap. and it's fixed the issue.

Previous  configmap/aws-auth -->

[code]

Currenlt configmap/aws-auth -->

[code]

Thanks @all

[2022-03-25 12:10] #2180 closed

[2022-03-25 19:02] haoming-db opened #2183 "Informer watch call doesn't respect timeout from CallGenerator"
**Describe the bug**
The `ReflectorRunnable` sets a random [5-10mins timeout for watch call](https://github.com/kubernetes-client/java/blob/release-13/util/src/main/java/io/kubernetes/client/informer/cache/ReflectorRunnable.java#L117). However, this timeout doesn’t really affect watch call , because: in `SharedInformerFactory`, [it implements a ListerWatcher whose watch call uses underlying client

[2022-03-25 19:05] haoming-db commented on #2151
Hi @GitHub-Yann, I recently found a potential bug: https://github.com/kubernetes-client/java/issues/2183#issue-1181153693
Base on my local experiments, once that bug is resolved, the watch call will have client-side timeout every 5-10mins, and will trigger a redo list-watch. This will make sure your informer don't stuck forever - at least it can "re-list" from API server every 5-10 mins.

[2022-03-25 19:09] haoming-db commented on #2183
To work around this problem, you can either: 1) implement your own `SharedInformerFactory` to replace the default one in ` SharedInformerFactory`; or 2) explicitly set a non-0 timeout (for example 5-10mins) in your `OkHttpClient.callTimeoutMillis `.

[2022-03-26 23:03] #1621 closed

[2022-03-27 09:07] #1950 closed

[2022-03-28 02:01] GitHub-Yann commented on #2151
Hi @haoming-db ,
Can you share the main logic of your watch code ?

My usage is in my first comment.

[2022-03-28 12:35] yue9944882 commented on #2179
@brendandburns i just cut the release this time b/c this is the first time we bump a major release via the action. note that we will need to manual checkout and push a release branch upon every major release, plz TAL at https://github.com/kubernetes-client/java/pull/2185

[2022-03-28 13:41] rotty3000 opened #2186 "Avoid using internal `gson` packages for better modularity"
**Describe the bug**
Kubernetes Java client is trying to be a OSGi bundle which I admire and wish to assist with. However, there are several small issues to resolve. The first couple issues are breaking the concept of isolation between implementations.

In this specific case the client uses internal `gson` package to handle ISO 8601 dates.

**Client Version**
14.0.1 (and earlier)

**Kubernetes Ver

[2022-03-28 15:38] brendandburns commented on #2186
We're open to this, but please be aware that much of this library is generated code (most of the contents of `kubernetes`) so if you plan on making changes there, they need to be made in the code generator, not the checked-in source code.

[2022-03-28 22:02] brendandburns commented on #2186
Thanks, the generated code starts here:

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/Java/JSON.mustache

[2022-03-29 05:37] yue9944882 commented on #2179
15.0.0 is out

/close

[2022-03-29 05:37] #2179 closed

[2022-03-29 15:55] johnflavin-fw opened #2189 "Question: API health endpoints?"
I am implementing a java application to connect to a kubernetes cluster using this client library. Among other endpoints, I would like to connect to the [Kubernetes API health endpoints](https://kubernetes.io/docs/reference/using-api/health-checks/). But I cannot see how to connect to these endpoints using this client.

Can anyone show me an example of how to do this?

[2022-03-29 17:56] brendandburns commented on #2189
These endpoints are not formally part of the API definition that most of this client is generated from. You will have to write custom code to do this.

You're going to need to use the `ApiClient.execute(...)` method similar to what the generic client does here:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/generic/GenericKubernetesApi.java#L797

[2022-03-29 21:19] haoming-db opened #2190 "Informer ReflectorRunnable doesn't recover from "Too large resource version""
**Describe the bug**
Informer ReflectorRunnable doesn't recover from "Too large resource version".
`ApiException.getResponseBody` is like:
[code]
Based on my understanding, this could happen at `list` call when the resource version param is too large for that API server / ETCD instance.
We should set `isLastSyncResourceVersionUnavailable = true;` in this case.
See go client: https://github.com/kub

[2022-03-29 22:26] brendandburns commented on #2190
Why is this exception returning 504 (timeout) instead of 410 (gone)

The current code is only looking at the status code:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/informer/cache/ReflectorRunnable.java#L172

While we could do more here, I'm confused about why this is a timeout HTTP status code.

[2022-03-30 08:51] abelsromero opened #2192 "V1PodReadinessGate().conditionType only accepts preset enums in v15.0.0"
**Describe the bug**
`conditionType` has been changed to enum `V1PodReadinessGate.ConditionTypeEnum` in v15.0.0 which prevents from using custom checks.
In previous versions it was a String which allowed to set the name of the check directly, without it anyone using a custom readiness check is forced to stay on v14.x.

**Client Version**
v15.0.0

**Kubernetes Version**
e.g. `1.19.3`

**Java Versio

[2022-03-30 09:41] rotty3000 commented on #2186
Given the PR is merged I'm assuming this can be closed.

But before that happens I wanted to close the loop on the issue of `JSON` being ignored from being generated. In order to go back to being generated we need to retroactively discover all the changes that were made since it was ignored.

If someone can explain where ignore is set I might be able to figure out which commit added it and any cha

[2022-03-30 10:46] rotty3000 commented on #2186
.. found it `kubernetes/.openapi-generator-ignore` thx. closing now.

[2022-03-30 10:46] #2186 closed

[2022-03-30 10:50] rotty3000 opened #2193 "Avoid using internal jose packages for better modularity"
**Describe the bug**
Kubernetes Java client is trying to be a OSGi bundle which I admire and wish to assist with. However, there are several small issues to resolve. The first couple issues are breaking the concept of isolation between implementations.

In this specific case the client uses internal jose package to handle extracting JSON fields while there is a public API for doing the same.

**Cl

[2022-03-30 11:00] rotty3000 commented on #2193
Actually the file in question is not ignored and so the changes I am considering need to go upstream to the generator.

[2022-03-30 11:00] #2193 closed

[2022-03-30 17:51] yue9944882 commented on #2192
https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.23/api/openapi-spec/swagger.json

it seems that the openapi-spec on 1.23 release branch is broken, in the past it's just a plain string type, but since 1.23 it became an enum. will send a fix to that branch. thanks for reporting this.

[2022-03-30 18:06] yue9944882 commented on #2192
UPDATE: see the bug report at https://github.com/kubernetes/kubernetes/pull/105057#issuecomment-1083448820, the fix is https://github.com/kubernetes/kubernetes/pull/105057#issuecomment-1083450656

[2022-03-30 18:12] yue9944882 commented on #2190
@brendandburns interestingly the expected status code is indeed `504` here https://github.com/kubernetes/kubernetes/blob/f14d1c9b1ef2b3b332d6b83d10da27fe3855acad/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L402. i will add a check for handling this kind of error

[2022-03-30 18:13] yue9944882 commented on #2190
https://github.com/kubernetes/kubernetes/pull/94316 this is the golang version of the fix we're looking for

[2022-03-30 22:21] sharath-sri-chellappa commented on #2042
@yue9944882 Any luck here ?

[2022-04-01 11:58] tiandizhiguai opened #2196 "Socket is closed!"
WebSocketStreamHandler.close() throws the error as fallow,  I think the code : "state = State.CLOSED" should be at the end of the method.
java.io.IOException: Socket is closed!
	at io.kubernetes.client.util.WebSocketStreamHandler$WebSocketOutputStream.flush(WebSocketStreamHandler.java:221)
	at io.kubernetes.client.util.WebSocketStreamHandler.close(WebSocketStreamHandler.java:136)
	at io.kubernetes

[2022-04-03 17:23] #1933 closed

[2022-04-03 18:28] brendandburns commented on #2196
I think this is a duplicate of https://github.com/kubernetes-client/java/issues/1891

Closing in favor of that issue. (which sadly we haven't fixed yet...)

Will try to get to it soon. Please use the `/reopen` command if you think this is a different issue.

[2022-04-03 18:28] #2196 closed

[2022-04-04 15:51] newzubakhin commented on #1011
/reopen

Hi. Is there a way to handle `ApiException` during leader election? Now it causes endless loop with exceptions.

[2022-04-06 07:47] yue9944882 opened #2203 "Flakiness: LeaderElectingControllerTest.testLeaderElectingController:112"
[code]

[2022-04-09 23:38] #1822 closed

[2022-04-11 04:16] yue9944882 opened #2210 "Flakiness: CopyTest"
[code]

[2022-04-11 12:39] srinivasev commented on #315
Hi @brendandburns ,
Can you please share the link of the code snipped for this -- **Closing this issue since it is working via the exec implementation.**

I am trying to understand whether a token can be fetched using AWS IAM access key ID and Secret access key.

[2022-04-12 14:51] ojagodzinski commented on #2153
@VikasChoata88 all .*Builder classes got removed
- https://javadoc.io/static/io.kubernetes/client-java-api/12.0.2/allclasses-noframe.html
- https://javadoc.io/static/io.kubernetes/client-java-api/14.0.1/allclasses-noframe.html

[2022-04-13 07:09] weiqingy opened #2211 "[Query] Client metrics/monitoring"
We have been developing our operators using the kubernetes java client, and want to define some metrics about the operators, e.g. healthy metric, lagging metric, etc.

Prometheus metrics are used by the kubernetes java client ([example](https://github.com/kubernetes-client/java/blob/f20788272291c0e79a8c831d8d5a7dd94d96d2de/util/src/main/java/io/kubernetes/client/monitoring/Monitoring.java#L16)). I

[2022-04-13 16:37] johnflavin-fw opened #2213 "Outdated user agent string"
**Describe the bug**
On initialization the `io.kubernetes.client.openapi.ApiClient` sets a user agent string hard-coded with an old snapshot version.

[code]

See https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/openapi/ApiClient.java#L106

**Client Version**
`14.01`

**Java Version**
Java 7

**Expected behavior**
If the user agent is to include t

[2022-04-15 08:43] #1989 closed

[2022-04-15 21:52] weiqingy commented on #2211
For [the controller-runtime in go](https://github.com/kubernetes-sigs/controller-runtime/blob/1e4d87c9f9e15e4a58bb81909dd787f30ede7693/pkg/internal/controller/metrics/metrics.go#L45), seems they have the default exported metrics: https://github.com/kubernetes-sigs/kubebuilder/blob/c0a0bb6dc05e04332cb7b460bef5f155b53770cc/docs/book/src/reference/metrics-reference.md

I wonder if the java client has

[2022-04-16 11:51] #1926 closed

[2022-04-18 04:57] yue9944882 commented on #2192
this will be fixed by https://github.com/kubernetes-client/java/pull/2212

[2022-04-18 04:59] yue9944882 commented on #2213
/kind bug

i think we need to figure out a way to automatically refresh the version in the user-agent

[2022-04-18 08:06] #1990 closed

[2022-04-18 21:49] brendandburns commented on #2211
All of the metrics that we have are defined here:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/monitoring/PrometheusInterceptor.java

I think that we would be open to adding more.

[2022-04-18 21:49] brendandburns commented on #2213
@yue9944882 we should probably lift the hold on re-generating this file with each release...

[2022-04-19 06:14] yue9944882 commented on #2192
https://github.com/kubernetes-client/java/pull/2217

published 15.0.1, the new release should be available in the central registry w/i 48 hrs.

/close

[2022-04-19 06:14] #2192 closed

[2022-04-19 17:11] rjeberhard opened #2218 "Helpful enum values in model classes reverted in 15.0.1"
The 15.0.0 release updated the generated model classes with helpful enum classes, e.g. for imagePullPolicy legal values in V1Container. Now, the 15.0.1 release reverts these improvements.

I've already gone through the pain :) of updating our usage to the 15.0.0 pattern. Why were these changes reverted? Will the enum classes come back in a later version? Thanks!

[2022-04-19 18:24] haoming-db commented on #2183
@brendandburns @yue9944882 Could you help to triage? Thanks!

[2022-04-19 18:39] haoming-db opened #2219 "EventHandler ResyncPeriod overriding is not respected in DefaultSharedIndexInformer.java"
**Describe the bug**
EventHandler ResyncPeriod overriding is not respected in DefaultSharedIndexInformer.java
This line has a bug: https://github.com/kubernetes-client/java/blob/automated-release-15.0.1/util/src/main/java/io/kubernetes/client/informer/impl/DefaultSharedIndexInformer.java#L195
The `determineResyncPeriod(resyncCheckPeriodMillis, this.resyncCheckPeriodMillis)` is taking 2 identical a

[2022-04-20 07:54] zqzten opened #2221 "The default datetime formatter of OffsetDateTime is dropping time zone info"
**Describe the bug**
Recently I found my Java controller is producing events with wrong timestamps: for example its firstTimestamp field is `2022-04-19T20:00:00Z` but the actual first event time is at 2022-04-19 12:00:00 UTC.

My controller is running in UTC+8 so I realized there might be some problem with the time formatter of Java client and found below code in `src/main/java/io/kubernetes/clien

[2022-04-20 08:01] zqzten commented on #2221
/assign

[2022-04-20 18:45] #2221 closed

[2022-04-21 03:40] yue9944882 commented on #2218
@rjeberhard it is reverted due to https://github.com/kubernetes-client/java/issues/2192. we're seeing some complaints about broken enum types. the new enum type is controlled by a feature-gate named `OpenAPIEnumType` which is still under unstable alpha phase. we will surely land onto that after that feature graduate into beta, hopefully next release or next next release.

[2022-04-21 04:16] yue9944882 commented on #2219
/kind bug

[2022-04-21 05:51] weiqingy commented on #2211
Thanks for the reply @brendandburns ! The metrics described https://github.com/kubernetes-sigs/kubebuilder/blob/c0a0bb6dc05e04332cb7b460bef5f155b53770cc/docs/book/src/reference/metrics-reference.md are useful. I wonder if they can be added to the Java client?

[2022-04-22 15:24] qhh0205 opened #2226 "How to use client create VerticalPodAutoscaler resource?"
hi, guys, does anyone know how to use this client create VerticalPodAutoscaler resource? At present, the client doesn't seem to support it, but that support HPA creation. Do you have any suggestions on the creation of VPA? thx!

[2022-04-22 22:11] brendandburns commented on #2226
Vertical Pod Autoscaling is an extension to the Kubernetes API, you will need to generate the client objects yourself using the instructions here:

https://github.com/kubernetes-client/java/wiki/5.-Generate-Java-CRD-Model

[2022-04-22 22:11] #2226 closed

[2022-04-23 07:46] #1995 closed

[2022-04-25 12:03] #1913 closed

[2022-04-26 19:12] fuzails opened #2231 "Error in Json Mapping for delete service reasponse body."
Kubectl versions:
`
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9a3c549d9ca665e7bc05a3e18f07e", GitTre

[2022-04-27 17:17] brendandburns commented on #2231
I think that this is an error in the generated OpenAPI specification for the Kubernetes API (or in the code generator)

[2022-04-27 18:42] fuzails commented on #2231
Yep apologies, just saw it under known issues, somehow I missed the known issues when I was looking to see if this has already been reported.

Thanks

[2022-04-27 18:42] #2231 closed

[2022-04-28 03:20] DanielYWoo opened #2233 "Support Matrix Document Update"
**Describe the bug**
The compatibility matrix does not have the latest version 15.0.x.
https://github.com/kubernetes-client/java/wiki/2.-Versioning-and-Compatibility

**Client Version**
`15.0.1`

**Kubernetes Version**
`N/A`

**Java Version**
N/A

**To Reproduce**
N/A

**Expected behavior**
The matrix needs to be updated.

**KubeConfig**
N/A

**Server (please complete the following information):**

[2022-04-28 16:30] brendandburns commented on #2233
This appears to now be fixed.

![image](https://user-images.githubusercontent.com/5751682/165800453-7a934b95-0e42-4986-8cd9-ea04d773b3f2.png)

[2022-04-28 16:30] #2233 closed

[2022-04-28 21:48] ltamaster commented on #2196
I have the same issue and the other ticket was closed

[2022-04-30 04:18] DanielYWoo commented on #2233
lightening speed, thanks

[2022-05-02 14:21] ltamaster commented on #1891
Hi, I got a similar issue, can you reopen this issue?

[2022-05-03 11:48] harshitasao commented on #2105
Hi @yue9944882, As indicated in [comment](https://github.com/kubernetes-client/java/issues/2105#issuecomment-1054596420) I've made the required changes to my forked wiki. If that appears to be correct, please merge it, and if any changes are needed, please let me know.
Link to my forked wiki - https://github.com/harshitasao/java/wiki/1.-Installation
Thank you.

[2022-05-04 10:00] cdkgenie opened #2238 "unable to connect to kube cluster from inside of the cluster"
I referred to the examples and tried to connect to kube cluster from a container running inside the cluster

Please see the example below :

[code]

I'm getting forbidden error inside of the cluster.

[code]

How can I fix the issue. Is there any permission that I need to add?

[2022-05-04 14:43] johnflavin-fw commented on #2238
What service account is the pod configured to use, and does that service account have permissions to list pods in all namespaces?

[2022-05-04 15:48] johnflavin-fw opened #2239 "Any way to get namespace configuration?"
I'm currently using the `ClientBuilder.defaultClient()` method to create an `ApiClient`. I like that it covers all the standard ways where configuration might be.

But I also want to know the namespace configuration. The `ApiClient` doesn't know anything about the namespace. If I want to get the namespace while retaining the flexibility of finding the configuration in all the different places, it

[2022-05-04 16:06] cdkgenie commented on #2238
@johnflavin-fw

Please check my service-account.yaml

`apiVersion: v1
kind: ServiceAccount
metadata:
  name: demo-service-account
  namespace: default`

role.yaml

`apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: default
  name: demo-role
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "watch", "list"]
`

role-binding.yaml

`apiVersion: rbac.authori

[2022-05-04 16:12] johnflavin-fw commented on #2238
Note that I'm not an expert. I don't know if this will work.

My guess is that `api.listPodForAllNamespaces` is not allowed because your service account only has permissions to list pods in a single namespace, `default`, but you're asking to list pods in all namespaces. I would try switching to `api.listNamespacedPod`, passing it the namespace `"default"` explicitly.

[2022-05-04 16:16] cdkgenie commented on #2238
Do you want me to create a cluster role instead of a plain role to list pods from all namespaces?

[2022-05-04 16:28] johnflavin-fw commented on #2238
That isn't exactly what I was saying. I was only trying to tell you what you would need to change within your code to make it work given the permissions your `ServiceAccount` already has. Your `ServiceAccount` can only list pods within the namespace `"default"`, so if you change your code to do that then the code should work.

However, you've also asked a different question. If you do want to list

[2022-05-04 16:34] cdkgenie commented on #2238
Thanks @johnflavin-fw . I just created clusterrole and clusterrolebinding it worked as expected

[2022-05-05 00:05] jmcrawford45 opened #2240 "Improved documentation for watching custom resources"
I've been trying for a few hours to figure out what the expected workflow is for watching custom objects. Basically, I want to setup something in scala similar to https://www.baeldung.com/java-kubernetes-watch for custom objects. I followed https://github.com/kubernetes-client/java/wiki/5.-Generate-Java-CRD-Model for generating custom resource classes. I was able to get a resource version by apply

[2022-05-05 08:20] cdkgenie opened #2241 "Error creating deployment with deployment.yaml file - Unknown apiVersionKind apps/v1/Deployment is it registered?"
I am creating a deployment using deployment.yaml file below with version 15.0.1 (Current Latest)

[code]

My java code is, in which **resourceFile** object has the deployment.yaml content:

[code]

My cluster-role.yaml file for the container running the above code is:

[code]
So I have permissions to create the deployments. But when I run this code, Im getting exception as

` Unknown apiVersionKin

[2022-05-05 08:47] cdkgenie commented on #2241
Added the following line to resolve the issue. Note: That method is deprecated.

Yaml.addModelMap("apps/v1","Deployment", V1Deployment.class);

[2022-05-05 17:27] brendandburns commented on #2238
Closing this as resolved.

Thanks @johnflavin-fw for helping here!!

[2022-05-05 17:27] #2238 closed

[2022-05-05 17:30] brendandburns commented on #2239
This is a duplicate of #1313 which was implemented as `Namespaces.getPodNamespace()` (https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/Namespaces.java#L29)

Closing this issue since it's already present in the library. Please use `/reopen` if it doesn't work for you.

[2022-05-05 18:01] johnflavin-fw commented on #2239
/reopen

`Namespaces.getPodNamespace()` isn't exactly what I'm looking for. (Though it is related and I didn't know about it, so thank you for the pointer). I can't guarantee that my application is running in a pod. It may be, but it may also be running outside a cluster and using a kubeconfig file for its configuration.

Let me broaden my request out from the namespace specifically to all the con

[2022-05-06 06:50] yue9944882 commented on #2105
thanks for reporting the outdated content in wiki, i just refreshed them. leaving this thread open for a few days in case i missed anything.

[2022-05-06 09:54] cdkgenie commented on #2241
I use spring boot, don't know what is causing that issue. but without that, it was not working.

[2022-05-06 09:57] yue9944882 commented on #1659
/reopen

[2022-05-06 09:58] yue9944882 commented on #2241
i suppose it's related to https://github.com/kubernetes-client/java/issues/1659

[2022-05-06 10:02] yue9944882 commented on #2241
@cdkgenie can you try init the model mapping via calling the following method to perform a full on-line api-discovery?

https://github.com/kubernetes-client/java/blob/f107f7aea83a96198eec55b616eb037d797c0f0a/util/src/main/java/io/kubernetes/client/util/ModelMapper.java#L239

[2022-05-06 16:16] brendandburns commented on #2239
I don't think that there is any really strong reason for those methods to be private. Perhaps we should just make them public?

[2022-05-06 16:23] brendandburns commented on #2240
I don't really know Scala, but I assume that `Watch[Object]` means `Watch` which returns `Object`. I think that you want to parameterize your `Watch` with the concrete type that you generated for your CRD.

The watch example is here:
https://github.com/kubernetes-client/java/blob/master/examples/examples-release-15/src/main/java/io/kubernetes/client/examples/WatchExample.java

It is for a built-in

[2022-05-06 18:07] johnflavin-fw commented on #2239
I think that could work. I've started implementing essentially that change + a little extra. I'd like to run the idea by you before I get too far in.

My idea was to take the private methods from `ClientBuilder` that find and read the kubeconfig file and move them to `KubeConfig`. Then I would add a public method that wraps up the private ones and implements the "read from `$KUBECONFIG`, then `$HO

[2022-05-09 19:34] oldshaghat opened #2244 "Possible deserialization issue"
Invoking `CoreV1Api`'s `listPodForAllNamespaces` method with all null arguments results in an illegal state exception :
	 * Not a string (through reference chain: io.kubernetes.client.openapi.models.V1PodList["items"]->java.util.ArrayList[3]
		 * ->io.kubernetes.client.openapi.models.V1Pod["spec"]
		 * ->io.kubernetes.client.openapi.models.V1PodSpec["containers"]
		 * ->java.util.ArrayList[0]
		 *

[2022-05-09 20:56] brendandburns commented on #2244
`JSON` is not currently supported, only `GSON`.

The reason you're seeing the problem is that the field is an `IntOrString` object and it requires a custom deserializer:
https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/custom/IntOrString.java#L23

Which is only registered with GSON. You could probably adapt that to work with the JSON parser (and i

[2022-05-09 20:58] oldshaghat commented on #2244
JSON is the name of the class in the code gen that wraps the GSON instance, I believe

But yeah I think now I see what's going on -- the API call and the API (GSON) deserialization is working but when I idiotically pass that result back out my 'normal' server stack is trying to re-serialize the V1Pod with Jackson and that's where the failure is. I have a test now working that is showing that - thi

[2022-05-09 20:58] #2244 closed

[2022-05-10 10:25] SachinHg commented on #1670
@duchungvu did whatever you mention in the last comment work for you?

[2022-05-11 21:34] hwyan commented on #1659
Any plan to fix this issue?

[2022-05-12 06:14] weiqingy commented on #2211
Hi @brendandburns ,

In https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/monitoring/PrometheusInterceptor.java, seems the following metrics are defined:
[code]
Beside the message put in the function `help()`,  is there a wiki/doc about more details of the metric definition? Thanks!

[2022-05-13 09:33] ilias-115 opened #2248 "Generate JAR for extended kubernetes client"
**How can I generate JAR for the extended client ?**
We can generate the JAR for the client by executing:

`
git clone --recursive https://github.com/kubernetes-client/java
cd java/kubernetes
mvn package
`

But what about the **extended** client ? I need the JAR files in order to use it.

**Client Version**
e.g. `15.0.1`

**Kubernetes Version**
e.g. `20.11`

**Java Version**
Java 8

[2022-05-13 17:46] brendandburns commented on #2248
Just run `mvn package` in the `java` directory, it will build all of the packages.

[2022-05-13 17:46] #2248 closed

[2022-05-14 12:26] GitHub-del-cloud1 opened #2249 "Cronjob"
Can I trigger a cron job manually from Java code?
If yes,Could you please let me know how?

[2022-05-16 09:04] Smith334 commented on #1668
Hi

I am attempting to apply the calico-operator yaml using the 'kubernetes java client' and it is resulting in a similar exception being thrown.

"io.kubernetes.client.extended.kubectl.exception.KubectlException: Unexpected unknown resource type: class io.kubernetes.client.openapi.models.V1beta1PodSecurityPolicy"

I have done some testing and have narrowed the exception down to coming from line 4

[2022-05-16 09:16] Smith334 opened #2251 "Apply failed: Unexpected unknown resource type: class io.kubernetes.client.openapi.models.V1beta1PodSecurityPolicy"
Hi, I commented this on another issue but thought I would create a new issue in case it is a part of a larger issue.

I am attempting to apply the calico-operator yaml using the 'kubernetes java client' and it is resulting in a similar exception being thrown.

"io.kubernetes.client.extended.kubectl.exception.KubectlException: Unexpected unknown resource type: class io.kubernetes.client.openapi.mod

[2022-05-16 12:58] ilias-115 opened #2252 "Failed to connect to localhost"
**Failed to connect to localhost**

Hello,

I'm trying to create pods from within a manager pod in my cluster, with this code :

`
ApiClient client = ClientBuilder.cluster().build();
Configuration.setDefaultApiClient(client);
CoreV1Api api = new CoreV1Api();
V1Pod creatingPod = (V1Pod) Yaml.load(file);
V1Pod createdPod = Kubectl.create(V1Pod.class)
                .resource(creatingPod)

[2022-05-16 16:52] brendandburns commented on #2249
Manually triggering a cron job is equivalent to creating a `Job` resource from the template within the `ChronJob` object.

This is definitely possible with this client, you need to:

Read the `CronJob` from the client
Examine the PodTemplate in CronJob->Spec->Template
Create a `Job` from that template using the client.

[2022-05-16 16:52] #2249 closed

[2022-05-16 16:58] brendandburns commented on #2251
Quick note: You say your Kubernetes version is 1.2.1 which is _ancient_ I'm going to assume it's actually 1.21.x, but if it really is 1.2.1 that is way too old for this client to work correctly.

Assuming it is 1.21.x:
For some reason that type isn't getting loaded in the static initializer.  There's an extended discussion of some possible causes here:
https://github.com/kubernetes-client/java/iss

[2022-05-16 17:34] Rokshan2016 opened #2253 "Pod Scaling"
Hi @brendanburns ,

I am trying this API

V1ReplicaSet scaledRs = Kubectl.scale(V1ReplicaSet.class).namespace("patient")
                .name("healthcare-access").replicas(4).execute();
        String status = scaledRs.getStatus().toString();

Error

"timestamp": 1652718741715,
	"status": 500,
	"error": "Internal Server Error",
	"message": "io.kubernetes.client.openapi.ApiException: ",

What perm

[2022-05-16 18:04] brendandburns commented on #2253
500 indicates some sort of unexpected server problem, not a permission problem.

500s should never happen, you will need to check the logs on the API server to get more details about what happened within the API server to throw a 500.

[2022-05-16 18:08] Rokshan2016 commented on #2253
I tried to check. Did not find much information in the logs

 nested exception is io.kubernetes.client.extended.kubectl.exception.KubectlException: io.kubernetes.client.openapi.ApiException: ] with root cause

o.kubernetes.client.openapi.ApiException: at io.kubernetes.client.openapi.ApiClient.handleResponse(ApiClient.java:973) at io.kubernetes.client.openapi.ApiClient.execute(ApiClient.java:885) a

[2022-05-16 18:27] Rokshan2016 commented on #2253
Also , is there a way to use this API with a service account key?

[2022-05-16 19:03] brendandburns commented on #2253
That's the Java (client) stack trace. We need the logs from the Kubernetes API Server (e.g. the go binary that implements the Kubernetes Server side)

And yes, the API works with a service account. If you use the default way to create a client and it is in a pod with a service account present, it will use that credential.

[2022-05-16 19:20] Rokshan2016 commented on #2253
Instead of creating default client, can I use a service account json key to create the client ?

[2022-05-17 06:55] Smith334 commented on #2251
Thanks @brendandburns, you are correct it is 1.21, I mistyped.

The first link you added is the issue number for this, I am assuming it was meant to go to another issue?

[2022-05-17 21:54] brendandburns commented on #2251
@Smith334 oops, that was meant to be #2241 apologies!

[2022-05-18 11:27] kylinsoong opened #2256 "SSL Handshake Exception while ApiClient execute request"
I am using kubernetes java api outside the kubernetes cluster, with the following steps:
#### Copy `.kube/config` from kubernetes master node to local machine, put on the home directory, and kubectl worked fine
####  Add the kubernetes java dependencies to my project
[code]

The kubernetes version is 1.18.17, so I use version 10.0.1

#### The details of error

The API used as below

[code]

and ge

[2022-05-18 23:35] jmcrawford45 commented on #2240
I haven't been able to get the watch to work even when using the type of the implementor of KubernetesListObject. I'll try to repro in java or translate what I have currently and share tomorrow. Thanks for looking into this.

[2022-05-20 07:38] yue9944882 opened #2258 "Test flakiness: io.kubernetes.client.extended.leaderelection.LeaderElectionTest"
observed in thread https://github.com/kubernetes-client/java/runs/6517851968?check_suite_focus=true

[code]

[2022-05-20 07:46] yue9944882 commented on #1668
@Smith334 are you packaging your project into a fat jar? it so, you're hitting into issue https://github.com/kubernetes-client/java/issues/1659#issuecomment-1124316143. also, can you open a new issue ticket so that we can track it?

[2022-05-20 15:15] kylinsoong commented on #2256
Thanks @brendandburns, it works.

[2022-05-20 15:15] #2256 closed

[2022-05-28 20:00] #1978 closed

[2022-05-30 04:06] #2258 closed

[2022-06-01 02:49] kevin807210561 opened #2269 "Unable to read meta-data for class io.kubernetes.client.spring.extended.manifests.config.KubernetesManifestsAutoConfiguration"
**Describe the bug**
I follow the [SpringControllerExample](https://github.com/kubernetes-client/java/blob/master/examples/examples-release-15/src/main/java/io/kubernetes/client/examples/SpringControllerExample.java) to add informers in my spring boot(v2.0.4.RELEASE) project, and after I add the following dependencies and codes to my spring boot project
dependencies
[code]
codes
[code]
my spring a

[2022-06-03 16:53] weiqingy opened #2273 "Timeout of triggering the reconcile loop"
Hi team,

Is there a way to tune the timeout at which point the K8s triggers the reconcile loop? Is it this parameter [REFLECTOR_WATCH_CLIENTSIDE_TIMEOUT](https://github.com/kubernetes-client/java/blob/0642e7b8fc1c3bdebd77136c35cacd577c006e62/util/src/main/java/io/kubernetes/client/informer/cache/ReflectorRunnable.java#L41)? The default value is 5 mins. How did you come up with the defaults value?

[2022-06-04 14:41] #2055 closed

[2022-06-09 11:27] shanhai3000 opened #2275 "mapping values are not allowed in this context"
[code]

[2022-06-12 09:49] #2089 closed

[2022-06-12 18:55] #2090 closed

[2022-06-13 05:21] yue9944882 commented on #2273
@weiqingy can you elaborate the purpose of configuring that property? a 5-min watch timeout is designed, the informer should be restarting a new watch connection after the previous one has expired. the same property is not customize'able in the native golang informer as far as i know

[2022-06-13 05:23] yue9944882 commented on #2275
@shanhai3000 are you applying the CRD using the java client, looks like the pasted error is from the kube-apiserver server-side. i'm not sure if there's anything we can help from this community.

[2022-06-13 05:32] yue9944882 commented on #2269
how about adding `kubernetes.manifests.enabled=false` in your spring context? looks like you are not using that in your application.

[2022-06-13 20:13] weiqingy commented on #2211
Hey @brendandburns and @yue9944882,

Could you please help take a look at the questions above when you get a chance? Really appreciate.

Thanks,
Weiqing

[2022-06-15 05:15] shangzhilong opened #2279 "ttlSecondsAfterFinished is not working"
kubernetes-client-java version:   15.0.1

ttlSecondsAfterFinished is not working:
            BatchV1Api api = new BatchV1Api();
            V1Job v1Job =
                    new V1JobBuilder()
                            .withNewMetadata()
                            .withName(createNamespacedJobReq.getJobName())
                            .withLabels(createNamespacedJobReq.getLabels())

[2022-06-15 06:44] yue9944882 commented on #2279
@shangzhilong wasnt able to reproduce that. i created a job using your code snippet, and it worked:

[code]

[2022-06-16 19:05] honnix opened #2284 "Dynamics is not thread-safe"
**Describe the bug**
`io.kubernetes.client.util.generic.dynamic.Dynamics` is not thread-safe when handling yaml. This is because  `org.yaml.snakeyaml.Yaml` is not thread-safe as documented: `Public YAML interface. This class is not thread-safe.`.

More specifically, methods in `Dynamics` using `internalYamlCodec` are not thread-safe.

**Client Version**
`15.0.1`

**Kubernetes Version**
`1.24.0`

*

[2022-06-17 15:46] #1930 closed

[2022-06-17 22:43] brendandburns opened #2286 "Propose a release of 0.16.0 for Kubernetes 1.24"
I propose that we cut a release. @yue9944882 if that works, I will run the GitHub action to perform the release.

[2022-06-17 22:43] brendandburns commented on #2286
/assign

[2022-06-19 07:00] #2091 closed

[2022-06-20 07:11] yue9944882 commented on #2286
@brendandburns +1, it's a new major release so we need to push a new `release-16` branch and then run the release job on that branch. https://github.com/kubernetes-client/java/blob/master/RELEASES.md#make-sure-the-release-job-runs-on-the-release-branch.

[2022-06-20 12:15] #2071 closed

[2022-06-20 13:20] SledgeHammer01 commented on #2086
yup. go for it.

[2022-06-20 15:19] #1886 closed

[2022-06-22 11:42] Dimylo opened #2287 "Updating pod image with PATCH returns HTTP code 422"
Hello,
After the upgrade, from 14.0.1 to 15.0.1, V1Pod patchNamespacedPod method cannot handle our Patch request, returning a 422 HTTPError. Our body format is:
`body = "[{\"op\":\"replace\", \"path\":\"/spec/containers/0/image\", \"value\":\"{new-image}\"}];
V1Patch patch = new V1Patch(body);`
and our method call looks like:
`this.api.patchNamespacedPod(podName, namespace, patch, pretty, null, nu

[2022-06-22 21:04] kfrancisdev opened #2289 "Api Client Auth Token lifetime"
How can i set the auth token lifetime or re-fetch a token? I have seen 401 responses after polling for a few minutes.

[2022-06-22 22:30] rjeberhard commented on #2286
I'm curious about the status of #2218. I see that the `OpenAPIEnums` is graduating to beta in 1.24.

[2022-06-23 06:26] #2289 closed

[2022-06-23 06:27] kfrancisdev commented on #2289
I've seen similar previous issue and response. 2110

[2022-06-23 16:39] oazmon opened #2290 "Missing support for client.authentication.k8s.io/v1"
**Describe the bug**
No version including HEAD supports client.authentication.k8s.io/v1

**Client Version**
All Versions including HEAD

**Kubernetes Version**
e.g. `1.21+`

**Java Version**
Any

**To Reproduce**
Attempt to login to a cluster using client.authentication.k8s.io/v1

**Expected behavior**
A login successful. Instead getting unknown apiVersion

**Additional context**
The problem is he

[2022-06-23 23:01] brendandburns commented on #2287
I believe that the default content type for the patch operation changed. It's recommended that you use `PatchUtils.patch(...)` as shown in the patch example:

https://github.com/kubernetes-client/java/blob/automated-release-15.0.1/examples/examples-release-15/src/main/java/io/kubernetes/client/examples/PatchExample.java#L68

[2022-06-23 23:03] brendandburns commented on #2290
Yeah, I think that's a bug. Feel free to send a PR, or we will get to it eventually.

[2022-06-24 14:38] cailalex opened #2293 "io.kubernetes.client.util.Config class not found"
Hi team,

I was following one of the code examples describing [how to list all pods](https://github.com/kubernetes-client/java/wiki/3.-Code-Examples#wiki-body); however, when attempting to use the Config class, I get the following error from my IDE:

`The import io.kubernetes.client.util cannot be resolved`

I have included the appropriate import statement, but still cannot use the Config class. H

[2022-06-24 15:44] rjeberhard commented on #2286
Sounds good, thanks for responding @yue9944882. I don't need this feature, but I did the work updating our code to use 15.0.0 and so hadn't been able to move to 15.0.1 without reverting that work. I was curious to see if I would need to do that work (to revert) to use 16.0.0 and the timeframe of when those enum types might return.

[2022-06-24 15:51] cailalex commented on #2293
Resolved by adding:
[code]
to pom.xml as per [Wiki instructions](https://github.com/kubernetes-client/java/wiki/1.-Installation#user-content-maven-users) (rather than Maven repository I have linked above).

[2022-06-24 15:51] #2293 closed

[2022-06-25 20:16] #2110 closed

[2022-06-27 15:28] balsemindevis opened #2295 "OpenidApi and WellKnownApi"
**Describe the bug**
OpenidApi and WellKnownApi have coded the wrongLocalPath.
    String localVarPath = "/openid/v1/jwks/";

and          String localVarPath = "/.well-known/openid-configuration/";

The last "/" generate an 403 Response.

I have remove Last "/" in both file and works fine

**Client Version**
`15.0.1`

**Java Version**

Java 17

**To Reproduce**

httpStatus:403
curl --cacert ${CAC

[2022-06-28 05:25] yue9944882 commented on #2286
@rjeberhard we can see the progress in this thread https://github.com/kubernetes/kubernetes/issues/109177 btw

[2022-06-28 05:43] yue9944882 commented on #2295
@balsemindevis i cant reproduce that in my local kind cluster, is that a vendor-specific issue?

[2022-06-28 06:53] balsemindevis commented on #2295
the same thing happens on both minikube and k8s. The "issue" can be replicate also outside client-java  because with last "/" character corrupt the request.

![image](https://user-images.githubusercontent.com/108286978/176112796-35d44bf7-4039-4ebf-b06e-8508a8a567d6.png)

![image](https://user-images.githubusercontent.com/108286978/176112977-b9d562b0-67b3-4b3a-b5e6-5b029444e211.png)

it's wrong las

[2022-06-29 11:30] yue9944882 commented on #2295
it should be fixed in the upstream kubernetes repo, so i opened https://github.com/kubernetes/kubernetes/pull/110861. a walkaround is to add the following non-resource urls to the `ClusterRole` named "system:service-account-issuer-discovery":

[code]

[2022-06-29 14:14] guillaumerose commented on #1891
I still face it with 16.0.

/reopen

[2022-06-29 22:18] weiqingy commented on #2273
Thanks for the reply @yue9944882 . You've answered my question. I'll update here if I have more questions.

[2022-06-30 03:20] brendandburns commented on #2286
This is now published:

https://search.maven.org/artifact/io.kubernetes/client-java/16.0.0/bundle

[2022-06-30 03:20] #2286 closed

[2022-07-01 16:34] shanhai3000 commented on #2275
Can't generate Java codes using https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/charts/spark-operator-chart/crds/sparkoperator.k8s.io_sparkapplications.yaml

[2022-07-05 19:11] brendandburns commented on #2290
/assign

[2022-07-06 06:32] #2290 closed

[2022-07-06 08:00] zengpeici opened #2302 "Exception in thread "main" io.kubernetes.client.openapi.ApiException: java.net.UnknownServiceException: Unable to find acceptable protocols. isFallback=false, modes=[ConnectionSpec(cipherSuites=[TLS_AES_128_GCM_SHA256, TLS_AES_256_GCM_SHA384, TLS_CHACHA20_POLY1305_SHA256, TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256, TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA, TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA, TLS_RSA_WITH_AES_128_GCM_SHA256, TLS_RSA_WITH_AES_256_GCM_SHA384, TLS_RSA_WITH_AES_128_CBC_SHA, TLS_RSA_WITH_AES_256_CBC_SHA, SSL_RSA_WITH_3DES_EDE_CBC_SHA], tlsVersions=[TLS_1_3, TLS_1_2], supportsTlsExtensions=true), ConnectionSpec()], supported protocols=[TLSv1.2]"
**Describe the bug**
Exception in thread "main" io.kubernetes.client.openapi.ApiException: java.net.UnknownServiceException: Unable to find acceptable protocols. isFallback=false, modes=[ConnectionSpec(cipherSuites=[TLS_AES_128_GCM_SHA256, TLS_AES_256_GCM_SHA384, TLS_CHACHA20_POLY1305_SHA256, TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_ECDSA_WITH_AES_2

[2022-07-06 09:02] zengpeici commented on #2302
success in spring.😂

[2022-07-08 03:40] a364176773 opened #2306 "please help me look why ConnectionShutdownException"
**Describe the bug**
i code init
[code]
I made sure the network was working
I use the code is very simple
[code]
Throws an exception
[code]
please talk me where to conduct relevant checks
thx

**Client Version**
e.g. `14.0.0`

**Kubernetes Version**
e.g. `1.22`

**Java Version**
e.g. Java 8_251

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise descriptio

[2022-07-08 05:41] francisoliverlee commented on #1659
/remove-lifecycle rotten

[2022-07-08 05:41] francisoliverlee commented on #1659
/reopen

[2022-07-08 07:35] francisoliverlee commented on #1659
the problem codes here:
<img width="1295" alt="image" src="https://user-images.githubusercontent.com/5908412/177940824-3adcee55-db69-47d0-b2ac-de7b90443f60.png">

Yaml.class.getClassLoader() can not read any class in "io.kubernetes.client.openapi.models" cause of bad jar url.
unzip my jar like
[code]

soulution

dont use fat, make lib and app jar split
[code]

use to start app
[code]

[2022-07-08 14:49] brendandburns commented on #2306
It appears that you are setting your timeouts to zero seconds? I don't think that is what you want (and I suspect that is what is causing the problem)

Why are you setting timeouts, it shouldn't be needed.

[2022-07-10 15:43] Ljincheng0128 opened #2307 "deleteNamespacedService"
the code is:
[code]
but it throws an exception

Caused by: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was STRING at line 1 column 60 path $.status
	at com.google.gson.stream.JsonReader.beginObject(JsonReader.java:384)
	at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$Adapter.read(ReflectiveTypeAdapterFactory.java:215)
	... 34 more

Can you tell me how I need to find an

[2022-07-11 04:30] a364176773 commented on #2306
That's not the point. It's the same no matter how many settings you have. I've already debugged it

[2022-07-11 04:32] a364176773 commented on #2306
[code]
when I use it this way, there are still mistakes

[2022-07-11 06:29] a364176773 commented on #2306
i use [kubernetes-client](https://github.com/fabric8io/kubernetes-client)
[code]
as expected, the pod list is returned

but in https://github.com/kubernetes-client/java
ConnectionShutdownException
I don't know what's going on, I've tested it from version 14-16
i use code：
[code]
please help me looking ，thx all

[2022-07-11 08:04] a364176773 commented on #2306
we have now tested some clues, using http1.1 is normal, http2 will appear ConnectionShutdownException, we suspect that the apiserver is proxed

[2022-07-12 03:31] a364176773 commented on #2306
when using the http2 protocol, the following parameters are not added
--tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256
k8s version 1.

[2022-07-12 04:15] Ljincheng0128 commented on #2307
Thank you for your reply！The version of the kubernetes cluster is v1.20.6, and  the kubernetes-client's version is 16.0.0 .The service has been deleted, but it throws this exception. So I caught this exception and thought it would not affect my subsequent work.

[2022-07-12 04:16] Ljincheng0128 commented on #2307
Thank you for your reply！The version of the kubernetes cluster is v1.20.6, and the kubernetes-client's version is 16.0.0 .The service has been deleted, but it throws this exception. So I caught this exception and thought it would not affect my subsequent work.

[2022-07-12 08:11] a364176773 commented on #1003
https://github.com/kubernetes-client/java/issues/1370

[2022-07-12 08:12] a364176773 commented on #1003
https://github.com/kubernetes-client/java/issues/1370

[2022-07-12 13:04] aviv-amdocs opened #2308 "Automatically generate release notes for new versions."
I can't find any release notes/changelog for versions 15.0 and later...

`CHANGELOG.MD` only gets up to 14.0.0, the GH release page only says "copy for tag", and the wiki page for "Versioning and Compatibility" lists 15.0.1 and `HEAD`.

can these be updated please?

[2022-07-12 13:06] imilos commented on #1785
I can confirm that this issue still exists in the newest version 16.0.0 of `client-java`. It breaks each time after 17MB of any file is transmitted to the pod.

[2022-07-12 13:08] imilos commented on #1822
I can confirm that this issue still exists in the newest version 16.0.0 of `client-java`. I am using the local installation of K8s 1.22.

[2022-07-12 15:44] brendandburns commented on #2308
We need to figure out how to automate this because it is manual now and gets forgotten.

I'll see about automating it and manually writing notes for the existing releases. In the meantime you can look at the list of [closed PRs](https://github.com/kubernetes-client/java/pulls?q=is%3Apr+is%3Aclosed) for some idea.

Since we cut a release for each minor Kubernetes version, there are often relatively

[2022-07-12 15:47] brendandburns commented on #2308
I just discovered that GitHub has added automatic release note generation (thanks GitHub!).

So there are now release notes. If I'm being honest, they aren't as useful as they could be because many of the changes are Dependabot bumps, but I'll see what we can do to automate this.

But in the meantime, release notes are posted.

[2022-07-12 15:49] brendandburns commented on #2308
Here's the docs for the GH Action for release notes:
https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#configuring-automatically-generated-release-notes

[2022-07-13 05:36] a364176773 commented on #2306
version 1.18-1.22, all have this problem, 1.23 version without this problem
JDK 17 does not have this problem

[2022-07-13 06:51] aviv-amdocs commented on #2308
Yes, those (list of closed PRs) are not useful, when they include almost only non-functional PRs.
Release notes are usually intended for users to understand the actual high-level changes, not just a list of commits.

From my experience, there's no way to "automate" release notes, because there's no way to have a computer understand what is important. The best approach is to consistently update the

[2022-07-13 13:04] imilos opened #2309 "Copy.copyFileToPod() breaks on WebSocket"
**Describe the bug**
A trivial example of copying a file larger than ~17MB to a pod using `Copy.copyFileToPod` breaks with:
[code]
The code is trivial:
[code]
Even with small files it hangs waiting for the process to complete as reported in #1822 .

**Client Version**
`15.0.1`

**Kubernetes Version**
`1.22.9`

**Java Version**
Java 8

**Server (please complete the following information):**
 - OS:

[2022-07-13 21:00] brendandburns commented on #2309
I'll try to reproduce this, but I suspect that it may be a buffer filling up somewhere. We use PipedInput/OutputStreams in a variety of places in this code and I suspect that those buffers may be filling and blocking.

Can you confirm that `kubectl cp ...` works correctly in the same environment?

Have you tried `Copy.copyFileToPodAsync(...)` does that work correctly?

[2022-07-14 06:50] imilos commented on #2309
Thanks for the quick reply @brendandburns. I can confirm that `kubectl cp...` works perfectly and that `Copy.copyFileToPodAsync(...)` throws exactly the same error as `Copy.copyFileToPod(...)`.

[2022-07-14 16:44] brendandburns commented on #2309
Thanks @imilos what is the network environment between client and server? Is it a direct network connection?

[2022-07-14 16:46] brendandburns commented on #2308
It appears that there is a way to organize the generated release notes via labels on PRs, I'll investigate that when we have time.

[2022-07-14 20:43] adamjshook opened #2310 "PodLogs is not closing Response on error"
**Describe the bug**

The `A connection to https://foo.com:6443/ was leaked. Did you forget to close a response body?` issue has been reported a few times before but not with enough information. The two stack traces in the **Additional Context** section below shows the initial request to stream the pod log with a 404 error, then later on we get the error message from `OkHttpClient` that it was lea

[2022-07-15 15:29] imilos commented on #2309
@brendandburns I can confirm that the network connection is direct. I also tried running the client on the machine which belongs to the cluster using https://127.0.0.1:16443. Identical behavior.

[2022-07-15 22:42] brendandburns commented on #2309
Thanks for the info. I will try to replicate on my home cluster.

[2022-07-17 05:11] #1972 closed

[2022-07-18 03:45] #2310 closed

[2022-07-21 01:58] fbi007130 opened #2318 "Unexpected unknown resource type exception while Kubectl.apply"
**Describe the bug**
I am trying to apply a yaml file with Kubectl according to https://github.com/kubernetes-client/java/blob/b0c91798c63203f20dc8f2674197e772b2c187ee/docs/kubectl-equivalence-in-java.md#kubectl-apply .But there is a exception as below.The yaml file can be execute successfully via kubectl command in ssh.
Exception:
`io.kubernetes.client.extended.kubectl.exception.KubectlException:

[2022-07-21 21:10] brendandburns commented on #2318
This is happening because your custom resource definition is unknown to the `ModelMapper` class:

https://github.com/kubernetes-client/java/blob/master/extended/src/main/java/io/kubernetes/client/extended/kubectl/Kubectl.java#L267

Please look at the instructions here:
https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md

For generating types for

[2022-07-21 21:13] brendandburns commented on #2318
Looking at the code some more, it may be possible for us to do the right thing here for DynamicKubernetesObject + GenericApi, but it's going to require some careful coding.

[2022-07-22 18:25] imilos commented on #2309
Dear @brendandburns, a colleague from my team raised that CSharp client issue :). Glad there is a solution. I would be happy to build and test the client, but I'm currently on vacation with limited internet access. After the 1st of August, I'd be happy ti build and test.

[2022-07-24 13:38] sajjadahmed0309 commented on #431
Objects.equals(this.apiVersion, v1Secret.apiVersion) &&
        Objects.equals(this.data, v1Secret.data) &&
        Objects.equals(this.kind, v1Secret.kind) &&
        Objects.equals(this.metadata, v1Secret.metadata) &&
        Objects.equals(this.stringData, v1Secret.stringData) &&
        Objects.equals(this.type, v1Secret.stringData);
In the above code u r trying to access private variable i.e

[2022-07-25 07:56] a364176773 commented on #2306
@brendandburns I found this problem only with oracle-jdk 251 and openjdk 252 versions! This may be caused by jdk adjusting the cipher suite

[2022-07-27 12:32] vaibhavs-uipath commented on #2015
@lin1005q  what to use instead of ExtensionsV1beta1Ingress and ExtensionsV1beta1IngressList.
I am upgrading the client from v13 to v16.
I have to change ExtensionsV1beta1Api, ExtensionsV1beta1Ingress and ExtensionsV1beta1IngressList.

Can you please point to the alternate classes?

[2022-07-27 15:48] rupamroy2006 commented on #1377
thank you very much for the code snippet. This really helped solve the cryptic problem of reading the data from V1Secret for me.

[2022-07-28 03:18] fbi007130 commented on #2318
Thank.It is better that we should apply a yaml without a CRD created because I think it is too heavy to create a CRD in my test project.

[2022-07-28 03:18] #2318 closed

[2022-07-28 04:08] #2122 closed

[2022-07-28 19:17] #2152 closed

[2022-07-29 16:54] #2306 closed

[2022-07-29 17:01] iamshakkib commented on #2105
Hi I too want to contribute in open source using Java, Previously have some intern exp. how can I do it ?

[2022-07-31 21:13] tg123 commented on #2309
`DefaultMaxPayloadBytes = 32 << 20 // 32MB`
the k8s impl use default golang/x/websock

I believe the chunk size must be smaller than it

[2022-08-02 06:26] sakryt commented on #1822
@imilos @PredatorVI I have the same problem with 15.0.1 of  `client-java`, using **Copy.copyFileToPod()**. Just noticed that my pod has security-context config. Then I delete security-context part, and the file success copy to the pod , but the `tar` process on the pod still hangs.

[2022-08-02 06:57] sdsingh07 opened #2330 "Informer silently stops watching in case of network failure"
**Describe the bug**
I am using informer to watch k8s events and I have deployed my service on client side. When there are some network failure happens on the client side, the informer dies silently without throwing any exception.

The `callGeneratorParams.timeoutSeconds` is 5 minutes by default. If the network is back within 5 minutes, then it is working fine. But, if the network goes out for mor

[2022-08-02 19:31] BAGELreflex opened #2331 "Azure CLI authentication using Service Principal does not add expiration information, causing NumberFormatException"
**Describe the bug**
It is a very common use case that the environment running your K8s automation is a server or system that requires programmatic access. For Azure and Azure Kubernetes Service one of these scenarios is when using a Service Principal for authentication. A Service Principal is basically an AD user that represents an App Registration in Azure. Permissions can be assigned to the ser

[2022-08-04 06:24] namantalaycha10 opened #2333 "'void org.yaml.snakeyaml.LoaderOptions.setEnumCaseSensitive(boolean)' while using k8s java client v16.0.0"
getting this error while using k8s java client v16.0.0 with snakeyaml v1.126
are these both version compatible with each other , if not then what version of snake yaml is compatible ?

[code]

[2022-08-08 19:18] brendandburns commented on #2331
Thanks for reporting. We'll look into the right way to fix this.

[2022-08-09 02:57] brendandburns commented on #2333
We use snakeyaml `v1.30` https://github.com/kubernetes-client/java/blob/automated-release-16.0.0/pom.xml#L45

That is the supported version. We don't test anything else.

[2022-08-09 02:57] #2333 closed

[2022-08-09 12:55] imilos commented on #2309
Dear @brendandburns , may I try if it works? I am available from now on.

[2022-08-09 20:03] brendandburns commented on #2331
Can you send the Kubernetes version as well as the kubeconfig that is returned from `az aks get credentials` Remove the secrets before posting.

[2022-08-10 11:09] SayakMukhopadhyay opened #2337 "Generated CRD model classes don't have the value of Kind, ApiVersion"
**Describe the bug**
When generating java model classes from my own CRDs using the documentation [here](https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md#example-commands-for-local-crd-manifests), the resultant Java classes have the fields for `kind` and `apiVersion` but those fields don't have a value set. This is troublesome cause if I need t

[2022-08-10 13:03] #2059 closed

[2022-08-11 17:27] brendandburns commented on #2337
None of the Java objects have static values for apiVersion or kind.

(e.g. https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/openapi/models/V1Pod.java)

OpenAPI 3 has some notion of 'default' values but I do not believe they are in the Kubernetes OpenAPI specification, and I'm not sure if the code generator even supports them (and we currently use

[2022-08-11 17:27] #2337 closed

[2022-08-12 13:01] nikhileshva opened #2338 ""mvn-entrypoint.sh": executable file not found in $PATH: unknown [Generate Model from CRD]"
I'm trying to generate models for Cert-Manager CRD.

I followed the documentation [here](https://github.com/kubernetes-client/java/blob/master/docs/generate-model-from-third-party-resources.md)

I'm generating on local environment.

These are some last few lines of logs before the process exits.

[code]

I tried to debug on my own and found that this container doesn't seem to have maven installed.

[2022-08-13 22:37] #2169 closed

[2022-08-14 06:05] Vishal-thakur-01 commented on #1223
well i am new to java and i would like to get in touch with you guys and try to do my best in solving all the issues hope you all will understand my curiosity and get in touch with me and help me to grow and learn.........

[2022-08-14 07:23] sky-bro opened #2340 "`Taints.Effect.NO_EXECUTE.toString()` returns "NoExcute" instead of "NoExecute""
**Describe the bug**

the enum value `Taints.Effect.NO_EXECUTE`'s toString() method returns "NoExcute" instead of "NoExecute".

source code: https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/taints/Taints.java#L35

**Client Version**
`16.0.0`

**Kubernetes Version**
`1.24.3`

**Java Version**
`Java 8`

**To Reproduce**
add a taint to a node with:
[c

[2022-08-15 06:50] Nikhil1Raina commented on #1374
Has this feature been implemented? If so, is there some documentation or example that could you used to illustrate the use of this feature??
I seem to have a very similar issue going on and would like to solve it!

[2022-08-15 07:29] Nikhil1Raina commented on #1374
/reopen

[2022-08-15 15:16] brendandburns commented on #2340
Yeah, that's a bug. We'd happily take a PR with the fix or we'll get to it eventually.

[2022-08-16 06:53] priyal13m commented on #2340
/assign

[2022-08-16 08:21] priyal13m commented on #2340
Before:
![image](https://user-images.githubusercontent.com/19232080/184832671-1164962d-445e-47f3-a5e8-8152aca273de.png)
After:
![image](https://user-images.githubusercontent.com/19232080/184832704-d6b542cb-6f95-4c84-8b7a-ea2fbe1c4524.png)

[2022-08-16 13:29] pawank0411 opened #2344 "NullPointerException when ClientBuilder.kubeconfig(kubeconfigfile)"
Hi Team,

I am facing an issue while building the ApiClient using config file which is placed in the path specified by the [Kube Config documentation](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/).
**Path : /.kube/config**

Exception I am getting while accessing `ClientBuilder.kubeconfig(kubeconfigfile)` :
[code]

On logging the kubeconfig file
kubeconfig.g

[2022-08-16 21:18] brendandburns commented on #2344
I'm sort of surprised that your path is `/.kube/config` as that seems to imply that your $HOME is the root of the file system which is a little weird, but assuming that is correct, I have some questions:

What version of the library are you using? What is the environment (container, desktop/laptop)?

Also it looks like you have tabs instead of spaces in your YAML, it's possible that the tabs are t

[2022-08-17 00:38] pawank0411 commented on #2344
Hi @brendandburns
Thank you for your quick response.

These are the versions and environment details :
Library (client-java-extended) - 15.0.1
GKE - 1.21.12-gke.1700
Platform - Laptop/Windows 11

And, maybe I have added tabs in the above comment while creating the issue. But I will re check in the config file and let you know.

[2022-08-17 10:40] pawank0411 commented on #2344
@brendandburns -  I have rechecked the config file, it correctly formatted.
It is following 2 spaces indent.

[2022-08-17 15:53] brendandburns commented on #2344
Where is your kubeconfig file located? The standard location on Windows would be `$HOME\.kube\config`.

Especially on a Windows system it seems really unlikely that the kubeconfig path that you mentioned above (`/.kube/config`) is the correct path.

Have you tried the default cluster config option:
https://github.com/kubernetes-client/java/blob/master/examples/examples-release-15/src/main/java/io/

[2022-08-17 16:27] IdoWinter commented on #2309
can confirm that this is happening to me too, is there a solution for this in sight? I might rewrite my project in go, will this solve my issue?

[2022-08-18 09:29] pawank0411 commented on #2344
Hi @brendandburns  - There was one space missing at the end of the file. After, adding a space the file is getting parsed and I can see the values as per my requirement.

Thank you for the help.

[2022-08-18 10:16] #2331 closed

[2022-08-18 10:18] yue9944882 commented on #2340
good catch!

[2022-08-18 10:22] Vyom-Yadav commented on #1223
@brendandburns I have one doubt, I was working on ` util/src/test/java/io/kubernetes/client/informer/cache/SharedProcessorTest.java`, particularly on:
https://github.com/kubernetes-client/java/blob/536f72556899a5a951a9d1d000f4b5073429e017/util/src/test/java/io/kubernetes/client/informer/cache/SharedProcessorTest.java#L27-L60

I can create a semaphore and acquire it, blocking the main thread, but h

[2022-08-18 10:28] #2340 closed

[2022-08-18 10:55] pawank0411 commented on #2344
Going forward, I have started getting a different exception, let me share the logs.
Please let me know the cause for this.

[code]
The below code I am trying to execute.

[code]
As far I can understand, there is something wrong with the `execute` command in the above code.

[2022-08-19 14:39] #2086 closed

[2022-08-19 18:31] pawank0411 commented on #2344
Hi @brendandburns can you please provide an update on the above mentioned issue.

[2022-08-21 20:20] brendandburns commented on #2344
The client is trying to introspect the APIs on your cluster and it looks like it's getting an HTTP error. If you print more details of the `ApiException` specifically `((ApiException)KubectlException.getCause()).getResponseBody()` you should get more details about what is going wrong.

[2022-08-22 15:25] vinayak912002 commented on #1223
Hey, Iwant to start contributing to this project can someone please tell me what should i learn to do that?

[2022-08-22 15:30] vinayak912002 commented on #1223
what are the things I need to learn in order to start contributiing to this project?

[2022-08-22 17:15] mayankkthr opened #2348 "AWS EKS Authentication using KubeConfig"
I am trying to connect to AWS EKS Cluster using Kubernetes Java Client.
I am trying to use AWS EKS Config file to perform this operation.

AWS EKS config file uses certificate based authentication with exec command. But I get the following error:

java.io.IOException: Cannot run program "aws": error=2, No such file or directory
        at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048)

[2022-08-22 17:29] brendandburns commented on #2348
You need the `aws` command line tool installed in your environment.

[2022-08-22 17:42] mayankkthr commented on #2348
I tried doing exec into my pod and installed aws-cli. But that did not help.
Let me try to rebuild my docker image with aws-cli installation and then retry the authentication.

[2022-08-23 05:58] pawank0411 commented on #2344
On printing `((ApiException)KubectlException.getCause()).getResponseBody()`

I am getting the below logs, I am not sure why the user is anonymous provided the user in config file is a service account.

`{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure", "message": "forbidden: User "\system: anonymous\" cannot get path \"/api\"", "reason":"Forbidden", "details":{},"code": 403}`

[2022-08-24 08:30] sjerman opened #2350 "Exception attempting to re-aquire lock"
**Describe the bug**
After upgrade client from 10.0.1 to 16.0.0, get this error:
[code]

**Client Version**
16.0.0

**Kubernetes Version**
1.21 (EKS)

**Java Version**
Java17

**To Reproduce**
Steps to reproduce the behavior:

Create a lock using 10.0.1, then upgrade to 16.0.0

**Expected behavior**
No exception

**Server (please complete the following information):**
 - OS: Ubuntu
 - Environment

[2022-08-24 17:07] brendandburns commented on #2350
We switched from JODA to JDK date across these releases. We should probably be able to handle this, so I think that this is a bug, but I'm not sure when we will fix it.

For now, you can delete the lock using `kubectl delete endpoints <lock-name>`

[2022-08-24 17:50] sjerman commented on #2350
Thanks - that should be fine - just wanted to make sure it was logged

On Wed, Aug 24,  2022 at 6:07 PM Brendan Burns ***@***.***>
wrote:

[2022-08-25 03:41] #2151 closed

[2022-08-25 07:07] #2338 closed

[2022-08-25 08:05] mayankkthr commented on #2348
Installing aws-cli in docker image worked. Thanks!

[2022-08-25 08:05] #2348 closed

[2022-08-25 17:49] #2168 closed

[2022-08-26 19:55] #2189 closed

[2022-08-27 05:03] Mohdcode commented on #1223
DSA, API, and Kubernetes  or just contribute by documentation correction or making better changes

[2022-08-27 12:15] Vyom-Yadav commented on #1223
@brendandburns ping

[2022-08-28 00:05] #2042 closed

[2022-08-29 09:54] pawank0411 commented on #2344
Hi @brendandburns  - I have tried another approach to scale the PODs in GKE. Ultimately, the final requirement was to scale up/down the PODs using API and it is working as expected.

With this, on the custom API where I am invoking the client method, I want t
he status of the `V1Deployment` as the response of the API. But, whenever I am calling `getStatus()` method of `V1Deployment`, I am getting

[2022-09-03 05:47] pawank0411 commented on #2344
I was able to wait till the response using  `Wait.poll`

[2022-09-03 05:47] pawank0411 commented on #2344
Thanks @brendandburns for your time.

[2022-09-03 17:10] #2203 closed

[2022-09-05 12:10] Eyal-G opened #2358 "Security Vulnerability CVE-2022-24329 for okhttp 4.9.2"
**Describe the bug**
There is a security vulnerability [CVE-2022-24329](https://www.cvedetails.com/cve/CVE-2022-24329) for okhttp `4.9.2`,
this vulnerability was fixed [okhttp-#7217](https://github.com/square/okhttp/issues/7217) from `4.10`

The fix should be similar to [#2099](https://github.com/kubernetes-client/java/pull/2099)

**Client Version**
`16.0.0`

[2022-09-05 19:44] brendandburns commented on #2358
Per the discussion in the vulnerability this only effects Kotlin at build time. It does not affect okhttp and it definitely doesn't affect this library, so there's not much urgency to fix this.

If you want to send a PR to update the version, we'll merge the PR and it will be included in the next release. If you want it in a specific release, you can also send cherry-pick PRs once the original PR

[2022-09-06 20:55] Eyal-G commented on #2358
Thanks @brendandburns for the response.
I agree that the vulnerability does not affect the library,
I will create PR that will bump the okhttp to 4.10.0 for the next release.

[2022-09-07 11:42] dani8art opened #2361 "Do not print exception stack trace through System.err"
This library makes use of `ex.printStackTrace()` at some point in its code where propagation of an exception is not possible, there is not surface where to place the exception or it can't be consumed. We understand sometimes it is needed and it helps debugging but this method uses `System.err` as default `PrintWriter` which is causing issues because dependant apps can't mute these lines in their l

[2022-09-07 20:14] brendandburns commented on #2361
I never liked the current approach (as my comment suggests :)) but I think if we're going to refactor this, let's make it take in an optional "unhandledExceptionHandler" or somesuch and pass it to that. I think that gives more flexibility to the individual user.

[2022-09-08 05:06] Eyal-G commented on #2358
Closing the issue after merging the code.

[2022-09-08 05:06] #2358 closed

[2022-09-08 06:09] #2210 closed

[2022-09-08 08:39] dani8art commented on #2361
Hi @brendandburns, thanks for answering!

do you mean to replace it with the following?

[code]

If so, I don't see how this could help, I mean, the web socket stream has failed and then the `ExecProcess` must be finished returning an error `statusCode` as it is performed right now, and the user could use this `statusCode` to handle the error. The exception at this moment only adds debug info. Whe

[2022-09-09 17:29] #2153 closed

[2022-09-09 20:29] brendandburns commented on #2361
Here's what I was thinking:

[code]

If the user doesn't set the exception handler, it prints to stderr. If the user does set the exception handler, the exception is passed to the handler which can do whatever it wants.

That feels more general purpose to me if we're going to be improving this code.

[2022-09-12 14:17] dani8art commented on #2361
Ok that sounds reasonable, let's move the conversation to the PR https://github.com/kubernetes-client/java/pull/2366

Thanks!

[2022-09-14 14:35] 6sco opened #2368 "Update util cronJobToJob from V1beta1CronJob to V1CronJob"
Hi, i want to use static method to convert V1CronJob to V1Job.

Consider to update [cronJobToJob](https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/conversion/Jobs.java) utility method with V1CronJob instead of V1beta1CronJob.

Or duplicate with V1CronJob for keeping retro-compatibility:

[code]

[2022-09-14 18:35] brendandburns commented on #2368
We'd be happy to take a PR to address this issue.

[2022-09-14 20:01] honnix commented on #2284
/remove-lifecycle stale

[2022-09-15 07:59] dani8art commented on #2361
Hi @brendandburns, great to see it has been merged into master, would you have an estimation on when it could be released?

Thanks!

[2022-09-15 16:51] brendandburns commented on #2361
I'll cut a release today.

[2022-09-16 08:56] wang007 opened #2376 "Support BOOKMARK event type?"
** feature **
Why io.kubernetes.client.util.CallGeneratorParams class without AllowWatchBookmarks param？

[2022-09-16 09:01] #2376 closed

[2022-09-16 09:23] dani8art commented on #2361
Ok, that's fine, I'll subscribe to the releases feed so I can't get notified when it happens.
Thanks so much!

[2022-09-16 14:29] Babak-abd opened #2377 "Exception in YAML.load(File file): Unknown apiVersionKind batch/v1/CronJob is it registered?"
Version: 16.0.0

I am creating a CronJob as below:

[code]

but when I call YAML.load I get a null pointer exception followed by:
[code]
The same code works for me when I create a maven project and run as jar.

I tried to debug more and I found that the issue is in https://github.com/kubernetes-client/java/blob/v16.0.0/util/src/main/java/io/kubernetes/client/util/ModelMapper.java#L461

`packageURL

[2022-09-16 18:39] #2190 closed

[2022-09-16 20:40] #2183 closed

[2022-09-18 05:57] #2218 closed

[2022-09-18 05:57] #2219 closed

[2022-09-19 09:37] sinhaniik opened #2380 "Build badge link to build"
When click to the build badge it goes to display the image, however it should useful if it re-direct to the actual link

[2022-09-19 19:51] immu2able commented on #2368
Hi can I work on this issue?

[2022-09-19 21:37] brendandburns commented on #2377
The client tries to statically load a bunch of these things via introspection, but different classloaders break this behavior sometimes.

What you did is fine, but it should probably be `cronjob` and `cronjobs` (lower case)

The static load code is here:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ModelMapper.java#L76

You could try to debug w

[2022-09-20 10:59] aespinosa commented on #2253
The default client builder in my understanding will support service accounts if detected https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ClientBuilder.java#L85-L98

[2022-09-20 11:12] aespinosa commented on #2066
For some reason the `Response#message()` being passed is proably null? It's supposed to be an string interpretation of the HTTP Status code based on https://square.github.io/okhttp/4.x/okhttp/okhttp3/-response/.  Maybe we can inspect the response object prior to the `ApiException` being code inside a debugger and isolate it into an OkHttp bug?

[2022-09-20 11:14] aespinosa commented on #2066
in practice, i liked setting `ApiClient#setDebugging(true)` to workaround the lack of verbosity in `ApiException` when trying to reproduce issues.

[2022-09-20 15:18] brendandburns commented on #2380
Closing since #2381 merged.

[2022-09-22 13:37] dani8art commented on #2309
Hi I think I've found the root of this issue and it is around the following piece of code

https://github.com/kubernetes-client/java/blob/6d39601da33cc64ee20a5d6e7500451b3278a6e7/util/src/main/java/io/kubernetes/client/util/WebSocketStreamHandler.java#L263-L274

My hypothesis is that. Despite the data being buffered to avoid flooding the web socket queue we are still reaching the max queue size. I

[2022-09-22 13:55] dani8art opened #2386 "WebSocket is close before output stream are flushed"
**Describe the bug**
When `WebSocketStreamHandled.java#close` is called as part of an `ExecProcess#destroy` there could be data that is not being flushed from the corresponding output stream. This is due to the execution order, this order may be changed by the following and we will be closing the WebSocket in a safer way.

[code]

**Client Version**
e.g. `14.0.0`

**Kubernetes Version**
e.g. `1.24

[2022-09-26 13:42] dani8art commented on #2361
Hi @brendandburns, any news on this? It would be great to have this released. Could I help with something?
Thanks!

[2022-09-28 17:03] brendandburns commented on #2386
Closing this since we merged #2387

[2022-09-28 17:03] #2386 closed

[2022-09-29 16:31] brendandburns opened #2396 "DefaultRateLimitQueueTest is flaky"
[code]

e.g. https://github.com/kubernetes-client/java/actions/runs/3148147767/jobs/5118376488

[2022-09-29 19:15] joshlong opened #2398 "please add a spring boot 3 aot support to enable graalvm use cases"
hi

tl;dr: my name is josh long. i work on the spring team at tanzu, a division of vmware. i would like to talk to you about contributing spring boot (3) AOT support, expanding the existing `spring` module.  i built something like this for the older 'spring native' project and i could easily turn it into a spring boot 3 aot module.

longer story:

## spring framework 6, spring boot 3, and ahead-of

[2022-09-29 22:01] brendandburns commented on #2398
@yue9944882 is the spring expert here who wrote most of the code, but from looking at this issue, it feels like something where we would be willing to accept PRs to support this.

I don't think either of us have the cycles to do the implementation.

[2022-09-30 04:58] liziwl opened #2401 "How to use `kubectl proxy` in this client?"
How to use `kubectl proxy` in this client?

I want to setup a apiserver proxy like `kubectl proxy` do. I checked example in this repo but I don't find one can be used.

[2022-09-30 23:52] brendandburns commented on #2401
This is not currently possible with this client. If you want to write the code to do it, we would gladly accept PRs.

[2022-10-01 00:02] joshlong commented on #2398
fantastic. thanks for the quick reply! I'll give it a go, if there's no objection, and create a strawman PR we can improve

[2022-10-03 12:04] #2241 closed

[2022-10-03 19:04] #2239 closed

[2022-10-04 12:32] 6sco commented on #2368
As mention in [PR comment](https://github.com/kubernetes-client/java/pull/2373#issuecomment-1254122539) this is no longer relevant.

[2022-10-04 12:32] #2368 closed

[2022-10-05 19:10] adarshans commented on #795
how to resolve comiler failure error only in jeniins not in eclips in eclips maven test will get success but it will show
Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project SkillraryEcommerceProject: Compilation failure: Compilation failure:   why this happens i have installed all the JRE's and JDK,maven ,git all the thngs installed and a

[2022-10-07 13:32] Antirecord opened #2405 "how to get or change context"
Good afternoon! Please tell me how to do "kubectl config context get-contexts" on k8s java client, I want to get cluster but I don't understand how.

[2022-10-07 13:33] Antirecord opened #2406 "how to get or change context"
Good afternoon! Please tell me how to do `kubectl config context get-contexts` on k8s java client, I want to get cluster but I don't understand how.

[2022-10-07 13:35] Antirecord opened #2407 "how to get or change context"
Good afternoon! Please tell me how to do `kubectl config context get-contexts` on k8s java client, I want to get cluster but I don't understand how.

[2022-10-07 17:35] brendandburns commented on #2407
Get contexts:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/KubeConfig.java#L147

Set context:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/KubeConfig.java#L114

[2022-10-07 17:35] #2407 closed

[2022-10-08 06:01] #2401 closed

[2022-10-10 16:13] rjeberhard opened #2410 "Request 16.0.x release (please)"
Can we please have a 16.0.x release to pick-up all of the dependency updates that have been committed?

[2022-10-10 22:04] brendandburns commented on #2410
@rjeberhard to do this, we will need cherry-picks of the relevant dependency PRs into the release-16 branch.

If you can send those PRs I'm happy to merge them and cut a release.

[2022-10-10 22:04] brendandburns commented on #2410
Side note to @yue9944882: we should consider turning on dependabot for release branches.

[2022-10-11 13:35] rjeberhard commented on #2410
@brendandburns, the SnakeYAML dependency is the only one I see on our security scans:

"MEDIUM","CVE-2022-38749","Using snakeYAML to parse untrusted YAML files may be vulnerable to Denial of Service attacks (DOS). If the parser is running on user supplied input, an attacker may supply content that causes the parser to crash by stackoverflow."
"MEDIUM","CVE-2022-38750","Using snakeYAML to parse unt

[2022-10-11 21:45] brendandburns commented on #2410
@rjeberhard go ahead and create a cherry-pick PR for that dependency bump (PR to the `release-16` branch instead of the main branch) and then we can cut a new release.

[2022-10-13 02:57] 025nju opened #2412 "Return JSON format for CRD API"
Like getting pod list, creating pod, is there method to return json response with http status included? Can't find any.
Currently it's converted to V1PodList or V1Pod, from ApiResponse.
Sometimes we need this client work in the middle, so all data in ApiResponse will be necessary for relaying to the real requester.
Thanks in advance.

[2022-10-13 04:59] yue9944882 commented on #2410
i'm a bit worried if the dependabot will be spammy (opening too many PRs). i can constantly see 4-5 pending PRs even tho we merely enabled the bot on the master branch. how about we enable the bot for the latest release branch (`release-16` this time and shift to `release-17` the next)

[2022-10-13 11:51] Babak-abd commented on #2410
Is there any plan to upgrade **kotlin-stdlib** and **protobuf-java** in this release? (CVE-2020-29582, CVE-2022-24329, CVE-2022-3171)

[2022-10-13 11:58] john-meeder opened #2414 "Exception in YAML.load(File file): NoSuchMethodException:io.kubernetes.client.custom.Quantity.<init>()"
**Describe the bug**
Hi guys,

we have a service in our system which should write some k8s-resource files (Deployement, StatefulSet etc.).
For instantiation we're using the provided k8s model classes from the java-client. The object is written to file using the jackson object-mapper.

Afterwards the service is able to load these files and apply the resources on the cluster.
e.g.
`V1StatefulSet sta

[2022-10-14 08:11] Mert18 opened #2415 "Generating CRD action, no such file or directory error"
**Describe the bug**
I am trying to generate Java classes from the CRD below, it keeps giving "no such file or directory error". I am giving package name as the reversed order of group name in the crd as mentioned in the documentation.

[code]
[Here ](https://github.com/Mert18/java/actions/runs/3248326095/jobs/5329400832) is the error logs. From the erroneous action.

**Client Version**
`15.0.1`

[2022-10-15 00:19] #2251 closed

[2022-10-16 01:30] #2240 closed

[2022-10-18 14:37] dani8art commented on #2410
Would it be possible to include on this version the commits related to those PRs, please?
* https://github.com/kubernetes-client/java/pull/2366
* https://github.com/kubernetes-client/java/pull/2387
* https://github.com/kubernetes-client/java/pull/2388

@brendandburns I was waiting for a long time to be released, It would be great if you guys included them in the next release.

Thanks!

[2022-10-18 17:47] JacobHenner commented on #604
I've opened a PR that would address this omission upon OpenAPI client regeneration: https://github.com/kubernetes-client/gen/pull/232

[2022-10-19 20:54] Mert18 opened #2422 "Kubectl delete label support"
**Describe the bug**
Kubectl.label() does not have a delete option as far as I have seen. Normally in k8s, a label can be deleted via CLI by putting "-" at the end of the label.

Ex:
```kubectl label node <nodename> <labelname>=labelvalue``` adds the label, and
```kubectl label node <nodename> <labelname>-``` deletes the label

But in Kubectl.label() function cannot have "-" at the end of the labe

[2022-10-19 21:04] xibz commented on #1891
@brendandburns can we get some people to look at this? This is a pretty severe issue, and Im about 2 seconds away from using the Go SDK which handles this properly.

[2022-10-20 11:02] #2253 closed

[2022-10-20 12:13] rjeberhard commented on #2410
I've been sick for a few days and am back in the office now... I see that a cherry-pick PR has already been created for SnakeYAML 1.33. Shall I create cherry-pick PR's for the other dependencies or are you doing this already, @yue9944882?

I've not seen issues in our environment with exec requests or web sockets, but we use these heavily, so I wouldn't be opposed to having these fixes in a bug-fix

[2022-10-20 17:10] SanjayVas opened #2423 "PortForwardResult does not expose methods to close WebSocketStreamHandler nor expose is state"
**Describe the bug**
PortForwardResult's underlying WebSocketStreamHandler will remain open unless the WebSocket is closed remotely. Furthermore, PortForwardResult's methods that return streams will throw an IllegalStateException if the handler is closed, but does not expose a way to check the handler state to avoid the exception.

This is related to #865 but more specific.

**Client Version**
16.

[2022-10-20 17:50] brendandburns commented on #2412
This is possible, but not particularly easy, there's an example here:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/PodLogs.java#L74

That may help point the way.

[2022-10-20 17:51] brendandburns commented on #2423
We'd be happy to have a PR to extend support to cover this.

[2022-10-20 19:33] brendandburns commented on #2410
@dani8art if you send cherry-pick PRs I'm happy to cut them into a release.

[2022-10-20 20:20] brendandburns commented on #2396
I haven't seen this flake in a while, I'm closing it for now and hoping that 2397 fixed it :)

[2022-10-20 20:34] brendandburns commented on #2410
@rjeberhard I just pushed 16.0.1 with the snake yaml cherry pick up to sonotype, should be in maven central in 24h or so.

@dani8art it is easy to cut a 16.0.2 once the cherry-picks are in.

[2022-10-20 22:35] LUEDDEA opened #2425 "KubectlDrain.java is not working properly"
**Describe the bug**
When I run
`kubectl drain node1 --ignore-daemonsets`
I get a warning `ignoring DaemonSet-managed Pods: .......`
and all pods (except those listed in the warning) running on node1 will be immediately get into state "terminating", the message "evicting pod.....", followed by the message "pod/..... evicted" is displayed.

When I use
`drain().ignoreDaemonSets().apiClient(client).n

[2022-10-21 14:01] brendandburns commented on #2396
Nevermind, it just flaked :(

[code]

[2022-10-21 16:50] stevenschlansker commented on #2066
Turns out, if there is no change, the issue doesn't just magically solve itself, no matter what the bot wants.

/remove-lifecycle stale

[2022-10-21 17:04] stevenschlansker commented on #2066
oops...

/remove-lifecycle rotten

[2022-10-23 06:32] #2213 closed

[2022-10-23 12:39] rjeberhard commented on #2410
I'm going to close this issue because 16.0.1 was released.

@dani8art, perhaps open a new issue for the items that you wanted backported?

@brendandburns, the good news is that https://mvnrepository.com/artifact/io.kubernetes/client-java/16.0.1 shows that the CVE's related to SnakeYAML that were displayed for 16.0.0 are gone... the bad news is that there is still a CVE related to protobuf.

[2022-10-23 12:39] #2410 closed

[2022-10-24 08:20] dani8art commented on #2410
Great to see the CVE has gone. 👏

@rjeberhard I've already done a PR with those commits https://github.com/kubernetes-client/java/pull/2429, @brendandburns do we need an issue to perform the new version cut? I think you asked me for the PR and then you are going to cut the version, right?

Thanks!

[2022-10-26 16:20] Babak-abd commented on #2410
@dani8art @rjeberhard
Is it possible to cherry-pick these 2 PRs to next release? I was hoping to see these in 16.0.1

https://github.com/kubernetes-client/java/pull/2362 to fix kotlin-stdlib security issue: CVE-2020-29582, CVE-2022-24329

https://github.com/kubernetes-client/java/pull/2421 to fix protobuf-java security issue CVE-2022-3171

[2022-10-28 10:38] aespinosa commented on #2412
You may be interested in https://square.github.io/okhttp/4.x/okhttp/okhttp3/-call/ to figure out how the `Call` object works behind the scenes with the `*Call()` methods

I wonder if the openapi-generator maintainers of the okhttp-gson java templates can add documentation on the generated API methods on when & where to use which.

At least in here, we've done a good job of indicating when to use t

[2022-10-28 10:40] aespinosa commented on #2330
Is the informer throwing any `ApiException`? can you share logs to illustrate what happens in network failures?

[2022-10-28 12:52] Sahildeep commented on #2330
It just stops silently and is unable to recover from it. And, it is not throwing any kind of exception.

[2022-10-28 12:53] sdsingh07 commented on #2330
It just stops silently and is unable to recover from it. And, it is not throwing any kind of exception.

[2022-10-28 17:41] mmacedoaraujo commented on #2425
If this is still open for someone to get this issue, I'll really want to give it a try. This will be my first contribution here, if there's no problem I'll be really glad to contribute.

[2022-11-02 22:03] brendandburns opened #2436 "DefaultSharedIndexInformerWireMockTest is flaky"
[code]

[2022-11-03 10:58] dani8art opened #2437 "Request 16.0.x release (please)"
Would it be possible to release a patch version that includes the commits related to those PRs, please?
* https://github.com/kubernetes-client/java/pull/2366
* https://github.com/kubernetes-client/java/pull/2387
* https://github.com/kubernetes-client/java/pull/2388

All of them are already in the proper branch: `release-16` thanks to this PR: https://github.com/kubernetes-client/java/pull/2429

Th

[2022-11-03 16:05] brendandburns commented on #2437
oh, sorry! I will get this done today.

KubeCon kind of ate all of my last week, (and the beginning of this week as I tried to catch up...)

[2022-11-03 16:19] micahhausler opened #2438 "Java Client doesn't refresh client auth exec-based credentials"
**Describe the bug**

Kubernetes supports [executing an external process](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuration) to get API server credentials, and the Java K8s client does too.

For processes that run longer than a credential's lifetime, client-go [consumes the `.Status.ExpirationTimestamp`](https://github.com/kubernetes/kubernetes/blob/6824cd3addbb

[2022-11-03 17:44] brendandburns commented on #2438
We'd be happy to take a PR to implement this, you will need to implement the `Authenticator` interface and register it for `exec` providers.

See:
https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/authenticators/AzureActiveDirectoryAuthenticator.java

For an example.

[2022-11-03 19:42] brendandburns commented on #2437
This just got pushed out to Sonatype, should be in maven central in about 24h.

Apologies for the delay!

[2022-11-03 19:59] #2437 closed

[2022-11-04 15:10] dani8art commented on #2437
That's amazing!! thank you so much @brendandburns

[2022-11-04 15:13] exceptionfactory opened #2440 "Improve SSLUtils Private Key Loading"
**Describe the bug**
The `io.kubernetes.client.util.SSLUtils` class contains several `loadKey` methods that use a variety of approaches to read private keys from PEM-encoded bytes. The current implementation relies on the client key algorithm parsed from the PEM header to determine the parsing strategy, using the Bouncy Castle `PEMParser` for ECDSA, custom DER parsing for PKCS1 RSA, and attempting

[2022-11-07 15:24] Babak-abd commented on #2437
@dani8art @brendandburns any plans to fix CVEs related to kotlin and protobuf?

I was really hoping to see these fixes in 16.0.2 but they are still not resolved.

https://github.com/kubernetes-client/java/pull/2362 to fix kotlin-stdlib security issue: CVE-2020-29582, CVE-2022-24329

https://github.com/kubernetes-client/java/pull/2421 to fix protobuf-java security issue CVE-2022-3171

[2022-11-09 01:16] exceptionfactory commented on #2440
Closing based on merging of the linked pull requests

[2022-11-09 01:16] #2440 closed

[2022-11-09 08:54] 025nju commented on #2412
@brendandburns , @aespinosa thanks a lot for your guidance.

[2022-11-09 09:08] sakryt commented on #2415
Same question when generating [this crd]([https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/master/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml]), have you found solutions?

[2022-11-09 09:56] Mert18 commented on #2415
Unfortunately I have not, but I ended up writing my custom classes implementing `io.kubernetes.client.common.KubernetesObject` and `io.kubernetes.client.common.KubernetesListObject` as described [here](https://github.com/kubernetes-client/java/wiki/5.-Generate-Java-CRD-Model).

[2022-11-09 16:12] thecrazzymouse commented on #1785
Do you know why is it 17 MB?

[2022-11-10 00:59] tg123 commented on #1785
see #2309

[2022-11-10 06:40] #2269 closed

[2022-11-10 15:58] colinhusanmao commented on #2287
solved by setting force to null.

[2022-11-12 02:53] colinhusanmao commented on #2284
seems internalYamlCodec isn't used by the library,  as the server return application/json type content usually, we need to be carefully if we use it.

[2022-11-12 03:22] colinhusanmao opened #2444 "Fail to generate crd models for chaos-mesh(error: mapping values are not allowed in this context)"
**Describe the bug**
I want to generate crd models for chaos-mesh, cause i want to create cr based on those models. but when i do it according to the wiki [Generate Java CRD Model](https://github.com/kubernetes-client/java/wiki/5.-Generate-Java-CRD-Model), it failed with the message: "error converting YAML to JSON: yaml: line 28: mapping values are not allowed in this context"，i don't know the rea

[2022-11-12 08:07] #2279 closed

[2022-11-14 03:31] sakryt commented on #2415
Finally, I found that when the crd's `spec.gourp` and `metadata.name` ends with `k8s.io`, the generator work failed with this error.

[2022-11-14 03:33] sakryt commented on #2415
Finally, I found that when the crd's `spec.gourp` and `metadata.name` ends with `k8s.io`, the generator work failed with this error.
So, the solution is change the `spec.gourp` and `metadata.name` value and it works.

[2022-11-15 03:55] aespinosa commented on #2444
i'm guessing that's coming from the apiserver? `apiVersion`  , etc. does not need to be in the CRD definition.

the apiserver will inject them in the end when the linked script downloads the swagger 2 definition

[2022-11-15 04:00] aespinosa commented on #2415
[code]

the generator created the `x_k8s` directory instead.  java doesn't allow dashes.  try removing the dash in your group's name

[2022-11-15 11:51] abhishekS14 commented on #2436
Hi! Is anyone investigating this? I can check it otherwise.

[2022-11-15 18:24] brendandburns commented on #2444
My guess is that it is not liking that multi-line string for the `description` field. I would try that whole string on a single line. I don't think a multi-line string in single quotes is valid YAML.

[2022-11-15 19:54] Mert18 commented on #2415
Can confirm that removing "-" from the group name resolves the problem but I'm not sure whether this breaks other things or not. This can be considered as a "workaround" and I'm closing this issue. If you have any other way to resolve the problem, please comment on this issue.

[2022-11-15 19:54] #2415 closed

[2022-11-16 00:09] brendandburns commented on #2396
I'm going to close this again via #2435 we'll see if it reoccurs.

[2022-11-16 03:01] FlonFl opened #2448 "Kubectl.cordon() Exception when runing in k8s， However, idea IDE is running ok"
**Describe the bug**

Kubectl.cordon() Exception when runing in k8s， However, idea IDE is running ok；The Windows 10 operating system.

**Dev java version:**
C:\Users\Administrator>java -version
java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)

**java version in docker:**
openjdk version "1.8.0_212"
OpenJ

[2022-11-16 06:20] luochenzc opened #2449 "Custom object json-patch"
I noticed that most patch calls support all 3 patch types (json-patch, merge-patch, strategic-merge-patch), but the patch calls for custom objects (including for status and scale sub-resources) only support merge-patch.
But patchClusterCustomObject(group, version, plural, name, body, dryRun, fieldManager, force)  The API uses json-patch , cause response 400 ?

[2022-11-16 09:53] colinhusanmao commented on #2449
patchClusterCustomObject use json-patch default and we can't change it, i think it should be marked as @deprecated, people should use PatchUtils instead. @yue9944882

[2022-11-16 10:02] luochenzc commented on #2449
Can you provide an example? I haven't contacted PatchUtils. Thank you very much

[2022-11-16 16:18] brendandburns commented on #2361
Closing this since it is in master and the cherry-pick was released.

[2022-11-16 16:18] #2361 closed

[2022-11-16 18:09] brendandburns commented on #2448
SpringBoot does weird things with the classloader that prevent some of our magic registration stuff from working.

You probably need to add `ModelMapper.refresh(discovery)` into your code.

[2022-11-16 18:10] brendandburns commented on #2449
It's hard to mark those methods as @deprecated because they come out of the code generator. We'd need some annotation in the swagger/open api or somesuch.

I'm closing this issue since @luochenzc seems to have solved their issue.

[2022-11-16 18:10] #2449 closed

[2022-11-17 02:54] FlonFl commented on #2448
Thanks brendandburns,  I use the `CoreV1Api.Patch` to replace the `Kubectl. Cordon ()`, can run normally.

[code]

[2022-11-17 16:52] brendandburns opened #2452 "How to handle Spring + Java 8?"
Spring has moved to require Java 17 with Spring 6 (https://spring.io/blog/2021/09/02/a-java-17-and-jakarta-ee-9-baseline-for-spring-framework-6)

We probably want to continue to support Java 8 + Spring 5, and this library will keep moving forward with new Kubernetes releases.

So we need to figure out how to move forward here.

I think the best thing to do is probably to extract the code from the

[2022-11-18 08:05] joshlong commented on #2452
Hi

It is possible to share the base Spring Boot 2 autoconfiguration (assuming you add a text file called `AutoConfiguration.imports`) for both Spring Boot 2 and Spring Boot 3. The only part unique to Spring Boot 3 is the new AOT engine. so, perhaps you could create a `starter-aot` (or something) which in turn imports the core `starter`. that way people using Spring Boot 3's AOT engine could use t

[2022-11-18 16:52] dsyer commented on #2452
+1 - it should be trivial to support Spring Boot 2 and 3 without a separate jar artifact. At least we should start that way. We could maybe drop Spring Boot 2 when the Kubernetes client reaches a new major, but it's probably not going to be mandatory.

[2022-11-18 22:03] brendandburns commented on #2452
The problem has to do with compiling the spring code in this library. (and it's not just about spring boot, it's about spring generally)

We're going to target Spring 5.x for now because we need to maintain Java 8 compatability. That means that we can't take a dependency on Spring 6 from this library. Hence the need to split the code so that one library can depend on spring 5 and the other can dep

[2022-11-19 18:37] joshlong commented on #2452
right. that's basically what my prototype demonstrates. i wouldn't bifurcate them in terms of spring framework 5 and 6, but instead in terms of the auto configuration (available in all versions of Spring Boot) and the ahead-of-time (AOT) compilation for graalvm (unique to SF 6 / spring boot 3) support.

so you'd leave the auto configuration as-is, but add one text file, `META-INF/spring/...AutoCon

[2022-11-21 08:19] dsukmanova opened #2456 "Cannot"
**Describe the bug**
I am trying to add kubernates-client/java library to my project. I just added the dependency to my pom.xml, but couldn't start the project with it. I got this error:

Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'okHttpClientBuilder' defined in class path

[2022-11-21 13:58] Antirecord commented on #2407
Good afternoon! The question is how do I get the current context if I use inCluster, without kubeConfig:

ApiClient client = ClientBuilder.cluster().build();

[2022-11-21 13:59] Antirecord commented on #2407
Good afternoon! The question is how do I get the current context if I use inCluster, without kubeConfig:

ApiClient client = ClientBuilder.cluster().build();

[2022-11-21 19:30] brendandburns commented on #2452
@joshlong thanks for the details, it feels like this would be a good approach. Basically if you can craft a PR that passes our integration testing we're good with it :)

[2022-11-21 19:34] brendandburns commented on #2456
This error doesn't seem to be related to this library, but rather an HTTP Client configuration class?

There's a spring example here:
https://github.com/kubernetes-client/java/blob/master/examples/examples-release-15/src/main/java/io/kubernetes/client/examples/SpringControllerExample.java

and the relevant pom.xml here:
https://github.com/kubernetes-client/java/blob/master/examples/examples-releas

[2022-11-22 01:50] joshlong commented on #2452
hi - i have just sent this PR. it changes almost nothing from the existing `client-java-spring-integration` module, adding only one text file. It also adds a new module to specifically support Spring Boot 3 AOT.

https://github.com/kubernetes-client/java/pull/2457

[2022-11-22 11:13] Arhell opened #2460 "update readme links"
http=>https
/assign

[2022-11-22 13:24] shubhbapna commented on #2422
/assign

[2022-11-22 20:07] apoorvamk opened #2461 "Unable to import Builder classes while upgrading to higher version"
**Describe the bug**
Trying to upgrade the java client from 12.0.1 to 16.0.2 but unable to import/use the builder classes as it is not found (for ex: V1ConfigMapBuilder) which was available in lower versions. I see the class [https://github.com/kubernetes-client/java/blob/v16.0.2/fluent/src/main/java/io/kubernetes/client/openapi/models/V1ConfigMapBuilder.java](https://github.com/kubernetes-client/

[2022-11-23 12:54] Antirecord opened #2463 "Getting the context name"
Good afternoon! Can you please tell me how can I get the context-name when using the configuration incluster(Service Account)?

[2022-11-24 02:02] sinloss commented on #1513
In case someone needs it, tests mentioned above could now be found here
https://github.com/kubernetes/kubernetes/commit/a503e5301a5cb2bd2a7915c08635484dee5603b6

[2022-11-24 03:21] colinhusanmao commented on #2444
i have found some crd yaml contains multi-line string in single quote, and the yaml can be parsed currectly in some website,like: https://onlineyamltools.com/convert-yaml-to-json

[2022-11-24 16:05] LUEDDEA commented on #2422
setting the value for the label to null removes the label

[2022-11-24 16:08] LUEDDEA commented on #2422
@shubhbapna
that is more or less, what I already do with the existing code:
`
label(V1Node.class).apiClient(client).name(nodeName).addLabel(key, **null**).execute();`

[2022-11-24 17:07] shubhbapna commented on #2422
Yeah, maybe for the sake of clarity since we are using `addLabel` to well delete a label, we can add this simple `deleteLabel` method?

[2022-11-24 19:22] LUEDDEA commented on #2425
@mmacedoaraujo Are you working on this? Otherwise I would try to provide a fix in the next days.

[2022-11-24 19:29] mmacedoaraujo commented on #2425
@LUEDDEA you can go on, I'm not working on it anymore

[2022-11-26 12:31] #2295 closed

[2022-11-26 23:32] #2273 closed

[2022-11-27 09:29] colinhusanmao opened #2469 "Please remove the @ignore annotation and fix the testcase : testAutowiredFieldsOfReconcilerBeansAreSet"
**Describe the bug**
can we fix the @ignore testcase, or just remove it?

**Client Version**
`11.0.2`

**Kubernetes Version**
`1.19`

**Java Version**
Java 8

**To Reproduce**
remove the @ignore annotation, run the test case KubernetesReconcilerProcessorTest#testAutowiredFieldsOfReconcilerBeansAreSet
it throws:
[code]

**Expected behavior**
test case run success

**KubeConfig**
none

**Server (ple

[2022-11-27 16:03] brendandburns commented on #2461
@apoorvamk thanks for reporting this, I will take a look and try to figure out what happened. If they are missing, it's not intentional.

Can you try `16.0.1` or `16.0.0`?

Thanks!

[2022-11-27 16:07] brendandburns commented on #2463
In the case of an in-cluster configuration, there is no kubeconfig file, and therefore no context. You can see the details of how the in cluster configuration is created here:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/ClientBuilder.java#L242

[2022-11-27 16:12] brendandburns commented on #2469
I don't see the `@ignore` annotation at HEAD. If it is present in `11.0.2` it's not really worth fixing as that branch is very old and unmaintained at this point.

https://github.com/search?q=repo%3Akubernetes-client%2Fjava+ignore+NOT+language%3AMarkdown+NOT+language%3AJSON+NOT+path%3Aopenapi+NOT+path%3Acontrib&type=code

Thanks

[2022-11-27 16:16] #2460 closed

[2022-11-27 21:00] #2463 closed

[2022-11-28 00:23] Arhell opened #2470 "update root folder links"
http=>https
/assign

[2022-11-28 17:52] #2275 closed

[2022-11-28 20:51] #2422 closed

[2022-11-30 01:01] eformat commented on #2461
The *Builder classes seem to have disappeared in latest versions 16.* e.g V1DeploymentBuilder not there.
Still there in 12.0.2, gone since 13.0.0 ?

https://javadoc.io/doc/io.kubernetes/client-java-api/12.0.2/index.html
https://javadoc.io/doc/io.kubernetes/client-java-api/13.0.0/index.html

[2022-11-30 01:22] brendandburns commented on #2461
Ah, thanks.

We repackaged those classes around that transition, you need the `client-java-api-fluent` package:

https://javadoc.io/doc/io.kubernetes/client-java-api-fluent/latest/index.html

[2022-11-30 04:13] brendandburns commented on #2105
@iamshakkib apologies for the (very) delayed response, but if you are still looking to contribute, there are several issues labelled `good-first-issue`

https://github.com/kubernetes-client/java/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2022-11-30 04:20] brendandburns commented on #2066
fwiw, I did actually notice that there is a constructor where the response body can be set without the message getting set:

https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/openapi/ApiException.java#L58

We may need an upstream fix in the client generator to fix this.

[2022-11-30 18:12] dmcwhorter-ddl commented on #2284
fwiw -- we've seen a bug on an internal project that traced back to this issue

[2022-11-30 22:57] brendandburns commented on #2308
There's also the `changes:github-report` maven plugin.