[2019-05-02 16:00] #563 closed

[2019-05-02 19:17] brendandburns commented on #553
Closing this due to no response. Please re-open if you need further assistance.

[2019-05-02 19:17] #553 closed

[2019-05-06 10:27] lephix commented on #528
I saw you put an empty String for the dryRun parameter.  Can you show the ApiException for the error?

Following is the JavaDoc about the dryRun param. I cannot figure out what is the potential value for it.

@brendanburns

[2019-05-06 10:46] yue9944882 commented on #528
whats your sever version? `dryrun` won't work before 1.13 unless the feature gate is on.

[2019-05-07 06:40] lephix commented on #528
Thanks for you explanation. @yue9944882 I am testing on 1.10.

[2019-05-07 14:51] DarshanMurthy opened #565 "Update issues with java.sh"
I tried to update existing java-client; I am seeing following error.

```src/gen/openapi/java.sh kubernetes ./settings```

`--- Downloading and pre-processing OpenAPI spec
Traceback (most recent call last):
  File "//preprocess_spec.py", line 351, in <module>
    sys.exit(main())
  File "//preprocess_spec.py", line 339, in main
    with pool.request('GET', spec_url, preload_content=False) as respo

[2019-05-07 15:00] anton-johansson commented on #546
I'd love to use the new API group for ingress resources (`networking.k8s.io/v1beta1`), but I don't think the latest version of this library supports that.

Ideas?

[2019-05-07 22:21] brendandburns commented on #565
This looks like your machine is rejecting github's certificate. I think this is a problem with your machine, or with github.

[2019-05-07 22:21] #565 closed

[2019-05-08 20:59] ejacobson2000 commented on #377
Is there any plan to fix this? I ran into this same issue today with the IBM JDK and had to manually change the kubernetes-client code to work around it.

[2019-05-10 02:05] yiyijin opened #566 "patchNamespacedDeploymentScaleAsync failed with 400 Bad Request"
I am trying to patch the deployment scale, and my code looks like:

[code]

and in the callback I got:
[code]

[2019-05-10 03:32] yue9944882 commented on #566
plz use `replaceNamespacedDeploymentScaleAsync` instead. we don't pass resource object to patch calls.

[2019-05-10 03:34] yiyijin commented on #566
@yue9944882
Thanks for the reply, so just wonder in what circumstances should patch call be used?

[2019-05-10 03:48] yiyijin commented on #566
@yue9944882
Besides, what do you mean by: we don't pass resource object to patch calls, I did see in ApiClient.java buildRequest method, it is passing the body for patch calls.

Can you please explain more details please?

[2019-05-10 18:06] yiyijin commented on #566
@yue9944882  thanks, I think I understand your point, this is going to be a json patch, which takes an array of patches. After changing the body to that, it works fine with patch now.

[2019-05-11 00:03] #566 closed

[2019-05-11 02:23] jingb commented on #479
@brendandburns   hi brendandburns .
When would you publish a new version to fix it ？ I have already upgrade to 4.0.0-betal version, but it dose not work, and I can't find the RepresentDateTime  class in util/src/main/java/io/kubernetes/client/util/Yaml.java

[2019-05-11 04:07] rubens21 commented on #143
For whoever it may help...
I came across similar issue using the client in Golang.

I figured out that after a gcloud update, the config file is using gcp to authenticate, which does not work for me.

So, I used
[code]
as @davidxia has suggested. But then, I was getting an error (from Google Cloud):
[code]

After an investigation I figured out that we have to turn on the Legacy Authorisation to av

[2019-05-13 05:10] yue9944882 commented on #546
/assign

sending a pull soon

[2019-05-14 02:22] jinlxz opened #568 "How to get the detailed information of an event when watching events."
Hi,

I want to watch events in a namespace and get the detailed information of the event as the command `kubectl get event` returned,  such as `SUBOBJECT` , `REASON`,  `SOURCE` and so on, but I found the returned object `Watch.Response<V1EventList>` in the `for` loop has a simple structure which does't contain attributes I desired, my code is as follows:
[code]
the `Watch.Response<V1EventList>` ob

[2019-05-14 03:53] yue9944882 commented on #568
[code]

watch events instead of the list, the "items" is always empty b/c there's no such field in the response at all.

[2019-05-14 08:33] jinlxz commented on #568
@yue9944882 it works now, thank you.

[2019-05-14 08:33] #568 closed

[2019-05-17 18:28] markusheiden opened #570 "io.sundr:sundr-codegen conflicts with commons-lang3 and more"
`io.sundr:sundr-codegen:jar:0.9.2` contains a copy of `commons-lang` etc. in the original package `org.apache.commons.*`. This hides my more recent dependency of `commons-lang` with some new methods which I cannot access now.

Anyway it is no good idea to include foreign packages. Maybe the package translation is broken? Maybe the io.sundr:builder-annotations simply needs to be updated?

Dependenc

[2019-05-17 19:14] markusheiden commented on #488
Even more this dependency is dangerous!
See https://github.com/kubernetes-client/java/issues/570
Please re-consider removing it.

/remove-lifecycle stale

[2019-05-21 14:09] yue9944882 commented on #474
/remove-lifecycle stale

[2019-05-22 12:50] nishantsh77 commented on #487
@JoeyLuffa Can you please share "format" of body. I tried JSON format but getting "io.kubernetes.client.ApiException: Bad Request". As per https://github.com/kubernetes-client/java/issues/428, is it Map<String, Object> ?
I am trying to invoke createNamespacedCustomObject(..) for sparkoperator.k8s.io and converted YAML to JSON. But its not working.

[2019-05-22 13:43] nishantsh77 commented on #487
@JoeyLuffa Please ignore my query. I resolved it.
The answer is to convert JSON into Map<String,Object>

[2019-05-23 03:34] brendandburns commented on #570
cc @iocanel can you take a look at this?

[2019-05-23 04:34] iocanel commented on #570
This shouldn't be in issue with recent versions of sundrio as the dependency is shaded.

The project now uses Sundrio 0.18.0 so I think we can close this one.

[2019-05-23 09:30] JasonCL2015 opened #571 "How PodLogs.streamNamespacedPodLog works"
Hi Brendan,
    I want to collect podlogs, my code like below
[code]
 but my console can't print any logs, please tell me how can i get it, thank u.

--> GET https://xxxxxx:8443/api/v1/namespaces/oo/pods/xxx-6d7758ddb7-qnrh4/log?container=kia&follow=true&pretty=false&previous=false&timestamps=false HTTP/1.1
authorization: Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2Vh

[2019-05-23 09:34] JasonCL2015 commented on #571
client-java version:4.0.0
kubernets version:1.13

[2019-05-23 09:47] JasonCL2015 commented on #571
i set follow as ture in method readNamespacedPodLog, so i hope i could get podlogs as io stream that i can push sokcet message to front-end web.
is my idea right?

[2019-05-23 10:10] yue9944882 commented on #571
/triage support

[2019-05-24 00:49] JasonCL2015 commented on #571
hello?

[2019-05-24 08:10] nishantsh77 commented on #475
@roksolana-d I was wondering if you have been able to solve the status problem. I am also getting null as status.
I also added spark-operator-crds.yaml " subresources: status: {}" in spark-operator-crds.yaml and see after running command "kubectl describe customresourcedefinitions sparkapplications.sparkoperator.k8s.io" .

Java Code (similar to the way you have written):
Watch<V1Namespace> watch =

[2019-05-25 15:46] roksolana-d commented on #475
@nishantsh77 The problem persists. I was not able to solve it

[2019-05-25 16:13] nishantsh77 commented on #475
@roksolana-d thanks a lot for the confirmation. Which version of Kubernetes you are using. I am using 1.14.

[2019-05-26 09:23] roksolana-d commented on #475
@nishantsh77  I am using 1.14 as well but I could see the same problem in 1.13

[2019-05-26 10:22] yue9944882 commented on #475
i just tried extracting status from custom object and it's working fine fro me
[code]

the crux is that, we're not suppose to pass a `V1Namespace` in, when deserializing custom ones

[2019-05-26 17:02] l0yu opened #574 "Get original json response"
Get json response in String
instead of decode V1Object
Any option in current Api impl ?

[2019-05-26 18:19] nishantsh77 commented on #475
@yue9944882 thanks for pointing towards solution. I tried and its not working as you mentioned above.
Actually, its not only about "status" even behavior of "Events" in sparkapplications.sparkoperator.k8s.io gets changed. Mentioned in detail in https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/501

@roksolana-d are you having same observations (1 & 2) as I mentioned in https://gi

[2019-05-26 19:26] roksolana-d commented on #475
@nishantsh77 yes, just the same observations

[2019-05-27 02:07] yue9944882 commented on #475
@nishantsh77 @roksolana-d can you paste me your code after completely removing `V1Namespace`? i'll try that in my local v1.13.0 cluster.

[2019-05-27 09:31] Raj725 commented on #315
@hluchej Thanks for sharing this.
Can you please share a basic program to use this. I tried this in several ways but no success. I am still getting `{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Unauthorized","reason":"Unauthorized","code":401}
`

[2019-05-27 09:33] Raj725 commented on #315
I am not able **to set two versions of the config file**

[2019-05-27 09:41] jikuhn commented on #315
Did you use the KUBECONFIG environment variable to point to the manually created k8s configuration file? Something like:
`export KUBECONFIG=/home/xyz/k8s-java.config`

FYI: I've updated the code, the resulting base64 part of the token should have the padding omitted.

[2019-05-27 11:09] davidxia commented on #431
Not stale :) I think?

On Sun, May 26, 2019 at 22:24 fejta-bot <notifications@github.com> wrote:

--
David Xia
davidxia.com

[2019-05-27 11:42] nishantsh77 commented on #475
@yue9944882 @roksolana-d  today I ran spark-pi.yaml (from examples using command prompt after enabling status in crd) and downgrading Kubernetes version to v1.12.8 and "observations" are exactly same as mentioned earlier.

[2019-05-28 22:07] PaulFurtado commented on #409
/remove-lifecycle rotten

Still think this client is fairly unusable by humans without this feature

[2019-05-29 04:22] yue9944882 commented on #409
we need to annotate the parameters for the generated client methods so that a builder can call them via reflection. but that need a change in the upstream template...

[2019-05-29 15:25] brendandburns commented on #571
I don't think your pods are logging anything. Does `kubectl logs <pod-name>` print anything?

[2019-05-29 15:29] brendandburns commented on #574
You can do this yourself using the `readNamespacedPodCall(...)` function (there are equivalent ones for other objects) which will return a `Call` object from `okhttp` once you have the `Call` object you can do whatever you want with the HTTP request.

[2019-05-29 15:29] #574 closed

[2019-05-30 15:58] matheuslcruz commented on #86
Hi,

In my case I was getting this error when called deleteNamespacedDeployment() method.

As a workaround I replaced the call of deleteNamespacedDeployment() with deleteCollectionNamespacedDeployment() and deleteCollectionNamespacedReplicaSet(), using label selectors to match the desired resources to be deleted.

It's working. No need to catch errors.

Hope it helps.

[2019-05-30 19:19] brendandburns commented on #570
closing per comment from iocanel. We'll cut a 5.0.0 with this new dependency really soon.

[2019-05-30 19:19] #570 closed

[2019-05-31 03:20] JasonCL2015 commented on #571
kubectl logs <pod-name> -n <namespace> can print logs,  does  [LogsExample](https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/LogsExample.java) work fine? when i use it,it can't print anything.

[2019-05-31 07:13] cizezsy opened #578 "NullPinterException when call stopAllRegisteredInformers immediately after startAllRegisteredInformers"
Stack trace:
[code]

Codes to reproduce this error:
[code]

[2019-05-31 08:13] y-koyamatsu opened #579 "run example failed and build client-java failed"
I would like to execute 'example but  it failed "'mvn package install'
i use docker desktop for windows!
・

This is log when I execute "mvn package install"!

[INFO] Scanning for projects...
[INFO] Inspecting build with total of 1 modules...
[INFO] Installing Nexus Staging features:
[INFO]   ... total of 1 executions of maven-deploy-plugin replaced with nexus-staging-maven-plugin
[INFO]
[INFO] ---

[2019-05-31 10:12] mattnworb commented on #467
/remove-lifecycle rotten

[2019-05-31 11:18] nishantsh77 commented on #475
@yue9944882 I verified and yes you were right about "the crux is that, we're not suppose to pass a V1Namespace in, when deserializing custom ones".
Item object is of type com.google.gson.internal.LinkedTreeMap.

Also, we dont have to add "status" as sub resource in CRD.

Thanks for pointing in right direction.

[2019-06-01 01:36] brendandburns commented on #579
You need to run `mvn package install` in the root directory of the repository to install the dependencies before you build the examples.

[2019-06-01 01:36] #579 closed

[2019-06-01 01:38] brendandburns commented on #571
It worked the last time I tested it.... I will try to validate it again.

[2019-06-01 01:39] brendandburns commented on #578
cc @yue9944882

[2019-06-01 05:15] asarkar commented on #429
/remove-lifecycle-rotten

[2019-06-02 15:59] varsanyid commented on #194
Is there any update regarding this?

[2019-06-03 02:07] y-koyamatsu commented on #579
I got it!

But I failed test when I  run `mvn package install` in the root directory to run example!!!

[2019-06-03 03:27] yue9944882 commented on #194
the cluster metrics api's openapi-spec is not included in the kube-apiserver's. we have to retrieve the spec from the metrics server and run the [generator](https://github.com/kubernetes-client/gen) to generate its client.

[2019-06-03 22:56] ChrisMullard opened #581 "SocketTimeoutException when connecting"
Hi,
I have three Kubernetes clusters in AWS - these all constructed from a script so should be effectively identical. The generated K8 configs allow Kubernetes Dashboard connections with no issues (and kubectl commands work fine to all 3 too)

However making an API connection (using the same configs) to the cluster doesn't work for one of them and I've no why. The other two work fine.

Java code:

[2019-06-04 04:31] yue9944882 commented on #581
doesn't sounds like an issue from the client.. are you accessing the clusters behind a l4 or l7 load-balancer?

[2019-06-04 09:36] jackmahoney opened #582 "Generated code is unwieldy"
I really love kubernetes and appreciate all the work around it but is this generated java library really a respectable official client?

The first example on the README shows a method call with 9 null parameters.

`V1PodList list = api.listPodForAllNamespaces(null, null, null, null, null, null, null, null, null);`

I know generated code with swagger makes client development easy but surely a hand

[2019-06-04 10:06] yue9944882 commented on #582
i suppose we will apply the builder pattern to client (see existing threads at https://github.com/kubernetes-client/java/issues/409) but for now we don't a solution yet.

[2019-06-04 12:03] brendandburns commented on #582
There are already builders, look at the example here:

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/FluentExample.java

[2019-06-04 12:06] brendandburns commented on #582
And regarding generated vs. hand written, this is a philosophic decision that was taken for all clients. The Kubernetes API is large and continuously changing.

If you hand write code, there are always gaps between the library and the latest APIs, that's a different kind of pain for users. The decision was taken because we believe that API coverage is more important than a fluent library.

And of

[2019-06-04 12:06] #582 closed

[2019-06-04 12:08] brendandburns commented on #581
Does `kubectl get deployments --namespace monitoring` work to the cluster that is non-responsive from this library?

I agree with @yue9944882 that this seems to be a problem in your cluster, not this library, but if `kubectl` works then this may deserve further investigation.

[2019-06-04 21:59] ChrisMullard commented on #581
Yes that works fine in all 3 clusters.
H:\>kubectl get deployments --namespace monitoring
NAME                  DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
grafana               1         1         1            1           29d
kube-state-metrics    1         1         1            1           29d
prometheus-adapter    1         1         1            1           29d
prometheus-operator   1

[2019-06-05 03:33] yue9944882 commented on #581
`ApiClient#setDebugging` will probably help, but error is suggesting something's wrong/unstable w/ the underlying l4 network.

[2019-06-05 04:26] ChrisMullard opened #585 "What is the body arg in patchNamespacedHorizontalPodAutoscaler?"
The documentation+example code appears to have an omission:

https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/AutoscalingV1Api.md#patchNamespacedHorizontalPodAutoscaler

null is passed in the example for the body arg.

Omitting it isn't possible as the following exception is returned:

Thanks

[2019-06-05 15:21] yue9944882 commented on #585
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/PatchExample.java

the patch example is here. but i think the example is indeed problematic, the patch body shouldn't be simply a `java.lang.Object`, which is misleading.

[2019-06-05 19:44] brendandburns commented on #581
Worst case scenario using wireshark to trace the network should be useful...

[2019-06-05 19:46] brendandburns commented on #585
That documentation is auto-generated from Swagger, so it's rough suggestions at best.

Following the example in the PatchExample is a better approach.

I'm closing this since I think there's not much more we can do here. Please re-open if you need additional assistance.

[2019-06-05 19:46] #585 closed

[2019-06-05 19:48] #578 closed

[2019-06-05 21:11] ChrisMullard commented on #581
Turns out the issue was with the company firewall and not Kubernetes at all.
Thanks for all assistance.

[2019-06-05 21:11] #581 closed

[2019-06-06 03:30] ChrisMullard commented on #585
Using the AutoscalingV1Api and patchNamespacedHorizontalPodAutoscaler() with patch string
"{\"op\":\"replace\",\"path\":\"/spec/minReplicas\",\"value\":0}"
I get
io.kubernetes.client.ApiException: Unprocessable Entity
...what am I doing wrong pls?

[2019-06-06 10:32] y-koyamatsu opened #588 "I can't run YamlExample.java!"
When I run  YamlExample.java , I failed it!
Exception in thread "main" java.lang.Error: Unresolved compilation problems V1PodBuilder and V1ServiceBuilder:
Do I need to implement them by own?

And......
When I run  AttachExample.java , I failed it too!
"java.net.ProtocolException: Expected HTTP 101 response but was '404 Not Found'" occur!!!
Please advise me to resolve some problems....

In fact, I

[2019-06-06 19:52] brendandburns commented on #588
I'll try to reproduce the first error.

I think that the second error is because you need to change the name of the pod in the example to a pod that is actually running in your cluster.

[2019-06-07 03:45] ChrisMullard opened #589 "Most Deployment values are null once there are no replicas"
Once I patch a Deployment replica value to 0 and the available replica count goes to 0 (from kubectl), a call to readNamespacedDeployment returns null for most fields (see attached file).

Is this by design? Surely the fields should have a value (such as availableReplicas, replicas both = 0)
kubectl returns values:

H:\>kubectl get deployments --namespace xxx
NAME                DESIRED   CURRENT

[2019-06-10 04:02] brendandburns commented on #589
What did you use to perform the patch? Did you issue a `PATCH` or was it a `PUT`, because if you called `replace` with a patch-like `Deployment` object, the output above is about what I would expect.

[2019-06-10 16:43] #546 closed

[2019-06-10 21:10] ChrisMullard commented on #589
It was a patch using "{\"op\":\"replace\",\"path\":\"/spec/replicas\",\"value\":0}";

...why would that leave fields null when the are subsequently retrieved?

[2019-06-11 04:01] yue9944882 commented on #589
the `replicas` fields are tagged as `omitempty` which makes them omitted on serialization if they're zero-valued.. (i'm not sure it's by-design or not.. 🤔)

[2019-06-11 04:15] ChrisMullard commented on #589
Ok thanks

[2019-06-11 04:15] #589 closed

[2019-06-11 04:17] yue9944882 commented on #589
@ChrisMullard what's your kubernetes cluster version?

[2019-06-11 05:14] yue9944882 commented on #407
/remove-lifecycle rotten

[2019-06-11 21:29] ChrisMullard commented on #589
1.12 in AWS under EKS

[2019-06-12 05:37] Jinchul81 opened #591 "IllegalStateException: Expected BEGIN_OBJECT but was STRING while getting namespacedPod"
I have encountered a similar error in #493. Could you please look into the issue with the following information and reproducible scenario?

* Problem
  * JSON string parsing error happened while retrieving pod list in a namespace.

  * I was testing using v4.0.0, v5.0.0, and master of Kubernetes client java libraries and v2.2.4 of GSON library, but the problem seemed not to be resolved. I confirme

[2019-06-12 05:58] Jinchul81 commented on #591
The problem has been resolved after upgrading GSON version from 2.2 to 2.8. Let me close the issue.

[2019-06-12 06:01] yue9944882 commented on #591
/reopen

this needs investigation

[2019-06-12 18:36] brendandburns commented on #591
@yue9944882 what is needed here? it seems from the above a GSON upgrade resolved the issue?

[2019-06-13 12:44] yue9944882 commented on #591
tricked, no issue here

/close

[2019-06-13 12:44] #591 closed

[2019-06-13 18:43] jwoglom opened #592 "Boolean fields in client models do not adhere to JavaBean conventions, and are not serialized"
As noted in #340, #531, and likely others, dumping client model objects to Yaml excludes all boolean types. This is occurring because of an invalid interpretation of the JavaBeans spec.

Per this [StackOverflow post](https://stackoverflow.com/questions/10188686/is-public-boolean-isbiketyreflat-a-valid-javabeans-method-signature/10188755#10188755), JavaBeans expect that getters for the raw type `bo

[2019-06-13 21:00] jwoglom commented on #592
Example, with a simplified class used which mimics the signatures of kubernetes client model objects:
[code]

Output:
[code]

[2019-06-13 21:15] jwoglom opened #593 "Null DateTime fields in YAML return error during deserialization"
The Yaml wrapper class in io.kubernetes.client.util throws an `Invalid format: "null"` exception if a DateTime field is specified with a null value in loaded YAML.

The underlying snakeyaml implementation loads null values fine. See example below.

[code]

Output:
[code]

If the wrapped dump method in `io.kubernetes.client.util.Yaml` is used to generate YAML, then it excludes null fields and the l

[2019-06-14 07:43] victornoel opened #596 "Some files are missing from maven-deployed sources"
Hi,

There seems to some missing files in the deployed sources to maven.

For example `io.kubernetes.client.ApiException` is provided by `client-java-5.0.0.jar` but is missing from `client-java-5.0.0-sources.jar`.

I don't know if there are others.

[2019-06-14 07:55] yue9944882 commented on #596
@victornoel `ApiException` lives in `client-java-api` instead of `client-java`

[2019-06-14 08:26] victornoel commented on #596
@yue9944882 then there is a problem with the deployed maven artifacts: `io.kubernetes.client.ApiException` is present in `client-java-5.0.0.jar` also, so in Eclipse, m2e tries to look for its source in `client-java-5.0.0-sources.jar`.

[code]

[2019-06-14 09:53] yue9944882 commented on #596
i suppose it's caused by maven bundle packaging plugins.. i'm not really familiar w/ how OSGi packaging works but i sent #597 to strip the duplicated class. it's working fine locally.

[2019-06-14 10:13] victornoel commented on #596
@yue9944882 nice, thx!

[2019-06-14 11:13] yue9944882 commented on #592
this needs an upstream fix. i sent https://github.com/sundrio/sundrio/issues/151 in the other repo.

[2019-06-15 05:16] #596 closed

[2019-06-15 13:55] davidxia commented on #431
/remove-lifecycle rotten

[2019-06-17 04:10] yue9944882 commented on #431
am in favor of an upstream fix before we migrating to openapi-generator #595,  and so do the other issues complaining about the template'd codes.

[2019-06-17 20:26] davidxia commented on #340
/remove-lifecycle stale

[2019-06-18 09:55] runzexia commented on #474
@johnlabarge Hey there I'm dealing with the same thing in jenkins. Did you make any progress?

[2019-06-18 10:26] chentging commented on #86
you are right

[2019-06-19 08:30] ViGeng commented on #228
请问你解决这个问题了吗？ @chuxiongGitHub

[2019-06-19 10:09] yue9944882 commented on #431
it's already fixed both in the legacy swagger-generator and openapi-generator. a re-generate will fix the issue.

[2019-06-19 23:15] seanleblanc opened #598 "Launch a defined CronJob?"
I'm just curious if it would be possible to use this client API to launch a command similar to the one described here. Basically, start with a CronJob and launch it right now.

https://stackoverflow.com/questions/40401795/how-can-i-trigger-a-kubernetes-scheduled-job-manually

kubectl create job --from=cronjob/<cronjob-name> <job-name>

[2019-06-20 04:33] brendandburns commented on #598
Yes, you can definitely use this API to achieve that.

Here's an example that parses an object from JSON:
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/ParseExample.java

You just need to then call into the right API to create the CronJob object.

[2019-06-20 04:33] #598 closed

[2019-06-20 15:08] seanleblanc commented on #598
So, does that copy an existing, predefined CronJob that would be in the cluster, and then create a one-time Job based on that CronJob spec? That example seems to take a json file as input as well as the target type of spec and then create the correct job for use.

I'm assuming I might combine this idea with additional steps, such as getting the json for the CronJob from the cluster, putting in an

[2019-06-21 02:17] #112 closed

[2019-06-21 10:28] wushuaiwangyin opened #599 "can I use " kubectl rollout history deployment <deployment> " with java API ?"
the commond " kubectl rollout history deployment " can I use API to operate it?

[2019-06-21 10:57] yue9944882 commented on #599
[https://github.com/kubernetes-client/java/blob/dc82549dde1eeea7593203dec788af0fe33685a7/kubernetes/src/main/java/io/kubernetes/client/models/AppsV1beta1DeploymentSpec.java#L51-L52](https://github.com/kubernetes-client/java/blob/dc82549dde1eeea7593203dec788af0fe33685a7/kubernetes/src/main/java/io/kubernetes/client/models/AppsV1beta1DeploymentSpec.java#L51-L52)

just performing an update the deploy

[2019-06-21 18:08] brendandburns commented on #599
fwiw, that's a relatively new API, a lot of the information that command uses is stored in annotations in earlier kubernetes versions...

[2019-06-21 18:08] #599 closed

[2019-06-21 18:34] jglick commented on #238
Since this is implemented at least in a basic form, I think this issue could be closed and follow-ups filed as needed for the items I noted in #512 or anything else that comes up.

[2019-06-21 23:38] #193 closed

[2019-06-22 00:39] #199 closed

[2019-06-22 01:40] #206 closed

[2019-06-23 11:13] #296 closed

[2019-06-23 23:25] #267 closed

[2019-06-24 15:45] mpashka opened #600 "Examples don't contain strategic merge patch and JSON merge patch"
Kubernetes java client has API to apply patch for some object. But that implies using json patch (Content-Type: application/json-patch+json).
There is no example of using other types. Can you please add support for other patch types and add appropriate examples.

As a workaround I used the following code to apply merge patch for node in java client:
[code]

[2019-06-25 03:02] yue9944882 commented on #600
now patch supports other formats, but the example is on master, haven't released yet

https://github.com/kubernetes-client/java/blob/dc82549dde1eeea7593203dec788af0fe33685a7/examples/src/main/java/io/kubernetes/client/examples/PatchExample.java#L64-L89

[2019-06-25 07:56] #384 closed

[2019-06-25 11:58] #600 closed

[2019-06-25 12:00] #195 closed

[2019-06-25 12:00] #398 closed

[2019-06-25 22:11] #410 closed

[2019-06-25 23:12] #427 closed

[2019-06-25 23:12] #259 closed

[2019-06-26 03:42] nianjiang opened #601 "Copy is not working, due PKIX path building failed"
HI,
I try to copy file from pod, but java client is not working (See details below).

Then,  I try the kubectl, it works, see my command:
kubectl cp ingress-nginx/nginx-ingress-controller-78474696b4-lxhr8:/etc/nginx/nginx.conf .

I do the same thing with java client, but it failed:
see the code
[code]
see the log:
[code]

[2019-06-26 05:18] #163 closed

[2019-06-26 07:22] yue9944882 commented on #601
it's failing on SSL handshaking.. to build a in-cluster client, consider using `ClientBuilder`

[code]

[2019-06-26 11:24] #458 closed

[2019-06-26 13:12] nianjiang commented on #601
FIxed the issue. It is my code issue. Missing some config.

missing configt are:
CoreV1Api coreApi = new CoreV1Api(**client**);
new ClientBuilder().setVerifyingSsl(**false**)

See the whole code:
[code]

my request is copy file from pod, using token and cert file.

[2019-06-26 13:12] #601 closed

[2019-06-27 06:14] sleepyGeek opened #602 "io.kubernetes.client.ApiException: Forbidden in Kubernetes Pod"
Hi,
My apologies, I know there are threads about or related to my inquiry but all of them I think are closed now so I'm creating a new one.

As for my inquiry, I'm trying to create a simple POC that will just create a simple configmap to a namespace in a kubernetes cluster. The kubernetes cluster was already setup and a corresponding service account was created there. and by running kubectl comman

[2019-06-27 08:24] yue9944882 commented on #602
it's complaining about your rbac setting. bind a [cluster]role to the serviceaccount w/ configmap creation privilege will work

[2019-06-27 08:25] sleepyGeek commented on #602
Just an update, I think it's not an API issue, I executed the following and it appears that it is an RBAC issue..

$ KUBE_TOKEN=$(</var/run/secrets/kubernetes.io/serviceaccount/token)
$ curl -sSk -H "Authorization: Bearer $KUBE_TOKEN" https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_PORT_443_TCP_PORT/api/v1/namespaces/default/pods/$HOSTNAME

[2019-06-27 08:25] #602 closed

[2019-06-27 08:27] sleepyGeek commented on #602
yes, I just tested it also by running the curl command locally.
Thank you for the reply also..

[2019-06-27 08:44] #447 closed

[2019-06-27 11:04] slyoldfox opened #603 "ExecExample does not work properly with stdin and throws a SocketTimeoutException"
There seems to be something wrong with the ExecSample (or deeper) in how the stdin is passed to the exec api. It seems to be waiting to the websocket to generate more data, while no data will come.

A normal command seems to work:
[code]

A command using stdin via kubectl works also
[code]
I'm not sure where to begin debugging this, it seems that the websocket from Exec in combination with stdin s

[2019-06-27 18:52] brendandburns commented on #603
Is the issue that the example hangs?

This is because the thread copying stdin will never stop. I suppose the example could call `System.exit(0)` in the example code...

[2019-06-27 18:52] brendandburns commented on #603
e.g. it's not really a bug in the library, it's a bug/incompleteness in the example code.

[2019-06-28 19:17] #279 closed

[2019-06-28 20:28] slyoldfox commented on #603
I’ll have a look if i can improve the example somewhat after i get back from holidays, thanks for the pointer!
I thought i could have just closed the stdin stream, but i basically need to abort the stdin thread.

[2019-06-28 23:24] rtwruck opened #604 "CustomObjectsApi misses getAPIResources"
CustomObjectsApi can list custom objects if you know their plural name but does not expose a method to get the possible names, i.e. GET /apis/{group}/{version}/.

[2019-06-29 11:00] remmeier opened #605 "Consider making library smaller and more modular"
we intended to make use of the library in a set of micro services. I general it works great. But unfortuntately, the foot print of the library is a bit problematic.

On the one side it has many dependencies:

[code]

On the other side the project itselfs has JARs up to 9 MB in size. All in all it is around 35 to 40 MB.

Maybe it would be worthwhile to split it up into multiple pieces. By fetching

[2019-07-01 06:29] runzexia commented on #474
The classloader is very complicated, I wonder if I can avoid the classloader and then initialize this part through code generation.

[2019-07-01 19:18] brendandburns commented on #604
It's here:

https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/ApiregistrationV1Api.md#getAPIResources

[2019-07-01 19:18] #604 closed

[2019-07-01 19:21] brendandburns commented on #605
I think you can use dependency exclusions:

http://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html

To achieve this.

It's possible that if you exclude the Azure library that this libray will crash with `ClassNotFound` in that case, I'm happy to take a PR to add exception catches in the right places...

[2019-07-02 03:14] ZP-AlwaysWin opened #608 "Can you directly support Yaml files?"
hi all：
such as problem，Can you directly support Yaml files?
If there are too many parameters, using YamlExample is not very convenient.

Best Regards

[2019-07-02 03:24] ZP-AlwaysWin commented on #608
I  closed this issue since by myself we have kind of solution now. Thanks a lot.

[2019-07-02 03:24] #608 closed

[2019-07-02 04:18] asarkar commented on #429
The best way to solve a problem; do nothing, and let it get closed by inactivity bot.

[2019-07-02 04:22] yue9944882 commented on #429
/reopen
/assign

sry, the issue doesn't stand out in the flooding notifications.. i will TAL later

[2019-07-02 07:10] remmeier commented on #605
one can yes. I guess. I wondering if there is any interest to slim down the library in general without "hacking" dependencies. In our case we only need access to secrets, configMaps, pods and deployments from within the cluster, which I suspect is a frequent use case. For such a use case I was hoping more for the 500 KB rather than 40 MB dependency. Or maybe in the lower MB range.

[2019-07-02 09:30] rtwruck commented on #604
No, it's not.
That one does GET /apis/apiregistration.k8s.io/v1/ and the response usually contains two entries: apiservices and apiservices/status.

[2019-07-02 15:08] yue9944882 opened #609 "[Feature] Structured client generation for CRD or adhoc swagger spec"
/assign

[2019-07-02 19:22] davidxia commented on #101
/remove-lifecycle stale

[2019-07-03 02:57] yue9944882 commented on #101
/lifecycle frozen

[2019-07-04 03:38] brendandburns commented on #605
I don't think there are any plans to slim down the library by reducing the API coverage (e.g. just secrets, pods, etc)

I think we could consider publishing a smaller "http client" style library that handles all of the auth, but doesn't contain all of the object models, then you could do raw JSON or write your own object model if you really wanted to.

Likewise, separating out the individual cloud

[2019-07-04 12:55] hmeerlo commented on #290
/remove-lifecycle stale

[2019-07-04 13:45] remmeier commented on #605
nowadays with the modularity and stuff that got better as well...

well not that much to attempt to fork something. And this library is great in any other way. But sufficient enough to attempt/help make it smaller if there is any desire for it :-)

could also make sense from a modularity perspective.

is there any chance of splitting up the proto and api JARs? Because both are now around 9 MB in s

[2019-07-04 17:55] yue9944882 commented on #290
@jhbae200 how do you think about sending the patch as a PR in the repo?

[2019-07-05 04:56] yue9944882 commented on #245
/remove-lifecycle rotten

ref: #609, working on structured CRD client generation

[2019-07-06 09:02] chentging opened #611 "How to simply create k8s resources by Yaml.loadAs(file)"
@brendandburns @kondapally1989
I readed issues #254 and #170 .
But I want to create k8s resources via the brower upload yaml file. I actually don't know that the user write which kind and apiVsersion into yaml file, if so, how to create k8s resources via `io.kubernetes.client.util.Yaml.loadAs(file)`
does it support in this library?
Thanks 🙏

[2019-07-06 09:20] chentging commented on #611
For example:kubectl create -f xxx.yaml,`kubectl` command actually don't know what resources in yaml file, but it works.

[2019-07-08 06:29] ZP-AlwaysWin opened #612 "create namespace What is the legal value of the parameter in “dryRun”"
Create namespaces by：
api.createNamespace(v2Namespace,null,"true","-");

throw Exceptions:
io.kubernetes.client.ApiException: Unprocessable Entity

I want to know What is the legal value of the parameter in “dryRun”

[2019-07-08 07:03] yue9944882 commented on #612
a null will work

/triage support

[2019-07-08 07:07] ZP-AlwaysWin commented on #612
Thank you for your reply：
@yue9944882
I want to other the legal value “dryRun” without "null"
beacause I want to test the parameter "dryRun"

[2019-07-08 07:09] yue9944882 commented on #611
the go library has a dynamic [de]serializer so it doesn't require the concrete types. and that implementation is some sort of debatable for a period of time.. as a walkaround, consider deserializing w/ a `CustomObject` which basically fits into any types.

[2019-07-08 07:11] yue9944882 commented on #612
here's doc for dry-run feature, if that's what you looking for: https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run

[2019-07-08 07:16] ZP-AlwaysWin commented on #612
@yue9944882
Thank you vey much;
I will carefully read the doc。

[2019-07-08 07:26] runzexia opened #613 "[Question] Is there a way to automatically avoid modifying uncorrectable values?"
I am making a jenkins plugin, the plugin will automatically deploy the yaml file, but many fields in the yaml file will be empty.
So when I try to apply object in the code, kubernetes apiserver will return an error.
[code]

[2019-07-08 07:41] yue9944882 commented on #613
are you trying to mocking out the `kubectl apply` implementations via java client? the apply in kubectl works in a complicated work including computing diff at client-side and sending patches.. and an alternative approach is to make use of [server-side apply features](https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply).

[2019-07-08 07:51] runzexia commented on #613
Yes, I will now prefer the implementation of the client side, because there are still many clusters that have not been upgraded to 1.14 or newer.

[2019-07-08 08:00] yue9944882 commented on #613
avoid applying partial objects then.. what's the complaining yaml definition?

[2019-07-08 08:02] runzexia commented on #613
[code]

[2019-07-08 09:02] ZP-AlwaysWin commented on #612
@yue9944882
hi @yue9944882:

I have a question for you。
K8S java client can create resources with same name  multiple times，such as Idempotency，Reentrant。

I test to create a namespace with same name mulitiple times;
throws Exception:

io.kubernetes.client.ApiException: Conflict

[2019-07-08 11:58] runzexia commented on #613
`application/strategic-merge-patch+json` can solve some patch operations of k8s core resources

[2019-07-08 14:23] yue9944882 commented on #613
this is a bit tricky hence not recommend. how about walking around by delete-create as a replacement of update/patch for your case?

[2019-07-08 14:27] yue9944882 commented on #612
false predicate. a name must be unique for any resource in the kubernetes world.

[2019-07-08 14:36] ZP-AlwaysWin opened #615 "report bug create deployment"
I create deployment by kubernetes-client/java

[code]

throw Exception

[org.springframework.http.converter.HttpMessageNotWritableException: Could not write JSON: Not a string; nested exception is com.fasterxml.jackson.databind.JsonMappingException: Not a string (through reference chain: io.kubernetes.client.models.V1Deployment["spec"]->io.kubernetes.client.models.V1DeploymentSpec["strategy"]->io.

[2019-07-08 15:09] runzexia commented on #613
Delete & create is not good for me, I think it will cause workload to stop for a period of time.
By the way, why not recommend 'application/strategic-merge-patch+JSON'. The client only needs to change the Http Header, and kubectl is also using this method.

[2019-07-09 01:50] #612 closed

[2019-07-09 05:01] yue9944882 commented on #615
are you using the provided gson to do the serialization?

[2019-07-10 10:14] rbocanegra opened #616 "[Question] Informer Error Handling"
Hi!

I am using the informer feature of the client to watch some api types. It handle some errors automatically, but in the case of an Unauthorized (401) it keeps logging `io.kubernetes.client.ApiException: Unauthorized` in a loop and I can't find a way to stop the informer in that case. The loops never ends until I stop the app.
So I was wondering if there is a way to deal with that situation alr

[2019-07-10 10:28] yue9944882 commented on #616
there shouldn't be those errors in the first place i suppose. mostly the unauthorized error suggests that your informer (as a client) isn't correctly configured w/ kubeconfig or serviceaacount. please consider a fix in the client's credential. and additionally the informer from native client-go will also be retrying at an 1s-ish interval on that error instead of shutdown https://github.com/kuberne

[2019-07-10 13:36] eskuai opened #617 "kubernetes-client inside pod failed connect"
Hello

How can i connect to k8s cluster using kubernetes-client inside a pod that it can not access to .kube , /etc/kubernetes etc node configuration

how can i config token , apikey, cacerts?
how change basepath?
how can i get the beartoken ... named apikey? is it the token?

[code]

[code]

[2019-07-10 17:49] yue9944882 commented on #617
use the ClusterBuilder#standard to construct an in-cluster client. btw @brendandburns i think we need an example for both in-cluster and out-of-cluster just as we do in the client-go

[2019-07-12 05:00] #613 closed

[2019-07-13 01:52] #338 closed

[2019-07-13 06:57] #506 closed

[2019-07-14 15:57] smaillns opened #620 "How to create a deployment from a YAML file"
May you give some examples of can we create Kubernetes objects from YAML files using this API, Thanks.

[2019-07-15 03:12] yue9944882 commented on #620
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/YamlExample.java

load the object from your yaml at first, then fire the request to the apiserver using the client

[2019-07-15 03:42] brendandburns commented on #611
You can do this, the call is:

`Yaml.load(file)` or `Yaml.load(String content)`

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/Yaml.java#L171

It returns a generic `Object` that has the right type (assuming it's known)

[2019-07-15 03:43] brendandburns commented on #615
`IntOrString` is registered with `GSON` as a serialization provider. If you supply your own serializer, you'll need to make sure it gets registered with that one too.

See the code here:
https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/custom/IntOrString.java#L12

Closing this, re-open if you need more info.

[2019-07-15 03:43] #615 closed

[2019-07-15 03:44] brendandburns commented on #616
@yue9944882 is there more to do here? Or should we close this issue?

[2019-07-15 03:46] brendandburns opened #621 "Better examples of creating in cluster client."
See #617, but we need better examples of how to connect inside a cluster.

[2019-07-15 03:47] brendandburns commented on #617
Closing this, filed #621 with improvements to the examples.

[2019-07-15 03:47] #617 closed

[2019-07-15 03:47] brendandburns commented on #620
Closing this as the question is answered. Please re-open if there are further questions.

[2019-07-15 03:47] #620 closed

[2019-07-15 08:10] smaillns commented on #620
Excuse me, but how to load the YAML file ?

[2019-07-15 08:25] yue9944882 commented on #620
using `Yaml#load` i suppose. see https://github.com/kubernetes-client/java/issues/611#issuecomment-511265984

[2019-07-16 06:42] ZP-AlwaysWin opened #625 "java-client how to Implement this command “kubectl get deployment nginx-deployment -o json”"
java-client how to Implement this command “kubectl get deployment nginx-deployment -o json”

beasuse ，I want to get the deployment json file

[2019-07-16 07:15] janakec19 opened #626 "Kubernetes java client always uses system:anonymous User even I set credentials"
Java Sample code:
ApiClient defaultClient = Configuration.getDefaultApiClient();
String credentials = new String(Base64.getEncoder().encode("username:password".getBytes()));
ApiKeyAuth basicAuth = (ApiKeyAuth) defaultClient.getAuthentication("BearerToken");
basicAuth.setApiKey(credentials);
basicAuth.setApiKeyPrefix("Basic");
defaultClient.setBasePath("https://192.168.*.*:8000");
Configuration.set

[2019-07-16 07:22] yue9944882 commented on #625
call `readNamespacedDeployment` and dump it using gson will achieve that

[2019-07-16 07:23] yue9944882 commented on #626
i replied in another thread https://github.com/kubernetes-incubator/apiserver-builder-alpha/issues/378#issuecomment-511686789

[2019-07-16 08:05] ZP-AlwaysWin commented on #625
Thank your help:
V1Deployment v1Deployment = appsV1Api.readNamespacedDeployment("nginx-deployment","default",null,null,null);

how to dump it using gson?
I don't Realization

[2019-07-16 09:30] ZP-AlwaysWin commented on #625
CoreV1Api api = new CoreV1Api();
        com.squareup.okhttp.Call call = api.readNamespacedConfigMapCall("xxx","default",null,null,null,null,null);

        Response response = call.execute();

        if(!response.isSuccessful()) {
            return;
        }

        String body = response.body().string();

        JSONObject jsonObject = new JSONObject(body);

        System.out.println(jsonO

[2019-07-16 17:29] brendandburns commented on #626
You should just load all this from a `$KUBECONFIG` file if possible.

If it's not possible, you should use the `Config.fromUserPassword()` function:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/Config.java#L55

Instead of trying to roll it yourself.

Closing since I think this question is answered, please re-open if you have further problems.

[2019-07-16 17:29] #626 closed

[2019-07-16 17:31] brendandburns commented on #625
order of fields in JSON doesn't matter.

If you want to format it in a specific way, you will need to write the formatter yourself.  Closing this issue since the original question is answered and anything further is outside of the scope of this library.

[2019-07-16 17:31] #625 closed

[2019-07-16 17:32] brendandburns commented on #611
Closing this since I think the question is answered.

[2019-07-16 17:32] #611 closed

[2019-07-17 11:32] palade opened #627 "io.kubernetes.client.ApiException: Not Found"
Hi, I'm trying to run the hello world example from the README file. My code is:

[code]

However, I'm getting the following error. I can curl this from the terminal.

[code]

[2019-07-17 16:34] brendandburns commented on #627
My guess is that you are pointed at the wrong server. You're getting a 404, but that path should work on any Kubernetes server, so I'd guess it's not a k8s server....

You can print the Body/Response from the `ApiException` to get more details.

[2019-07-17 16:49] palade commented on #627
@brendandburns I'm running this code on a dev machine which does not have the kubernetes master running on it. The Kubernetes cluster is setup using 3 physical machines. The master node has the IP 192.168.1.21 (I ssh into the machine which has the master using that address). Also, used nginx-ingress to expose the api-server. From the dev machine I can curl the api using [these steps](https://kuber

[2019-07-17 23:26] brendandburns commented on #627
I'm going to close this as it seems resolved and it doesn't seem like a client library problem. Please re-open if you have further questions...

[2019-07-17 23:26] #627 closed

[2019-07-18 04:20] adohe opened #628 "informer ListerWatcher should support pagination"
for ReflectorRunnable init list, it should use pagination list. Perhaps we could add a PaginationListerWatcher which supports pagination list, then other ListerWatcher could extend this one.

[2019-07-18 05:59] yue9944882 commented on #628
/kind feature

users can implement their ListerWatcher in a paginated way, let's hear more voice then

[2019-07-19 11:22] yue9944882 commented on #621
/close

as #623 got in

[2019-07-19 11:22] #621 closed

[2019-07-21 19:17] #238 closed

[2019-07-22 13:46] zhangzerui20 opened #630 "Get YAML for deployed Kubernetes deployment?"
Can I get the YAML file of a deployed deployment through the java client? Or is there an HTTP API to do this? I only found out doing this through kubectl.

`kubectl get deploy deploymentname -o yaml --export`

[2019-07-22 15:16] yue9944882 commented on #630
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/YamlExample.java

consider dumping the object in yaml format after getting the deployment using the client

/triage support

[2019-07-22 15:54] brendandburns commented on #630
If all you want is the YAML, this library is probably overkill. But the example cited above is the right place if you really do want/need the YAML.

Closing this issue as the question is answered.

[2019-07-22 15:54] #630 closed

[2019-07-23 03:48] anuprout commented on #353
Hi @brendandburns , Is there any utility to copy files to PODs. The Copy.java has only copy from PODs methods.

I am also having the same issue in copying files to the PODs. Any help would be highly appreciated. Thanks

[2019-07-23 09:55] Slayug commented on #353
@anuprout I end up to create a configMap before my pod start and link to it.

It might be an alternative for you ?

[2019-07-23 11:00] jjkoehorst commented on #86
Ok, I am a bit new in the java / Kubernetes business... I am trying to delete pods / workloads when they are finished:

First I list all the pods using:

        V1PodList list = api.listPodForAllNamespaces(null, null, null, null, null, null, null, null, null);

Then check if the pod is finished (item from list.getItems())

        if(item.getStatus().getPhase().contains("Succeeded")) {

If that i

[2019-07-23 11:14] GiriManas opened #631 "Getting io.kubernetes.client.ApiException: Forbidden while using AppsV1beta1Api.listNamespacedDeployment in Cluster"
I am using io.kubernetes --> client-java --> version --> 4.0.0,

I am trying to list all the deployments using
AppsV1beta1Api v1beta1Api = new AppsV1beta1Api();
AppsV1beta1DeploymentList deploymentsList = v1beta1Api.listNamespacedDeployment("default", null, "true", null,null, null, 1000, null, null, null);

I am getting proper result in my local machine where I have configured KUBECONFIG.

But whe

[2019-07-23 11:56] MasterYiLeng opened #632 "Issue when i create deployment"
When I use the Deployment object of the 4.3.0 client to create a deployment, when I specify cpu and memory for the pod container in the deployment, the api that calls k8s reports a 400 error. Please help me to see it. My code is as follows:
![1563882737(1)](https://user-images.githubusercontent.com/35093485/61710131-719dd180-ad83-11e9-8c12-4af7f11793b9.jpg)
The error message is as follows:
![image

[2019-07-23 12:31] yue9944882 commented on #631
when requesting [inside a container](https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InClusterClientExample.java), it's actually identified as service-account, you are supposed to properly setup rbac permission for the service-account as well.

[2019-07-23 12:35] yue9944882 commented on #632
what is 4.3.0 client? we don't seem to have that version released?

[2019-07-23 12:51] GiriManas commented on #631
{{- if .Values.rbac.create }}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "xyz.fullname" . }}
  namespace: default
  labels:
    app: {{ template "xyz.name" . }}
    chart: {{ template "xyz.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
subjects:
  - kind: ServiceAccount
    name: {{ template "xyz.fullname" . }}
roleRe

[2019-07-23 13:59] anuprout commented on #353
Hi @Slayug , sure.. any pointer would help. Could you please the sample config map you created ?

[2019-07-23 15:11] yue9944882 commented on #86
@jjkoehorst if your pod isn't attached w/ any finalizer, then hitting the exception actually means that your deletion works. it's pod deletion is graceful so the kube-apiserver will return a pod as payload in the response (instead of status object as is prescribed in the openapi spec). the deleted pod will be removed in 30s of graceful period. but if the pod has finalizers, you will have to patch

[2019-07-23 16:13] Slayug commented on #353
You first need to create a ConfigMap instance :
[code]
You have to upload it to your cluster:
[code]

then you have to bind it to your pod with a ConfigMapVolumeSource:

[code]
And for each of your container into your pod:
[code]

And you can put your pod within a job, deployment anything else then push it.
I think if you need more help for the previous snippets it would be better with a new issue

[2019-07-23 19:56] jjkoehorst opened #633 "Listing jobs and remove completed jobs"
Within the rancher api I can list all the collections (with/without pods) using the following url:

https://somewhere.com/v3/project/c-xzfjm:p-cd9r7/pods/

Which will return the list below. I am trying to figure out which java command to use to obtain the 35 items, check if they are finished according  to their status and clean them up.

[code]

Returns 0 and the following codes returns 0 as well:

[2019-07-23 23:40] brendandburns commented on #631
I don't think your service account name is correct, if you aren't setting a service account when you create the pods, it will use the default service account. Without seeing your pod definition, it's hard to know, but I don't think this is an issue in the library, it is an issue with your usage of Kubernetes RBAC. I'm going to close this issue, please re-open if you have further problems.

[2019-07-23 23:40] #631 closed

[2019-07-23 23:42] brendandburns commented on #632
The error message in the exception is pretty clear, your quantities don't match the regular expression for quantities as printed in the error message.

Closing this as this is not a problem with the client library.

[2019-07-23 23:42] #632 closed

[2019-07-24 06:14] jjkoehorst commented on #633
Ok I noticed that setting the `specs.setTtlSecondsAfterFinished(0);` does not end up in the yaml / api overview of rancher while the `specs.setBackoffLimit(5);` is present. Is this a finished feature as I cannot find anything about `tlSecondsAfterFinished` in the git repository?

[2019-07-24 06:24] yue9944882 commented on #633
not familiar w/ the rancher api. what version of kubernetes are you using? note that `ttlSecondsAfterFinished` is only supported in a 1.12+ cluster

[2019-07-24 06:27] jjkoehorst commented on #633
Need to check that, I am using rancher at the moment as that was the first one that was easy to setup but perhaps there are better solutions... The current versions are, but need to check what the underlying version of kubernetes is.

Component | Version
-- | --
Rancher | v2.2.1
User Interface | v2.2.19
Helm | v2.10.0-rancher10
Machine | v0.15.0-rancher6-1

[2019-07-24 07:06] adohe commented on #633
have u ever tried to use kubectl to call rancher api? and what is the result?

[2019-07-24 07:09] jjkoehorst commented on #633
Have masked a few variables but this is what I get:

`kubectl get jobs myrunner-49lrt -o yaml`

[code]

[2019-07-24 09:28] jjkoehorst commented on #633
And some additional node information

Architecture | amd64
Docker Version | 18.9.4
Kernel Version | 4.15.0-50-generic
Kubelet Version | v1.13.5
Kube Proxy Version | v1.13.5
Operating System Image | Ubuntu 18.04.2 LTS
Operating System | linux

[2019-07-24 14:39] smaillns opened #634 "Using the Kubernetes Client API with Kubeadm"
Some errors occurred while using the API by a Master node with kubeadm

[2019-07-24 15:00] smaillns commented on #634
In fact the error due to using Docker container !!

[2019-07-24 15:09] smaillns commented on #620
There are some problems occured while trying to execute the code from a docker container !!

[2019-07-24 15:26] brendandburns commented on #634
Looks like this is resolved. If it's not, it's some sort of configuration error unrelated to this client.

Closing this issue.

[2019-07-24 15:26] #634 closed

[2019-07-24 15:32] brendandburns commented on #633
`listNamespacedJob` is what you want. I don't remember when the `v1` API came into Kubernetes. you might want to try using `BatchV1Beta1Api` instead of `BatchV1` API

What does `kubectl version` show?

[2019-07-24 15:33] brendandburns commented on #633
fwiw, the equivalent of your `kubectl` call is:

`readNamespacedJob(....)`

[2019-07-24 15:34] brendandburns commented on #633
I would also start with a vanilla Kubernetes (e.g. Minikube) to see if it is Rancher that is causing the problems.

[2019-07-24 15:59] smaillns commented on #634
How can I configure the docker container inorder to be able to use the API ? thanks

[2019-07-24 16:10] smaillns commented on #620
#634

[2019-07-24 19:47] smaillns commented on #634
How can we solve the problem in case of Pod that carry a container which use the k8s Client API ?

[2019-07-26 20:27] kdvolder opened #637 "Sources jar on maven central incomplete"
When working with an api in your IDE it is very convenient to be able to browse the source code of the dependenciy/jar.

It seems the source-jar for the client exist but it only has source code for some of the classes.

Just to take a random example. When I open up io.kubernetes.client.Configuration my IDE (Eclipse in this case, but it shouldn't matter) isn't able to show the source code.

When I

[2019-07-26 23:23] brendandburns commented on #637
There must be some issue with our pom.xml, I admit I'm not familiar enough with Maven to know, but PRs would be welcome (Or eventually someone will dig into this)

[2019-07-27 07:18] jefby opened #638 "How to get allocated gpus for node in kubernetes[with kubernetes-client java api]"
I want to get available gpus[nvidia.com/gpu] in kubernetes cluster, and i now get total gpu from NodeAPI, but how to get allocated gpus from client api?? like `kubectl describe node` result:

[code]

[2019-07-27 22:29] asarkar commented on #430
/remove-lifecycle stale

[2019-07-28 18:14] smaillns opened #640 "How can I configure the docker container inorder to be able to use the API ?"
How can we solve the problem in case of Pod that carry a container which use the k8s Client API ?

java.net.ConnectException: Failed to connect to localhost/127.0.0.1:8080
at com.squareup.okhttp.internal.io.RealConnection.connectSocket(RealConnection.java:143) ~[okhttp-2.7.5.jar!/:na]

[2019-07-29 05:28] yue9944882 commented on #638
currently, a walk-around will be using `CustomObject` to deal w/ the third-party api. but we're working on a java model generator basing on CRD https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2. it will be coming out really soon. does the gpus crd definition provide structural schema?

[2019-07-29 05:30] yue9944882 commented on #637
it sounds like a duplicate of #596, caused by OSGi bundle packaging.. it should be fixed on master now..

[2019-07-29 05:34] yue9944882 commented on #640
the error is suggesting that you didn't set configuration for the client object so it's by default connecting 127.0.0.1:8080. consider refer to the `Configuration` section of the [example list](https://github.com/kubernetes-client/java#example).

[2019-07-29 07:48] jefby commented on #638
@yue9944882 I use nvidia-gpu cards. and its crd definition is referenced from here. https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/1.0.0-beta/nvidia-device-plugin.yml

[2019-07-29 08:26] anonymous19890806 commented on #180
Facing the same error :

_java.net.ProtocolException: Expected HTTP 101 response but was '403 Forbidden'                                                                                                                   at com.squareup.okhttp.ws.WebSocketCall.createWebSocket(WebSocketCall.java:123)

[2019-07-29 08:28] anonymous19890806 opened #641 "Unable to exec into a pod : '403 Forbidden'"
Facing the below error while trying to exec into a pod :

        exec.exec(
                        "default",
                        "pod-name,
                        new String[] {"sh", "pg_dump -U postgres db-name> backup-file.sql"},
                        true,
                        true);

_java.net.ProtocolException: Expected HTTP 101 response but was '403 Forbidden'

[2019-07-29 09:31] rbocanegra commented on #616
You can close this issue.

[2019-07-29 09:38] yue9944882 commented on #616
/close

[2019-07-29 09:38] #616 closed

[2019-07-29 09:39] yue9944882 commented on #641
have you checked your RBAC configuration? `403 Forbidden` always suggests that

[2019-07-29 10:30] anonymous19890806 commented on #641
Using kubectl api-versions from the command line, I can see .rbac.authorization.k8s.io/v1 and
rbac.authorization.k8s.io/v1beta1.

Also, the below command when executed from the command line does work :
kubectl exec pod-name -- bash -c "pg_dump -U postgres db-name" > backup-file.sql

Could you please let me know if I am missing something?

[2019-07-29 12:28] WywTed opened #642 "release-6.0 publish time"
There are some 'patch' problems fixed in latest version, so  when will it publish to release version 6.0?

[2019-07-29 15:02] yue9944882 commented on #642
in favor of having a release after #635 gets in and probably hold for 1-2 weeks to verify that. @brendandburns wdyt?

[2019-07-29 16:20] brendandburns commented on #638
I believe that object goes into the `resources` field on the node object.  Regardless, dump the YAML for the object `kubectl get -o yaml ...` and look through that, that will show you where to look in the Java object.

I'm closing this as this should work correctly, please re-open if you try and it doesn't work.

[2019-07-29 16:20] #638 closed

[2019-07-29 16:22] brendandburns commented on #641
I suspect that you aren't loading the kubeconfig file correctly. How are you constructing your the client (there is code that would come before your snippet that is missing)

This is definitely an auth problem.

[2019-07-29 16:22] brendandburns commented on #642
sure, works for me.

[2019-07-29 16:44] kdvolder commented on #637
Thanks for the quick response.

Sure, is there a snapshot repo that I can add to my pom.xml to try it? Or do I have to try and build this from source to verify? (Snapshot repo would be easier for me of course :-)

[2019-07-30 01:52] svincen2 opened #643 "Documentation with release examples, rather than master branch examples"
Maybe indicate in the master branch documentation that if you're using a release in Maven, the documentation you should be looking at is on a specific tag, not the master branch.  And by documentation, I mean the examples, since that's the only documentation you have for the core logic (other than digging through the source code).  I spent two hours trying to understand why V1Patch doesn't exist,

[2019-07-30 06:43] anonymous19890806 commented on #641
Hi!

Thank you for the update.
Please find the entire function below. I have added the call for listing the pods as another use case.

public static void function-name() throws io.kubernetes.client.ApiException, IOException, InterruptedException {

	ApiClient client = Config.defaultClient();
        Configuration.setDefaultApiClient(client);
        Exec exec = new Exec();
        boolean tty = Sy

[2019-07-30 07:05] yue9944882 commented on #643
we should probably comment supported version on those example..

[code]

[2019-07-30 09:31] zhangzerui20 commented on #630
We want to provide users with a web page that allows users to view the deployed YAML of Deployment and Service on the web page. Is there any better way to do this?

[2019-07-30 12:42] #475 closed

[2019-07-30 12:48] msinton opened #644 "Does exception contain sensitive information"
I appreciate this might not be the right place for this, but do you know or can you help answer the question - Can the ApiException contain sensitive information?

[2019-07-30 12:53] yue9944882 commented on #644
@msinton that depends on how to define "sensitive"? do you mean whether the api-exception contains the requesting objects' information e.g. pod.spec.image?

[2019-07-30 16:54] brendandburns commented on #644
The exception contains the body of the response from kubernetes. If that contains sensitive info, then it could be in the exception. In general, I don't think there has been any effort to scrub info from errors, so its definitely possible, eg the error might contain a Secret object that fails some sort of validation.

The Java code itself doesn't contribute any secret info in addition to the body

[2019-07-30 16:54] #644 closed

[2019-07-30 16:56] brendandburns commented on #641
Does kubectl in the same environment work correctly ?

If so can you post your kubeconfig? Please redact secrets first, obviously

[2019-07-30 16:57] brendandburns commented on #640
closing this as question is answered.

[2019-07-30 16:57] #640 closed

[2019-07-30 17:00] brendandburns commented on #643
yeah, that's a good idea, probably link to the tag from the Readme table too.

@svincen2 we'd love a PR to improve the docs, thanks!

[2019-07-31 15:16] yue9944882 commented on #643
/assign

will send an update soon

[2019-08-01 08:30] Nancy-Chauhan opened #646 "Kubernetes Client-Java API to get all deployments and describe deployments"
What would be the API for having the similar results as we have by following commands on CLI :
[code]

[2019-08-01 09:02] yue9944882 commented on #646
kubectl describe deployments

@Nancy-Chauhan actually both `get` and `describe` command are working in a complex way. `kubectl` has a number of built-in client-side printers to print out those human-readable formats.. this library is aiming to provide connecting interface in java to access kubernetes cluster, it doesn't actually offer advanced utilities in printing.

[2019-08-01 10:10] Nancy-Chauhan commented on #646
@yue9944882 Thanks. That means currently there is no way. I wanted to use this library to fetch the config of all the namespaces i.e. in which services they are running and which branch they are using

[2019-08-01 10:20] yue9944882 commented on #646
if you mean get all services under all namespaces, you can invoke `CoreV1Api#listServiceForAllNamespaces` to fetch all the existing services from cluster. what i mean is that there's no out-of-box printer implementations in this library, it will just empower you operate(get, list, create, update, delete...) resources.

[2019-08-01 12:08] Nancy-Chauhan commented on #646
Thank you @yue9944882

[2019-08-01 12:08] #646 closed

[2019-08-01 19:01] asarkar commented on #429
@yue9944882 can you please reopen?

[2019-08-02 04:18] yue9944882 commented on #429
/reopen

[2019-08-02 04:20] yue9944882 commented on #429
i didn't know about this usage before. mostly we embed base-64 encoded key-pairs into `kubeconfig`. will TAL at the implementation at go library..

[2019-08-04 03:19] yue9944882 commented on #643
/close

fixed by #648

[2019-08-04 03:19] #643 closed

[2019-08-04 08:35] #481 closed

[2019-08-05 02:29] ZhenghaeHo commented on #481
@lephix how did you resolved this issue？

[2019-08-05 04:02] mhmd97 commented on #307
Hi! I've got the same issue while trying to run the "InClusterClientExample" and kubectl get pods works for me

[2019-08-05 04:29] yue9944882 commented on #307
@mhmd97 are you running the example inside a pod in running cluster?

[2019-08-05 06:35] mhmd97 commented on #307
@yue9944882 Yes!

[2019-08-05 06:49] yue9944882 commented on #307
/reopen

@mhmd97 enable the debugging logging by `ApiClient#setDebugging` and get back w/ some more inputs?

[2019-08-05 08:33] Nancy-Chauhan opened #650 "Get Annotations : kubectl describe deployments/$SERVICE -n $Namespace"
I want to get annotations information using kubernetes client for the following command on CLI. When I use the following command on CLI, it generated specific information which contains annotations also :
[code]

 I use the following function to get the deployment list . But I only want the information related to annotations.
[code]

Is there any way to  generate this via kubernetes client - java

[2019-08-05 08:37] Nancy-Chauhan commented on #646
Hi @yue9944882 I have referred the exact question with function used in Issue #650 . Can you kindly please help me with this

[2019-08-05 09:34] yue9944882 commented on #650
`AppsV1Api#readNamespacedDeployment` is exactly what you're looking for

[2019-08-05 11:28] Nancy-Chauhan commented on #650
Thank you so much @yue9944882 for great help
[code]
I am able to generate this . But do we have any other way to just generate annotations ? I am looking to only get the information of which branch and which commit number it is using i.e
[code]
in line
[code]

[2019-08-05 11:48] Nancy-Chauhan commented on #650
[code]
This works out . Thank you again @yue9944882 . I am closing this issue :)

[2019-08-05 11:48] #650 closed

[2019-08-06 16:40] mikedanese opened #652 "client should periodically reload InClusterConfig token"
See https://github.com/kubernetes/kubernetes/issues/70679

[2019-08-06 17:12] yue9944882 commented on #652
what's the recommended period of reloading for client? or, is there any way to know the expiration time of the current token? considering leader-election client tolerates at most second-ish period of failure, a longer period like minute-ish won't be fine i suppose..

[2019-08-06 21:12] mikedanese commented on #652
client-go re-reads the token every 1 minute:

https://github.com/kubernetes/kubernetes/blob/663796e62441d4f1f871838d567ccee847555cff/staging/src/k8s.io/client-go/transport/token_source.go#L53-L57

Kubelet will refresh the token proactively before it expires. The minimum TTL for tokens is 10 minutes, and kubelet starts refreshing at 80% so you have about 2 minutes to reload with the lowest configur

[2019-08-07 02:52] ZP-AlwaysWin commented on #86
hi @brendandburns

what the meaning of this?

[code]
Can we capture the last state?
Best Wishes

[2019-08-07 03:16] ZP-AlwaysWin commented on #86
[code]

replace with, Can it be solved?

[code]

[2019-08-07 10:10] smaillns opened #653 "deploy a pod from a Yaml file in kubeadm cluster"
I get this error while trying to deploy a pod from yaml file using k8s client api

	at io.kubernetes.client.util.Yaml.modelMapper(Yaml.java:490) ~[client-java-4.0.0.jar!/:na]
	at io.kubernetes.client.util.Yaml.load(Yaml.java:184) ~[client-java-4.0.0.jar!/:na]
	at io.kubernetes.client.util.Yaml.load(Yaml.java:172) ~[client-java-4.0.0.jar!/:na]

The problem occured while using kubeadm, but in miniku

[2019-08-07 13:52] ZP-AlwaysWin opened #654 "how to use xxxAsync function?"
the java client have four create namespace method

Async
[code]

the async method how to use？
If there are any examples, look at this method separately and don't know how to use it.

Best Wishes

[2019-08-07 13:57] ZP-AlwaysWin commented on #467
hi @mattnworb
the java client have four create namespace method

Async

public com.squareup.okhttp.Call createNamespaceAsync(.....)
the async method how to use？
If there are any examples, look at this method separately and don't know how to use it.

Best Wishes

[2019-08-08 05:01] dj13may91 commented on #571
Hi @JasonCL2015  @brendanburns
Can you post a code which works ? i am trying the same thing. Setting follow= true  returns string which still is not a stream.

I am trying below approach but its just a hack to get last 1 second logs and push them to my web socket

`while (flag) {
        try {
          logLine = client.getApi().readNamespacedPodLog(pod.getPodName(), pod.getNamespace(), null, null

[2019-08-08 07:39] adohe commented on #652
/cc @adohe

[2019-08-08 13:29] smaillns commented on #640
@

@brendandburns  Whay did you close the issue ?! I know that is a configuration issue, but I still don't find a solution for Docker containers

[2019-08-09 10:21] litaocdl opened #655 "Unable to find acceptable protocols error under IBMJDK 1.8.0_211 but works in openjdk"
Exception in thread "main" io.kubernetes.client.ApiException: java.net.UnknownServiceException: Unable to find acceptable protocols. isFallback=false, modes=[ConnectionSpec(cipherSuites=[TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_DHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA, TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA, TLS_ECDHE_RSA_WITH_A

[2019-08-10 08:55] #450 closed

[2019-08-11 15:34] Hendrik-H opened #656 "SharedInformerFactory::stopAllRegisteredInformers results in error logs"
When trxying to do a clean shutdown of an informer using SharedInformerFactory::stopAllRegisteredInformers several errors get logged due to the code causing threads to get interrupted and that being logged as errors. I would expect the log to be on a far lower level and ideally not at all during a clean shutdown.

In library version `5.0.0` a thread is also left stuck in https://github.com/kuberne

[2019-08-11 15:54] Hendrik-H commented on #656
The `interrupt` call does actually exist, it is here: https://github.com/kubernetes-client/java/blob/f1e5a0434794fb6e4813446bdcc5249bca79646a/util/src/main/java/io/kubernetes/client/informer/impl/DefaultSharedIndexInformer.java#L150
But do to the endless loop in https://github.com/kubernetes-client/java/blob/f1e5a0434794fb6e4813446bdcc5249bca79646a/util/src/main/java/io/kubernetes/client/informer/

[2019-08-12 05:14] yue9944882 commented on #655
it's fixed in okhttp3 by https://github.com/square/okhttp/pull/3218, we will get that fix in by migrating to openapi-generator #595, probably 1-2 months later..

[2019-08-12 05:19] yue9944882 commented on #656
the thread is indeed leaking.. sending a fix to resolve that, and we're planning a new release in the next week..

/assign

[2019-08-12 05:20] litaocdl commented on #655
Thanks @yue9944882

[2019-08-14 11:28] gavinfish commented on #474
Thanks for @runzexia . We now generate the target classes and manually load them. Details at jenkinsci/kubernetes-cd-plugin#87

[2019-08-14 11:28] #474 closed

[2019-08-14 16:16] smaillns opened #657 "Delete a Pod using Kubernetes Client API"
I want simply to delete a Pod using the code below,
[code]
But I've some exceptions

I'll appreciate any help

[2019-08-15 05:55] manlinl commented on #482
Any update on this issue? This renders the client library useless in  production environment.

[2019-08-15 06:26] manlinl commented on #482
/remove-lifecycle stale
This is a blocker.

[2019-08-15 07:54] yue9944882 commented on #482
we're on the way of migrating the repo toward the openapi-generator #595 , but https://github.com/OpenAPITools/openapi-generator/issues/3191 is now a blocker. politely ping @wing328

[2019-08-15 10:09] wing328 commented on #482
Let me give it a try this weekend to fix the bug in OpenAPI Generator.

[2019-08-15 10:21] yue9944882 commented on #482
@wing328 thanks, if it works, we will get it after 1.16 releases i.e. end of Sept.

[2019-08-15 10:22] yue9944882 commented on #657
it's a duplicate of #252

[2019-08-15 12:32] mattnworb commented on #482
/lifecycle frozen

[2019-08-15 12:35] rjeberhard commented on #482
If it helps, we implemented a workaround to pool ApiClients and to clear the network interceptor list on recycling: https://github.com/oracle/weblogic-kubernetes-operator/blob/master/operator/src/main/java/oracle/kubernetes/operator/helpers/ClientPool.java

[2019-08-15 12:44] dj13may91 commented on #571
@brendandburns can you please help me out over the same ?

[2019-08-15 22:36] manlinl commented on #482
Thanks for the update! Looking forward to the fix.

[2019-08-16 03:23] #530 closed

[2019-08-16 20:24] brendandburns commented on #653
Your cluster is broken in some way (not sure what it is) or your not actually talking to the cluster.

Does `kubectl` work with the `kubeadm` cluster?

[2019-08-16 20:29] brendandburns commented on #654
You probably don't need to use this call. But if you do want to use it, it executes a raw HTTP request and hands you back the `Call` object for you to stream data from, etc. if you want to.

[2019-08-16 20:29] #654 closed

[2019-08-16 20:30] brendandburns commented on #657
Closing as a duplicate.

[2019-08-16 20:30] #657 closed

[2019-08-17 03:25] zhangzerui20 opened #658 "Create client from client-certificate-data and client-key-data?"
How can I create client from client-certificate-data and client-key-data. Are there any examples?

[2019-08-17 04:04] zhangzerui20 commented on #658
When I use fabric, I can do this :

      final io.fabric8.kubernetes.client.Config kubeConfig = new ConfigBuilder()
          .withMasterUrl("https://" + cluster.getEndpoint())
          .withCaCertData(cluster.getMasterAuth().getClusterCaCertificate())
          .withClientCertData(cluster.getMasterAuth().getClientCertificate())
          .withClientKeyData(cluster.getMasterAuth().getClientKey()

[2019-08-17 04:14] yue9944882 commented on #658
i will, for example, load the certs by client-builder. hope that help.

[code]

[2019-08-18 17:11] gondyk opened #660 "Unable to get pod output using attach"
I'm trying to get std output from pod using this example: https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/AttachExample.java

Using GO client I can get pod's stdout, but Java client isn't working to get pod's stdout.
My pod prints text to stdout, but result.getStandardOutputStream() is still empty

Java client: 5.0.0
Kubernetes: v1.15.2

[2019-08-18 20:36] #660 closed

[2019-08-19 06:10] litaocdl commented on #655
@yue9944882 Before we get the new build using okhttp3, is there any workaround we can bypass it ?

[2019-08-19 06:54] litaocdl commented on #655
The current workaround is override the default ConnetionSpec
1. add jvm args to force TLS1.2
[code]

2. Override okhttpclient spec
[code]

reference: https://github.com/cloudant/java-cloudant/issues/215

[2019-08-19 13:11] brendandburns commented on #658
Closing this because I think the question is answered. Please re-open specific issues if the ClientBuilder doesn't support what you need.

[2019-08-19 13:11] #658 closed

[2019-08-19 16:16] fahran commented on #537
For future travellers - I experienced this when my JAVA_HOME was set incorrectly.

[2019-08-20 01:56] #534 closed

[2019-08-20 06:26] yue9944882 commented on #652
/assign

[2019-08-21 05:17] markbooch commented on #642
Any updates on the v6.0 release time?

[2019-08-21 06:14] yue9944882 commented on #642
hopefully this friday? @brendandburns wdyt?

[2019-08-21 08:11] markbooch commented on #642
Great! Looking forward to it.

[2019-08-21 09:18] Nancy-Chauhan opened #663 "java.lang.LinkageError: loader constraint violation: loader"
I try to use Kubernetes client in groovy script and call it with Grab , I get the following error when I run the script to Jenkins

[code]

Does it happen with the contradiction of versions

[2019-08-21 09:37] Nancy-Chauhan commented on #663
@yue9944882 Can you please help me with this issue

[2019-08-21 09:38] MalcolmSanders opened #664 "What is the proper way to watch the change of a ConfigMap"
Hi, all,
Previously I'm trying to watch a ConfigMap using CoreV1Api. I found that using api.listNamespacedConfigMapAsync() might not work as I expected. I'm using the master branch of kubernetes-client/java. Here is my test case:

`public class V1ConfigMapWatcherTester {
	private static final Logger logger = LoggerFactory.getLogger(V1ConfigMapWatcherTester.class);

	public static void main(String[

[2019-08-21 10:32] yue9944882 commented on #663
sounds like a duplicate of #474

[2019-08-21 10:35] yue9944882 commented on #664
pass `listNamespacedConfigMapCall` instead of  `listNamespacedConfigMapAsync`, plz refer to the watch example:

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/WatchExample.java

[2019-08-21 11:47] MalcolmSanders commented on #664
Thanks.  I found another problem, `item.object.getItems().size()` always gets zero which means there is no ConfigMap object in V1ConfigMap got from watch, while I can get the data of ConfigMap through `readNamespacedConfigMap`.

`                       for (Watch.Response<V1ConfigMapList> item : watch) {
				System.out.printf("%s : %s : %d \n", item.type, item.object.getKind(), item.object.getItem

[2019-08-21 12:56] yue9944882 commented on #664
it should be `Watch<V1ConfigMap> watch`, the type template is api-type instead of api-list-type

[2019-08-21 15:14] Nancy-Chauhan commented on #663
Thank you @yue9944882

[2019-08-21 15:14] #663 closed

[2019-08-22 03:19] MalcolmSanders commented on #664
Got it. Thank you very much 👍

[2019-08-22 03:19] #664 closed

[2019-08-22 16:25] brendandburns commented on #642
works for me, I'll cut the release.

[2019-08-22 16:34] pcj commented on #315
Any update on this?  My team is trying to determine the work involved in getting the java client (this codebase) to talk with an EKS cluster.

Can anyone of the core maintainers (or anyone else) comment on what would be the correct approach/solution and the level of effort required to have this working correctly?  Happy to contribute a PR if needed.

[2019-08-23 10:21] cizezsy opened #667 "ProcessorListener should increase DEFAULT_QUEUE_CAPACITY"
The [default capacity](https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/informer/cache/ProcessorListener.java#L20) of queue in ProcessorListener is 1000.

But it will easily cause IllegalStateExecption and makes the controller thread dead when we use informer to watch more than a thousand resources.

Is there any possibility to increase the number? I kn

[2019-08-23 12:59] yue9944882 commented on #667
i try to fix it in other way in https://github.com/kubernetes-client/java/pull/666/commits/b18dbfdc9820a9c575c114ce68ffd30359bcf91b. we use add instead of offer, the latter won't throw exception if the queue is full. how do you think about that?

[2019-08-24 22:56] Amokrane opened #668 "config file is not correctly set when using home dir"
Hello,

I think I may have found a minor issue here:
https://github.com/kubernetes-client/java/blob/release-5.0/util/src/main/java/io/kubernetes/client/util/ClientBuilder.java#L100

Shouldn't it be: `kc.setFile(config);` rather than `kc.setFile(kubeConfig);`?

Cheers,
Amo

[2019-08-26 03:19] cizezsy commented on #667
@yue9944882 Thanks! The change looks great.

But I do not think discarding the event when the queue is full is a good choice. Is there any special reason to do that? It looks pretty strange to users that some events dropped unexpectedly. Maybe it is better to replace the ArrayBlockingQueue with LinkedBlockQueue to remove the capacity limit.

[2019-08-26 03:34] yue9944882 commented on #667
i think you're right, how do you think about sending a fix?

the previous fix is merely defensive. for bounding the queue's memory usage, we have to either drop or block the writes.

[2019-08-26 05:51] cizezsy commented on #667
@yue9944882 sent a fix #669 for this, thanks~

[2019-08-26 09:52] alannakelly commented on #430
Since 20 August 2019 JFrog X-Ray is reporting a High Severity security issue with OkHttp 2.70-2.75:

"OkHttp Cached HTTP / HTTP/2 Headers Non-ASCII Character Handling Remote DoS"

This is getting flagged in a scan on a project using Java Kubernetes Client 5.0.0 as OkHttp 2.75 is a dependency.

[2019-08-26 15:13] StimpsonH opened #670 "import io.kubernetes.client.util cannot be resolved in client-java-api-6.0.0-beta1-SNAPSHOT.jar"
Hi all,

I've tried running both `mvn install` and `mvn package` to generate the jars and have manually installed them, but now I'm getting error `import io.kubernetes.client.util not resolved`. I've noticed in `target/classes` that the `io.kubernetes.client.util` package does not exist, so was it not generated during `mvn install/package`? How can I resolve this if possible?

[2019-08-27 01:36] #667 closed

[2019-08-27 08:55] yue9944882 commented on #670
now you can check out version `6.0.1`

[2019-08-27 08:56] yue9944882 commented on #642
now you can check out version 6.0.1

[2019-08-27 11:19] Amokrane commented on #668
Thanks, I will work on a fix and add the necessary test coverage.

[2019-08-27 14:56] brendanburns commented on #430
We want to get to openapi-generator but there are currently build errors
with their generated code, Min was looking into it a while ago...

On Tue, Aug 27, 2019, 7:42 AM Nick Travers <notifications@github.com> wrote:

[2019-08-27 15:57] victornoel opened #673 "V1Job.getStatus is missing information about active/failed/suceeded pods"
When retrieving jobs using `BatchV1Api.listNamespacedJob`, the `V1Job` objects are missing informations, in particular the object returned by `getStatus`.

Here is an example of calling `toString()` on such an object:
[code]

As you can see, `active` and `failed` are `null`. I would have expected those field to be set to 0.

[2019-08-27 16:21] yue9944882 commented on #673
what output do you get running `kubectl get job xxx -o json`?

[2019-08-28 03:36] ChrisMullard opened #675 "Equivalent call to 'top pod'"
Hi,
 I'm trying to make the above call using the API - please could you given some guidance as there's no obvious class/method?

Thanks
Chris

[2019-08-28 06:41] victornoel commented on #673
@yue9944882 good point, the json for status is:
[code]

[2019-08-28 06:58] yue9944882 commented on #673
i think it's in consistence w/ kubectl's behavior. the java client is doing the deserialization as intended

[2019-08-28 07:19] victornoel commented on #673
@yue9944882 I understand, so this means this is out of the scope of this java client, and if I wanted things to be different, I would have to ask the kubernetes api project basically?

[2019-08-28 07:19] #673 closed

[2019-08-28 07:33] yue9944882 commented on #673
exactly, kubernetes/kubernetes

[2019-08-28 16:54] darinhoward opened #676 "EC Algo Cert/Key Loading Issue"
Version 6.0.1 and Java 8.

Running into an issue when reading `kublet-client-current.pem` from a k8s google cloud install.

`kubelet-client-current.pem`: (cert/key is no longer in use)
[code]

I get the following when loading from a kube config file with the following:
[code]

Exception Reported:
[code]

I'm curious if changing `io.kubernetes.client.util.SSLUtils` section

[code]

to

[code]
would

[2019-08-28 22:21] ChrisMullard commented on #675
Happy to write this and contribute, but neither listNamespacedPod nor listNode returns any pod cpu or memory metrics...

[2019-08-29 13:47] #676 closed

[2019-08-29 17:28] yue9944882 commented on #675
@ChrisMullard am pretty sure the usages are recorded in their status. ref the golang implementation at https://github.com/kubernetes/kubernetes/tree/81f021b7a51e037b9c6c14502d21ef01764c1ffb/staging/src/k8s.io/kubectl/pkg/cmd/top

[2019-08-29 21:57] ChrisMullard commented on #675
I'm probably missing it but can you point it out please from what is returned for a pod:

    status: class V1PodStatus {
        conditions: [class V1PodCondition {
            lastProbeTime: null
            lastTransitionTime: 2019-08-29T15:24:33.000+12:00
            message: null
            reason: null
            status: True
            type: Initialized
        }, class V1PodCondition {

[2019-08-30 03:41] MalcolmSanders opened #679 "No error is thrown when create a ConfigMap with the reference of an inexistent owner"
Hi,

I find that there is no exception when I create a ConfigMap with an OwnerReference while the owner is actually inexistent.

The code is as follows.

`              // non-existent owner
                V1OwnerReference ownerReference = new V1OwnerReference()
			.apiVersion("v1").kind("ConfigMap").controller(Boolean.FALSE)
			.name("my-owner").uid("7b2c01ef-cad5-11e9-ac55-98039bb2cdff").blockO

[2019-08-30 06:05] yue9944882 commented on #679
owner-reference is not checked on your create/update operations.. and that's by-design because of limitted transactional operation support from etcd backends.

[2019-08-30 06:05] yue9944882 commented on #679
/triage support

[2019-08-30 08:02] MalcolmSanders commented on #679
Got it, Thanks. So I think it's needed to doule check the existence of newly created object.

[2019-09-01 04:41] #429 closed

[2019-09-01 08:23] LeoDemon commented on #235
it works for me , tks.

[2019-09-02 03:43] yue9944882 commented on #235
for future travelers, please refer to the PatchExample under https://github.com/kubernetes-client/java#example to find out how to patch resources in different patch formats.

[2019-09-02 09:28] MalcolmSanders opened #680 "how to use V1Preconditions in V1DeleteOptions when delete an object ?"
Hi,

I'd like to check the ResourceVersion of an object before deleting this object to ensure that this deletion is performed as expected. Is it possible to use V1Preconditions in V1DeleteOptions when deleting a object ?

My sample code is as follows:
`                        V1Status status = api.deleteNamespacedConfigMap(name, namespace, null,
				new V1DeleteOptionsBuilder().withApiVersion("v1"

[2019-09-02 09:32] MalcolmSanders commented on #680
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#deleteoptions-v1-meta
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#preconditions-v1-meta

From the docs, it seems that precondition only support uid field. But still I get the same error when I build V1Preconditions only with uid.

[2019-09-02 14:54] ceeaspb opened #681 "copyFileFromPod drops container name"
One of the copyFileFromPod methods drops the container name, leading to possible error.

https://github.com/kubernetes-client/java/blob/632d6c5a17e9bc2d3c69d5d05cb36ee42044d072/util/src/main/java/io/kubernetes/client/Copy.java#L79

[2019-09-02 14:59] wangjianwen opened #682 "PortForwardExample can not work as expected!"
First, the example can work only after appended the following code.
[code]
In addition，Even if the code can work , it will get stuck if you request more than a few times. The log  prints as following.

[code]

[2019-09-02 15:00] brendandburns commented on #681
Definitely a bug!

If you want to, a PR with a fix (and a test) would be great, otherwise we'll get to this soon.

Thanks for reporting!

[2019-09-02 15:01] brendandburns commented on #679
Yes, and in general as @yue9944882 mentions the Kubernetes API doesn't provide referential integrity.

Closing as questions are answered.

[2019-09-02 15:01] #679 closed

[2019-09-02 15:05] brendandburns commented on #680
When you create the DeleteOptions object, it's `kind` and `apiGroup` etc should be for the DeleteOptions resource type, not a ConfigMap resource type.

[2019-09-03 04:01] MalcolmSanders commented on #680
Got it, haven't noticed that DeletionOptions is also a type of `kind`.
Thanks very much.

[2019-09-03 04:01] #680 closed

[2019-09-03 11:46] Traderjoe95 opened #684 "PortForward.PortForwardResult.getErrorStream(int) should return InputStream instead of OutputStream"
As far as I understand, said stream is supposed to be the error stream for the port passed as parameter. Thus, it should be an `InputStream` to be able to read the errors from the stream, exactly as in `Attach.AttachResult`, or am I mistaken here?

[2019-09-03 12:14] Traderjoe95 opened #685 "How to use Exec with stdin correctly?"
I am trying to implement a utility to copy files to pods, not only the other way round. I am using the 6.0.1 client with a Kubernetes 1.14 cluster.

For copying, I create a `Base64InputStream` and open an exec session, using the `Exec` utility like described in the `ExecExample`. The input stream is then piped into the process. The command I use is `new String[]{"sh", "-c", "base64 -d > test.txt"}

[2019-09-03 13:00] ceeaspb commented on #681
Thanks, I have a few more non-happy path issues to report also.

[2019-09-03 13:05] ceeaspb opened #686 "copyFileFromPod (and likely exec) does not propagate errors"
Running copyFileFromPod on a non existent from file to copy results in some log lines printed but no error to the calling code:

[code]

If the namespace does not exist then a different log message but again not passed on for handling:

[code]

There are probably other instances of this.
Exec doesn't appear to handle errors or return codes.

[2019-09-03 13:07] ceeaspb opened #687 "okhttp connections leak log messages"
Possible leak in okhttp connections after several calls to copy/exec. Possibly related to calls that result in errors.

[code]

[2019-09-03 13:11] ceeaspb opened #688 "copy directory fails with multi container pod and null container name"
Copying large files or directories fails silently.
There have been many reports of this failing at the level of `docker` in other projects.

Some report AWS ICMP config issues, one reports out of memory in the container when cat'ing the files.

In the test case `tar` and `cat` existed in the container.

So it might not be possible to resolve here, but the error should be reported back to calling c

[2019-09-03 17:02] yue9944882 commented on #688
i doubt if it's the underlying read/write timeout in the okhttp client interrupting the streaming.. the default value is 10-second-ish i remember, consider set them to `0` to unlease from the timeout

[2019-09-03 17:07] yue9944882 commented on #686
500 error normally suggests a BUG in the kube-apiserver, appreciated if you can provide more details..

basically, EXEC is trying to establish a web-socket connection w/ the apiserver, so it will surely be failing when the server doesn't respond to promote the connection.. i'm slight leaning on using a try-catch block to wrap the call

[2019-09-03 20:30] ceeaspb commented on #688
Having turned on client debug the issue is that running copy against a pod with multiple containers fails with http rc 400 bad request.
Adding a specific container name works.

`kubectl` provides some hints when a container is not specified:
[code]

[2019-09-03 20:57] ceeaspb commented on #686
ok `kubectl -v=9` shows 500 error response when the container is stopped but the pod exists because there are other containers in the pod still running.

This ticket is more about the lack of error handling as the exec process used by copy does not check the exec return code. As far as I can tell It is not possible to determine whether the copy was successful or not.

https://github.com/kubernetes

[2019-09-04 09:27] MalcolmSanders opened #689 "Is it possible to list/watch a group of objects according to the prefix"
Hi,
There is a scenario in my case which I need to watch a group of objects in k8s (e.g. ConfigMaps) with the same prefix. But I didn't find the ways using k8s java api.

There are several facts that I know:
(1) We can list/watch all the objects of the same type in a namespace.
(2) We can list/watch an object specified by field selector, while field selector only support "equals" ("=" or "==") and

[2019-09-04 10:29] yue9944882 commented on #689
these are all supported in the java client. please refer to the provided example from README page. you can override the parameters in https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/WatchExample.java#L38

[2019-09-04 15:37] derkd opened #690 "Why are the Lists initialized with null and not a new ArrayList?"
https://github.com/kubernetes-client/java/blob/a7acacd907eab78bdd36ef1a889c4911fa950943/kubernetes/src/main/java/io/kubernetes/client/models/V1EndpointSubset.java#L37

[2019-09-04 15:48] Alexander198961 commented on #315
I am using
'io.kubernetes', name: 'client-java', version: '5.0.0'
and my cube config doesnt have auth-provider and EksAuthenticator still works

[2019-09-04 18:31] brendandburns commented on #684
I think you are right... Will fix this.

[2019-09-04 18:33] brendandburns commented on #685
I will try to reproduce this with your code sample.

[2019-09-04 18:34] brendandburns commented on #689
Closing since the question is answered.

[2019-09-04 18:34] #689 closed

[2019-09-04 18:36] brendandburns commented on #690
This code is automatically generated by the swagger-api-codegen. That's a question for the code generator project.

My guess is that there is a distinction in JSON between `undefined | null` and `[]` and by default things are undefined/null in a JSON object.

Closing since question is answered.

[2019-09-04 18:36] #690 closed

[2019-09-05 02:44] MalcolmSanders commented on #689
Sorry for not being clear.

I know current APIs can list/watch (1) all the objects in a namespace or (2) objects specified by field selector. But is it possible to only list/watch the objects with the same prefix so that lesser objects will be returned as the result, just like [etcd with prefix api](https://godoc.org/github.com/coreos/etcd/clientv3#example-Watcher--WatchWithPrefix).

For example,

[2019-09-05 03:24] yue9944882 commented on #689
no, prefix-based list-watch isn't supported in the kube-apiserver level.

[2019-09-05 03:32] #684 closed

[2019-09-05 05:24] MalcolmSanders commented on #689
Got it, thanks.

[2019-09-05 18:40] brendandburns commented on #685
I thought about this some more. I believe that you need to explicitly close `proc.getOutputStream()`

`ByteStreams.copy(...)` won't do that for you and if you don't close that stream, then there is no way that `cat` knows that you're done writing to `stdin`

Try updating your code to add `proc.getOutputStream().close()` after the copy. I bet that will fix things for you.

[2019-09-05 23:19] sillva commented on #315
It took me a while but it finally worked.

A tip in case you're struggling to know why you're getting an `Unauthorized` response from AWS. Make sure you enable the logging in your EKS cluster so that you can see your authentication attempts in CloudTrail and find out why you got that.

For those who are using AWS java SDK2, here goes the code:

`import com.google.common.base.Preconditions;
import

[2019-09-06 07:12] #681 closed

[2019-09-06 08:04] Traderjoe95 commented on #685
Thank you for your suggestion. I just tried closing the output stream of the process but it doesn't terminate the process. Apparently, the stdin of the remote process isn't closed when the web socket stream closes. When investigating this further, I found that `WebSocketOutputStream` inherits from the abstract `OutputStream` which has an empty `close()` method - that means the stream isn't actuall

[2019-09-07 09:04] #549 closed

[2019-09-08 01:02] shakeelrao opened #693 "How to efficiently implement "get and watch""
I'm relatively new to developing with the K8s API and am looking for some guidance on how to approach the following problem.

**The problem:** I want to develop a module that allows clients to fetch the current state of some resource in K8s (i.e. get all Pods in namespace X) and then have the ability to watch for changes in that resource and respond to it. The key here is that I would like to supp

[2019-09-09 03:10] yue9944882 commented on #693
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/ControllerExample.java

you can either use informer to list-and-watch or use the controller-builder to setup your runtime..

[2019-09-09 03:20] shakeelrao commented on #693
Thanks @yue9944882. Are there docs explaining how `Controllers` work internally?

[2019-09-09 03:24] yue9944882 commented on #693
https://book.kubebuilder.io/cronjob-tutorial/controller-overview.html

you can start by reading basic concepts from the kubebuilder docs, the java controller-builder is basically porting from the golang project.

[2019-09-09 13:24] liboyue23 opened #695 "How to find out root cause "io.kubernetes.client.ApiException: Bad Request" exception?"
Here is my code:
[code]

I print V1Pod body:
[code]

io.kubernetes.client.ApiException: Bad Request
        at io.kubernetes.client.ApiClient.handleResponse(ApiClient.java:882)
        at io.kubernetes.client.ApiClient.execute(ApiClient.java:798)
        at io.kubernetes.client.apis.CoreV1Api.createNamespacedPodWithHttpInfo(CoreV1Api.java:8317)
        at io.kubernetes.client.apis.CoreV1Api.create

[2019-09-09 15:37] brendandburns commented on #695
`ApiException` has a function to get the response body, that will contain more details from the Kubernetes API server.

Closing since the question is answered.

[2019-09-09 15:37] brendandburns commented on #693
Closing since the question is answered.

[2019-09-09 15:37] #693 closed

[2019-09-09 18:57] shakeelrao commented on #693
In `InformerExample`, the code won't compile due to `Unhandled exception: io.kubernetes.client.ApiException` in the `CallGenerator` lambda. Any ideas on how to fix this?

[2019-09-10 01:46] liboyue23 commented on #695
But I trace into the SDK, and found only useful message is response.message, and response.body is null, why?
![image](https://user-images.githubusercontent.com/11264082/64577700-c20ed400-d3af-11e9-99fb-0f7fb52cf08e.png)

[2019-09-10 03:17] liboyue23 opened #696 "BadRequest by using java sdk"
Here is the response body:
[code]

Here is part of V1Body
[code]

Where is the problem with `resources`?

[2019-09-10 03:40] yue9944882 commented on #696
what json serialization library are you using? it's supposed to be ApiClient#JSON.

[2019-09-10 03:49] yue9944882 commented on #695
/reopen

can you show us the json payload of your request from the debugging output?

[2019-09-10 03:50] yue9944882 commented on #693
can you print out the body for more information? (using ApiException#getResponseBody)

[2019-09-10 04:10] brendandburns commented on #696
Yeah, this looks like the QuantitySerializer isn't registered for some reason.

[2019-09-10 04:20] hinyinlam-pivotal commented on #340
A temporary workaround as following (may not work for some scenario)

[code]

[2019-09-10 04:42] brendandburns commented on #685
One other note that I noticed, I actually implemented `Process.destroy()` to close the stream(s) so you could always call that once all of the output is written...

[2019-09-10 04:43] liboyue23 commented on #696
How can I resolve this problem?

[2019-09-10 04:51] liboyue23 commented on #695
I set debugging(true) but there's no debug message output in the log file

[2019-09-10 04:55] liboyue23 commented on #696
[code]

[2019-09-10 05:28] yue9944882 commented on #696
please use the provided GSON library to do the serilization, we have customized serializer registered in ApiClient#JSON

[2019-09-10 05:29] yue9944882 commented on #696
/close

[2019-09-10 05:29] #696 closed

[2019-09-10 05:30] yue9944882 commented on #695
`Unprocessable Entity` always suggests that your requesting payload is malformed/invalid, please check if the payload correspondingly

[2019-09-10 06:19] liboyue23 commented on #696
Do you know how to print requestBody json in SDK?

[2019-09-10 07:25] yue9944882 commented on #696
not sure what you mean by log file. as for printing the body, you can either:

(a) set debugging option via ApiClient#setDebugging
(b) manually serialzie the objects using ApiClient#JSON

[2019-09-10 08:27] skyu1004 opened #698 "clinet-java"

[2019-09-10 08:41] yue9944882 commented on #698
whats new?

[2019-09-10 16:22] yue9944882 commented on #698
/close

[2019-09-10 16:22] #698 closed

[2019-09-10 22:06] brendandburns commented on #695
You should really use `ApiException.getResponseBody()` to get the response body and print it. There will be more details in that message.

https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/ApiException.java#L88

[2019-09-11 01:27] shakeelrao commented on #693
There is no exception being generated because I can't compile the code. The compiler message is:
`java: unreported exception io.kubernetes.client.ApiException; must be caught or declared to be thrown` due to the `listNamedspacedPodCall` in the lambda.

[2019-09-11 02:16] liboyue23 opened #699 "Create Pod BadRequest Error"
I use the sdk to create pod, here is the dependency:
[code]

and here is the error
[code]

the print json is:
[code]

What's wrong with my code?

[2019-09-11 03:36] yue9944882 commented on #693
[code]

strip the try-catch block, and it will fly

[2019-09-11 03:40] brendandburns commented on #699
Can you move forward to at least version `6.0.1` in your pom.xml? That's the latest released library.

It looks to me like the Quantity serializer isn't properly registered in GSON for serialization.

Please move to the `6.0.1` and if that doesn't fix things, please include the code for how you are creating your Client.

Thanks!

[2019-09-11 04:41] brendandburns commented on #688
Yeah, it looks like `kubectl` does a get and substitutes in the first container.

[2019-09-15 22:18] ganchurin opened #702 "Generated docs include examples with commented out imports"
Generated docs include examples with commented out imports. For example, [CoreV1Api](https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/CoreV1Api.md) has the following lines in the first example:
[code]

[2019-09-16 08:53] chenshun00 opened #703 "Can't package biz code by use 4.0.0."
due to other reason , i can't use jdk1.8 . so i have to choose 4.0.0.

[code]

when i run ` mvn clean compile -Dmaven.test.skip=true` , my source code is gone . :(
![image](https://user-images.githubusercontent.com/26037282/64945059-5ee6db00-d8a2-11e9-9f4e-5cf77db12e75.png)

again, remove it from pom, my source code is back .
![image](https://user-images.githubusercontent.com/26037282/64945113-76b

[2019-09-16 09:04] yue9944882 commented on #703
how so? even the latest release (6.0.1) should be working w/ jdk 1.8.

probably caused by conflict between maven plugins.. how can i re-produce the issue?

[2019-09-16 09:09] yue9944882 commented on #702
these are generated by swagger-codegen.. it will be fixed after we migrating to openapi-codegen by #595

https://github.com/OpenAPITools/openapi-generator/blob/4538db92a21b68f5ae134b5ed7434278ceba696c/modules/openapi-generator/src/main/resources/Java/api_doc.mustache#L26-L32

[2019-09-16 09:11] yue9944882 commented on #699
[code]
the quantities are not correctly serialized.. and it's suggesting that you're not using the provided GSON codec from ApiClient..

[2019-09-16 09:19] chenshun00 commented on #703
@yue9944882 just a simple spring web app. compile by jdk1.7 .
spring : 4.3.20.RELEASE

[2019-09-16 09:25] chenshun00 commented on #703
i have upload file to https://gitlab.com/chenshun00/war . Maybe it can help you。

[2019-09-16 09:38] yue9944882 commented on #703
@chenshun00 thanks, i fetched the source but didnt re-produce the issue in my local environment, the compiled classes always present regardless of whether commenting out the kubernetes sdk dependency or not.. am i missing anything?

[2019-09-16 09:58] chenshun00 commented on #703
@yue9944882  Maybe the problem with the jdk minor version .  what your jdk minor version?

[code]

[2019-09-16 10:07] yue9944882 commented on #703
[code]

can you try if adding these properties will help?

[2019-09-16 10:11] chenshun00 commented on #703
thanks

[code]

let me test other jdk minor version.  :(

[2019-09-16 10:30] #688 closed

[2019-09-16 13:34] ganchurin commented on #702
@yue9944882 Thanks for the response! Should I close the issue?

[2019-09-17 03:32] #686 closed

[2019-09-17 06:06] liboyue23 commented on #699
I use the same code, to run in minikube, the print json is:
[code]

here is my code:
[code]

[2019-09-17 07:39] ica10888 commented on #350
There is an example for the exec program via webSocket. Include backend Springboot and frontend Xterm. Maybe help you.

https://github.com/ica10888/k8s-web-terminal

![avatar](https://github.com/ica10888/k8s-web-terminal/blob/master/doc/example.png?raw=true)

[code]

[2019-09-17 13:05] davidxia commented on #431
/remove-lifecycle stale

[2019-09-18 14:27] MalcolmSanders opened #704 "Support setting owner reference and labels when creating EndpointsLock or ConfigMapLock for LeaderElection"
Hi,

Currently I'm testing LeaderElection APIs event though it's only in the latest beta version. It works well for me, and now I'm considering about a graceful way to recycle the objects created for leader election.

I thought if EndpointsLock/ConfigMapLock support (1) owner reference and (2) labels, it could be more convenient to do recycling. What do you think ? @wu8685

[2019-09-18 15:30] wu8685 commented on #704
@MalcolmSanders I don't get your point. What is the owner/label supposed to be?

[2019-09-18 16:05] yue9944882 commented on #704
IIUC, what @MalcolmSanders 's proposing is to group the locks from a same controller in some way so that we can clean the old locks when it's detected as "unused" any more.. it's a good idea i believe.. but curiously can you expand more use-cases for recycling the old locks? i didnt personally see a strong use-case tho so far..

[2019-09-19 03:00] MalcolmSanders commented on #704
Some kind of our applications can be terminable just like k8s jobs. Also such applications could be stopped for any reason. We want to make sure all the resources created by such applications could be safely deleted at any circumstances. So it seems that setting deployment's owner reference to all the resources created by the application is a good way. Furthermore, we set labels to all the resourc

[2019-09-19 06:20] OIUE opened #705 "Like a glimpse, relying on a whole lot"
Like a glimpse, relying on a lot, can you give a minimal dependency package?

[2019-09-19 12:06] moeyui1 opened #706 ""renewDeadline" support for leader election"
https://github.com/kubernetes-client/java/blob/5ae91646b465774c194a1b9299274005c185d5d6/extended/src/main/java/io/kubernetes/client/extended/leaderelection/LeaderElectionConfig.java#L11

The "renewDeadline" field in `LeaderElectionConfig` seems to be useless currently, is there a plan to support renew deadline duration in the future?
Probably related to this https://github.com/kubernetes-client/ja

[2019-09-19 13:11] brendandburns commented on #705
As far as I know it is a minimal dependency package. What is extra in the current package?

Thanks!

[2019-09-19 14:02] wu8685 commented on #704
How about using `namespace` and `name`, which are provided through current constructor, to locate the lock your application creates?

By the way, I think the usage of ownerReference in your case is not appropriate. labels may be better. But as I said, using `namespace` and `name` is enough.

[2019-09-19 21:38] tbak opened #707 "Unbounded network interceptor chain in CustomObjectsApi class"
On each invocation of `io.kubernetes.client.apis.CustomObjectsApi#replaceNamespacedCustomObjectCall(...)`, a new `com.squareup.okhttp.Interceptor`
instance is appended, which results in every growing interceptor list, which eventually leads to `StackOverflowError`.
This problem exists in all methods in `CustomObjectsApi` class which include the following code snippet:
[code]

[2019-09-19 21:42] tbak commented on #707
I have missed that this issue was already reported here: https://github.com/kubernetes-client/java/issues/482. Any chance it will be fixed soon?

[2019-09-19 21:42] #707 closed

[2019-09-19 23:25] wu8685 commented on #706
It seems a mistake. I create a PR, Please take a look.

[2019-09-20 03:11] MalcolmSanders commented on #704
I think OwnerReference is necessary in my case because we can not make sure that delete operation can always be executed since any error might occur. It's worthwhile to mention that our application is not long running service with the same name but terminable jobs with unique names. Thus any error of an application might result in some objects left un-recycled. What's worse, it could harm the perf

[2019-09-20 04:00] yue9944882 commented on #707
we're getting this by #595 (probably this month or next), but the pull will break backward-compatibility in some way, we have to evaluate carefully..

[2019-09-20 14:47] tbak commented on #707
@yue9944882 If I can help in any way, please let me know.

[2019-09-20 18:15] wu8685 commented on #704
I still prefer to keep the constructor as simple as possible. V1ObjectMeta is not necessary for the lock. A label for leader election lock may be necessary, but I'm afraid it will bring in another problem, because this behavior is not consistent with go client.

How about using admission webhook to attach more information like labels to the lock when it is created in your case?

[2019-09-22 05:10] FangQidong opened #710 "Unable to invoke no-args constructor for class io.kubernetes.client.custom.Quantity$QuantityAdapter. Register an InstanceCreator with Gson for this type may fix this problem."

[2019-09-23 03:06] MalcolmSanders commented on #704
Admission webhook is a solution, but it seems too heavy in my case. Based on current APIs, all the objects except EndpointsLock and ConfigMapLock could allow users to specify OwnerReference and labels. Besides, if no more information could be attached to EndpointsLock/ConfigMapLock during creation, admission web server doesn't know how to modify for each lock since each lock actually belongs to an

[2019-09-23 16:02] brendandburns commented on #710
We need more details to understand what you are trying to do. Please provide information about the code that you are running when you see this exception.

Thanks!

[2019-09-23 22:01] The-Kruegz commented on #598
Here because I am also looking to create a job from a cronjob.
@brendandburns I don't see how your example given applies our question.

[2019-09-24 03:40] chenshun00 commented on #703
Upgrade to jdk1.8 to fix it. :)

[2019-09-24 03:40] #703 closed

[2019-09-25 06:54] Hendrik-H opened #713 "github's releases page does not show latest releases"
The [releases page](https://github.com/kubernetes-client/java/releases) on github does not show the latest releases. The last listed is `4.0.0`. This has the side effect that there are no notifications about new releases. Was the release process changed and is the list  not updated anymore?

[2019-09-25 08:44] markbooch opened #714 "Leader Elector Cannot re-elect after renew failed"
Using leader elector which introduced in recent release, I have three pods on election, at the time, I found there are no one is working, all of them have experience the acquire->renew->stop workflow. After that, the pod will not acquire anymore,  I see such implementation in your code, which should be a problem.

Do we need to add loop in our application code? I see there are no such code in your

[2019-09-25 20:31] brendandburns commented on #713
Unfortunately that page has to be manually updated (afaik) so it's not part of the release process (and thus got forgotten.... :( )

I've gone and added the two additional releases, and we'll try to remember better in the future :)

Thanks!

[2019-09-25 20:31] #713 closed

[2019-09-26 07:41] moeyui1 commented on #714
Currently the election will not retry when lost leadership, it's just the same as [kubernetes client-go](https://github.com/kubernetes/client-go). Perhaps you can use a loop to retry election, something like:
[code]

[2019-09-26 12:21] ZP-AlwaysWin opened #715 "CRD resource conversion error problem"
I have a custom resource

[code]
**Output**

[code]
How can I convert this Object into a custom V1LoadBalancer class

[code]
Now I report the following errors directly when I convert

[code]

[2019-09-26 16:19] The-Kruegz commented on #598
@seanleblanc I figured this out if you are interested. This method replicates the functionality of:
kubectl delete job --ignore-not-found =true
&& kubectle create job --from=conjob/

`public void triggerJobFromCronJob (String env, String namespace, String jobName)
      throws ApiException {
    V1DeleteOptions options = new V1DeleteOptions();
    try {
      V1Status deleteResult = batchV1Api.del

[2019-09-26 22:44] pattyphonemany691 opened #716 "Forbidden: may only update PVC status"
In trying to create Persistent Volume Claim, I get a ` is forbidden: may only update PVC status` error.
[code]
Debug logging:
[code]
[code]

I've confirmed that I have permissions to create the PVC.
I'm also able to create other resources in the cluster.

I've tried using the 5.0.0 and 6.0.1 builds of the kubernetes java client.
Unfortunately I'm unable to find much detail about this error. Howeve

[2019-09-27 01:26] ZP-AlwaysWin commented on #515
hi @yiyijin @rjeberhard:

Do you have any discussions on this issue? I have the same problem.

[2019-09-27 01:33] ZP-AlwaysWin commented on #715
/assign hi @brendandburns @yue9944882
Excuse me
Is there any good solution to this problem now?

[2019-09-27 01:46] ZP-AlwaysWin commented on #515
nice I can use this parse.

[2019-09-27 03:29] udit0612 opened #717 "How to get the status of Allocated resources through api?"
When i describe the nodes through kubectl command , It shows the allocated resource information

**kubectl describe nodes  nodename**

![image](https://user-images.githubusercontent.com/33015983/65739754-1205ce80-e104-11e9-8bfb-53af698991d2.png)

Can you please tell me how to get such api response along with CPU, memory and ephemeral-storage percentage ?

[code]
I alredy tried these options but ca

[2019-09-27 03:40] brendandburns commented on #715
You're going to want to use `getNamespacedCustomObjectCall(...)`

https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/apis/CustomObjectsApi.java#L1252

That will give you an `okhttp` `Call` object which is the object for the HTTP call before it is executed.

Once you execute that `Call` you will be able to get the raw JSON from the response, and then

[2019-09-27 03:45] brendandburns commented on #716
you need to do the POST to

`https://endpoint/api/v1/namespaces/mynamespace/persistentvolumeclaims/status`

Note the `/status` at the end.

(I agree the error message isn't great)

To do this, I believe the `CoreV1.replaceNamespacedPersistentVolumeClaimStatus` function will do what you want.

[2019-09-27 03:49] brendandburns commented on #717
The code in kubectl calculates that percentage by looking at the Node object, the relevant Go code is here:

https://github.com/kubernetes/kubectl/blob/master/pkg/describe/versioned/describe.go#L3032

Closing this issue because the question is answered, please use the `/reopen` command if you need to reopen the issue for further assistance.

[2019-09-27 03:49] #717 closed

[2019-09-27 06:10] ZP-AlwaysWin commented on #715
Yes,you are right,it works. Thank you very much

[code]

[2019-09-27 06:10] #715 closed

[2019-09-27 09:34] pattyphonemany691 commented on #716
Unfortunately, the same error is still being thrown.
I've tried the following:

1. Creating a `V1PersistentVolumeClaim` with the status field set before calling `createNamespacedPersistentVolumeClaim` and then running `CoreV1.replaceNamespacedPersistentVolumeClaimStatus`
2. Setting the status field after creating a `V1PersistentVolumeClaim` by calling `createNamespacedPersistentVolumeClaim`, then

[2019-09-27 19:03] #562 closed

[2019-09-29 08:34] ZP-AlwaysWin opened #719 "CRD replaceClusterCustomObject bug"
I want to use CRD replaceClusterCustomObject function
but an exception occurred.

[code]
*exception:*

[code]

But in fact, I haven't changed anything, and the original CRD I retrieved has a namespace field.

[2019-09-29 08:35] ZP-AlwaysWin commented on #719
/kind bug

[2019-09-29 08:43] ZP-AlwaysWin commented on #719
I made a mistake.
it should is
[code]
not

[code]

[2019-09-29 08:43] #719 closed

[2019-09-30 07:47] ZP-AlwaysWin opened #720 "What's the difference? readNamespacedDeployment and readNamespacedDeploymentStatus"
What's the difference? readNamespacedDeployment and readNamespacedDeploymentStatus

[code]
and

[code]

What's the difference between two functions of this type? They are the same return value.

What I understand is that this `readNamespacedDeploymentStatus` function should not return this definition `V1DeploymentStatus`?

[2019-09-30 07:50] ZP-AlwaysWin commented on #720
/kind bug

[2019-09-30 07:52] ZP-AlwaysWin commented on #720
/assign @brendandburns
Can you solve my doubts?
Best Wishes

[2019-09-30 21:49] brendandburns commented on #720
You'd have to look through the swagger (or how the code generator handles sub resources)

Status is a sub-resource for Deployment.

[2019-09-30 23:43] pattyphonemany691 commented on #716
We believe the problem was caused by our configuration, which was designated as a `system:node`, and it was not permitted to create a PVC.

Thanks for your help!

[2019-09-30 23:43] #716 closed

[2019-10-01 14:36] bcoughlan opened #721 "V1RollingUpdateDaemonSet maxUnavailable is 'String' but API specifies 'IntOrString'"
`V1beta2RollingUpdateDaemonSet` has `IntOrString maxUnavailable` but `V1RollingUpdateDaemonSet` has `String maxUnavailable`, even though the swagger.json specifies it as an IntOrString.

This causes an issue that when trying to use the integer form for maxUnavailable, because the API assumes that if it is a string then it should be treated as a percentage.

[code]

[2019-10-02 04:38] brendandburns commented on #721
This is weird. Looking at the Swagger I don't see any reason why this should be true, and yet there it is... This may be a bug in the code generator, we'll have to investigate more.

[2019-10-02 18:29] stevenschlansker commented on #290
This issue still causes problems with running the client past authentication token revocation.  I guess we will have to continue spamming this issue every 90 days to keep it from going stale...

/remove-lifecycle stale

[2019-10-02 23:18] nprabala opened #722 "Generating Client from Config Home Does Not Work"
I'm running the code from the https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/BatchV1Api.md for creating a namespaced job. When I do that, I get an error: io.kubernetes.client.ApiException: java.net.ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:443

For reference, the code from y'all's doc is below:

[code]

I suspect this has something to do with the clust

[2019-10-03 09:32] hmeerlo commented on #446
Ok, might be me but I don't understand why this is closed. The question was about usage of KubeConfig (the Java class). But the answer was about Config.defaultClient() which uses the default kube config. So 2 completely different things. I'm actually also looking for an example on KubeConfig usage.

[2019-10-03 13:17] FangQidong commented on #710
This issue has been resolved

[2019-10-03 13:17] #710 closed

[2019-10-03 20:18] brendandburns commented on #722
You need to setup the default client first, look at the sample code here:

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/Example.java#L34

That should pick up your kubeconfig file.

[2019-10-03 20:37] nprabala commented on #722
Ah, thank you. Added the lines there, then wrapped it all in a try catch, and that fixed the problem. Thank you!

[2019-10-03 20:37] #722 closed

[2019-10-06 17:52] remmeier commented on #605
/remove-lifecycle stale

[2019-10-07 04:09] #668 closed

[2019-10-07 11:04] shakeelrao commented on #693
@yue9944882 @brendandburns Hi! I've been taking a look at the `Informer` and `Controller` examples and I'm not entirely sure how to adapt them to my use-case. Basically what I want do to is have a service that maintains an up-to-date list of pods (via watching) for a given namespace and label.

For example, let's call our service `A`. When `A` starts up for the first time, it has nothing cached. L

[2019-10-07 23:48] nprabala commented on #86
So I'm running into the same issue as @neuromantik33 from 2017 - trying to delete a namespaced job. It's now been two years - can we get an update? Is try catch still the best approach?

[2019-10-08 02:14] ZP-AlwaysWin commented on #720
hi @brendandburns
I know status is a sub-resource for Deployment.

But what I don't understand is that these two methods clearly return to the same class. Why do we need to use two methods? I don't see any difference in the use of these two methods.

According to the naming rules of this readNamespacedDeploymentStatus  function, shouldn't it return this V1DeploymentStatus  class for difficulty?

[2019-10-08 10:11] #706 closed

[2019-10-08 10:32] yue9944882 commented on #721
[code]

sth must be wrong w/ the code-generator, the openapi spec from kubernetes cluster is correct.

[2019-10-09 06:37] yue9944882 commented on #721
let me check if migrating to openapi-generator will solve the issue..

[2019-10-09 08:41] bcoughlan commented on #721
FWIW, I tried generating the code using the instructions in the README (even after deleting the old `V1RollingUpdateDaemonSet.java` file) with the latest `release-1.14`, and it still generated it as type String. So it's probably not related to any issues around incremental building or caching.

[2019-10-09 23:25] shakeelrao opened #725 "Recommended values for resync period?"
I am building an Informer to watch Pods across all namespaces and was wondering if there are recommended values for the Informer resync period. From my basic understanding, the resync period essentially tells the Informer to re-list and cache the state of the objects in the cluster, right?

In addition, is there a difference between the Informer resync period and the ResourceEventHandler resync pe

[2019-10-10 04:35] feiainan opened #726 "AppsV1Api.listNamespacedDeployment() io.kubernetes.client.ApiException: Forbidden"
`AppsV1Api appApi = new AppsV1Api();
		V1DeploymentList listNamespacedDeployment = appApi.listNamespacedDeployment("default", "true", null, null, null, null, null, null, null);`

this code runs with an error: io.kubernetes.client.ApiException: Forbidden
but using CoreV1Api is fine
Everything about AppsV1Api is problematic

[2019-10-10 04:36] yue9944882 commented on #725
hey @shakeelrao, that's a good question. for the record, the informer in this library works exactly the same as the one in the official go library, so basically all the Q&A around client-go's informer also applies here. (vice versa)

no, the `resyncPeriod` you pass in to build either informer or informer-factory doesn't make you do any re-list/watching (the re-list/watching is actually triggered b

[2019-10-10 23:22] brendandburns commented on #726
If you print `ApiException.getResponseBody()` you may get some details that help...

[2019-10-11 02:36] feiainan commented on #726
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "deployments.apps is forbidden: User \"system:node:10.54.252.60\" cannot list resource \"deployments\" in API group \"apps\" in the namespace \"default\"",
  "reason": "Forbidden",
  "details": {
    "group": "apps",
    "kind": "deployments"
  },
  "code": 403
}

Emmm
I am this user does not have

[2019-10-11 04:53] yue9944882 commented on #726
`system:nodes` cluster-role is special, kube-apiserver doesn't reload that on update. it's recommended to use service-account to access the cluster otherwise instead of mounting kubelet's kubeconfig into the container.

[2019-10-13 01:37] brendandburns commented on #726
I'm going to close this, because the question is answered. Please include the command `/reopen` in your comment if you want to reopen this issue.

[2019-10-13 01:37] #726 closed

[2019-10-14 01:17] shakeelrao commented on #725
Thank-you for the detailed explanation @yue9944882! I noticed the `DefaultSharedIndexInformer#addIndexer` is unimplemented. As a work around, I'm using one of the public constructors of `DefaultSharedIndexInformer` to pass in a `cache` that has the appropriate index function I need. Is it possible to leverage create a `Controller` given a `DefaultSharedIndexInformer`?

`ControllerBuilder` seems to

[2019-10-14 03:34] yue9944882 commented on #725
makes sense, will send a pull to implement that. thanks for reporting.

[2019-10-14 21:45] #488 closed

[2019-10-15 08:24] markbooch commented on #714
Thanks for the explaination.

[2019-10-15 08:24] #714 closed

[2019-10-17 08:28] seongwon-kang opened #734 "listPodForAllNamespaces() argument list differs in KubeConfigFileClientExample.java"
[code]
it takes 8 nulls in original file, but actually takes 9 nulls.

[2019-10-17 08:54] seongwon-kang commented on #734
Maven Dependency:
[code]
in `README.md`, there are 9 nulls, too. but CI fails?

[2019-10-17 10:04] yue9944882 opened #736 "More user-friendly client SDK interface"
the generated client sources `*Api.java` has a long list of parameters hence hard for users to use. we can provide a more user-friendly generic client interface into the extended module.

/assign

[2019-10-17 10:21] yue9944882 commented on #736
1. group looong list of parameters into {Get,List,Create,Delete,Patch,Update}Options
2. seperate a watch api method from list
3. factor out {Get,List,Create,Delete,Patch,Update}Response to fix the remaining issues from generated class: #86(Delete exception)

[2019-10-17 14:44] azzazzel opened #737 "Package `io.kubernetes.client` is split between `client-java` and `client-java-api`"
The package `io.kubernetes.client` is split between `client-java` and `client-java-api` modules.

This makes it impossible to use the kubernetes java client in any OSGi environment. For example `ApiClient client = Config.defaultClient();` throws `java.lang.NoClassDefFoundError: io/kubernetes/client/ApiClient` as the package `io.kubernetes.client` is wired from `client-java` module and not from `cl

[2019-10-17 17:05] brendandburns commented on #736
This is all generated, how do you propose doing this with respect to generated code?

[2019-10-17 17:09] brendandburns commented on #737
If we packaged `client-java` as a separate maven library would that fix things?

I admit I don't fully understand the details of OSGi....

[2019-10-17 17:31] brendandburns commented on #734
This changed in `6.0.1` We should consider versioning our examples, but for now you can look at the `5.0.0` tag:

https://github.com/kubernetes-client/java/tree/client-java-parent-5.0.0

Closing, since there isn't anything to do here.

[2019-10-17 17:31] #734 closed

[2019-10-17 18:02] yue9944882 commented on #736
i just send #738 to reflect my initial designs, PTAL

[2019-10-17 18:06] yue9944882 commented on #737
i think @azzazzel is correct. but we have to value backward-compatibility over the class structure currently, the overlapping classes happen to the most critical paths in this project. (compatibility always ranks #1 for SDK library). we can probably start by copying those to a new package and deprecate the old classes for 3-ish releases. @brendandburns wdyt?

[2019-10-17 21:03] azzazzel commented on #737
@brendanburns I'm not sure what you mean by "If we packaged `client-java` as a separate maven library". It is build as separate Maven library from the `util` folder. That is part of the problem. The same package can not be in more than one Jar file. In OSGi that is a problem at runtime (it does not prevent other things from working). If you make those JPMS (Jigsaw) modules, one will not even be ab

[2019-10-17 22:04] brendandburns commented on #737
fwiw, we don't guarantee non-breaking major version updates (as evidenced by the recent break between `6.0.1` and `5.0.0`

So I think that it's ok to make this change as part of the `7.0.x` release series, though it would be useful to understand exactly what someone would have to do to update/fix their code. Likely import a new package?

[2019-10-18 03:58] yue9944882 commented on #737
i think we can rename the package by the effort of #595. the pull is going to break compatibility anyway.. i can probably take over the pull if it keeps inactive for 2 weeks..

[2019-10-18 03:59] yue9944882 commented on #737
+1, not guaranteed but it's better if we do as best as can, isnit

[2019-10-18 05:18] seongwon-kang opened #740 "Added example for create StatefulSet from YAML file"
There is a PatchExample.java for create a Deployment, but it does not uses yaml from file.
I am not sure to write a working file on `examples/`, but I think this will be a simple explain.

[2019-10-18 05:19] seongwon-kang commented on #740
/kind documentation

[2019-10-18 07:37] azzazzel commented on #737
I guess the best thing to do is to change the package for the generated code. I used `io.kubernetes.client.swagger` in my experiment but given #595 it could be `io.kubernetes.client.openapi` for example. Then changing/adding a package import would be the only change needed in consumers' code. While it is braking existing code, any IDE should be able to assist with the changes. You could even relat

[2019-10-18 10:32] yue9944882 opened #743 "[Umbrella Issue] Flaky test tracking"
- [x] CopyTest.testCopyFileToPod:

[code]

Fixed by #745

- [x] LeaderElectingControllerTest.testLeaderElectingController:

[code]
Fixed by #745

[2019-10-20 05:44] shakeelrao commented on #725
Thanks! Do you know where I can find the logic that detects the timeout, re-lists objects and starts a new watch?

It would be a good idea to have some documentation somewhere for this, so that users of `Watch` class can implement similar functionality.

[2019-10-20 23:41] sillva commented on #315
Just register the `Authenticator` class using the static method `KubeConfig.registerAuthenticator`.

[code]

The object `eksConfig` is just a data object created by me.

[2019-10-20 23:43] sillva commented on #315
Correct but in your example the docker image would need to have the `aws-iam-authenticator` on its path.

[2019-10-22 06:54] rjbhewei opened #747 "module(client-java) and module(client-java-extended) can merge to one module??"
rt

[2019-10-22 16:41] brendandburns commented on #740
I'd be happy for improvements to `YamlExample.java` to help document this.

[2019-10-22 16:42] brendandburns commented on #747
I don't think we want to do this, because if someone just wants the simple client (`client-java`) they shouldn't be required to take the advanced client `client-java-extended`

Closing this issue, feel free to use `/reopen` to reopen if there's additional feedback. Thanks

[2019-10-23 03:53] seongwon-kang commented on #588
I don't know why, `mvn package; mvn fmt:format; mvn package` will solve that.
In my case it was occured when I imported project with improper way on eclipse.

[2019-10-23 09:32] yue9944882 commented on #721
UPDATE: https://github.com/OpenAPITools/openapi-generator/pull/4182 will be fixing this

[2019-10-23 13:30] #740 closed

[2019-10-24 03:23] rjbhewei commented on #747
https://github.com/kubernetes-client/java/issues/628

"informer  support pagination"  I need page from  client-java-extended module and informer form client-java module，

how can i do?   create new module ?

[2019-10-24 05:52] yue9944882 commented on #737
@brendandburns #709 is taking off. how do you think about rename the package path for the generated codes in that pull together?

[2019-10-24 13:24] yuanzac opened #753 "Share the Dockerfile of the image yue9944882/java-model-gen"
We can get the docker image, yue9944882/java-model-gen, from dockerhub. But due to the network limitation, we need to modify the maven configuration of the docker image. If the Dockerfile is given, we can modify the docker images more easily.

[2019-10-24 15:30] yue9944882 commented on #753
@yuanzac it's actually right here https://github.com/yue9944882/java-model-gen, i am having troubling finding more bandwidth to write a decent user-facing documentation before the repo goes public..

[2019-10-24 16:21] brendandburns commented on #747
@rjbhewei can't you just import both modules? Is this related to #744

[2019-10-24 19:48] sarveshkaushal opened #755 "To do comment in copyDirectoryFromPod utility method of Copy class"
There is a TODO comment in Copy class:
// TODO: Test that 'tar' is present in the container?
What are we trying to check here? Even if the directory is empty, shouldn't we copy it to destination as empty directory?
https://github.com/kubernetes-client/java/blob/004a28ab2031c15f2d67e3cc2dd96a352aca9195/util/src/main/java/io/kubernetes/client/Copy.java#L114

[2019-10-25 02:36] udit0612 opened #756 "Is there any api corresponding to top command?"
I wants to run a top command

kubectl top nodes

My output should be like this
[code]
How can i achieve these i didn't see any option of top command in the api

[2019-10-25 03:29] yue9944882 commented on #756
it's a dup of https://github.com/kubernetes-client/java/issues/675

[2019-10-25 08:14] #747 closed

[2019-10-25 10:01] satyy commented on #515
@yiyijin Thanks a lot.
This solution is working and solved my problem.  👍

[2019-10-25 13:15] ZP-AlwaysWin opened #758 "Watch Update operation"
I want to watch the expansion and contraction state of a statefullset resource. How can I know the old state and the new state of the statefullset resource?

[2019-10-25 14:16] ZP-AlwaysWin commented on #758
/close
Solution in
How to efficiently implement "get and watch" #693

[2019-10-25 18:07] brendandburns commented on #756
Closing as duplicate. tl; dr; is "no, `top` is a combination of a bunch of API calls" there are more details in #675

[2019-10-25 18:07] #756 closed

[2019-10-25 18:08] brendandburns commented on #755
if the `tar` executable isn't present in the remote container, the command we're going to use won't work.

So something like running `tar --help` first and looking for errors would be a place to start. We probably don't want to always do it, since it would be expensive, we should make it optional...

[2019-10-25 18:56] sarveshkaushal commented on #755
Thanks for help on this. I will take a look into this.

[2019-10-26 06:11] #409 closed

[2019-10-26 18:20] gangchen03 opened #759 "KubeConfigFileClientExample failed to run if user forgets to change the file path to the actual KubeConfig path"
When testing the `KubeConfigFileClientExample` example as-is:
[code]
The execution failed with error:
[code]
Java runtime can't interpret the userhome directory `~` properly, suggest change the default code
https://github.com/kubernetes-client/java/blob/004a28ab2031c15f2d67e3cc2dd96a352aca9195/examples/src/main/java/io/kubernetes/client/examples/KubeConfigFileClientExample.java#L39
as:
[code]

[2019-10-27 12:01] ZP-AlwaysWin opened #760 "How to use patch to add multiple data"
I refer to this example and write the code to add labels.
https://github.com/kubernetes-client/java#example

[code]
**Before modification**
![image](https://user-images.githubusercontent.com/23489782/67634237-294afe00-f8f4-11e9-8018-dd93846cf181.png)

**After modification**
![image](https://user-images.githubusercontent.com/23489782/67634257-6d3e0300-f8f4-11e9-8dae-5c265e219d9b.png)

Now, I have a

[2019-10-27 12:08] ZP-AlwaysWin commented on #760
/assign @yue9944882
hi @yue9944882  excuse me。
Because of your code example, do you have any good suggestions?

Thanks

[2019-10-28 05:47] yue9944882 commented on #759
/kind bug
/assign

thanks for reporting this

[2019-10-28 05:49] yue9944882 commented on #760
as you see the patch content is an array, you are free to add another "add"-op entry to make that work

[2019-10-28 07:35] ZP-AlwaysWin commented on #760
Thank you for your reply，I will use this method。At first, I thought there would be some simple way。

There is also a question: do custom resources CRD not support this way of patch?

[code]

I use the `PATCH_FORMAT_STRATEGIC_MERGE_PATCH` to patch ，get a error.

[code]

[2019-10-28 10:19] cizezsy commented on #760
I think you can use some library like [zjsonpatch](https://github.com/flipkart-incubator/zjsonpatch) to generate JSON-Patch format patches at runtime...

[2019-10-28 10:59] yue9944882 commented on #760
yes, the library cant craft patch content for you :) the format you pasted above is json-patch, while you're setting strategic-merge-patch format as the content-type.

[2019-10-28 13:03] ZP-AlwaysWin commented on #760
No,When I use this format,
[code]
my patch content is like this

[code]
but I still get a error
[code]

so， I want to know CRD if don't support the type of patch

[code]

[2019-10-28 14:09] yue9944882 commented on #760
CRD doesn't support strategic-merge-patch (SMP), others should work for you https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility

[2019-10-29 01:18] ZP-AlwaysWin commented on #760
Thanks your help。

[2019-10-29 01:18] #760 closed

[2019-10-29 09:13] rsreeni opened #761 "Error patching deployment using patchNamespacedDeployment after upgrading to client-jar 6.0.1"
Hi,

I am unable to patch deployments with api patchNamespacedDeployment, after I updated to kubernetes-client.jar 6.0.1.

Previously I was using 3.0.0 and I updated to the latest one compatible with the k8s version we are running. Call using the old patchNamespacedDeployment worked fine.

But the new one, gets an error `cannot unmarshal object into Go value of type jsonpatch.Patch`  .  i turned A

[2019-10-29 10:17] yue9944882 commented on #761
the correct payload for json-patch should array on the top according to https://tools.ietf.org/html/rfc6902. i.e. patch w/ `[{"op":"add","path":"/metadata/labels/crashloop.count","value":"1"}]` should work

[2019-10-29 13:30] rsreeni commented on #761
Thanks, just padding the string with [ & ] worked. I was previously trying to create a V1Patch with an array  of JsonElements as a string and that wasnt working. Now I just padded the [ & ] and it worked like a charm.  Thanks a lot!

[2019-10-29 13:30] #761 closed

[2019-10-29 14:20] giorgos-apo opened #763 "Using microk8s - Can't find how to enable extensions"
I am using the kubernetes client api to access my kubernetes cluster.

I 've been trying to find out how to execute commands like:
`microk8s.enable dashboard`.

The problem seems to be that I can't enable a service that already exists and I can only create one from scratch.

 I mean, the dashboard extension belongs the 'kube-system' namespace. So, I have tried to create a namespace called "kube-sy

[2019-10-29 15:16] yue9944882 commented on #763
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dashboard

not really familiar w/ microk8s. but there's a manifest of required resources to set up dashboard provided by upstream kubernetes. you're free to load and create those resources into the cluster w/ this SDK project.

that's odd, `kube-system` namespace is supposed to be created when the cluster is initialized. you dont

[2019-10-29 15:23] giorgos-apo commented on #763
Thanks for the answer!

Actually you 're right. It was a wrong move.

The idea I 've just come up with, is to find the yaml file of the dashboard deployment and use it to create deployment, puting the yaml file as the "body" parameter here:

`createNamespacedDeployment(namespace, body, pretty, dryRun, fieldManager)`

[2019-10-29 15:35] yue9944882 commented on #753
hitting https://github.com/kubernetes/kubernetes/issues/81445?

[2019-10-29 15:37] yue9944882 commented on #763
i think that's one way to do it but not the best, i would recommend using server-side apply https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply to do the work, the create api call is not idempotent

idempotent

[2019-10-29 16:06] mrbobbytables opened #764 "Clean up outside collaborators"
Hey there @kubernetes-client/java-admins ,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through their a

[2019-10-29 16:22] brendandburns commented on #764
@mrbobbytables

What is the specific request here? It's unclear if you're planning on removing people yourself and this is an fyi, or if there is an action for the admins requested.

fwiw, while we're at it, @mbbohool has largely retired from involvement with this repo.

[2019-10-29 16:31] mrbobbytables commented on #764
@brendandburns If no action is taken, we'll remove on December 1st.

For the active folk, they should apply for org membership in kubernetes-client.

Ideally this is a great time to update the [various groups](https://github.com/kubernetes/org/blob/master/config/kubernetes-client/org.yaml) and manage them through peribolos instead of through the individual repo collaborator settings, but the bigge

[2019-10-29 16:58] giorgos-apo commented on #763
Thank you, I will check it out! It looks like the approach I was describing above though

[2019-10-29 20:36] nprabala opened #765 "Gradle plugin 6.0.1"
import io.kubernetes.client.extended.controller.reconciler.Request;
Cannot resolve symbol 'extended'

UPDATE: Realized the issue is that I was using 5.0.0 in my dependencies, and extended requires release 6.0.0+. I switched to 6.0.1 in my dependencies, but I'm running into the same error. Does the plugin support the extended module in the 6.0.1 release? And if not, is there a way for it to do so?

[2019-10-29 22:48] brendandburns commented on #765
It should? But honestly I don't have any experience w/ Gradle, we've only used Maven in this project.

[2019-10-29 23:33] nprabala commented on #765
The README says to use 5.0.0 for gradle but 6.0.1 also exists? Which version is currently supported? Who is supporting the kubernetes gradle plugin?

[2019-10-30 06:45] yue9944882 commented on #765
you're required to add extended dependency to your pom:

[code]

[2019-10-30 09:29] cosolar opened #766 "CustomObjectsApi Using yaml creation error, can give an example?"
[code]

[2019-10-30 09:58] yue9944882 commented on #766
will the `YamlExample` under `Basics` section help? https://github.com/kubernetes-client/java#example

[2019-10-30 13:16] cosolar commented on #766
`java.io.IOException: Unknown apiVersionKind: monitoring.coreos.com/v1/PrometheusRule known kinds are: {v1/Ser-----
at io.kubernetes.client.util.Yaml.modelMapper(Yaml.java:490)
	at io.kubernetes.client.util.Yaml.load(Yaml.java:184)
	at io.kubernetes.client.util.Yaml.load(Yaml.java:172)

`

[2019-10-30 16:48] nprabala commented on #765
Applying the dependency above in gradle:

compile 'io.kubernetes:client-java-extended:6.0.1'
classpath('io.kubernetes:client-java-extended:6.0.1')

That worked for me. Thank you!

[2019-10-30 16:48] #765 closed

[2019-10-30 16:52] nprabala opened #767 "Request Object should also include event type that triggered it"
Currently, the Request object in the extended module of the java client only takes in the name and namespace of the resource. You can use that to look up the particular object in a separate list, but that doesn't tell you anything about what kind of notification (ie, created, updated, or deleted) caused the request to be added to the workqueue.

Should just be a simple addition of a new param -- m

[2019-10-31 00:50] cosolar commented on #766
yue9944882/java-model-gen Download very slow
`error pulling image configuration: Get https://production.cloudflare.docker.com/registry-v2/docker/registry/v2/blobs/sha256/07/07c8579cc40a5c7f09add907e55870bfdbaebd6c4cdca204fd1892f7e4f72cd8/data?verify=1572450917-CpD3jJH0srTAUC7df8tEEuTAbUQ%3D: read tcp 172.17.8.17:50370->104.18.124.25:443: read: connection reset by peer
`
[reference](https://github.

[2019-10-31 01:21] cosolar commented on #766
[code]

[2019-10-31 01:22] cosolar commented on #766
[code]
@yue9944882

[2019-10-31 01:25] sskmail14 opened #768 "KeyError: 'paths'"
Hai,

Am getting the below exception when am trying to generate the java code for my custom CRD

[code]

[2019-10-31 03:32] yue9944882 commented on #768
can you verify if `/tmp/swagger` is a legitimate swagger document?

[2019-10-31 03:35] yue9944882 commented on #767
to discriminate different kind of notification, you can use [InformerExample](https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java). the controller is designed to reconcile the object regardless of the kinds of notification.. https://github.com/kubernetes-client/java/blob/2e95de4b83da764884b648bf085d9edf469c65e0/extended/sr

[2019-10-31 03:37] yue9944882 commented on #766
am afraid we cant really help you w/ local networking issue 🙂

[2019-10-31 04:10] brendandburns commented on #764
thanks, we'll make sure the relevant folks join through the org repo prior to 12/1.

[2019-10-31 04:18] brendandburns commented on #766
The YAML loading code doesn't know how to load custom objects. You would need to manually update the relevant mapping yourself using the function here:

https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/util/Yaml.java#L149

I'm going to close this as I don't think there is much more we can do. Please feel free to re-open with the `/reopen` command if you

[2019-10-31 04:18] #766 closed

[2019-10-31 04:18] brendandburns commented on #767
@yue9944882 can this be closed?

[2019-10-31 05:07] #194 closed

[2019-10-31 05:36] nprabala commented on #767
@yue9944882  I understand the design, I don't totally understand the reasoning behind it.

Kubernetes controllers are primarily for orchestration and reconciliation. In that sense, it makes sense for them to wake up whenever there is any kind of change to a resource -- that way they can make sure that everything matches the spec and is as it should be.

But why not also track the event type?  That

[2019-10-31 13:10] ZP-AlwaysWin commented on #758
hi @yue9944882

I have a question. Do you know why list watch CRD sometimes doesn't work when I use the https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java?
At the same time, I have list watch stateful sets and CRD, but the modification, deletion and addition of CRD cannot trigger the list watch mechanism

[2019-10-31 14:13] ZP-AlwaysWin opened #769 "List-Watch Custom Object doesn't work"
hi @brendandburns

I have a question. Do you know why list watch CRD sometimes doesn't work when I use the https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/InformerExample.java?
At the same time, I have list watch stateful sets and CRD, but the modification, deletion and addition of CRD cannot trigger the list watch mechanism

[2019-10-31 14:14] ZP-AlwaysWin commented on #769
/assign @brendandburns

[2019-10-31 14:16] ZP-AlwaysWin commented on #769
This is part code
[code]

[2019-10-31 14:33] yuanzac commented on #753
@yue9944882，
The classes are generated, But some attributes of CRD are missing.
I add the "type: object" to the TFflow crd yaml like this:
`
...
validation:
    openAPIV3Schema:
      type: object
      properties:
        spec:
          type: object
          properties:
            tfReplicaSpecs:
              type: object
              properties:
                # The validation works when t

[2019-10-31 17:27] sskmail14 commented on #768
@yue9944882 - Thanks for the response. It was my mess. Instead of generating the swagger response json I was trying to generate on my own CRD json which causes this issue.

I took the swagger json now with `kubectl get --raw="/swagger.json" > swagger`
earlier I did it with one of CRD url context

Now am able to generate the source code :)

[2019-10-31 17:27] #768 closed

[2019-10-31 23:32] brendandburns commented on #767
I think this is a philosophic thing. Your controller really shouldn't care why. Your reconciler should only look at the object itself and take an action based on that object. Why the object ended up the way that it is shouldn't be necessary.

Controllers in Kubernetes are stateless by philosophic design. Needing to understand the type of event implies a sort of state machine that runs counter to t

[2019-10-31 23:33] brendandburns commented on #763
I believe this issue is resolved, thus I'm closing it. If there is more info needed please use `/reopen` to reopen the issue.

Thanks!

[2019-10-31 23:33] #763 closed

[2019-11-01 02:58] zhangzerui20 opened #770 "how to force delete pod?"
Use kubectl to force the removal of the pod:
kubectl delete pod xxx  --force --grace-period=0

Can we do this with kubernetes-client?

[2019-11-01 06:10] yue9944882 commented on #770
set a zero `gracePeriodSeconds` on the delete call will do the work

https://github.com/kubernetes-client/java/blob/2e95de4b83da764884b648bf085d9edf469c65e0/kubernetes/src/main/java/io/kubernetes/client/models/V1DeleteOptions.java#L41-L42

[2019-11-01 06:15] yue9944882 commented on #767
a controller should be working in a declarative way, or "final-state-oriented", so it doesnt have to read how the resource is changing over a period of time.

[2019-11-01 06:17] yue9944882 commented on #769
can you elaborate how we can reproduce the issue?

[2019-11-01 14:03] ZP-AlwaysWin commented on #769
This is repo example code
[code]

just to add debugging style ,The list-Watch don't work.

[code]

[2019-11-03 13:06] ghost opened #774 "Expected HTTP 101 response but was '404 Not Found'"
i have run the example of execExample and i got this error

[2019-11-03 13:39] NehalAbdelmegeed commented on #774
Me too i have run the same example and get this error too

[2019-11-03 18:43] brendandburns commented on #770
Closing this as the question is answered. Please use the `/reopen` command if you want to reopen.

[2019-11-03 18:43] #770 closed

[2019-11-03 18:44] brendandburns commented on #774
Chance are that the pod doesn't exist in your cluster. You may need to change the code to use the name of a pod that exists in your cluster.

See the flag here:
https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/ExecExample.java#L49

[2019-11-04 17:16] nprabala commented on #767
Why does the controller have to work in a declarative or stateless paradigm? Why are controllers in Kubernetes stateless by philosophic design? I would like to better understand the reasoning for that decision.

[2019-11-04 20:25] brendandburns commented on #767
Just to be clear:

It doesn't _have_ to be stateless. But that's the general design philosophy of the controller SDK packages for Kubernetes.

You're free to write a controller however you want to write a controller, but the SDK is opinionated about its approach.

The reason for this "final declarative state" or "stateless" design is that failure in a state-machine based controller is harder to ha

[2019-11-05 02:36] JaehunYoon opened #775 "Incorrect WebsocketsExample URL link"
Invalid URL of hyperlink associated with WebsocketsExample in README.md returns 404 status code.

[2019-11-05 02:37] JaehunYoon commented on #775
/kind documentation

[2019-11-05 06:08] #775 closed

[2019-11-06 02:16] qijianan777 opened #777 "deleteNamespacedJob() do not delete pod"
I use deleteNamespacedJob() to delete the job, but it throw a error [issuse86](https://github.com/kubernetes-client/java/issues/86).I catch the error but find the pod is  still exist. How can I delete the job and pod at the same time, use deleteNamespacedJob() and deleteNamespacedPod()?
My client version is 5.0.0

[2019-11-06 09:40] ylvmw opened #779 "deleteCollectionNamespacedDeployment() can not delete pods"
I tried to delete a deployment with the API, the deployment could be deleted but the associated pods could not be deleted. Please see my code below:

[code]

Could you please let me know if anything I was wrong with or if it it a bug?

[2019-11-06 15:46] mattnworb commented on #467
/remove-lifecycle stale

[2019-11-06 23:52] sarveshkaushal commented on #779
This is reproducing for me too. Tried with both v1beta1 and v1.

[2019-11-07 00:29] sarveshkaushal commented on #779
I was able to repro this using cURL too. The following curl in my local just deletes the deployment and doesn't terminate pods:
`curl -k -X DELETE -H 'Accept: application/json' 'http://127.0.0.1:8001/apis/apps/v1beta1/namespaces/default/deployments?pretty=true&fieldSelector=metadata.name%3DdeploymentName'`

However following cURL works fine. It deletes the deployment and terminates the pods as wel

[2019-11-07 01:51] shakeelrao opened #780 "Possible to Filter "List Events" in Event Handler?"
I'm using a `DefaultSharedIndexInformer` and `ResourceEventHandler` to process events. Is it possible to filter events that come from the "list" stage of the "list and watch"?

Specifically, the only events I care about are watch events (i.e. everything after the initial list). From looking at the code, it seems like every event is processed by the event handler. Just wondering if there's a way to

[2019-11-07 06:14] marvel-007 opened #781 "streamNamespacedPodLog SocketTimeoutException: timeout"
I have read some logs and printed them to the console, but when there is no latest log output, there will be a timeout exception. How can I prevent the timeout? When there is new log data to continue reading and output, the version I use is client. -java-5.0.0 k8s: 1.15.5

[2019-11-07 06:52] zhangzerui20 opened #782 "How to create pull secrets?"
Hey there,

is it possible to create k8s pull secrets using this api equivalent to this command line?

kubectl create secret docker-registry --dry-run=true test --docker-server=null --docker-username=test --docker-password=lol -o yaml > docker-secret.yaml

Thanks for each contribution!

[2019-11-07 08:34] jayaise opened #783 "" io.kubernetes.client.ApiException: Unauthorized" with KubeConfig in Non-Cluster"
Tried below code but getting Unauthorized exception:
    String kubeConfigPath = "C://Users//admin//.kube//config";
    ApiClient client =      ClientBuilder.kubeconfig(KubeConfig.loadKubeConfig(new FileReader(kubeConfigPath))).build();

    Configuration.setDefaultApiClient(client);
    CoreV1Api api = new CoreV1Api(client);
    V1PodList list = api.listPodForAllNamespaces(null, null, null, null,

[2019-11-07 08:36] ylvmw commented on #779
Found a workaround, we need to delete the pods before deleting the deployment:
[code]

[2019-11-07 09:07] yue9944882 commented on #781
is that a network-level or library-level timeout? the latter can be solve by overriding timeouts to zero in okhttp client:

https://github.com/kubernetes-client/java/blob/9fb6a312085f0fefeea232f0ae5cca3399ae2566/examples/src/main/java/io/kubernetes/client/examples/ControllerExample.java#L31

[2019-11-07 19:04] brendandburns commented on #777
Deleting jobs doesn't delete the pods by design. See the discussion here:

https://stackoverflow.com/questions/41385403/how-do-i-automatically-remove-completed-kubernetes-jobs

Closing this issue as it is answered. Please use `/reopen` if you want to reopen the issue for any reason.

[2019-11-07 19:04] #777 closed

[2019-11-07 19:05] brendandburns commented on #780
I believe #757 is adding filtering, please take a look and see if that resolves your issue.

[2019-11-07 19:05] brendandburns commented on #781
Though it's generally the case that your network will timeout somewhere in the absence of data (e.g router, etc) so it's worth handling and reconnecting if the logs connection drops.

[2019-11-07 19:07] brendandburns commented on #783
If you print `ApiException.getResponseBody()` you should get more details about why authorization is failing.

[2019-11-08 01:26] #642 closed

[2019-11-08 03:16] #755 closed

[2019-11-08 03:16] sarveshkaushal commented on #755
Closing this.

[2019-11-08 07:16] #407 closed

[2019-11-08 08:21] marvel-007 commented on #781
Thank you very much, solved my problem after set  .setReadTimeout(0, TimeUnit.SECONDS);

[2019-11-08 08:21] #781 closed

[2019-11-08 08:41] riemann77 opened #784 "Content type "text/html; charset=utf-8" is not supported for type: class io.kubernetes.client.models.V1NamespaceList"
i am getting this error only when i am using token based authentication , it is working fine when i am reading the config file locally from my computer.

[2019-11-08 23:02] brendandburns commented on #784
I don't think that you're actually talking to a kubernetes server. It doesn't ever serve html content.

[2019-11-08 23:05] brendandburns commented on #782
Yes, you need the `createNamespacedSecret(...)` method call in the v1 API.

That command is a little specialized. You'll probably need to look at the implementation in the kubectl code base.

[2019-11-08 23:05] #782 closed

[2019-11-08 23:05] brendandburns commented on #782
If you need to reopen please use the `/reopen` command

[2019-11-09 07:00] cosolar opened #787 "deleteNamespacedPod-> How to fix?"
[code]

[2019-11-09 18:15] goodidea-kp opened #788 "Can't connect to cluster from pod in version 7.0.0-SNAPSHOT"
error: io.kubernetes.client.ApiException: Forbidden

Based on your example InClusterClientExample.java it works well with minikube, but the code can't connect in prod.

Please advise how to fix it.
Also, doc never says the difference in configuration between minikube and ".kube" approach vs InCluster approach

[2019-11-10 23:18] #593 closed

[2019-11-11 03:39] chengfeng110 opened #789 "How to create a Job , similar to Deployment ，or can give me a related document?"
I want to create a Job, but I can't find a explain document.

[2019-11-11 06:30] brendandburns commented on #788
This is very likely a problem with the Pod Service Account and RBAC.

See:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account

For more details.

Closing, since the question is answered, please use the `/reopen` command if more assistance is required.

[2019-11-11 06:30] #788 closed

[2019-11-11 06:33] brendandburns commented on #789
You need to to use the `createNamespacedJob(...)` function in the `BatchV1Api` object.

See:
https://github.com/kubernetes-client/java/blob/da58401c5bc38bdeaa28a6f66d25481af4d6e994/kubernetes/docs/BatchV1Api.md

Closing since the question is answered, please use the `/reopen` command if you need further assistance.

[2019-11-11 06:33] #789 closed

[2019-11-11 06:35] brendandburns commented on #787
This appears to be a duplicate of #86 please see the discussion in that issue.

Closing, since this is a duplicate.

[2019-11-11 06:35] #787 closed

[2019-11-11 08:53] chengfeng110 commented on #789
Thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Brendan Burns"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月11日(星期一) 下午2:33
收件人:&nbsp;"kubernetes-client/java"<java@noreply.github.com&gt;;
抄送:&nbsp;"汪林"<363853532@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [kubernetes-client/java] How to create a Job ,  similar to Deployment ，or can give

[2019-11-11 11:09] yue9944882 commented on #784
+1 correct

[2019-11-11 11:13] riemann77 commented on #784
my bad it is a spring-boot issue

[2019-11-11 13:32] #592 closed

[2019-11-12 04:56] yue9944882 commented on #656
closing as it's fixed

[2019-11-12 04:57] yue9944882 commented on #656
/close

[2019-11-12 04:57] #656 closed

[2019-11-12 05:36] yue9944882 opened #792 "Wire prometheus metrics into controllers"
/assign

[2019-11-12 12:31] lsafina opened #795 "Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile on project client-java-api"
Hi,

Could you please help me with the following issue I got while executing mvn install:
[code]
Java version: 13, maven 3.6.2

[2019-11-12 13:54] mchomin commented on #436
If you want to keep your -Werror flag, exclude io.sundr:builder-annotations.
[code]

[2019-11-12 15:37] yue9944882 commented on #780
@bsherman yes, that's by-design in the informer, it broadcasts initial events on the first round of "list"ing. you can hold your event-handler until the cache is fully synced. you might probably feel like take a look at how https://github.com/kubernetes-client/java/blob/cbc1d385dfa02da38e07e4b22498971b7b464680/examples/src/main/java/io/kubernetes/client/examples/ControllerExample.java#L91-L93 work

[2019-11-12 15:38] yue9944882 commented on #783
can you verify if your kubeconfig is valid?

[2019-11-12 17:28] ediband opened #796 "Status parse error when deleting a pod"
When trying to delete a pod via the coreApi method

coreApi.deleteNamespacedPod("test-pod", namespace, null, null, null, 0, null, null);

i get the following error:

[code]

I've looked in the code a bit and I think that the issue is caused because you guys are expecting a V1Status in **CoreV1Api.java:13296** when it is actually a V1PodStatus response that is returned from the kubernetes API

[cod

[2019-11-13 00:34] brendandburns commented on #774
Closing this as I believe the question is answered. Please use `/reopen` comment command if anything more is needed.

[2019-11-13 00:34] #774 closed

[2019-11-13 00:35] brendandburns commented on #767
Closing this issue, as I think this discussion is completed. Please use the `/reopen` comment command to reopen if needed.

[2019-11-13 00:35] #767 closed

[2019-11-13 00:37] brendandburns commented on #795
Hrm,
I will try to reproduce this. It might be a Java 13 thing.

In the meantime, does an `mvn clean` fix the issue?

[2019-11-13 00:38] brendandburns commented on #796
This is a duplicate of #86 please see the discussion in that issue.

Fundamentally the problem is the API can return two different types of objects depending on whether it is completed or not.

I'm closing this as it is a duplicate, please add additional input to #86 as needed, or use the `/reopen` comment command if that is not the same issue.

[2019-11-13 00:38] #796 closed

[2019-11-13 14:16] lsafina commented on #795
Yes, `mvn clean` itself returns `BUILD SUCCESS`.

[2019-11-13 15:01] jayaise commented on #783
Hi,
My Kubeconfig is like below format, let me know if this correct:

apiVersion: v1
clusters:
- cluster:
    certificate-authority-data:
	<<certificate-authority encoded base64 data string>>
    server: https://kaas-admin.com
  name: kaas-admin
contexts:
- context:
    cluster: kaas-admin
    user: admin1
  name: kaas-admin
current-context: kaas-admin
kind: Config
preferences: {}
users:
- name: a

[2019-11-13 15:06] jayaise commented on #783
I generated client.pem(This contains client-certificate-data base64 decoded string) and key.pem(This contains client-key-data base64 decoded string) and tried with curl command by passing these 2 certificate files it works,
curl --request GET https://... --cert client.pem --key key.pem --insecure
This works fine

[2019-11-14 05:38] brendandburns commented on #795
after a `mvn clean` does `mvn install` work?

[2019-11-14 06:09] qtornado opened #800 "io.kubernetes.client.openapi.models.V1PodBuilder can't be resolved"
1、The import io.kubernetes.client.openapi.models.V1PodBuilder cannot be resolved

2、The delete api return V1Status  Object, but  it's actually a V1Namespace or V1Pod object, or even more
![image](https://user-images.githubusercontent.com/5219170/68830992-3172ae00-06e8-11ea-870d-1021c395ac6c.png)

[2019-11-14 10:43] lsafina commented on #795
No

[2019-11-14 14:46] ceeaspb opened #801 "Error on close socket|io.kubernetes.client.util.WebSocketStreamHandler"
Running against kubernetes 1.12.0 , I have upgraded from 5.0.0 to 6.0.1 and the following errors have started for `exec` and `copy` (which uses exec).

The api calls work. But the logs are going to fill up and be harder to read.
Thanks

[code]

[2019-11-14 15:55] jayaise commented on #783
Any update on this

[2019-11-15 00:08] brendandburns commented on #800
Bug 2 is a duplicate of #86 please see that for more details, the fundamental problem is that the Kubernetes API can return two different objects depending on the state of the async response.

Will take a look at reproducing 1)

[2019-11-15 00:09] brendandburns commented on #801
Ack. will take a look.

[2019-11-15 00:09] brendandburns commented on #795
Ok, I will try to reproduce this.

[2019-11-15 04:38] brendandburns commented on #784
I'm closing this issue, since I don't believe it is a client problem and it has been 1 week without a response. Please use the `/reopen` comment command if you need to reopen the issue for any reason.

[2019-11-15 04:38] #784 closed

[2019-11-15 05:13] brendandburns commented on #800
I can't seem to reproduce 1) at HEAD, everything compiles just fine.

Can you add some details about what you are running? What is in your pom.xml?

[2019-11-15 05:21] brendandburns commented on #795
There definitely appear to be compilation problems with Java 13. For now, I would recommend using an earlier JDK (it compiles w/ Java 11 for example)

We'll continue to try to figure out what's going on here.

[2019-11-15 05:28] brendandburns commented on #795
@iocanel I'm seeing failures in compiling the generated code w/ Java 13:

[code]

The generated code looks like:

[code]

I'm not sure why the `List` isn't getting the right templates, but something is definitely confused.

Have you tested sundr.io on java 13?

Thanks!

[2019-11-15 05:49] qtornado commented on #800
In the code of master, there is no V1PodBuilder and V1ServiceBuilder class.
![image](https://user-images.githubusercontent.com/5219170/68919715-0a7eaf80-07ae-11ea-8c10-6b26d79f4261.png)

![image](https://user-images.githubusercontent.com/5219170/68919683-f20e9500-07ad-11ea-878b-d7e972ac93c6.png)

![image](https://user-images.githubusercontent.com/5219170/68919945-b627ff80-07ae-11ea-868f-704c1ca652

[2019-11-15 05:52] iocanel commented on #795
No I haven't tested sindriio with javs 13. Only tested up to 11. Will do
ASAP.

On Fri, Nov 15, 2019, 07:28 Brendan Burns <notifications@github.com> wrote:

[2019-11-15 05:52] brendandburns commented on #795
Thanks!

[2019-11-15 09:39] yue9944882 commented on #628
/lifecycle active

[2019-11-15 12:06] dawinter opened #802 "Update dependency commons-compress due to security vulnerability"
The io.kubernetes:client-java:6.0.1 define dependency to commons-compress:1.18. commons-compress:1.18 has a known security vulnerability CVE-2019-12402.

Please can you update the dependency to org.apache.commons:commons-compress:1.19 or higher?

Thanks

[2019-11-15 15:36] ceeaspb opened #803 "Error in statefulset patch (scale)"
This worked in 5.0.0, but not in 6.0.1 against kubernetes 1.12.0.

[code]

This returns:

500 Internal server error
`{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"json: cannot unmarshal object into Go value of type jsonpatch.Patch","code":500}`

On the API server:
`E1115 14:13:57.957303       1 status.go:64] apiserver received an error that is not an metav1.Status:

[2019-11-15 15:43] ceeaspb commented on #803
I needed to convert the patch into an array as here: https://github.com/kubernetes/kubernetes/issues/68861

[2019-11-15 15:43] #803 closed

[2019-11-15 21:51] brendandburns commented on #802
We're already pointed to 1.19 @ HEAD, we will provide a 7.0.0 release soon.

For now, the exposed surface area is limited to the Copy command, so if you're not using Copy you're not affected.

I'm closing this since the update is done, and the release is planned.

[2019-11-15 21:51] #802 closed

[2019-11-15 22:18] dawinter commented on #802
great, thanks for the evaluation

[2019-11-16 01:05] brendandburns commented on #800
That code is code-generated by the [sundrio](https://github.com/sundrio/sundrio) tool when you do a `mvn install`

Are you trying to compile the code from scratch? You should probably use the maven package instead.

[2019-11-16 16:47] brendandburns commented on #430
Update, we just merged the switch to openapi generator and okhttp3.

We will cut a 7.0.0 release soon.

[2019-11-19 08:03] chengfeng110 opened #805 "I want to set these two fields, network namespaces and DNS Policy."
![image](https://user-images.githubusercontent.com/33675286/69127581-79794280-0ae5-11ea-955a-cebfc931700f.png)

I can't find field in V1Container. who can guide me?

[2019-11-19 18:50] brendandburns commented on #805
Those field are in `V1PodSpec`

https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/openapi/models/V1PodSpec.java#L70

Closing since the question is answered.

fwiw, the API docs are here:

https://kubernetes.io/docs/reference/

In the future it may be faster to just consult those docs.

[2019-11-19 18:50] #805 closed

[2019-11-19 19:29] sarveshkaushal commented on #779
Please take a look at https://github.com/kubernetes/kubernetes/issues/85310

[2019-11-19 23:09] pattyphonemany691 opened #806 "Unable to find property 'JSONPath'"
We're currently creating a Custom Resource Definition in java from a yaml file.
[code]
The yaml file contains a multiple `JSONPath fields`.
[code]
When loading the yaml file, the following snakeyaml exception is thrown:
[code]
[code]

We have found that if we change the `JSONPath` field to match the variable name defined in [V1beta1CustomResourceColumnDefinition](https://github.com/kubernetes-clie

[2019-11-20 15:17] brendandburns commented on #806
Quick clarification quesiton:

Are you saying that if you change `JSONPath` to `jsONPath` it loads correctly?

Thanks

[2019-11-20 15:19] pattyphonemany691 commented on #806
If we update the yaml file to use `jsONPath` instead of `JSONPath` it successfully loads.

[2019-11-20 15:31] pattyphonemany691 commented on #806
The CRD that's created in the cluster does use the correct casing though when we update the crd.yaml file to use `jsONPath`. We see this when we reun `kubectl get crd mycrd -oyaml | less` and it shows `JSONPath`

[2019-11-20 16:02] kyuoh125 commented on #806
[code]
We tried renaming the variable from `jsONPath` -> `JSONPath` in `V1beta1CustomResourceColumnDefinition.java` as shown above, this allowed Yaml to properly load our CRD file.

[2019-11-21 07:02] iocanel commented on #795
@brendanburns: Just tried sundrio with OpenJDK 13.0.1. Other than some issues related to tests, I didn't notice any other kind of issue.

[2019-11-21 07:08] iocanel commented on #795
To be more specific, the generated BuildFluent.java seems to be generated as expected.

To further troubleshoot this, I think that it might make sense to try and use the exact same version and flavour of JDK.

In my tests I am using `sdkman` and I am installing `Java.Net`, `GrallVM` and `Amazon` variants of JDK.

I've only witnesed issues once with `OpenJ9`.

What is the exact version you are usin

[2019-11-21 08:38] cosolar opened #808 "kubectl replace --force -f"
How to use  API ?

[2019-11-22 01:01] brendandburns commented on #808
There are lots of examples here:

https://github.com/kubernetes-client/java/tree/master/examples/src/main/java/io/kubernetes/client/examples

The function that you're looking for is something like `replaceNamespacedPod(...)` or similar for other resources.

Closing this issue because the question is answered.

[2019-11-22 01:01] #808 closed

[2019-11-22 04:40] #588 closed

[2019-11-22 17:05] eschrock opened #809 "Gson deserialization fails for 'Quantity' using GraalVM native-image"
We are using kubernetes-client with GraalVM [native-image](https://www.graalvm.org/docs/reference-manual/native-image/). Most of it works just fine with the proper reflect config, but efforts to get status fail:

[code]

Quantity does declare a type adapter (like IntOrString), so it should work that I can use a similar reflection config:

[code]

However, doing this fails during the image build pr

[2019-11-22 18:23] eschrock commented on #809
I put together a [quick example](https://github.com/kubernetes-client/java/files/3880861/app.zip) to demonstrate. After running `mvn package` with GraalVM 19.2.0:

[code]

Trying to add a similar declaration to the reflect-config file generates the previously mentioned error:

[code]

[2019-11-23 00:38] eschrock opened #811 "use more recent version of snakeyaml to address bug affecting GraalVM native-image"
We are attempting to use the kubernetes java client in a GraalVM native image. Unfortunately, any use of the library will fail due to:

https://bitbucket.org/asomov/snakeyaml/issues/411/ensure-compatibility-with-graal

This issue has been fixed in snakeyaml 1.22, the project should upgrade to that (or even better, latest/1.25). You can see this with the [attached program](https://github.com/kubern

[2019-11-24 19:14] lsafina commented on #795
I'm using oracle jdk with `jenv` with 2 configurations:

[code]
[code]

[2019-11-24 21:24] lsafina commented on #795
Allright, I've found my hero:
[code]

Still weird why it didn't work for all the previous versions in my environment...

[2019-11-25 15:41] #811 closed

[2019-11-25 18:32] iocanel commented on #795
Ok, let me see how it works with these JDKs for me.

[2019-11-25 22:08] #603 closed

[2019-11-26 10:28] xianglujun opened #813 "deleteNamespace() failed"
i alway fail when i invoke "deleteNamespace()" method.  find reason is that attribute "status" returned as object but V1Status requires string type.

[2019-11-27 05:21] brendandburns commented on #809
@eschrock I think this can be closed since #810 merged?

[2019-11-27 05:21] brendandburns commented on #813
This is a duplicate of #86 please see the discussion there.

Closing this issue since it's a duplicate.

[2019-11-27 05:21] #813 closed

[2019-11-27 14:18] rajashreetutgirl commented on #641
/remove-lifecycle stale

[2019-11-27 14:21] rajashreetutgirl commented on #641
I'm facing the same problem. Could you please tell me how to configure RBAC.
Everytime Jupyter hub spins new pod and I need to write a file inside the pod once it is up. How I can achieve this.

I tried below code and it is giving me 403:
stream(kube_api.connect_get_namespaced_pod_exec, pod_name, 'jhub-starter',
stderr=True, stdin=True,
stdout=True, tty=False,
_preload_content=False)
LOG.info("pre

[2019-11-27 16:18] yue9944882 commented on #641
you're have to grant sufficient RBAC permissions before you establishes exec connection. i remember it should be `get` and `post` verbs upon `pods/exec`

[2019-11-27 17:31] rajashreetutgirl commented on #641
@yue9944882 Is that permission specific to the particular pod or it is common to all the pods?
and also these permissions should be given via Yaml or it can be acheived via kubernetes python client?

[2019-11-29 06:30] yue9944882 commented on #641
normally we grant the permission to a service-accoount and the pod mounts it as it starts running.

i suppose it's out of the scope of client SDK library, system administrators should have set up the permission beforehand..

[2019-12-01 07:24] shakeelrao opened #815 "Informer doesn't shutdown gracefully"
I'm building an Informer to list-watch pods across the entire cluster and noticed that when I stop the Informer, `main` simply hangs without returning. After checking a thread dump of the program, I noticed that the Reflector thread isn't terminated properly. Here's sample code to reproduce the issue:

[code]

Here's the output from the thread dump as well:
[code]

The underlying socket should be

[2019-12-01 07:31] shakeelrao commented on #780
@yue9944882 Thanks for the advice! I ended up not having to filter the "list" stage after all.

[2019-12-01 09:14] #780 closed

[2019-12-01 09:15] rajashreetutgirl commented on #641
@yue9944882

Same Issue for pvc delete also. I have to delete the pvc in another namespace I have given clusterrole and clusterrolebinding.(attached below)

Error:
{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"persistentvolumeclaims "claim-admin-end-2dde-2dgrandfinale" is forbidden: User "system:serviceaccount:edisonai-brahmos:default" cannot delete resource "persi

[2019-12-01 14:23] mrbobbytables commented on #764
Permissions have been cleaned up.

@cliveseldon @kondapally1989 -- If you need access --  Please go ahead and file for [org membership to the kubernetes-client org](https://github.com/kubernetes/community/blob/master/community-membership.md#member) and we can pursue adding you the appropriate groups for repo permissions 👍

If you have any questions, please don't hesitate to reopen or ping me on sl

[2019-12-01 14:23] #764 closed

[2019-12-02 01:52] eschrock commented on #809
Yep!

[2019-12-02 01:52] #809 closed

[2019-12-02 06:38] #245 closed

[2019-12-02 06:59] qtornado opened #816 "The data structure of protobuf and bean is inconsistent."
![image](https://user-images.githubusercontent.com/5219170/69936890-0c69a200-1514-11ea-8c8e-0c3660b67142.png)
The data structure of protobuf and bean is inconsistent.
Cannot use bean copy method

[2019-12-02 09:22] xianglujun commented on #813
thanks!

[2019-12-02 13:41] BartXZX opened #817 "Allow custom values in Secret data and Quantity fields"
We are currently using the client to generate Kubernetes yaml files. In the generated yaml files we would like to have placeholders we can substitute later on in our processes.

However the Secret data and Quantity fields do not allow arbitrary values in the fluent builder. Data for example expects a byte array, which I understand, but in my case I do not want to directly apply the yamls, but rath

[2019-12-03 00:07] brendandburns commented on #816
There are probably differences between the swagger spec and the proto files. (and there's definitely differences between the generated code [e.g. the way `List` objects are handled)

I wouldn't expect that generic bean copying will ever work properly here due to these differences in the code generators.

[2019-12-03 00:08] brendandburns commented on #817
Why are you generating to YAML to do substitution? Why not just do the substitution in Java?

I don't think that this is an expected use-case, so your current solution may be your best option, even though it isn't the best.

[2019-12-03 02:24] cblecker opened #820 "Test issue"
/meow

[2019-12-03 02:24] #820 closed

[2019-12-03 06:24] wangyushuai opened #821 "Can calling API generate history record?"
When updating patches through the API, no history is generated (reversion), how can I generate history?

[2019-12-03 08:44] yue9944882 commented on #817
bytes arrays are required to be base64 encoded in kubernetes api stack. do sth like base64("${my.certificatefile}") should work.

[2019-12-03 08:46] yue9944882 commented on #821
guess what you're looking for is api auditing? that's where we records the history modifcation upon api resources.

https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2019-12-03 08:48] yue9944882 commented on #816
the proto client seems havent been re-generated for quite a period of time. indeed it can be inconsistent w/ swagger specs..

[2019-12-03 08:55] qtornado commented on #816
OK. We can only deal with these inconsistencies one by one.
OK.只能逐个处理这些不一致的地方了。

[2019-12-03 08:59] yue9944882 commented on #815
at io.kubernetes.client.informer.cache.ReflectorRunnable.watchHandler(ReflectorRunnable.java:128)

the reflector is designed to be shutting down gracefully, it should take a short period of time to release the reflector after you invoked `stopAllRegisteredInformers` (we signals an InterruptedException on stopping, then the reflector shall make sure the watch connection is closed before quitting in

[2019-12-03 09:03] BartXZX commented on #817
@brendandburns Thank you for the reply. We have a process where our engineers might want to make changes to the yamls we use to deploy a 'customer'. These changes will then be saved and reused every time a 'customer' restarts his application. Some of the values are calculated/fetched every restart, so we cannot determine these values before yaml-generation and use them in Java.

This is an edge ca

[2019-12-03 09:11] yue9944882 commented on #806
`jsONPath` looks odd anyway, will file a fix at the code-generator to correct the naming

[2019-12-03 09:32] yue9944882 commented on #806
/kind bug

[2019-12-04 01:04] tly1980 commented on #800
Had a similar issues with `implementation 'io.kubernetes:client-java:5.0.0'`
And it seems those class exists in package `io.kubernetes.client.models` , in stead of `io.kubernetes.client.openapi.models` ?

[2019-12-04 02:12] wangyushuai commented on #821
非常感谢您的回复， 我的意思是 为什么我调用 API 进行Patch 更新，为什么有的时候会产生一个 revision, 有的时候却没有生成新的revision , 这让我很疑惑。

比如：Patch apis/apps/v1/namespaces/default/deployments/nginx-deployment, [{"op":"replace","path":"/spec/replicas","value":1}],    来调整 POD 数，有的时候产生了 revision ,有的时候又没有新的 revision;

又比如： Patch apis/apps/v1/namespaces/default/deployments/nginx-deployment/scale 好像不会产生 revision；

[2019-12-04 09:05] cizezsy commented on #652
Any progress in this? If no one is working on this issue, I think I can provide some help to implement it.

[2019-12-04 16:14] yue9944882 commented on #652
sure, let me know if you need any help

[2019-12-05 02:33] wangyushuai commented on #821
@yue9944882

[2019-12-05 02:47] wangyushuai opened #822 "How to deal with custom fields in volumn"
for example,  custom fields in volumn -- jdcloudElasticBlockStore,  how to deal  when   creating  namespace deployment
[code]

[2019-12-05 03:10] kangtutu opened #823 "Call the delete method to prompt for an exception"
In the use of API calls deleteNamespacedReplicaSet method, the underlying encapsulation times wrong in the response result parameters, prompt [Java. Lang. An IllegalStateException: Expected a string but was BEGIN_OBJECT at line 1 column path at $1058. The status].
My own solution for: call deleteNamespacedReplicaSetCall method, manual to respond the result of value judgment.

[2019-12-05 19:23] brendandburns commented on #816
Yeah, we do need to re-generate the proto code from new proto files, but despite this there will always be differences.

[2019-12-05 19:26] brendandburns commented on #817
Unfortunately, I really don't think we can support this use-case as it would negatively impact the user experience in other scenarios.

[2019-12-05 19:27] brendandburns commented on #822
I don't really understand enough to help you with your question. What are you trying to do? What problem are you seeing?

Thanks!

[2019-12-05 19:28] brendandburns commented on #823
This is a duplicate of #86 there's a discussion of the work-arounds for this issue there.

Closing because this is a duplicate.

[2019-12-05 19:28] #823 closed

[2019-12-06 02:11] wangyushuai commented on #822
@brendanburns
Thanks !

[2019-12-06 04:34] rohinwork commented on #315
@sillva @jikuhn Thanks a lot for the resources! I was able to get it to work. I was wondering if the code handles scenarios when the token is expired automatically?

[2019-12-06 06:14] icehehehe opened #824 "Exception in thread "main" io.kubernetes.client.ApiException: Forbidden"
I am using io.kubernetes --> client-java --> version --> 6.0.1
I can list pod information by using method listNamespacedPod
but i cannot use createNamespacedPod.
Here is my code :
        ApiClient client = Config.fromConfig(ResourceUtils.getFile("classpath:")+"\\kubelet.conf");
        Configuration.setDefaultApiClient(client);
        V1PodList list;
	    CoreV1Api api = new CoreV1Api();
	    V1

[2019-12-06 06:33] wangyushuai commented on #822
jdcloudElasticBlockStore is plugin for mouting cloud volumn

[2019-12-07 21:54] brendandburns commented on #824
The kubeconfig file you're using doesn't have the right permissions. I suspect it's b/c it's the kubelet's config file.

See the docs here:
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

For more info on RBAC.

Closing this issue since it isn't a problem with this library. Please use `/reopen` in a new comment if you want to reopen this issue for any reason.

[2019-12-07 21:54] #824 closed

[2019-12-07 22:00] brendandburns commented on #822
I don't think that field is present in the open source API. I suspect that JD Cloud is using a modified version of Kubernetes that isn't fully compatible with upstream open source.

For it to be present in the V1Deployment model it needs to be in the open api spec for Kubernetes:

(https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json)

But I can't find that

[2019-12-07 22:00] #822 closed

[2019-12-07 22:02] brendandburns commented on #821
Assuming you mean the history done by `kubectl apply` then that is done in the client side `kubectl` code.

Starting w/ 1.16 there will be server-side apply which (I believe) should add the history on the server side.

Once that is supported in this library, I think it will work.

[2019-12-09 02:15] wangyushuai commented on #821
I mean that how I can get revision when I create a deployment  or update a deployment~?
Thank you very much ! @brendandburns

[2019-12-09 08:40] davidxia commented on #340
/remove-lifecycle stale

[2019-12-09 10:04] yue9944882 commented on #821
i read that as, you are expecting "everytime you write/patch a deployment, there should be a revision bumping on its status". i think it's definitely a true statement if you:

T1: save the older revision R1
T2: patch/scale the deployment
T3: observe a revision bump R2 greater than R1

do you have a stable re-pro? btw, the issue should be transferred to `kubernetes/kubernetes` as it's out-of-scope

[2019-12-10 02:16] wangyushuai commented on #821
Yes that's the meaning！

Here is what I am doing:

I want to record thr revision when I "everytime you write/patch a deployment", then I can rollback by revision,  but I can't found revision in result that interface returns,   or  the revison is not the latest in interface's result.

So, I want to know how you do these things ~

Thanks!!

[2019-12-10 07:16] jhz1103 opened #825 "How to get the exact occurrence time of watch event?"
For example, i got a response from apiServer at 9:00 am of pod-modify, is that the exact time of happening? I found create-time and delete-time in the metadata, but nothing about the update-time, it there any way to get that information?

[2019-12-10 08:44] yue9944882 commented on #825
kubernetes doesnt explicitly track the update timestamp for you, while you can either find out the accurate happening time of the update requests by tailing the API audit log, or leverage those third-party tracing platform to achieve that https://github.com/kubernetes/enhancements/pull/650

[2019-12-10 08:50] yue9944882 commented on #821
it will take a span of time (depends on the load) for the controller-manager to finish processing your patch writes b/c the controller is running everything asynchronously. you can retry a few times until the revision is bumped at client-side if it doesnt refresh  i suppose..

[2019-12-10 09:11] jhz1103 commented on #825
Thanks

[2019-12-10 09:11] #825 closed

[2019-12-10 14:03] BartXZX commented on #817
I understand.
I currently have the mentioned workaround in place. It's not optimal, but it works. Thanks for looking into this.

[2019-12-11 11:12] andyyin opened #828 "Twice start informers in ControllerExample"
The first time

https://github.com/kubernetes-client/java/blob/744825e70e8b46037e305ff61839c208c60f4ccc/examples/src/main/java/io/kubernetes/client/examples/ControllerExample.java#L55

The second time

https://github.com/kubernetes-client/java/blob/744825e70e8b46037e305ff61839c208c60f4ccc/extended/src/main/java/io/kubernetes/client/extended/controller/ControllerManager.java#L46

[2019-12-11 12:20] FANLIYANG-OPS opened #829 "Exception when creating job"
![image](https://user-images.githubusercontent.com/20119253/70620841-3da04b80-1c53-11ea-8f14-c504bf7e55ed.png)
 it's code :
![image](https://user-images.githubusercontent.com/20119253/70620895-57419300-1c53-11ea-91b5-c9b9140093d6.png)
error message :
![image](https://user-images.githubusercontent.com/20119253/70620948-6c1e2680-1c53-11ea-824a-e1ff77a6e842.png)
java-client need to Quantity , but K8S

[2019-12-11 12:24] yue9944882 commented on #829
are you serializig w/ GSON? there's custom serializers registered for quantity types..

[2019-12-11 12:26] yue9944882 commented on #828
yea that's a valid bug in the example.. is that resulting in other unexpected behavior?

[2019-12-13 11:13] wangyushuai commented on #365
I encountered this problem in 6.0.1， and running  strpingboot app in local IDE is normal ,but  run in docker envrioment  is found error.

my code:
[code]

@brendandburns

[2019-12-13 11:14] wangyushuai commented on #365
@danielfree

I found this error in  6.0.1

[2019-12-13 11:38] wangyushuai commented on #365
The solution is  effective !!

[2019-12-13 14:28] adreviko opened #831 "Exec into pod results with 500 InternalServerError everytime"
I'm trying to exec inside the pod with shell command and so far I always get back 500 InternalServerException from Kubernetes client.

This is the code snippet I'm trying to run:

[code]

This is the exception I keep getting:

[code]

We have kubernetes server v1.13 and I've tried to upgrade to 5.0.0 Java client but with no success. I have also tried other commands like listNamespacedPod(...) via

[2019-12-13 15:30] eschrock opened #832 "V1PatchAdapter should be declared static"
This is a mirror of the fix for #809 , only for V1PatchAdapter. Of the custom types in "io/kubernetes/client/custom", IntOrString and Quantiy correclty declare their adapter static, but V1Patch does not. This prevents the ability to configure reflection for GraalVM native-image. For a full description of the problem, see #809.

The fix is the same - simply declare the adapter static.

[2019-12-14 03:25] #832 closed

[2019-12-14 03:27] brendandburns commented on #831
The 500 is coming from the Kubernetes API Server, you'll need to pull the apiserver logs to see why it's throwing a 500 (it really shouldn't ever throw a 500)

Once you figure out why the apiserver is throwing 500, we should see if there's anything on the client side we should fix.

[2019-12-15 21:15] shakeelrao commented on #828
@andyyin calling `startAllRegisteredInformers` multiple times has no side effect, other than being redundant (see: https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/informer/SharedInformerFactory.java#L169).

[2019-12-15 21:24] shakeelrao commented on #828
@andyyin calling `startAllRegisteredInformers` multiple times has no side effects:

https://github.com/kubernetes-client/java/blob/e96d8f6d33c15075b63802bf7bbaed4b0b4d47e2/util/src/main/java/io/kubernetes/client/informer/SharedInformerFactory.java#L173-L176

While redundant, there should be no issues.

[2019-12-16 03:22] wangyushuai opened #835 "There are multiple Kind in a Yaml file, how to perform this case using kubernetes-client?"
I want to  create  multiple resource in a yaml by once request, how  can I do ?

Thanks!

[2019-12-16 03:23] wangyushuai commented on #835
@brendandburns   @yue9944882

[2019-12-16 09:48] runzexia opened #836 "[Feature Request] yaml utils supports parsing dynamic types"
I am using the java client to develop the jenkins plugin, and I want to enable the plugin to deploy any resources (CRD / other resources).

https://github.com/jenkinsci/kubernetes-cd-plugin

[2019-12-16 09:48] runzexia opened #837 "[Feature Request] yaml utils supports parsing dynamic types"
I am using the java client to develop the jenkins plugin, and I want to enable the plugin to deploy any resources (CRD / other resources).

https://github.com/jenkinsci/kubernetes-cd-plugin

[2019-12-16 14:58] yue9944882 commented on #431
/lifecycle frozen

[2019-12-17 01:34] brendandburns commented on #835
This isn't easy to do. You would need to create the raw HTTP path (e.g. `/api/v1/pods/...` from the object's `kind` and `apiGroup`)

We should probably write a utility function to make this easier.

[2019-12-17 01:36] brendandburns commented on #836
Can you add more details about what specifically you are looking for? Is this the ability to read/write types that are defined in CRDs?

[2019-12-17 01:36] brendandburns commented on #837
This looks like it is a duplicate of #836 closing this one in favor of that one.

[2019-12-17 01:36] #837 closed

[2019-12-17 02:03] wangyushuai commented on #835
@brendanburns

I think I may not express what I mean, for example:

[code]
If i want to execute this yaml , how i can  do it in once request by using  client.  And can you show you code ?
Thanks !!

[2019-12-17 03:48] runzexia commented on #836
The resources in k8s have standard APIs related to POST, PUT, DELETE and other methods, so these resources can be abstracted into resources based on standard APIs.
like
[code]
With these methods, I can complete these basic operations without parsing out the specific types of resources.
And the current YAML parser does not support parsing unknown types. I need to first generate java objects for the

[2019-12-17 05:43] yue9944882 commented on #836
i think the WIP pull https://github.com/kubernetes-client/java/pull/738 is right addressing what @runzexia 's proposing.

[2019-12-17 05:53] yue9944882 commented on #835
the kubernetes API doesn't support creating multiple resources at one time. b/c the API paths served by kube-apiserver are grouped by their apiGroup, apiVersion, etc. if you're looking for sth similar to `kubectl apply -f <dir>`, actually kubectl is doing client-side file traversal and requesting literally multiple times.

[2019-12-17 10:14] wangyushuai commented on #835
Thanks  @yue9944882 ！ I'm looking for sth similar to `kubectl apply -f <dir>`,

Now, It seems that the API does not support this feature；

The problem I am experiencing is that there are many resources in the yaml file that I want to execute. If I use API to implement the development task is too heavy for me, but I do not want to use the 'kubectl cli' command line. Way (the server program executes

[2019-12-17 10:16] wangyushuai commented on #822
I solved this problem by extending the SDK. I added our custom fields to the Volume model.

[2019-12-17 10:20] yue9944882 commented on #835
/kind feature

i see it's feasible to  implemented equivalence to `kubectl apply` using the project, will take a shot later. (marking this as a feature request)

[2019-12-17 14:39] tavin commented on #86
I guess you can use AOP to slip the try/catch in where it is needed...

[2019-12-17 21:23] jikuhn commented on #315
@rohinwork, I don't know exactly what do you mean by automatical expiration, but the token contains validity time information and the code handles this.

On the other hand, as @sillva pointed out, the #512 should solve the problem. I gave it a try and it's really working! Thanks to it, this issue seems obsolete for me now.